<app-header-admin></app-header-admin>

<ion-content>
  <ion-toolbar color="white" style="margin-bottom: 20px;">
    <app-row>
      <app-col size="auto">
        <ion-segment class="sub-segment" color="primary" [value]="1">
          <ion-segment-button (click)="menuCount = 1" [value]="1">LH 조직관리</ion-segment-button>
          <ion-segment-button (click)="menuCount = 2">정보 접근<br>비밀번호</ion-segment-button>
          <ion-segment-button disabled (click)="menuCount = 3">안전 마일리지<br>적립</ion-segment-button>
          <ion-segment-button disabled (click)="menuCount = 4">안전 마일리지<br>사용</ion-segment-button>
          <ion-segment-button (click)="menuCount = 3" [disabled]="true">안전 마일리지<br>적립</ion-segment-button>
          <ion-segment-button (click)="menuCount = 4" [disabled]="true">안전 마일리지<br>사용</ion-segment-button>
          <ion-segment-button (click)="menuCount = 5">직위</ion-segment-button>
          <ion-segment-button (click)="menuCount = 6">안전직무</ion-segment-button>
          <ion-segment-button (click)="menuCount = 7">직종</ion-segment-button>
        </ion-segment>
      </app-col>
    </app-row>
  </ion-toolbar>
  <app-row *ngIf="menuCount === 1" style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <thead>
          <tr>
            <th>
              <app-row style="justify-content: space-between;">
                <app-col size="auto">
                  <app-input label="업체명" value="한국토지주택공사" [readonly]="true"></app-input>
                </app-col>
              </app-row>
            </th>
          </tr>
        </thead>
      </app-table>
    </app-col>
    <app-col>
      <div>
      <ion-toolbar style="height: 67px; display: flex;" color="white">
        <h4>LH 조직관리</h4>
        <ion-buttons slot="end">
          <app-button fill="translucent">저장</app-button>
        </ion-buttons>
      </ion-toolbar>
    </div>
      <app-card>
        <app-row style="align-items: stretch; ">
            <app-col>
              <div style="text-align: right;">
                <app-button fill="translucent" (click)="levelEdit('level1')">추가</app-button>
                <app-button fill="translucent" (click)="levelEdit('level1')">수정</app-button>
              </div>
              <app-check-group [(ngModel)]="selectList">
                <app-table>
                  <thead>
                    <tr>
                      <th style="width: 20px;">
                        <app-check type="default"></app-check>
                      </th>
                      <th>코드</th>
                      <th>level 1</th>
                      <th>권한</th>
                      <th>사용여부</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="button" *ngFor="let item of resLevel1?.rsMap" (click)="level2In(item)">
                      <td>
                        <app-check name="level1" [on]="item" (click)="checkState($event,item,'level1')"></app-check>
                      </td>
                      <td>{{ item.hq_regional_code }}</td>
                      <td>{{ item.hq_regional_name }}</td>
                      <td>
                        <app-select [(ngModel)]="item.hq_regional_entire_state">
                          <app-select-option [value]="1">본사</app-select-option>
                          <app-select-option [value]="0">사업본부</app-select-option>
                        </app-select>
                      </td>
                      <td>
                        <app-select [(ngModel)]="item.hq_regional_use_state">
                          <app-select-option [value]="1">사용</app-select-option>
                          <app-select-option [value]="0">미사용</app-select-option>
                        </app-select>
                      </td>
                    </tr>
                  </tbody>
                </app-table>
              </app-check-group>
            </app-col>

            <app-col>
              <div style="text-align: right;">
                <app-button fill="translucent" (click)="levelEdit('level2')">추가</app-button>
                <app-button fill="translucent" (click)="levelEdit('level2')">수정</app-button>
              </div>
              <app-check-group [(ngModel)]="selectList">
                <app-table>
                  <thead>
                    <tr>
                      <th style="width: 20px;">
                        <app-check type="all"></app-check>
                      </th>
                      <th>코드</th>
                      <th>level 2</th>
                      <th>권한</th>
                      <th>사용여부</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  class="button" *ngFor="let item of resLevel2?.rsMap" (click)="level3In(item)">
                      <td>
                        <app-check [on]="item"></app-check>
                      </td>
                      <td>{{ item.hq_business_code }}</td>
                      <td>{{ item.hq_business_name }}</td>
                      <td>
                        <app-select [(ngModel)]="item.hq_business_entire_state">
                          <app-select-option [value]="1">본사</app-select-option>
                          <app-select-option [value]="0">사업본부</app-select-option>
                        </app-select>
                      </td>
                      <td>
                        <app-select [(ngModel)]="item.hq_business_use_state">
                          <app-select-option [value]="1">사용</app-select-option>
                          <app-select-option [value]="0">미사용</app-select-option>
                        </app-select>
                      </td>
                    </tr>
                  </tbody>
                </app-table>
              </app-check-group>
            </app-col>

          <app-col>
            <div style="text-align: right;">
              <app-button fill="translucent" (click)="levelEdit('level3')">추가</app-button>
              <app-button fill="translucent" (click)="levelEdit('level3')">수정</app-button>
            </div>
            <app-check-group [(ngModel)]="selectList">
              <app-table>
                <thead>
                  <tr>
                    <th style="width: 20px;">
                      <app-check></app-check>
                    </th>
                    <th>코드</th>
                    <th>level 3</th>
                    <th>권한</th>
                    <th>사용여부</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of resLevel3?.rsMap">
                  <tr>
                    <td>
                      <app-check [on]="item"></app-check>
                    </td>
                    <td>{{ item.hq_department_name }}</td>
                    <td>{{ item.hq_department_name }}</td>
                    <td>
                      <app-select [(ngModel)]="item.hq_department_use_state">
                        <app-select-option [value]="1">사용</app-select-option>
                        <app-select-option [value]="0">미사용</app-select-option>
                      </app-select>
                    </td>
                  </tr>
                </tbody>
              </app-table>
            </app-check-group>
          </app-col>
        </app-row>
      </app-card>
    </app-col>
  </app-row>

  <app-row *ngIf="menuCount === 2" style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <thead>
          <tr>
            <th>
              <app-row style="justify-content: space-between;">
                <app-col size="auto">
                  <app-select-company ></app-select-company>
                </app-col>
              </app-row>
            </th>
          </tr>
        </thead>
      </app-table>
    </app-col>
    <app-col>
      <div>
        <ion-toolbar style="height: 66px; display: flex;" color="white">
          <h4>비밀번호 설정</h4>
          <ion-buttons slot="end">
            <app-button fill="translucent" (click)="memberPasswordUdpate()">저장</app-button>
          </ion-buttons>
        </ion-toolbar>
      </div>
      <app-card>
        <h4 style="text-align: center;">회원관리 메뉴에 접근 할 때 사용할 비밀번호를 지정해주세요.</h4>
        <app-row>
          <app-col></app-col>
          <app-col style="text-align: right;">
            <app-input [(ngModel)]="form.company_password" (delayKeyup)="passwordCheck()" placeholder="비밀번호(영문,숫자,특수문자 조합(8~20자))"></app-input>
            <app-input-caption *ngIf="!passchkck" color="danger">{{ passwordMeassge }}</app-input-caption>
            <app-input [(ngModel)]="subpassword" (delayKeyup)="subPasswordCheck()" placeholder="비밀번호 확인"></app-input>
            <app-input-caption *ngIf="!subpasscheck" color="danger">{{ subpasswordMeassge }}</app-input-caption>
          </app-col>
          <app-col></app-col>
        </app-row>
      </app-card>
    </app-col>
  </app-row>

  <app-row *ngIf="menuCount === 5" style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <ion-toolbar slot="top" color="white">
          <app-row style="justify-content: space-between;">
            <app-col size="auto">
              <h5>필터</h5>
            </app-col>
            <app-col size="auto">
              <app-button fill="translucent" style="width: 100px;" (click)="getJobPosition()">검색</app-button>
            </app-col>
          </app-row>
        </ion-toolbar>
        <tbody>
          <tr>
            <app-select-company [(ngModel)]="jobForm"></app-select-company>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <app-button fill="translucent" (click)="addJobPosstion()">추가</app-button>
          <app-button fill="translucent" (click)="postionDelete()" color="danger">삭제</app-button>
          <app-button fill="translucent" (click)="state(1)">전체 사용</app-button>
          <app-button fill="translucent" (click)="state(0)">전체 미사용</app-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar color="white">
        <app-row>
          <app-col>
            <h5>직위 목록 (총90건)</h5>
          </app-col>
          <app-col size="auto">
            <app-button fill="translucent" (click)="jobAddSave()">저장</app-button>
          </app-col>
        </app-row>
      </ion-toolbar>
      <app-check-group [(ngModel)]="selectList">
        <app-table>
          <thead>
            <tr>
              <th style="width: 40px;">
                <app-check type="all"></app-check>
              </th>
              <th style="width:40px">No</th>
              <th>직위명</th>
              <th>영어</th>
              <th>중국어</th>
              <th>배트남어</th>
              <th>사용여부</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let item of addPosition let i = index">
              <td>
                <app-check [on]="item"></app-check>
              </td>
              <td>{{ i+1 }}</td>
              <td><app-input [(ngModel)]="item.ctgo_job_position_name_kr"></app-input></td>
              <td><app-input [(ngModel)]="item.ctgo_job_position_name_en"></app-input></td>
              <td><app-input [(ngModel)]="item.ctgo_job_position_name_ch"></app-input></td>
              <td><app-input [(ngModel)]="item.ctgo_job_position_name_vi"></app-input></td>
              <td>
                <app-select [(ngModel)]="item.ctgo_job_position_use_state">
                  <app-select-option [value]="1">Y</app-select-option>
                  <app-select-option [value]="0">N</app-select-option>
                </app-select>
              </td>
            </tr> -->
            <tr *ngFor="let res of resJobPosition?.rsMap let i = index">
              <td>
                <app-check [on]="res"></app-check>
              </td>
              <td>{{ i+1 }}</td>
              <td><app-input [(ngModel)]="res.ctgo_job_position_name_kr"></app-input></td>
              <td><app-input [(ngModel)]="res.ctgo_job_position_name_en"></app-input></td>
              <td><app-input [(ngModel)]="res.ctgo_job_position_name_ch"></app-input></td>
              <td><app-input [(ngModel)]="res.ctgo_job_position_name_vi"></app-input></td>
              <td>
                <app-select [(ngModel)]="res.ctgo_job_position_use_state">
                  <app-select-option [value]="1">Y</app-select-option>
                  <app-select-option [value]="0">N</app-select-option>
                </app-select>
              </td>
            </tr>

          </tbody>
        </app-table>
      </app-check-group>
    </app-col>
  </app-row>

  <app-row *ngIf="menuCount === 6" style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <ion-toolbar slot="top" color="white">
          <app-row style="justify-content: space-between;">
            <app-col size="auto">
              <h5>필터</h5>
            </app-col>
            <app-col size="auto">
              <app-button fill="translucent" style="width: 100px;" (click)="getSafeJob()">검색</app-button>
            </app-col>
          </app-row>
        </ion-toolbar>
        <tbody>
          <tr>
            <app-select-company [(ngModel)]="safeJobForm.company_id"></app-select-company>
          </tr>
          <tr>
            <td>
              <app-select label="구분" [(ngModel)]="safeJobForm.user_type">
                <app-select-option value="COMPANY">관리자</app-select-option>
                <app-select-option value="WORKER">작업자</app-select-option>
              </app-select>
            </td>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <app-button fill="translucent" (click)="addSafeJob()">추가</app-button>
          <app-button fill="translucent" (click)="safeDelete()" color="danger">삭제</app-button>
          <app-button fill="translucent" (click)="safeState(1)">전체 사용</app-button>
          <app-button fill="translucent" (click)="safeState(0)">전체 미사용</app-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar color="white">
        <app-row>
          <app-col>
            <h5>안전직무 목록 (총{{ this.resSafeJob?.rsMap?.length}}건)</h5>
          </app-col>
          <app-col size="auto">
            <app-button fill="translucent" (click)="safeJobSave()">저장</app-button>
          </app-col>
        </app-row>
      </ion-toolbar>
      <app-check-group [(ngModel)]="safeJobSelected">
        <app-table>
          <thead>
            <tr>
              <th>
                <app-check type="all"></app-check>
              </th>
              <th>No</th>
              <th>안전 직무명</th>
              <th>영어</th>
              <th>중국어</th>
              <th>배트남어</th>
              <th>사용여부</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resSafeJob?.rsMap let i = index">
              <td>
                <app-check [on]="item"></app-check>
              </td>
              <td>{{ i+1 }}</td>
              <td><app-input [(ngModel)]="item.ctgo_safe_job_name_kr"></app-input></td>
              <td><app-input [(ngModel)]="item.ctgo_safe_job_name_en"></app-input></td>
              <td><app-input [(ngModel)]="item.ctgo_safe_job_name_ch"></app-input></td>
              <td><app-input [(ngModel)]="item.ctgo_safe_job_name_vi"></app-input></td>
              <td>
                <app-select [(ngModel)]="item.ctgo_safe_job_use_state">
                  <app-select-option [value]="1">Y</app-select-option>
                  <app-select-option [value]="0">N</app-select-option>
                </app-select>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-check-group>
    </app-col>
  </app-row>

  <app-row *ngIf="menuCount === 7" style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <ion-toolbar slot="top" color="white">
          <app-row style="justify-content: space-between;">
            <app-col size="auto">
              <h5>필터</h5>
            </app-col>
            <app-col size="auto">
              <app-button fill="translucent" style="width: 100px;">검색</app-button>
            </app-col>
          </app-row>
        </ion-toolbar>
        <tbody>
          <tr>
            <td>
              <app-select-company></app-select-company>
            </td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <app-button fill="translucent">추가</app-button>
          <app-button fill="translucent" color="danger">삭제</app-button>
          <app-button fill="translucent">엑셀 다운로드</app-button>
          <app-button fill="translucent">엑셀 업로드</app-button>
          <app-button fill="translucent">천세 사용</app-button>
          <app-button fill="translucent">전체 미사용</app-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar color="white">
        <app-row>
          <app-col>
            <h5>직종 목록 (총90건)</h5>
          </app-col>
          <app-col size="auto">
            <app-button fill="translucent">저장</app-button>
          </app-col>
        </app-row>
      </ion-toolbar>
      <app-check-group>
        <app-table>
          <thead>
            <tr>
              <th>
                <app-check type="all"></app-check>
              </th>
              <th>No</th>
              <th>직종 명</th>
              <th>영어</th>
              <th>중국어</th>
              <th>배트남어</th>
              <th>다국어4</th>
              <th>다국어5</th>
              <th>사용여부</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <app-check></app-check>
              </td>
              <td>2</td>
              <td>
                <app-input placeholder="입력하세요."></app-input>
              </td>
              <td>
                <app-input placeholder="입력하세요."></app-input>
              </td>
              <td>
                <app-input placeholder="입력하세요."></app-input>
              </td>
              <td>
                <app-input placeholder="입력하세요."></app-input>
              </td>
              <td>
                <app-input placeholder="입력하세요."></app-input>
              </td>
              <td>
                <app-input placeholder="입력하세요."></app-input>
              </td>
              <td>
                <app-select>
                  <app-select-option value="Y">Y</app-select-option>
                  <app-select-option value="N">N</app-select-option>
                </app-select>
              </td>
            </tr>
            <tr>
              <td>
                <app-check></app-check>
              </td>
              <td>1</td>
              <td>전무</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <app-select>
                  <app-select-option value="Y">Y</app-select-option>
                  <app-select-option value="N">N</app-select-option>
                </app-select>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-check-group>
    </app-col>
  </app-row>

  <app-select-contractor [multifull]="true"></app-select-contractor>
</ion-content>