<ion-header>
  <ion-toolbar color="white">
    <ion-title>MSDS {{ title }}</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *mobileHidden>
  <h4>MSDS</h4>
  <app-row mobileBreak>
    <app-col>
      <app-select-scene label="현장명" [disabled]="true" [(ngModel)]="form.project_id" [required]="true"></app-select-scene>
    </app-col>
    <app-col>
      <app-input label="업체명" [(ngModel)]="form.company_name" [disabled]="true"></app-input>
    </app-col>
  </app-row>
  <app-row mobileBreak>
    <app-col>
      <app-input label="작성자" [(ngModel)]="form.user_name" [disabled]="true"></app-input>
    </app-col>
    <app-col>
      <app-input label="작성일" [(ngModel)]="form.create_date" [disabled]="true"></app-input>
    </app-col>
  </app-row>
  <app-row mobileBreak>
    <app-col>
      <app-select [disabled]="!update_state" label="구분" [(ngModel)]="form.msds_type" [required]="true">
        <app-select-option value="폭발성 물질">폭발성 물질</app-select-option>
        <app-select-option value="인화성 가스">인화성 가스</app-select-option>
        <app-select-option value="인화성 액체">인화성 액체</app-select-option>
        <app-select-option value="인화성 고체">인화성 고체</app-select-option>
        <app-select-option value="에어로졸">에어로졸</app-select-option>
        <app-select-option value="물반응성 물질">물반응성 물질</app-select-option>
        <app-select-option value="산화성 가스">산화성 가스</app-select-option>
        <app-select-option value="산화성 액체">산화성 액체</app-select-option>
        <app-select-option value="산화성 고체">산화성 고체</app-select-option>
        <app-select-option value="고압가스">고압가스</app-select-option>
        <app-select-option value="자기반응성 물질">자기반응성 물질</app-select-option>
        <app-select-option value="자연발화성 액체">자연발화성 액체</app-select-option>
        <app-select-option value="자연발화성 고체">자연발화성 고체</app-select-option>
        <app-select-option value="심한 눈 손상성 또는 자극성 물질">심한 눈 손상성 또는 자극성 물질</app-select-option>
        <app-select-option value="호흡기 과민성 물질">호흡기 과민성 물질</app-select-option>
        <app-select-option value="피부 과민성 물질">피부 과민성 물질</app-select-option>
        <app-select-option value="발암성물질">발암성물질</app-select-option>
        <app-select-option value="생식세포 변이원성 물질">생식세포 변이원성 물질</app-select-option>
        <app-select-option value="생식독성 물질">생식독성 물질</app-select-option>
        <app-select-option value="특정표적장기 독성 물질(1회 노출)">특정표적장기 독성 물질(1회 노출)</app-select-option>
        <app-select-option value="특정표적장기 독성 물질(반복 노출)">특정표적장기 독성 물질(반복 노출)</app-select-option>
        <app-select-option value="흡인유해성 물질">흡인유해성 물질</app-select-option>
        <app-select-option value="수생환경 유해성 물질">수생환경 유해성 물질</app-select-option>
        <app-select-option value="오존층 유해성 물질">오존층 유해성 물질</app-select-option>
      </app-select>
    </app-col>
    <app-col>
    </app-col>
  </app-row>
  <app-row>
    <app-col>
      <app-input [disabled]="!update_state" label="제목" [(ngModel)]="form.msds_title"></app-input>
    </app-col>
  </app-row>
  <app-row *mobileHidden>
    <app-col>
      <app-textarea label="내용" 
        [rows]="10"
        [(ngModel)]="form.msds_content" [readonly]="!update_state"></app-textarea>
      <!-- <app-smartedit #msdsText name="msds_text" placeholder="내용을 입력하세요." 
        [disabled]="!update_state"
        [color]="validator.msds_title?.valid === false && 'warning'"
        [(ngModel)]="form.msds_content"></app-smartedit> -->
        <app-input-caption *ngIf="validator.msds_title?.valid === false">{{ validator.msds_title.message }}</app-input-caption>
    </app-col>
  </app-row>
  <app-row *mobileShow>
    <app-col>
      <app-textarea value="공지합니다" [readonly]="true"></app-textarea>
    </app-col>
  </app-row>
  <h4>
    <app-row>
      <app-col>
        첨부자료
      </app-col>
      <app-col size="auto" *ngIf="update_state">
        <app-button fill="translucent">추가
          <app-file name="input" view_type="NOTICE" [(ngModel)]="form.file_data" [file]="form.file" [file_json]="form.file_json" [multiple]="true"></app-file>
        </app-button>
      </app-col>
    </app-row>
  </h4>
  
  <!-- <app-file-preview [readonly]="!update_state" *ngFor="let futItem of form.file_data" [futItem]="futItem"></app-file-preview> -->
  <app-file-preview [readonly]="!update_state"  *ngFor="let futItem of form.file_data; let i = index" [futItem]="futItem" (buttonClick)="form.file_data.splice(i,1)"></app-file-preview>

</ion-content>
<app-button-footer *mobileHidden>
  <!-- <app-button *ngIf="item && useMsds" (click)="submit()" fill="translucent">수정</app-button>
  <app-button *ngIf="item && useMsds" color="danger" (click)="Delete()" fill="translucent">삭제</app-button>
  <app-button *ngIf="!item" (click)="submit()">저장</app-button> -->

  <app-button *ngIf="msds_id && useMsds" fill="translucent" (click)="updateButton()">{{ update_state ? '저장' : '수정' }}</app-button>
  <app-button *ngIf="msds_id && useMsds"color="danger" (click)="Delete()" fill="translucent">삭제</app-button>
  <app-button *ngIf="!msds_id" (click)="submit()">저장</app-button>
</app-button-footer>
<!-- 모바일 -->
<ng-container *mobileShow>
  <ion-content>
    <app-row>
      <app-col>
        <h4>MSDS</h4>
      </app-col>
    </app-row>
    <app-card>
      <app-row>
        <app-col>
          <h5>현장명</h5>
        </app-col>
        <app-col>
          <p>{{ form.project_name}}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>원청사명</h5>
        </app-col>
        <app-col >
          <p>{{ form.company_name }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>작성자</h5>
        </app-col>
        <app-col>
          <p>{{ form.user_name }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>작성일</h5>
        </app-col>
        <app-col >
          <p>{{ form.create_date }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>구분</h5>
        </app-col>
        <app-col>
          <p>{{ form.msds_type }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>제목</h5>
        </app-col>
        <app-col >
          <p>{{ form.msds_title }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>내용</h5>
        </app-col>
        <app-col >
          <p>{{ form.msds_content }}</p>
        </app-col>
      </app-row>
    </app-card>
    <app-row>
      <app-col>
        <h4>첨부자료</h4>
      </app-col>
    </app-row>

    <app-file-preview [readonly]="!update_state" *ngFor="let futItem of form.file_data" [futItem]="futItem"></app-file-preview>
    
  </ion-content>
</ng-container>
<app-button-footer *mobileShow>
  <app-button (click)="dismiss()">확인</app-button>
</app-button-footer>