<app-moniter-header [form]="form" (formChange)="formChange($event)"></app-moniter-header>

<ion-content>

  <div *ngIf="data.monitor === '통합관제'" class="container">
    <app-row class="mobileBreak">
      <app-col>
        <app-row class="mobileBreak">
          <app-col style="height: 350px;">
            <app-card color="white" class="graph-card">
              <ion-toolbar slot="top" color="white">
                <app-row>
                  <app-col>
                    <h4>금일 출역 근로자</h4>
                  </app-col>
                  <app-col size="auto">
                    <ion-badge color="medium" (click)="todayWorkDetail({
                      company_admin: 0,
                      company_worker: 0,
                      master_admin: 0,
                      master_worker: 0,
                      total_cnt: 0,
                      work_date: this.date.today()
                  })"><b>{{ todayWork_totalCount }}</b>명</ion-badge>
                  </app-col>
                </app-row>
              </ion-toolbar>
              <div class="graph-area">
                <div class="graph-line-wrap">
                  <div *ngFor="let item of todayWork_graphLine" class="graph-line-box">
                    <div class="graph-text">
                      <div class="div-text-g">{{ item }}</div>
                    </div>
                    <div class="graph-line"></div>
                  </div>
                </div>
                <div class="graph-line-box">
                  <div class="graph-text">
                    <div class="div-text-g">0</div>
                  </div>
                  <div class="graph-line"></div>
                </div>

                <div class="bar-flex-box">

                  <div class="bar-flex-theme"></div>
                  <div class="bar-wrap">
                    <div class="bar-item" *ngFor="let item of todayWork?.rsMap">
                      <div (click)="todayWorkDetail(item)" *ngIf="item.total_cnt"
                        class="bar"
                        [style.height]="'calc((100% - 50.55px) * '+(item.total_cnt / todayWork_ceil_Total)+')'">
                        <div class="bar-inner-text">{{ item.total_cnt }}</div>
                      </div>
                      <div class="text">{{ item.work_date }}</div>
                    </div>
                  </div>
                </div>

              </div>
            </app-card>

          </app-col>
          <app-col>

            <app-card class="graph-card" [blind]="true">
              
              <ion-toolbar slot="top" color="white">
                <app-row>
                  <app-col>
                    <h4>금일 작업 근로자</h4>
                  </app-col>
                  <app-col size="auto">
                    <ion-badge color="medium">총<b>0</b>명</ion-badge>
                  </app-col>
                </app-row>
              </ion-toolbar>
              <app-row>
                <app-col size="auto">
                  <div class="donut-group">
                    <svg class="donut" viewBox="0 0 42 42">
                      <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                      <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#FFC876"
                        stroke-width="6">
                      </circle>
                      <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#44c650" stroke-width="6"
                        stroke-dasharray="50 50" stroke-dashoffset="25"></circle>
                    </svg>
                    <div class="donut-in-count">
                      33
                    </div>
                    <div class="donut-in-text">
                      총 작업
                    </div>
                  </div>
                </app-col>
                <app-col class="donut-sub">
                  <app-row style="justify-content: flex-end;">
                    <app-col size="auto" style="display: flex; align-items: center;">
                      <div class="circle-plan"></div>
                      <p class="count-name">위험작업&nbsp;&nbsp;</p>
                      <p class="count-contant" style="font-size: 20px;">10</p>
                    </app-col>
                  </app-row>
                  <app-row style="justify-content: flex-end;">
                    <app-col size="auto" style="display: flex; align-items: center;">
                      <div class="circle-per"></div>
                      <p class="count-name">일반작업&nbsp;&nbsp;</p>
                      <p class="count-contant" style="font-size: 20px;">50</p>
                    </app-col>
                  </app-row>
                </app-col>
              </app-row>
            </app-card>

          </app-col>
        </app-row>
        
        <app-row class="mobileBreak">
          <app-col>

            <app-card class="graph-card">

              
              <ion-toolbar slot="top" color="white">
                <app-row>
                  <app-col>
                    <h4>공종별 출역 작업자</h4>
                  </app-col>
                  <app-col size="auto">
                    <ion-badge color="medium">총<b>{{ todayConstruction_totalCount }}</b>명</ion-badge>
                  </app-col>
                </app-row>
              </ion-toolbar>
              <ion-row *ngFor="let item of todayConstruction?.rsMap">
                <app-col size="2" class="risk-type-name">{{ item.ctgo_construction_name }}</app-col>
                <app-col style="display: flex; align-items: center;">
                  <div *ngIf="item.cnt"
                    style="height: 10px; background-color: red; margin-right: 10px; border-radius: 5px;"
                    [style.width]="'calc((100% - 50.55px) * '+(item.cnt/todayConstruction_ceil_Total)+')'"></div>
                  <h4 *ngIf="item.cnt" style="width: 36px;">{{item.cnt}}</h4>
                </app-col>
              </ion-row>
            </app-card>

          </app-col>
          <app-col>

            <app-card class="graph-card" [blind]="true">
              <ion-toolbar slot="top" color="white">
                <app-row>
                  <app-col>
                    <h4>작업자 상태</h4>
                  </app-col>
                  <app-col size="auto">
                    <ion-badge color="medium">총<b>0</b>명</ion-badge>
                  </app-col>
                </app-row>
              </ion-toolbar>
              <ion-row *ngFor="let item of graphArr3 let i = index" class="worker-item">
                <app-col size="78px" class="risk-type-name">{{ item.name }}</app-col>
                <app-col style="display: flex; align-items: center;">
                  <div [ngStyle]="style(item)" class="worker-state" [style.width]="item.count + '%'"></div>
                  <h4>{{item.count}}</h4>
                </app-col>
              </ion-row>
            </app-card>
            
          </app-col>

          <app-col>

            <app-card class="graph-card" [blind]="true">
              <ion-toolbar slot="top" color="white">
                <app-row>
                  <app-col>
                    <h4>위험공종별 작업 계획</h4>
                  </app-col>
                  <app-col size="auto">
                    <ion-badge color="medium">총<b>0</b>명</ion-badge>
                  </app-col>
                </app-row>
              </ion-toolbar>
              <ion-row *ngFor="let item of graphArr4 let i = index">
                <app-col size="4" class="risk-type-name">{{ item.name }}</app-col>
                <app-col style="display: flex; align-items: center;">
                  <div [ngStyle]="style(item)" class="danger-state" [style.width]="item.count + '%'"></div>
                  <h4>{{item.count}}</h4>
                </app-col>
              </ion-row>
            </app-card>

          </app-col>
        </app-row>
      </app-col>

      <app-col style="flex: 0 0 300px;">
        <app-card color="white">
          <ion-toolbar class="toolbar-padding" slot="top" color="white">
            <app-row style="align-items: center; justify-content: space-between;">
              <app-col>
                <h4>스마트 안전 장비</h4>
              </app-col>
              <app-col size="auto">
                <app-button fill="translucent" (click)="smartEquipEdit()">수정</app-button>
              </app-col>
            </app-row>
          </ion-toolbar>
          <table style="width: 100%;">
            <tbody>
              <tr>
                <td>
                  <app-img style="width: 70px;" src="/assets/img/monitor/dangerarea.svg"></app-img>
                </td>
                <td class="table-text">
                  <h5>
                    {{ smartEquip_structure.ctgo_machine_serial_name }}
                  </h5>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">보유 대수</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_structure.machine_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">가동 중</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_structure.mmachine_using_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">미가동</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_structure.not_using_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <app-img style="width: 70px;" src="/assets/img/monitor/heavy.svg"></app-img>
                </td>
                <td class="table-text">
                  <h5 style="text-align: left;">
                    {{ smartEquip_crane.ctgo_machine_serial_name }}
                  </h5>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">보유 대수</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_crane.machine_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">가동 중</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_crane.mmachine_using_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">미가동</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_crane.not_using_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <app-img style="width: 70px;" src="/assets/img/monitor/closeness.svg"></app-img>
                </td>
                <td class="table-text">
                  <h5 style="text-align: left;">
                    {{ smartEquip_closeness.ctgo_machine_serial_name }}
                  </h5>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">보유 대수</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_closeness.machine_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">가동 중</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_closeness.mmachine_using_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">미가동</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_closeness.not_using_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                </td>
              </tr>

            </tbody>
          </table>


        </app-card>
      </app-col>
      <ng-container *mobileShow>
        <app-col>
          <app-card class="card-flex" style="height: 315px;"> 
            <div>
                <ion-toolbar slot="top" color="white">
                  <app-row>
                    <app-col>
                      <h4>경기도 성남시 분당구</h4>
                    </app-col>
                  </app-row>
                </ion-toolbar>
                <!--            
                  <app-row>
                    <app-col>
                      <app-row>
                        <app-col>
                          <h5>최고기온</h5>
                        </app-col>
                        <app-col>
                          <h4>{{ weather.high_weather_temp + "&deg;C" }}</h4>
                        </app-col>
                      </app-row>
                      <app-row >
                        <app-col class="wheather" style="text-align: center;">
                          <h2>{{ weather.weather_temp + "&deg;C" }}</h2>
                        </app-col>
                      </app-row>
                      <app-row>
                        <app-col>
                          <h5>최저기온</h5>
                        </app-col>
                        <app-col>
                          <h4>{{ weather.low_weather_temp + "&deg;C" }}</h4>
                        </app-col>
                      </app-row>
                    </app-col>
                    <app-col>
                      <app-img style="width: 100%;" [src]="weather.weather_icon"></app-img>
                    </app-col>
                  </app-row> -->
                <app-row>
                  <app-col style="border-right: 1px solid var(--ion-color-step-100);">
                    <app-row style="text-align: center; border-bottom: 1px solid var(--ion-color-step-100);">
                      <app-col>
                        <h2>{{ weather.weather_temp }}&deg;C</h2>
                      </app-col>
                    </app-row>
                    <app-row style="text-align: center;">
                      <app-col>
                        <h5>최고기온</h5>
                      </app-col>
                      <app-col>
                        <h3>{{ weather.high_weather_temp }}&deg;C</h3>
                      </app-col>
                    </app-row>
                    <app-row style="text-align: center; border-top: 1px solid var(--ion-color-step-100);">
                      <app-col>
                        <h5>최저기온</h5>
                      </app-col>
                      <app-col>
                        <h3>{{ weather.low_weather_temp }}&deg;C</h3>
                      </app-col>
                    </app-row>
                  </app-col>
                  <app-col style="text-align: center;">
                    <!-- <app-img style="width: 100%;" [src]="weather.weather_icon"></app-img> -->
                    <app-img style="width: 80%;" src="assets/img/weather/01_day.svg"></app-img>
                  </app-col>
                </app-row>
                <app-row style="border-top: 1px solid var(--ion-color-step-100); text-align: center;">
                  <app-col style="padding-left: 0; padding-right: 0;">
                    <app-row class="title">
                      <app-col style="border-right: 1px solid var(--ion-color-step-100);">
                        <h5>강수량</h5>
                      </app-col>
                    </app-row>
                    <app-row class="ratio">
                      <app-col style="padding: 0; border-right: 1px solid var(--ion-color-step-100);">
                        <!-- <h6>{{ weather.weather_rain !== '강수없음' ? weather.weather_rain + "mm" : weather.weather_rain}}</h6> -->
                        <h6>{{ weather.weather_rain }}</h6>
                      </app-col>
                    </app-row>
                  </app-col>
                  <app-col style="padding-left: 0; padding-right: 0;">
                    <app-row class="title">
                      <app-col style="border-right: 1px solid var(--ion-color-step-100);">
                        <h5>적설량</h5>
                      </app-col>
                    </app-row>
                    <app-row class="ratio">
                      <app-col style="padding: 0; border-right: 1px solid var(--ion-color-step-100);">
                        <h6>{{ weather.weather_snow !== '적설없음' ? weather.weather_pty : '-' }}</h6>
                      </app-col>
                    </app-row>
                  </app-col>
                  <app-col style="padding-left: 0; padding-right: 0;">
                    <app-row class="title">
                      <app-col style="border-right: 1px solid var(--ion-color-step-100);">
                        <h5>최대풍속</h5>
                      </app-col>
                    </app-row>
                    <app-row class="ratio">
                      <app-col style="padding: 0; border-right: 1px solid var(--ion-color-step-100);">
                        <h6>{{ weather.weather_speed + "m/s"}}</h6>
                      </app-col>
                    </app-row>
                  </app-col>
                  <app-col style="padding-left: 0; padding-right: 0;">
                    <app-row class="title">
                      <app-col>
                        <h5>미세먼지</h5>
                      </app-col>
                    </app-row>
                    <app-row class="ratio">
                      <app-col class="ratio-col">
                        <app-img style="width: 20px;" src="assets/img/weather/dust_good.svg"></app-img>
                        <h6>{{ dust.grade_name}}</h6>
                      </app-col>
                    </app-row>
                  </app-col>
                </app-row>
            </div>
          </app-card>
        </app-col>
      </ng-container>

    </app-row>
  </div>

  <div *ngIf="data.monitor === 'CCTV 모니터링'" class="container">

    <!-- <app-card *mobileShow>
      <app-select placeholder="모니터링 할 CCTV를 선택해주세요"></app-select>
      <ion-row style="align-items: flex-start;">
        <app-col>
          <h4>CCTV 설치장소1</h4>
        </app-col>
      </ion-row>
      <app-row>
        <app-col style="position: relative;">
          <div style="border: 1px solid; height: 500px; position: relative;">
          </div>
        </app-col>
      </app-row>
    </app-card> -->

    <ng-container>
      <app-row style="align-items: flex-start;">
        <app-col>
          <ng-container *ngFor="let res_1 of cctv">
            <app-card *ngIf="res_1.cctv_list.length" color="white">
              <app-row style="align-items: stretch;">
  
                <app-col class="cctv-box">
                  <app-row>
                    <app-col>
                      <!-- <h4>{{ res_1.project_name }}</h4> -->
                      <h4>수원당수 A-1BL 아파트 건설공사 1공구</h4>
                    </app-col>
                    <app-col size="auto"></app-col>
                  </app-row>
                  <app-row class="cctv-box">
                    <ng-container *mobileHidden>
                      <app-col *ngFor="let res_2 of res_1?.cctv_list" size="auto">
                        <div>[{{ res_2.cctv_area_name }}]</div>
                        <iframe [src]="'https://g3.ipcamlive.com/player/player.php?alias='+(res_2.cctv_id+res_2.cctv_channel_no)+'&autoplay=1' | safe: 'resourceUrl'" width="500px" height="280px" frameborder="0" allowfullscreen> </iframe>
                        <!-- <video width="352" height="198" controls autoplay>
                          <source src="http://s40.ipcamlive.com/streams/28iqfxocuhl7vy58z/stream.m3u8" type="application/x-mpegURL">
                        </video> -->
                        <!-- <iframe [src]="'http:\/\/s40.ipcamlive.com\/streams\/28z6ilpcuokabnfdv\/stream.m3u8' | safe: 'resourceUrl'" width="500" height="280px" frameborder="0" allowfullscreen> </iframe> -->
    
                        <!-- http:\/\/s40.ipcamlive.com\/streams\/28z6ilpcuokabnfdv\/stream.m3u8 -->
                      </app-col>
                    </ng-container>
  
  
                    <ng-container *mobileShow>
                      <app-col size="12" *ngFor="let res_2 of res_1?.cctv_list">
                        <div>[{{ res_2.cctv_area_name }}]</div>
                        <iframe [src]="'https://g3.ipcamlive.com/player/player.php?alias='+(res_2.cctv_id+res_2.cctv_channel_no)+'&autoplay=1' | safe: 'resourceUrl'" width="100%" height="210px" frameborder="0" allowfullscreen> </iframe>
                      </app-col>
                    </ng-container>
                  </app-row>
                </app-col>
              
              </app-row>
            </app-card>
          </ng-container>
        </app-col>

        <!-- <app-col>
          <video #videoItem id="videoItem" width="500px" height="280px" controls autoplay>
            <source type="application/x-mpegURL" src="http://s40.ipcamlive.com/streams/28atxw0mvoe391rqu/stream.m3u8" />
          </video>
        </app-col> -->
      </app-row>
  
    </ng-container>
  </div>

  <div *ngIf="data.monitor === '근로자 실시간 위치 모니터링'" style="height: 100%">
    <app-monitor-worker-location style="height: 100%"
    [project_id]="form.project_id"
    [master_company_id]="form.master_company_id"></app-monitor-worker-location>
  </div>
  
</ion-content>