<app-moniter-header *mobileHidden></app-moniter-header>

<ion-toolbar *mobileHidden color="white">

  <app-row>
    <app-col>
      <app-select-scene [(ngModel)]="form.project_id"></app-select-scene>
    </app-col>
    <app-col>
      <app-select-contractor [allState]="true" name="master_company_id" [project_id]="form.project_id"
        [disabled]="user.userData.user_type != 'LH' && user.userData.user_type != 'SUPER'"
        [(ngModel)]="form.master_company_id"></app-select-contractor>
    </app-col>
    <app-col></app-col>
    <app-col></app-col>
    <app-col size="auto">
      <app-button style="padding: 5px;" color="primary" [fill]="'translucent'" [disabled]="true">
        <app-img style="width: 55px;" src="assets/img/weather/01_day.svg"></app-img>
      </app-button>
    </app-col>
    <app-col size="auto" class="weather">
      <app-row class="weather-temp">
        {{ weather.weather_temp + "&deg;C" }}
      </app-row>
      <app-row class="ratio">
        {{ weather.high_weather_temp + "&deg;C" }}
        {{ weather.low_weather_temp + "&deg;C" }}
      </app-row>
    </app-col>
    <app-col class="colstyle" size="auto">
      <app-row class="title">
        강수량
      </app-row>
      <app-row class="ratio">
        {{ weather.weather_rain !== '강수없음' ? weather.weather_rain + "mm" : weather.weather_rain}}
      </app-row>
    </app-col>
    <app-col class="colstyle" size="auto">
      <app-row class="title">
        적설량
      </app-row>
      <app-row class="ratio">
        {{ weather.weather_snow !== '적설없음' ? weather.weather_pty : '-' }}
      </app-row>
    </app-col>
    <app-col class="colstyle" size="auto">
      <app-row class="title">
        최대풍속
      </app-row>
      <app-row class="ratio">
        {{ weather.weather_speed + "m/s" }}
      </app-row>
    </app-col>
    <app-col class="colstyle" size="auto">
      <app-row class="title">
        미세먼지
      </app-row>
      <app-row class="ratio">
        <app-img style="width: 20px;" src="assets/img/weather/dust_good.svg"></app-img>
        {{ dust.grade_name}}
      </app-row>
    </app-col>
  </app-row>

</ion-toolbar>

<div *mobileHidden>
  <app-row *ngIf="data.monitor === '근로자 실시간 위치 모니터링'">
    <app-col>
      <app-select-company [project_id]="form.project_id" [(ngModel)]="form.company_id"></app-select-company>
    </app-col>
    <app-col>
      <app-select label="근로자 구분" [(ngModel)]="form.user_type">
        <app-select-option value="전체">전체</app-select-option>
        <app-select-option value="관리자">관리자</app-select-option>
        <app-select-option value="작업자">작업자</app-select-option>
      </app-select>
    </app-col>
    <app-col>
      <app-select-construction [master_company_id]="form.master_company_id" [project_id]="form.project_id"
        [(ngModel)]="form.ctgo_construction_id"></app-select-construction>
    </app-col>
  </app-row>
  <ng-container *mobileShow>
    <app-row *ngIf="data.monitor === '근로자 실시간 위치 모니터링'">
      <app-col>
        <app-select [disabled]="true" label="위험공종">
          <app-select-option>전체</app-select-option>
        </app-select>
      </app-col>
      <app-col>
        <app-select [disabled]="true" label="작업상태">
          <app-select-option>전체</app-select-option>
        </app-select>
      </app-col>
      <app-col>
        <app-input label="검색" [(ngModel)]="form.search_text" (keyup.enter)="wokerInGetList()"
          placeholder="검색어를 입력해 주세요.">
          <app-img (click)="wokerInGetList()" name="search">검색</app-img>
        </app-input>
      </app-col>
    </app-row>
  </ng-container>

  <app-row *ngIf="data.monitor === '근로자 실시간 위치 모니터링'">
    <app-col>
      <app-select [disabled]="true" label="위험공종">
        <app-select-option>전체</app-select-option>
      </app-select>
    </app-col>
    <app-col>
      <app-select [disabled]="true" label="작업상태">
        <app-select-option>전체</app-select-option>
      </app-select>
    </app-col>
    <app-col>
      <app-input label="검색" [(ngModel)]="form.search_text" (keyup.enter)="wokerInGetList()" placeholder="검색어를 입력해 주세요.">
        <app-img (click)="wokerInGetList()" name="search">검색</app-img>
      </app-input>
    </app-col>
  </app-row>
</div>

<ion-toolbar color="white" *mobileShow>
  <app-row>
    <app-col>
      <ion-segment color="primary" [value]="1">
        <ion-segment-button (click)="menu = 1" [value]="1">통합관제</ion-segment-button>
        <ion-segment-button (click)="menu = 2">CCTV모니터링</ion-segment-button>
        <ion-segment-button (click)="menu = 3">근로자 실시간<br>위치 모니터링</ion-segment-button>
      </ion-segment>
    </app-col>
  </app-row>
</ion-toolbar>

<ion-content>
  <div [style.display]="menu === 1 ? 'block' : 'none'">
    <app-row style="align-items: flex-start;" *ngIf="data.monitor === '통합관제' || !data.monitor">
      <app-col>
        <app-card color="white">
          <app-row style="align-items: stretch;">
            <app-col class="border-box donut-group">
              <ion-toolbar slot="top" color="white">
                <app-row>
                  <app-col>
                    <h4>금일 출역 근로자</h4>
                  </app-col>
                  <app-col size="auto">
                    <ion-badge color="medium" (click)="todayWorkDetail({
                      company_admin: 0,
                      company_worker: 0,
                      master_admin: 0,
                      master_worker: 0,
                      total_cnt: 0,
                      work_date: this.date.today()
                  })"><b>{{ todayWork_totalCount }}</b>명</ion-badge>
                  </app-col>
                </app-row>
              </ion-toolbar>
              <ion-row class="graph-row-today-work">
                <ion-col class="col-today-work">
                  <!-- <div *ngIf="!todayWork_totalCount" class="blinder">데이터가 없습니다.</div> -->

                  <div class="graph-area">
                    <div class="graph-wrap">
                      <div class="graph-line-wrap">
                        <div *ngFor="let item of todayWork_graphLine" class="graph-line-box">
                          <div class="graph-text">
                            <div class="div-text-g">{{ item }}</div>
                          </div>
                          <div class="graph-line"></div>
                        </div>
                      </div>
                      <div class="graph-line-box">
                        <div class="graph-text">
                          <div class="div-text-g">0</div>
                        </div>
                        <div class="graph-line"></div>
                      </div>

                      <div class="bar-flex-box">

                        <div class="bar-flex-theme"></div>
                        <div class="bar-wrap">
                          <div class="bar-item" *ngFor="let item of todayWork?.rsMap">
                            <div (click)="todayWorkDetail(item)" *ngIf="item.master_worker || item.company_worker"
                              class="bar"
                              [style.height]="'calc((100% - 50.55px) * '+((item.master_worker+item.company_worker) / todayWork_ceil_Total)+')'">
                              <div class="bar-inner-text">{{ item.company_worker+item.master_worker }}</div>
                            </div>
                            <div class="text">{{ item.work_date }}</div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </ion-col>
              </ion-row>
            </app-col>
            <app-col class="donut-group">
              <ion-toolbar slot="top" color="white">
                <app-row>
                  <app-col>
                    <h4>금일 작업 근로자</h4>
                  </app-col>
                  <app-col size="auto">
                    <ion-badge color="medium">총<b>113</b>명</ion-badge>
                  </app-col>
                </app-row>
              </ion-toolbar>
              <app-row>
                <app-col style="position: relative;" size="7">
                  <div style="width: 75%; position: relative;">
                    <svg class="donut-group" width="80%" height="80%" viewBox="0 0 42 42" style="margin-left: 30px;">
                      <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                      <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#FFC876"
                        stroke-width="6">
                      </circle>
                      <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#44c650" stroke-width="6"
                        stroke-dasharray="50 50" stroke-dashoffset="25"></circle>
                    </svg>
                    <div class="donut-in-count">
                      33
                    </div>
                    <div class="donut-in-text">
                      총 작업
                    </div>
                  </div>
                </app-col>
                <app-col class="graph-sub" size="4">
                  <app-row style="justify-content: flex-end;">
                    <app-col size="auto" style="display: flex; align-items: center;">
                      <div class="circlel-plan"></div>
                      <p class="count-name">위험작업&nbsp;&nbsp;</p>
                      <p class="count-contant" style="font-size: 20px;">10</p>
                    </app-col>
                  </app-row>
                  <app-row style="justify-content: flex-end;">
                    <app-col size="auto" style="display: flex; align-items: center;">
                      <div class="circlel-per"></div>
                      <p class="count-name">일반작업&nbsp;&nbsp;</p>
                      <p class="count-contant" style="font-size: 20px;">50</p>
                    </app-col>
                  </app-row>
                </app-col>
              </app-row>
            </app-col>
            <!-- <app-col class="donut-group">
            <app-row>
              <app-col class="donut-group">
                <app-row>
                  <app-col>
                    <h4>공종별 출역 현황</h4>
                  </app-col>
                  <app-col size="auto">
                    <ion-chip class="chip-back">총 113명</ion-chip>
                  </app-col>
                </app-row>
                <app-row *ngFor="let item of graphArr4 let i = index">
                  <app-col size="auto" class="risk-type-name">{{ item.name }}</app-col>
                  <app-col style="display: flex; align-items: center;">
                    <div class="" style="height: 10px; background-color: red; margin-right: 10px; border-radius: 5px;"
                      [style.width]="item.count + '%'"></div>
                    <h4>{{item.count}}</h4>
                  </app-col>
                </app-row>
              </app-col>
            </app-row>
          </app-col> -->


            <!-- <app-col class="donut-group">
            <ion-row>
              <app-col>
                <h4>작업자 상태</h4>
              </app-col>
              <app-col></app-col>
              <app-col size="auto">
                <ion-chip class="chip-back">총 100명</ion-chip>
              </app-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <app-graph-line style="width: 100%; height: 200px;">
                  <app-graph-group [color]="graphItem.color" [name]="graphItem.name" *ngFor="let graphItem of graph">
                    <app-graph-value *ngFor="let graphData of graphItem.data" [label]="graphData.label"
                      [value]="graphData.value"></app-graph-value>
                  </app-graph-group>
                </app-graph-line>
              </ion-col>
              <app-col class="graph-sub" size="4">
                <app-row>
                  <app-col style="display: flex;">
                    <p class="count-name">작업대기</p>
                  </app-col>
                  <app-col size="auto">
                    <p class="count-contant">50</p>
                  </app-col>
                </app-row>
                <app-row style="position: relative;">
                  <div class="dount-partner"></div>
                  <div class="dount-partner-sub"></div>
                </app-row>
                <app-row>
                  <app-col style="display: flex;">
                    <p class="count-name">작업중</p>
                  </app-col>
                  <app-col size="auto">
                    <p class="count-contant">50</p>
                  </app-col>
                </app-row>
                <app-row style="position: relative;">
                  <div class="dount-partner"></div>
                  <div class="dount-partner-sub"></div>
                </app-row>
                <app-row>
                  <app-col style="display: flex;">
                    <p class="count-name">작업종료</p>
                  </app-col>
                  <app-col size="auto">
                    <p class="count-contant">50</p>
                  </app-col>
                </app-row>
                <app-row style="position: relative;">
                  <div class="dount-partner"></div>
                  <div class="dount-partner-sub"></div>
                </app-row>
              </app-col>
            </ion-row>
          </app-col> -->
          </app-row>
        </app-card>

        <app-card color="white">
          <app-row style="align-items: stretch;">
            <app-col class="donut-group">
              <!-- <div class="blinder">데이터가 없습니다.</div> -->
              <app-row>
                <app-col class="donut-group">
                  <ion-toolbar slot="top" color="white">
                    <app-row>
                      <app-col>
                        <h4>공종별 출역 작업자</h4>
                      </app-col>
                      <app-col size="auto">
                        <ion-badge color="medium">총<b>{{ todayConstruction_totalCount }}</b>명</ion-badge>
                      </app-col>
                    </app-row>
                  </ion-toolbar>
                  <ion-row *ngFor="let item of todayConstruction?.rsMap">
                    <app-col size="2" class="risk-type-name">{{ item.ctgo_construction_name }}</app-col>
                    <app-col style="display: flex; align-items: center;">
                      <div *ngIf="item.cnt"
                        style="height: 10px; background-color: red; margin-right: 10px; border-radius: 5px;"
                        [style.width]="'calc((100% - 50.55px) * '+(item.cnt/todayConstruction_ceil_Total)+')'"></div>
                      <h4 *ngIf="item.cnt" style="width: 36px;">{{item.cnt}}</h4>
                    </app-col>
                  </ion-row>
                </app-col>
              </app-row>
            </app-col>

            <app-col class="middle-box donut-group">
              <app-row>
                <app-col class="donut-group">
                  <ion-toolbar slot="top" color="white">
                    <app-row>
                      <app-col>
                        <h4>작업자 상태</h4>
                      </app-col>
                      <app-col size="auto">
                        <ion-badge color="medium">총<b>80</b>명</ion-badge>
                      </app-col>
                    </app-row>
                  </ion-toolbar>
                  <ion-row *ngFor="let item of graphArr3 let i = index">
                    <app-col size="2" class="risk-type-name">{{ item.name }}</app-col>
                    <app-col style="display: flex; align-items: center;">
                      <div [ngStyle]="style(item)" class="worker-state" [style.width]="item.count + '%'"></div>
                      <h4>{{item.count}}</h4>
                    </app-col>
                  </ion-row>
                </app-col>
              </app-row>
            </app-col>

            <app-col class="donut-group">
              <app-row>
                <app-col class="donut-group">
                  <ion-toolbar slot="top" color="white">
                    <app-row>
                      <app-col>
                        <h4>위험공종별 작업 계획</h4>
                      </app-col>
                      <app-col size="auto">
                        <ion-badge color="medium">총<b>70</b>명</ion-badge>
                      </app-col>
                    </app-row>
                  </ion-toolbar>
                  <ion-row *ngFor="let item of graphArr4 let i = index">
                    <app-col size="4" class="risk-type-name">{{ item.name }}</app-col>
                    <app-col style="display: flex; align-items: center;">
                      <div [ngStyle]="style(item)" class="danger-state" [style.width]="item.count + '%'"></div>
                      <h4>{{item.count}}</h4>
                    </app-col>
                  </ion-row>
                </app-col>
              </app-row>
            </app-col>
          </app-row>
        </app-card>

        <!-- <app-card>
        <app-row style="align-items: stretch;">
          <app-col class="donut-group">
            <app-row>
              <app-col>
                <h4>부적합 관리</h4>
              </app-col>
              <app-col></app-col>
              <app-col size="auto">
                <ion-chip class="chip-back">총 33명</ion-chip>
              </app-col>
            </app-row>
            <app-row>
              <app-col style="position: relative;" size="7">
                <div style="width: 100%; position: relative;">
                  <svg class="donut-group" width="100%" height="100%" viewBox="0 0 42 42">
                    <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                    <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ff9041" stroke-width="6"
                      stroke-dasharray="50 50" stroke-dashoffset="25"></circle>
                    <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#44C650" stroke-width="6"
                      stroke-dasharray="20 80" stroke-dashoffset="75"></circle>
                    <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#2F8D38" stroke-width="6"
                      stroke-dasharray="30 70" stroke-dashoffset="55"></circle>
                  </svg>
                  <div class="donut-in-count">
                    33
                  </div>
                  <div class="donut-in-text">
                    총 부적합
                  </div>
                </div>
              </app-col>
              <app-col class="graph-sub" size="4">
                <app-row>
                  <app-col size="auto" style="display: flex; align-items: center;">
                    <div class="circlel-plan"></div>
                    <p class="count-name">부적합 발생</p>
                  </app-col>
                  <app-col size="auto">
                    <p class="count-contant">50</p>
                  </app-col>
                </app-row>
                <app-row>
                  <app-col size="auto" style="display: flex; align-items: center;">
                    <div class="circlel-per"></div>
                    <p class="count-name">조치권고</p>
                  </app-col>
                  <app-col size="auto">
                    <p class="count-contant">50</p>
                  </app-col>
                </app-row>
                <app-row>
                  <app-col size="auto" style="display: flex; align-items: center;">
                    <div class="circlel-per"></div>
                    <p class="count-name">조치완료</p>
                  </app-col>
                  <app-col size="auto">
                    <p class="count-contant">50</p>
                  </app-col>
                </app-row>
              </app-col>
            </app-row>
          </app-col>
          <app-col class="middle-box donut-group">
            <ion-row>
              <app-col>
                <h4>위험등급별 작업 현황</h4>
              </app-col>
              <app-col size="auto">
                <ion-chip class="chip-back">총 113명</ion-chip>
              </app-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div style="position: relative;">
                  <ng-container *ngFor="let item of graphArrCount let i = index">
                    <div class="graph-box">
                      <div class="graph-count">{{ (graphArrCount.length - (i+1)) * 100}}</div>
                      <div class="grach-line"></div>
                    </div>
                  </ng-container>
                </div>
                <div class="graph-rod-group">
                  <ng-container *ngFor="let item of graphArr3 let i = index">
                    <div class="graph-rod-main-2">
                      <div class="graph-rod-tow-risk" [style]="'height:'+item.count/2+'px;'"></div>
                      <div class="risk-name">{{ item.name }}
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
          </app-col>
          <app-col class="middle-box donut-group">
            <app-row>
              <app-col>
                <h4>위험유혈별 작업 현황</h4>
              </app-col>
              <app-col size="auto">
                <ion-chip class="chip-back">총 113명</ion-chip>
              </app-col>
            </app-row>
            <app-row *ngFor="let item of graphArr4 let i = index">
              <app-col size="4" class="risk-type-name">{{ item.name }}</app-col>
              <app-col style="display: flex; align-items: center;">
                <div class="" style="height: 10px; background-color: red; margin-right: 10px; border-radius: 5px;"
                  [style.width]="item.count + '%'"></div>
                <h4>{{item.count}}</h4>
              </app-col>
            </app-row>
          </app-col>
        </app-row>
      </app-card> -->
      </app-col>

      <app-col style="flex: 0 0 300px;">
        <app-card color="white">
          <ion-toolbar class="toolbar-padding" slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col>
                <h4>스마트 안전 장비</h4>
              </app-col>
              <app-col size="auto">
                <app-button fill="translucent" (click)="smartEquipEdit()">수정</app-button>
              </app-col>
            </app-row>
          </ion-toolbar>
          <table style="width: 100%;">
            <tbody>
              <tr>
                <td>
                  <app-img style="width: 70px;" src="/assets/img/monitor/dangerarea.svg"></app-img>
                </td>
                <td class="table-text">
                  <h5 style="text-align: left;">
                    {{ smartEquip_structure.ctgo_machine_serial_name }}
                  </h5>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">보유 대수</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_structure.machine_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">가동 중</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_structure.mmachine_using_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">미가동</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_structure.not_using_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <app-img style="width: 70px;" src="/assets/img/monitor/heavy.svg"></app-img>
                </td>
                <td class="table-text">
                  <h5 style="text-align: left;">
                    {{ smartEquip_crane.ctgo_machine_serial_name }}
                  </h5>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">보유 대수</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_crane.machine_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">가동 중</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_crane.mmachine_using_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">미가동</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_crane.not_using_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <app-img style="width: 70px;" src="/assets/img/monitor/closeness.svg"></app-img>
                </td>
                <td class="table-text">
                  <h5 style="text-align: left;">
                    {{ smartEquip_closeness.ctgo_machine_serial_name }}
                  </h5>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">보유 대수</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_closeness.machine_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">가동 중</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_closeness.mmachine_using_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                  <p>
                    <app-row>
                      <app-col style="text-align: left;">미가동</app-col>
                      <app-col style="text-align: right;">
                        <h4>{{ smartEquip_closeness.mmachine_using_count }}</h4>
                      </app-col>
                    </app-row>
                  </p>
                </td>
              </tr>

            </tbody>
          </table>


        </app-card>
      </app-col>
    </app-row>
  </div>

  <ng-container *mobileShow>
    <div [style.display]="menu === 2 ? 'block' : 'none'">
      <app-card>
        <app-select placeholder="모니터링 할 CCTV를 선택해주세요"></app-select>
        <ion-row style="align-items: flex-start;">
          <app-col>
            <h4>CCTV 설치장소1</h4>
          </app-col>
          <app-col size="auto">
            <app-button fill="translucent">수정</app-button>
          </app-col>
        </ion-row>
        <app-row>
          <app-col style="position: relative;">
            <div style="border: 1px solid; height: 500px; position: relative;">
            </div>
          </app-col>
        </app-row>
      </app-card>
    </div>
  </ng-container>

  <ng-container *mobileHidden>
    <app-row style="align-items: flex-start;" *ngIf="data.monitor === 'CCTV 모니터링'">
      <app-col>
        <app-card color="white">
          <app-row style="align-items: stretch;">
            <app-col class="donut-group">
              <app-row>
                <app-col>
                  <h4>CCTV 설치 장소 1</h4>
                </app-col>
                <app-col></app-col>
                <app-col size="auto">
                  <app-button fill="translucent">수정</app-button>
                </app-col>
              </app-row>
              <app-row>
                <app-col style="position: relative;">
                  <div style="border: 1px solid; height: 500px; position: relative;">
                  </div>
                </app-col>
              </app-row>
            </app-col>

            <app-col class="donut-group">
              <app-row>
                <app-col>
                  <h4>CCTV 설치 장소 2</h4>
                </app-col>
                <app-col></app-col>
                <app-col size="auto">
                  <app-button fill="translucent">수정</app-button>
                </app-col>
              </app-row>
              <app-row>
                <app-col style="position: relative;">
                  <div style="border: 1px solid; height: 500px; position: relative;">
                  </div>
                </app-col>
              </app-row>
            </app-col>
          </app-row>
        </app-card>
      </app-col>
    </app-row>


    <app-row style="align-items: flex-start;" *ngIf="data.monitor === 'CCTV 모니터링'">
      <app-col>
        <app-card color="white">
          <app-row style="align-items: stretch;">
            <app-col class="donut-group">
              <app-row>
                <app-col>
                  <h4>CCTV 설치 장소 3</h4>
                </app-col>
                <app-col></app-col>
                <app-col size="auto">
                  <app-button fill="translucent">수정</app-button>
                </app-col>
              </app-row>
              <app-row>
                <app-col style="position: relative;">
                  <div style="border: 1px solid; height: 500px; position: relative;">
                  </div>
                </app-col>
              </app-row>
            </app-col>

            <app-col class="donut-group">
              <app-row>
                <app-col>
                  <h4>CCTV 설치 장소 4</h4>
                </app-col>
                <app-col></app-col>
                <app-col size="auto">
                  <app-button fill="translucent">수정</app-button>
                </app-col>
              </app-row>
              <app-row>
                <app-col style="position: relative;">
                  <div style="border: 1px solid; height: 500px; position: relative;">
                  </div>
                </app-col>
              </app-row>
            </app-col>
          </app-row>
        </app-card>
      </app-col>
    </app-row>
  </ng-container>

  <ng-container *mobileHidden>
    <app-row *ngIf="data.monitor === '근로자 실시간 위치 모니터링'">
      <app-col>
        <app-card>
          <app-row style="align-items: flex-start;">
            <app-col>
              <app-naver-user-map [(ngModel)]="gpsData.rsMap"></app-naver-user-map>
            </app-col>
            <app-col size="4">
              <ion-toolbar color="light">
                <h5>출역한 근로자 목록 (총 {{ workerInRes?.rsObj?.row_count || 0}}건)</h5>
              </ion-toolbar>
              <app-table>
                <thead>
                  <tr>
                    <th>회사명</th>
                    <th>성명</th>
                    <th>공종</th>
                    <th>근로자 구분</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of workerInRes?.rsMap">
                    <td>{{ item.company_name }}</td>
                    <td>{{ item.user_name }}</td>
                    <td>{{ item.ctgo_construction_name }}</td>
                    <td>{{ item.user_type }}</td>
                  </tr>
                </tbody>
              </app-table>
            </app-col>
          </app-row>
        </app-card>
      </app-col>
    </app-row>
    <!-- <app-row *mobileShow>
      <app-col>
        <app-naver-user-map (change)="test($event)" [(ngModel)]="gpsData.rsMap"></app-naver-user-map>
      </app-col>
    </app-row> -->
  </ng-container>

  <ng-container *mobileShow>
    <div [style.display]="menu === 3 ? 'block' : 'none'">
      <app-card>
        <app-row>
          <app-col>
            <app-button fill="translucent" (click)="realtimeedit()">상세</app-button>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-naver-user-map [(ngModel)]="gpsData.rsMap"></app-naver-user-map>
          </app-col>
        </app-row>
      </app-card>
    </div>
  </ng-container>
</ion-content>