app-img{
    width: 30px;
}
ion-toolbar{
    --padding-top: 12px;
    --padding-bottom: 12px;
}
.weather-temp {
    font-size: 25px;
    font-weight: bold;
}
.ratio {
    font-size: 15px;
    color:var(--ion-color-primary)
}
.title { 
    font-size: 15px;
}
.colstyle{
    align-self: flex-end;
}
.margin-card {
    margin-top: 0;
}
.chip-back{
    background-color: var(--ion-color-light);
    border-radius: 15px;
    font-size: 17px;
}

.donut-group {
    position: relative;
    .donut-in-count {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 40px;
        font-weight: 600;
    }
    .donut-in-text{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: var(--font-size-h4);
        color: #2F8D38;
    }
    .dount-worker{
        height: 10px;
        width: 30%;
        background-color: var(--ion-color-primary);
        position: relative;
    }
    .dount-worker-sub {
        height: 10px;
        width: 100%;
        background-color: var(--ion-color-primary);
        position: absolute;
        opacity: .1;
    }
    .dount-partner {
        height: 10px;
        width: 30%;
        background-color: var(--ion-color-secondary-contrast);
        position: relative;
    }
    .dount-partner-sub {
        height: 10px;
        width: 100%;
        background-color: var(--ion-color-secondary-contrast);
        position: absolute;
        opacity: .1;
    }
}
.graph-box{
    display: flex;
    position: relative;
    padding-left: 30px;
    width: 100%;
}
.graph-count{
    position: absolute;
    top: 40px;
    left: 3px;
    text-align: left;
    width: 25px;
    text-align: end;
}
.grach-line{
    position: relative;
    height: 50px;
    width: 100%; 
    border-bottom: 1px solid var(--ion-color-medium);
}
.middle-box{
    border-left: 3px solid var(--ion-color-light);
    border-right: 3px solid var(--ion-color-light);
}
.border-box{
    // border-left: 1px solid var(--ion-color-light);
    border-right: 3px solid var(--ion-color-light);
}
.graph-rod-group{
    display: flex;
    position: absolute;
    top: -96px;
    left: 40px;
    margin-right: 5px;
    height: 100%;
    width: calc(100% - 35px);
    .graph-rod-main{
        display: flex;
        align-items: flex-end;
        position: relative;
        flex: 1;
        justify-content: center
    }
    .graph-rod-main-2{
        display: flex;
        align-items: flex-end;
        position: relative;
        flex: 1;
        justify-content: center
    }
    .graph-rod-tow-worker{
        position:absolute;
        background-color: var(--ion-color-primary);
        width: 60%;
    }

    .worker-name {
        position: absolute;
        bottom: -25px;
        width: 100%;
        text-align: center;
        font-size: var(--font-size-h5);
        color: var(--ion-color-secondary-contrast);
    }
    .graph-rod-tow-risk{
        position:absolute;
        background-color: var(--ion-color-primary);
        width: 60%;
    }
    .risk-name {
        position: absolute;
        bottom: -25px;
        width: 100%;
        text-align: center;
        font-size: var(--font-size-h5);
        color: var(--ion-color-secondary-contrast);
    }
}
.graph-rod-one {
    width: 15px;
    height: 25px; 
    background-color: #2F8D38;
    margin-right: 5px;
}
.graph-rod-tow {
    width: 15px; 
    height: 50px;
    background-color: var(--ion-color-primary);
}
.rod-name { 
    color: var(--ion-color-secondary-contrast);
    font-size: var(--font-size-h5);
    position: absolute; 
    bottom: -25px; 
    width: 100%; 
    text-align: center;
}
.graph-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .count-contant {
        font-weight: 800;
        color: var(--ion-color-medium);
        font-size: var(--font-size-h4);
    }
    .sub-info {
        display: flex; 
        justify-content: center;
    }
    .circle1 {
        background-color: var(--ion-color-primary);
        width: 20px;
        height: 20px;
        border-radius: 75px;
        text-align: center;
        margin: 0 auto;
        font-size: var(--font-size-h6);
        vertical-align: middle;
        line-height: 150px;
    }
    .circlel-plan{
        background-color:var(--ion-color-success);
        width: 20px;
        height: 20px;
        border-radius: 75px;
        text-align: center;
        margin: 0 auto;
        font-size: var(--font-size-h6);
        vertical-align: middle;
        line-height: 150px;
    }
    .circlel-per{
        background-color: var(--ion-color-secondary-contrast);
        width: 20px;
        height: 20px;
        border-radius: 75px;
        text-align: center;
        margin: 0 auto;
        font-size: var(--font-size-h6);
        vertical-align: middle;
        line-height: 150px;
    }
    .sub-graph{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.table-text{
    font-size: 18px;
    color: var(--ion-color-primary-shade);
    h5{
        margin-top: 10px;
        text-align: left;
    }
}
.table-count{
    width: 30px;
    text-align: center;
    font-size: var( --font-size-h3);
    font-weight: 700;
    color: var(--ion-color-secondary-contrast);
}

.risk-type-name {
    text-align: right;
    font-size: var(--font-size-h4);
    color: var(--ion-color-secondary-contrast);
}
.count-name{
    padding-left: 8px; 
    font-size: var(--font-size-h4);
    color: var(--ion-color-secondary-contrast);
}

app-card:last-child{
    margin-bottom: var(--app-margin);
}

.smart-equip{
    // padding: 12px 12px;

    app-button{
        min-height: 32px;
    }
}

.toolbar-padding{
    --padding-start: 12px!important;
    --padding-end: 12px!important;
}

.graph-row-today-work{
    height: 100%; 

    .col-today-work{
        height: calc(100% - 140px);
        max-height: 500px;
        bottom: -16px;
    }
}
.blinder{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    // background: rgb(128 128 128 / 22%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-h2);
}
.graph-area{
    height: 100%;
    width: 100%;
    .graph-wrap{
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
    
        .graph-line-wrap{
            height: 100%;
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column-reverse;
        }
    
        .bar-flex-box{
            display: flex;
            top: 0;
            position: absolute;
            height: calc(100% + 49px);
            width: 100%;

            .bar-flex-theme{
                flex: 0 30px;
                width: 30px;
            }

            .bar-wrap{
                flex: 1;
                width: 100%;
                display: flex;
                // position: absolute;
                // top: 0;
                // height: calc(100% + 49px);
                justify-content: space-evenly;
    
                .bar-item{
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: center;
    
                    .bar{
                        width: 36px;
                        background: var(--ion-color-primary);
                        position: relative;
                        cursor: pointer;

                        .bar-inner-text{
                            position: absolute;
                            top: -20px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                    .text{
                        height: 50px;
                        padding-top: 26px;
                        font-size: var(--font-size-h6);
                        transform: rotate(-45deg);
                        white-space: nowrap;
                    }
    
                    &.theme{width:26px;}
                }
            }
        }

    }
}


.graph-line-box{
    flex: 1;
    display: flex;
    height: 100%;

    .graph-line{
        position: relative;
        height: 50px;
        width: 100%; 
        border-top: 1px solid var(--ion-color-medium);
        height: 100%;
    }
    .graph-text{
        // position: absolute;
        // top: 40px;
        // left: 3px;
        // text-align: left;
        // width: 25px;
        // text-align: end;
        flex: 0 24px;
        text-align: right;
        margin-right: 4px;
        display: flex;
        align-items: flex-start;
        justify-content: right;
        position: relative;

        .div-text-g{
            position: absolute;
            position: absolute;
            top: -10px;
        }
    }
}


@media screen and (max-width:1350px) {
    app-row{
        flex-direction: column !important;
        app-col{
            padding-left: 0;
            padding-right: 0;
        }
    }
    .border-box{
        border-right: none;
    }
    .table-text {
        h5{
            text-align: center;
            margin-top: 10px;
        }
    }
    .graph-row-today-work{
        height: 300px; 
    
        .col-today-work{
            height: 215px;
            max-height: 500px;
        }
    }
    .bar-item{
        width: 30px;
    }
    .bar-flex-box{
        .bar-flex-theme{
            flex: 0 22px!important;
            width: 22px!important;
        }
    }
}