.weather-temp {
    font-size: 25px;
    font-weight: bold;
}
.ratio {
    font-size: 15px;
    color:var(--ion-color-primary)
}
.title { 
    font-size: 15px;
}
.colstyle{
    align-self: flex-end;
}
.margin-card {
    margin-top: 0;
}
.chip-back{
    background-color: var(--ion-color-light);
    border-radius: 15px;
    font-size: 17px;
}

.donut-group {
    position: relative;
    .donut-in-count {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 40px;
        font-weight: 600;
    }
    .donut-in-text{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
        color: #2F8D38;
    }
    .dount-worker{
        height: 10px;
        width: 30%;
        background-color: var(--ion-color-primary);
        position: relative;
    }
    .dount-worker-sub {
        height: 10px;
        width: 100%;
        background-color: var(--ion-color-primary);
        position: absolute;
        opacity: .1;
    }
    .dount-partner {
        height: 10px;
        width: 30%;
        background-color: var(--ion-color-secondary-contrast);
        position: relative;
    }
    .dount-partner-sub {
        height: 10px;
        width: 100%;
        background-color: var(--ion-color-secondary-contrast);
        position: absolute;
        opacity: .1;
    }
}
.graph-box{
    display: flex;
    position: relative;
    padding-left: 30px;
    width: 100%;
}
.graph-count{
    position: absolute;
    top: 40px;
    left: 3px;
    text-align: left;
    width: 25px;
    text-align: end;
}
.grach-line{
    position: relative;
    height: 50px;
    width: 100%; 
    border-bottom: 1px solid #9CB3BE;
}
.middle-box{
    border-left: 3px solid var(--ion-color-light);
    border-right: 3px solid var(--ion-color-light);
}
.graph-rod-group{
    display: flex;
    position: absolute;
    top: -5px;
    left: 40px;
    margin-right: 5px;
    height: 100%;
    width: calc(100% - 35px);
    .graph-rod-main{
        display: flex;
        align-items: flex-end;
        position: relative;
        flex: 1;
        justify-content: center
    }
    .graph-rod-main-2{
        display: flex;
        align-items: flex-end;
        position: relative;
        flex: 1;
        justify-content: center
    }
    .graph-rod-tow-worker{
        position:absolute;
        background-color: var(--ion-color-primary);
        width: 60%;
    }

    .worker-name {
        position: absolute;
        bottom: -25px;
        width: 100%;
        text-align: center;
        font-size: var(--font-size-h5);
        color: var(--ion-color-secondary-contrast);
    }
    .graph-rod-tow-risk{
        position:absolute;
        background-color: var(--ion-color-primary);
        width: 60%;
    }
    .risk-name {
        position: absolute;
        bottom: -25px;
        width: 100%;
        text-align: center;
        font-size: 17px;
        font-size: var(--font-size-h5);
        color: var(--ion-color-secondary-contrast);
    }
    .graph-rod-main:hover{
     background-color: var(--ion-color-secondary);   
    }
}
.graph-rod-one {
    width: 15px;
    height: 25px; 
    background-color: #2F8D38;
    margin-right: 5px;
}
.graph-rod-tow {
    width: 15px; 
    height: 50px;
    background-color: var(--ion-color-primary);
}
.rod-name { 
    color: var(--ion-color-secondary-contrast);
    font-size: var(--font-size-h5);
    position: absolute; 
    bottom: -25px; 
    width: 100%; 
    text-align: center;
}
.graph-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .count-contant {
        font-weight: 800;
        color: var(--ion-color-medium);
        font-size: 20px;
    }
    .sub-info {
        display: flex; 
        justify-content: center;
    }
    .circle1 {
        background-color: var(--ion-color-primary);
        width: 20px;
        height: 20px;
        border-radius: 75px;
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
        vertical-align: middle;
        line-height: 150px;
    }
    .circlel-plan{
        background-color:var(--ion-color-success);
        width: 20px;
        height: 20px;
        border-radius: 75px;
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
        vertical-align: middle;
        line-height: 150px;
    }
    .circlel-per{
        background-color: var(--ion-color-secondary-contrast);
        width: 20px;
        height: 20px;
        border-radius: 75px;
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
        vertical-align: middle;
        line-height: 150px;
    }
    .sub-graph{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.table-text{
    text-align: left !important;
    font-size: 18px;
    color: var(--ion-color-secondary-contrast);
}
.table-count{
    width: 30px;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    color: var(--ion-color-secondary-contrast);
}

.risk-type-name {
    text-align: right;
    font-size: 17px;
    color: var(--ion-color-secondary-contrast);
}
.count-name{
    padding-left: 8px; 
    font-size: 20px;
    color: var(--ion-color-secondary-contrast);
}