ion-content {
    --padding-top: 16px;
}
app-row {
    align-items: stretch;
}

@media screen and (max-width: 1199px) {
    .container {
        max-width: 768px;
        margin: auto;
    }
    .mobileBreak {
        display: block;
        >app-col {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
    
    app-card {
        height: 100% !important;
    }
}

.graph-card {
    height: 328px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.graph-area {
    display: flex;
    flex-direction: column;
    height: 192px;
    position: relative;

    .graph-line-wrap {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }

    .graph-line-box {
        flex: 1;
        display: flex;
        height: 100%;
    
        .graph-line{
            position: relative;
            height: 50px;
            width: 100%; 
            border-top: 1px solid var(--ion-color-medium);
            height: 100%;
        }
        .graph-text{
            flex: 0 24px;
            text-align: right;
            margin-right: 4px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;
    
            .div-text-g{
                position: absolute;
                position: absolute;
                top: -10px;
            }
        }
    }

    .bar-flex-box {
        display: flex;
        top: 0;
        position: absolute;
        height: calc(100% + 49px);
        width: 100%;

        .bar-flex-theme{
            flex: 0 30px;
            width: 30px;
        }

        .bar-wrap{
            flex: 1;
            width: 100%;
            display: flex;
            // position: absolute;
            // top: 0;
            // height: calc(100% + 49px);
            justify-content: space-evenly;

            .bar-item{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;

                .bar{
                    width: 36px;
                    background: var(--ion-color-primary);
                    position: relative;
                    cursor: pointer;

                    .bar-inner-text{
                        position: absolute;
                        top: -20px;
                        width: 100%;
                        text-align: center;
                    }
                }
                .text{
                    height: 50px;
                    padding-top: 26px;
                    font-size: var(--font-size-h6);
                    transform: rotate(-45deg);
                    white-space: nowrap;
                }

                &.theme{width:26px;}
            }
        }
    }
}

.donut-group {
    position: relative;
    height: 254px;
    margin-left: 20px;
    .donut {
        height: 100%;
    }
    .donut-in-count {
        position: absolute;
        top: 42%;
        left: 48%;
        transform: translate(-50%,-50%);
        font-size: 40px;
        font-weight: 600;
    }
    .donut-in-text {
        position: absolute;
        top: 60%;
        left: 48%;
        transform: translate(-50%,-50%);
        font-size: var(--font-size-h4);
        color: #2F8D38;
    }
}

.donut-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 8px;
    .circle-plan {
        background-color:var(--ion-color-monitor-warning);
        width: 20px;
        height: 20px;
        border-radius: 75px;
        text-align: center;
        margin: 0 auto;
        font-size: var(--font-size-h6);
        vertical-align: middle;
        line-height: 150px;
    }
    .circle-per {
        background-color: var(--ion-color-primary);
        width: 20px;
        height: 20px;
        border-radius: 75px;
        text-align: center;
        margin: 0 auto;
        font-size: var(--font-size-h6);
        vertical-align: middle;
        line-height: 150px;
    }
    .count-name{
        padding-left: 8px; 
        font-size: var(--font-size-h4);
        color: var(--ion-color-secondary-contrast);
    }
    .count-contant {
        font-weight: 800;
        color: var(--ion-color-medium);
        font-size: var(--font-size-h4);
    }
}

.risk-type-name {
    margin-left: 15px;
    text-align: left;
    font-size: 16px;
    color: var(--ion-color-secondary-contrast);
}

.worker-item {
    align-items: center;
}
.worker-state { 
    height: 70px; 
    margin-right: 10px;
    border-radius: 2px;
}
.danger-state { 
    height: 10px; 
    margin-right: 10px;
    border-radius: 5px;
}

.toolbar-padding {
    --padding-start: 12px !important;
    --padding-end: 12px !important;
}

.table-text {
    font-size: 18px;
    color: var(--ion-color-primary-shade);
    h5 {
        margin-top: 10px;
        text-align: left;
    }
}