<!-- pc -->
<ng-container *mobileHidden>
  <app-header-admin></app-header-admin>
  <ion-content>
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto"><h5>필터</h5></app-col>
              <app-col size="auto"><app-button fill="translucent" style="width: 100px;" (click)="get(0)">검색</app-button></app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
                <app-select-scene [(ngModel)]="form.project_id"></app-select-scene>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-contractor [project_id]="form.project_id" [(ngModel)]="form.master_company_id" [allState]="permission.master_company_all"></app-select-contractor>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-contractor-company [project_id]="form.project_id" [master_company_id]="form.master_company_id" [(ngModel)]="form.company_id" [all]="true"></app-select-contractor-company>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-approval-type [(ngModel)]="form.approval_cnt_answer"></app-select-approval-type>
              </td>
            </tr>
            <tr>
              <td>
                <app-input-group label="작성일">
                  <app-calendar [(ngModel)]="form.start_date" [max]="form.end_date"></app-calendar>
                  ~
                  <app-calendar [(ngModel)]="form.end_date" [max]="form.start_date"></app-calendar>
                </app-input-group>
              </td>
            </tr>
            <tr>
              <td>
                <app-input label="검색어" placeholder="검색어를 입력해 주세요." [(ngModel)]="form.search_text"></app-input>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
      <app-col>

        <ion-toolbar color="white">
          <h5>진행/완료/반려 목록 (총 {{res?.rsObj?.row_count || 0 }}건)</h5>
        </ion-toolbar>
        <app-table>
          <thead>
            <tr>
              <th style="width: 48px;">No</th>
              <th>서식명</th>
              <th>업체명</th>
              <th>작성자</th>
              <th>작성일</th>
              <th>결재일</th>
              <th>결재상태</th>
            </tr>
          </thead>
          <tbody>
            <tr class="button"  *ngFor="let item of res?.rsMap; let i = index;" (click)="detail(item)">
              <td>{{ item.index }}</td>
              <td>{{ item.ctgo_approval_module_name }}</td>
              <td>{{ item.company_name }}</td>
              <td>{{ item.user_name }}</td>
              <td>{{ item.create_date }}</td>
              <td>{{ item.max_approval_date }}</td>
              <td>{{ item.approval_cnt_answer }}</td>
            </tr>
          </tbody>
        </app-table>

        <app-pager [totalCount]="res?.rsObj?.row_count" [limitNo]="form.limit_no" (pagerChange)="get($event)"></app-pager>

      </app-col>
    </app-row>
  </ion-content>
</ng-container>

<!-- 모바일 -->
<ng-container *mobileShow>
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>진행/완료/반려</ion-title>
      <ion-buttons slot="end">
        <app-menu-button></app-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="white">
      <app-input-group>
        <app-select-scene [readonly]="true" [(ngModel)]="form.project_id"></app-select-scene>
        <app-button (click)="openDetailSearch()">{{ languagePack.getText('상세검색') }}</app-button>
      </app-input-group>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <app-card *ngFor="let item of res?.rsMap; let i = index;" (click)="detail(item)">
      <app-row style="align-items: flex-start;">
        <app-col>
          <h5>{{ item.ctgo_approval_module_name }}</h5>
        </app-col>
        <app-col size="auto">
          <app-chip-approval-answer [approval_cnt_answer]="item.approval_cnt_answer"></app-chip-approval-answer>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <p>{{ item.company_name }}/{{ item.user_name }}</p>
          <p>{{ languagePack.getText('작성일') }}: {{ item.create_date }}</p>
        </app-col>
      </app-row>
    </app-card>

    <ion-infinite-scroll threshold="100px" id="infinite-scroll" (ionInfinite)="getMobile($event)">
      <ion-infinite-scroll-content loading-spinner="dots">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-content>



