<ng-container *mobileHidden>
  <app-header-admin></app-header-admin>
  <ion-content>
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto">
                <h5>필터</h5>
              </app-col>
              <app-col size="auto">
                <app-button fill="translucent" style="width: 100px;" (click)="get(0)">검색</app-button>
              </app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
                <app-select-scene [(ngModel)]="form.project_id"></app-select-scene>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-company [project_id]="form.project_id" [(ngModel)]="form.company_id"></app-select-company>
              </td>
            </tr>
            <tr>
              <td>
                <app-select label="MSDS 구분" [(ngModel)]="form.msds_types">
                  <app-select-option type="all" [value]="[]">전체</app-select-option>
                  <app-select-option value="폭발성 물질">폭발성 물질</app-select-option>
                  <app-select-option value="인화성 가스">인화성 가스</app-select-option>
                  <app-select-option value="인화성 액체">인화성 액체</app-select-option>
                  <app-select-option value="인화성 고체">인화성 고체</app-select-option>
                  <app-select-option value="에어로졸">에어로졸</app-select-option>
                  <app-select-option value="물반응성 물질">물반응성 물질</app-select-option>
                  <app-select-option value="산화성 가스">산화성 가스</app-select-option>
                  <app-select-option value="산화성 액체">산화성 액체</app-select-option>
                  <app-select-option value="산화성 고체">산화성 고체</app-select-option>
                  <app-select-option value="고압가스">고압가스</app-select-option>
                  <app-select-option value="자기반응성 물질">자기반응성 물질</app-select-option>
                  <app-select-option value="자연발화성 액체">자연발화성 액체</app-select-option>
                  <app-select-option value="자연발화성 고체">자연발화성 고체</app-select-option>
                  <app-select-option value="심한 눈 손상성 또는 자극성 물질">심한 눈 손상성 또는 자극성 물질</app-select-option>
                  <app-select-option value="호흡기 과민성 물질">호흡기 과민성 물질</app-select-option>
                  <app-select-option value="피부 과민성 물질">피부 과민성 물질</app-select-option>
                  <app-select-option value="발암성물질">발암성물질</app-select-option>
                  <app-select-option value="생식세포 변이원성 물질">생식세포 변이원성 물질</app-select-option>
                  <app-select-option value="생식독성 물질">생식독성 물질</app-select-option>
                  <app-select-option value="특정표적장기 독성 물질(1회 노출)">특정표적장기 독성 물질(1회 노출)</app-select-option>
                  <app-select-option value="특정표적장기 독성 물질(반복 노출)">특정표적장기 독성 물질(반복 노출)</app-select-option>
                  <app-select-option value="흡인유해성 물질">흡인유해성 물질</app-select-option>
                  <app-select-option value="수생환경 유해성 물질">수생환경 유해성 물질</app-select-option>
                  <app-select-option value="오존층 유해성 물질">오존층 유해성 물질</app-select-option>
                </app-select>
              </td>
            </tr>
            <tr>
              <td>
                <app-input-group label="등록일">
                  <app-calendar name="start_date" [(ngModel)]="form.start_date" [max]="form.end_date"></app-calendar>
                  ~
                  <app-calendar name="end_date" [(ngModel)]="form.end_date" [min]="form.start_date"></app-calendar>
                </app-input-group>
              </td>
            </tr>
            <tr>
              <td>
                <app-input label="검색어" [(ngModel)]="form.search_text" placeholder="검색어를 입력해 주세요."></app-input>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
      <app-col>
        <ion-toolbar color="white" *ngIf="user.userData.belong_data.company_contract_type === '협력사' 
        || user.userData.belong_data.company_contract_type === '원청사'">
          <ion-buttons slot="start">
            <app-button fill="translucent" (click)="edit()">등록</app-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="white">
          <h5>MSDS 목록 (총 {{res?.rsObj?.row_count || 0 }}건)</h5>
        </ion-toolbar>
  
        <app-check-group>
          <app-table>
            <thead>
              <tr>
                <th style="width: 40px;" *ngIf="user.userData.belong_data.company_contract_type === 'LH' 
                || user.userData.belong_data.company_contract_type === '원청사'">고정</th>
                <th>MSDS 구분</th>
                <th>제목</th>
                <th>업체명</th>
                <th>작성자</th>
                <th>작성일</th>
                <th style="width: 50px;">조회수</th>
              </tr>
            </thead>
            <tbody>
              <tr class="button" *ngFor="let item of res?.rsMap" (click)="edit(item.msds_id)">
                <td (click)="favoritesCheck($event, item)"  *ngIf="user.userData.belong_data.company_contract_type === 'LH' 
                || user.userData.belong_data.company_contract_type === '원청사'">
                  <app-button size="small" shape="square" fill="translucent"
                    [color]="item.favorites_state ? 'star' : 'medium'">
                    <ion-icon name="star"></ion-icon>
                  </app-button>
                </td>
                <td>{{ item.msds_type }}</td>
                <td style="text-align: left;">{{ item.msds_title }}</td>
                <td>{{ item.company_name }}</td>
                <td>{{ item.user_name }}</td>
                <td>{{ item.create_date }}</td>
                <td>{{ item.hit_count }}</td>
              </tr>
            </tbody>
          </app-table>
        </app-check-group>

        <app-pager [totalCount]="res?.rsObj.row_count" [limitNo]="form.limit_no" (pagerChange)="get($event)"></app-pager>

      </app-col>
    </app-row>
  </ion-content>
</ng-container>
<!--  -->
<ng-container *mobileShow>
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>MSDS</ion-title>
      <ion-buttons slot="end">
        <app-menu-button></app-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="white">
      <app-input-group>
        <app-select-scene name="project_id" [(ngModel)]="form.project_id" [readonly]="true"></app-select-scene>
        <app-button (click)="detailSearch()">상세검색</app-button>
      </app-input-group>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-card *ngFor="let item of res?.rsMap" (click)="edit(item.msds_id)">
      <app-row style="align-items: flex-start;">
        <app-col>
          <p>{{ item.company_name }}/{{ item.user_name }}</p>
          <p>작성일: {{ item.create_date }}</p>
          <ion-badge color="success">{{ item.msds_type }}</ion-badge>
        </app-col>
      </app-row>
    </app-card>
    <ion-infinite-scroll threshold="100px" id="infinite-scroll" (ionInfinite)="getMobile($event)">
      <ion-infinite-scroll-content loading-spinner="dots">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ng-container>