<ion-header>

  <ion-toolbar color="white">
    <app-row class="profile-row">
      <app-col size="auto">
        <app-avatar class="profile" [src]="user.userData.user_profile"></app-avatar>
      </app-col>
      <app-col size="auto">
        <h4>{{ user.userData.user_name }}님</h4>
      </app-col>
      <app-col size="auto">
        <app-button fill="translucent" size="small" (click)="userLogout()">로그아웃</app-button>
      </app-col>
      <app-col></app-col>
      <app-col size="auto">
        <app-dismiss-button></app-dismiss-button>
      </app-col>
    </app-row>
  </ion-toolbar>

  <div class="top-buttons">
    
      
    <app-button class="top-button" shape="square" style="margin-left: 20px;" (click)="navMypage()">
      <app-img slot="top" src="assets/img/menu/mypage-dark.svg"></app-img>
      <h6>{{ languagePack.getText('마이페이지') }}</h6>
    </app-button>


    <app-button class="top-button" shape="square" (click)="QRscanner()">
      <app-img slot="top" src="assets/img/menu/qr.svg"></app-img>
      <h6>QR/NFC</h6>
    </app-button>


    <app-button class="top-button" shape="square" (click)="languageChange()">
      <app-img slot="top" src="assets/img/menu/language.svg"></app-img>
      <h6>{{ languagePack.getText('언어 변환') }}</h6>
    </app-button>

  
    <app-button class="top-button" shape="square" style="margin-right: 20px;" (click)="router('설정'); menuClose()">
      <app-img slot="top" src="assets/img/menu/setting.svg"></app-img>
      <h6>{{ languagePack.getText('설정') }}</h6>
    </app-button>
     
  </div>
</ion-header>

<ion-content>
  <app-row class="side-menu-tab">
    <app-col class="left">
      <ion-list>
        <ng-container *ngFor="let menu of menuList">

          <ion-item *ngIf="!menu.permission || menu.permission()" lines="none" button [class.selected]="menuSelected === menu" (click)="menuSelected = menu">{{ menu.title }}</ion-item>

        </ng-container>
      </ion-list>
    </app-col>
    <app-col class="right"> 
      <ul>
        <ion-list-header>
          <app-img [src]="menuSelected.img"></app-img>
          {{ languagePack.getText(menuSelected.title) }}
        </ion-list-header>

        <ng-container *ngFor="let subMenu of menuSelected?.subMenuList">
          <ng-container *ngIf="!subMenu.permission || subMenu.permission()">

            <ion-item 
            [routerLink]="subMenu.link"
            [queryParams]="subMenu.params" 
            [style.opacity]="subMenu.link ? 1 : 0.5"
            (click)="subMenu.toggle = !subMenu.toggle; subMenu.link ? menuClose() : notReady()">{{ languagePack.getText(subMenu.title) }}</ion-item>

            <!-- 현재 third menu list -->
            <!-- <ng-container *ngIf="subMenu.toggle">
              <ion-item *ngFor="let thirdMenu of subMenu.thirdMenuList" [routerLink]="thirdMenu.link || null" (click)="menuClose()" style="padding-left: 30px;">
                {{ thirdMenu.title }}
              </ion-item>
            </ng-container> -->

          </ng-container>
        </ng-container> 

      </ul>
    </app-col>
  </app-row>
  <hr slot="fixed">
</ion-content>
 