<ion-header>
  <ion-toolbar color="white">
    <app-row class="profile-row">
      <app-col size="auto">
        <app-avatar class="profile"></app-avatar>
      </app-col>
      <app-col size="auto">
        <h3>홍길동님</h3>
      </app-col>
      <app-col size="auto">
        <app-button fill="translucent" size="small">로그아웃</app-button>
      </app-col>
      <app-col></app-col>
      <app-col size="auto">
        <app-button fill="clear" shape="square">
          <app-img name="close"></app-img>
        </app-button>
      </app-col>
    </app-row>
  </ion-toolbar>
  <div class="top-buttons">
    <app-row>
      <app-col></app-col>
      <app-col size="auto">
        <app-button class="top-button" shape="square">
          <app-img slot="top" src="assets/img/mypage.svg"></app-img>
          <h6>마이페이지</h6>
        </app-button>
      </app-col>
      <app-col size="auto">
        <app-button class="top-button" shape="square">
          <app-img slot="top" src="assets/img/language.svg"></app-img>
          <h6>언어 변환</h6>
        </app-button>
      </app-col>
      <app-col size="auto">
        <app-button class="top-button" shape="square">
          <app-img slot="top" src="assets/img/setting.svg"></app-img>
          <h6>설정</h6>
        </app-button>
      </app-col>
    </app-row>
  </div>
</ion-header>

<ion-content>
  <app-row class="side-menu-tab">
    <app-col class="left">
      <ion-list>
        <ion-item lines="none" button *ngFor="let menu of menuList" [class.selected]="menuSelected === menu" (click)="menuSelected = menu">{{ menu.title }}</ion-item>
      </ion-list>
    </app-col>
    <app-col class="right"> 
      <ul>
        <ion-list-header><app-img [src]="menuSelected.src"></app-img>{{ menuSelected.title }}</ion-list-header> 
        <ion-item *ngFor="let subMenu of menuSelected.subMenuList" 
        [routerLink]="subMenu.link"
        [queryParams]="subMenu.params">{{ subMenu.title }}</ion-item>
      </ul>
    </app-col>
  </app-row>
  <hr slot="fixed">
</ion-content>
 