<ion-header>
  <ion-toolbar color="white">
    <ion-title>{{ languagePack.getText('가입 완료') }}</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-container size="small">
    <div class="circle-check">
      <app-img name="check"></app-img>
    </div>
    <h4>{{ languagePack.getText('회원 가입 완료') }}</h4>
    <p>관리자의 승인 후 가입하신 휴대폰으로<br/> 승인문자를 보내드립니다. 감사합니다.</p>
    <div style="text-align: center; margin-top: 28px;">
      <app-button style="width: 148px" (click)="dismiss()">{{ languagePack.getText('확인') }}</app-button>
    </div>
  </app-container>
</ion-content>
