ion-content::part(scroll) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.circle-check {
    background: var(--ion-color-primary-translucent);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    app-img {
        width: 50px;
    }
}