<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
    <ion-title>NFC 스캔</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-button (click)="qrChange()">QR전환</app-button>
  <app-card style="background-color: var(--ion-color-medium-translucent);">
    <app-row>
      <app-col>
        <app-img src="/assets/img/menu/nfc.svg"></app-img>
      </app-col>
    </app-row>
    <app-line></app-line>
    <app-row>
      <app-col>
        <h5>NFC를 근로자에게 인식 시켜주세요</h5>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button *ngIf="ios" (click)="nfcScan()">
    ios 태깅 버튼
  </app-button> 
</app-button-footer>
