<ion-header>
  <ion-toolbar color="white">
    <ion-title>건설기계 검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input name="search_text" label="건설기계 구분" placeholder="건설기계명을 검색하세요" [(ngModel)]="form.search_text" (buttonClick)="getMachinery()">
      <app-img name="search"></app-img>
    </app-input>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card *ngIf="all" name="project_info" [button]="true" [color]="allState ? 'secondary' : 'white'" (click)="allState = true; selectedItem = null">
    <app-row>
      <app-col>
        <h5>전체</h5>
      </app-col>
    </app-row>
  </app-card>
  <app-card name="project_info" *ngFor="let item of res?.rsMap" [button]="true" [color]="isSelectedItem(item) ? 'secondary' : 'white'" (click)="selectItem(item)">
    <app-row>
      <app-col size="auto">
        <h5>{{ item.ctgo_machinery_name }}</h5>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <div slot="top" class="selected-list" *ngIf="multiple">
    <ion-chip *ngFor="let item of selectedItemList; let i = index;" color="primary" (click)="selectedItemList.splice(i, 1)">
      {{ item.ctgo_machinery_name }}
      <ion-icon name="close"></ion-icon>
    </ion-chip>
  </div>
  <app-button name="submit" (click)="submit()">적용</app-button>
</app-button-footer>