<ion-header>
  <ion-toolbar color="white">
    <app-row>
      <app-col>
        <h4>건설기계 검색</h4>
      </app-col>
      <app-col></app-col>
      <app-col size="auto">
        <app-button fill="clear" shape="square">
          <app-img name="close"></app-img>
        </app-button>
      </app-col>
    </app-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-row>
    <app-col>
      <app-input name="with img" label="검색어" placeholder="검색어를 입력하세요">
        <app-img name="search"></app-img>
      </app-input>
    </app-col>
  </app-row>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>불도저</h5> 
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>굴삭기</h5>
        
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>크레인</h5>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>타워크레인</h5>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>롤러</h5>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button>취소</app-button>
  <app-button>적용</app-button>
</app-button-footer>