<ion-header>
  <ion-toolbar color="white">
    <ion-title>밀폐 환경 정보 상세</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4>밀폐 공간 정보</h4>
  <app-row mobileBreak>
    <app-col>
      <app-select-scene name="project_id" [required]="true" [disabled]="true" [(ngModel)]="project_id">
      </app-select-scene>
      <!-- <app-select-scene name="project_id"  [required]="true" [disabled]="updateStatus" [(ngModel)]="form.project_id"></app-select-scene> -->
    </app-col>
    <app-col>
      <app-select-contractor [multiple]="false" name="master_company_id" [required]="true" [project_id]="this.project_id"
        [disabled]="updateStatus || user.userData.user_type === 'COMPANY'" [(ngModel)]="this.master_company_id">
      </app-select-contractor>
    </app-col>
    <app-col>
      <app-input label="등록장소" [(ngModel)]="this.area_risk_name" name="area_risk_name" [readonly]="true" [required]="true"
        [disabled]="true"></app-input>
    </app-col>
    <!-- <app-col>
      <app-input label="성명" [(ngModel)]="userName" name="userName" [readonly]="true" [required]="true"
        [disabled]="true"></app-input>
    </app-col> -->
    <app-col>
      <app-calendar label="날짜" [(ngModel)]="form.cnt_date" name="cnt_date" [required]="true" (change)="get()">
      </app-calendar>
    </app-col>
  </app-row>
  <!-- <app-row mobileBreak>

    <app-col>
    </app-col>
  </app-row> -->
  <h6></h6>
  <app-row style="justify-content: space-between">
    <app-col size="auto">
      <h4>상세 내역</h4>
    </app-col>
    <app-row style="justify-content: end; width: fit-content">
      <span>기준치 : 산소 : 19.5~23.5 % / 이산화탄소 : 1.5% 미만 / 일산화탄소 : 30PPM 미만 / 황화수소 10PPM 미만</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <app-circle [color]="'#0e0'">&nbsp;</app-circle>
      <span>&nbsp;: 정상&nbsp;&nbsp;</span>
      <app-circle [color]="'orange'">&nbsp;</app-circle>
      <span>&nbsp;: 주의&nbsp;&nbsp;</span>
      <app-circle [color]="'red'">&nbsp;</app-circle>
      <span>&nbsp;: 경고</span>
    </app-row>
  </app-row>


  <app-table>
    <thead>
      <tr>
        <th rowspan="2">측정시간</th>
        <th colspan="2">산소</th>
        <th colspan="2">일산화탄소</th>
        <th colspan="2">이산화탄소</th>
        <th colspan="2">황화수소</th>
      </tr>
      <tr>
        <th>측정수치</th>
        <th>이상유무</th>
        <th>측정수치</th>
        <th>이상유무</th>
        <th>측정수치</th>
        <th>이상유무</th>
        <th>측정수치</th>
        <th>이상유무</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of res?.rsMap let i = index">
        <td>{{ item.colt_dt | date:'yyyy-MM-dd EEE HH:mm:ss' }}</td>
        <td>{{item.o2_meas}}%</td>       
        <td [ngSwitch]="item.o2_alarm">
          <app-circle *ngSwitchCase="'정상'" [color]="'#0e0'">
            &nbsp;
          </app-circle>
          <app-circle *ngSwitchCase="'주의'" [color]="'orange'">
            &nbsp;
          </app-circle>
          <app-circle *ngSwitchCase="'경고'" [color]="'red'">
            &nbsp;
          </app-circle>
        </td>
        <td>{{item.co_meas}}PPM</td>
        <td [ngSwitch]="item.co_alarm">
          <app-circle *ngSwitchCase="'정상'" [color]="'#0e0'">
            &nbsp;
          </app-circle>
          <app-circle *ngSwitchCase="'주의'" [color]="'orange'">
            &nbsp;
          </app-circle>
          <app-circle *ngSwitchCase="'경고'" [color]="'red'">
            &nbsp;
          </app-circle>
        </td>
        <td>{{item.co2_meas}}%</td>
        <td [ngSwitch]="item.co2_alarm">
          <app-circle *ngSwitchCase="'정상'" [color]="'#0e0'">
            &nbsp;
          </app-circle>
          <app-circle *ngSwitchCase="'주의'" [color]="'orange'">
            &nbsp;
          </app-circle>
          <app-circle *ngSwitchCase="'경고'" [color]="'red'">
            &nbsp;
          </app-circle>
        </td>
        <td>{{item.h2s_meas}}PPM</td>
        <td [ngSwitch]="item.h2s_alarm">
          <app-circle *ngSwitchCase="'정상'" [color]="'#0e0'">
            &nbsp;
          </app-circle>
          <app-circle *ngSwitchCase="'주의'" [color]="'orange'">
            &nbsp;
          </app-circle>
          <app-circle *ngSwitchCase="'경고'" [color]="'red'">
            &nbsp;
          </app-circle>
        </td>
      </tr>
    </tbody>
  </app-table>

</ion-content>
<app-pager [totalCount]="res?.rsObj.row_count" [limitNo]="form.limit_no" (pagerChange)="get($event)">
</app-pager>
<app-button-footer *ngIf="serial_no">
  <app-button fill="default" (click)="close()">닫기</app-button>
</app-button-footer>