<ion-header>
  <ion-toolbar color="white">
    <ion-title>현장{{title}}</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4>현장 개요</h4>
  <app-card>
    <app-row mobileBreak style="border-bottom: 1px solid var(--ion-color-step-100);">
      <app-col>
        <app-input (click)="organizationSel()" [(ngModel)]="organization.name" [readonly]="true" [required]="true" label="조직기구">
          <app-img name="search"></app-img>
        </app-input>
      </app-col>
      <app-col>
        <app-select-scene [(ngModel)]="form.project_id"></app-select-scene>
      </app-col>
    </app-row>
    <app-row mobileBreak>
      <app-col>
        <app-row>
          <app-col>
            <app-select-contractor [(ngModel)]="contractor_id"></app-select-contractor>
          </app-col>
        </app-row>
      </app-col>
      <app-col>
        <app-row>
          <app-col>
            <app-input (click)="supervisionSel()" [value]="form.supervision_name"  label="감리사" [readonly]="true">
              <app-img name="search"></app-img>
            </app-input>
          </app-col>
        </app-row>
      </app-col>
    </app-row>
    <app-row mobileBreak>
      <app-col style="display: flex;align-items: baseline;">
        <app-calendar [(ngModel)]="form.contract_start_date" style="width: 100%;"></app-calendar>
        <span>&nbsp;~&nbsp;</span>
        <app-calendar [(ngModel)]="form.contract_end_date" style="width: 100%;"></app-calendar>
      </app-col>
      <app-col>
        <app-input [(ngModel)]="form.construction_amount" label="공사금액"></app-input>
      </app-col>
    </app-row>
    <app-row mobileBreak>
      <app-col>
        <app-select [(ngModel)]="form.ctgo_business_field_name" label="사업분야">
          <app-select-option value="단지개발">단지개발</app-select-option>
          <app-select-option value="아파트">아파트</app-select-option>
          <app-select-option value="교량 및 도로">교량 및 도로</app-select-option>
          <app-select-option value="터널">터널</app-select-option>
        </app-select>
      </app-col>
      <app-col>
        <app-input [(ngModel)]="form.construction_content" label="공사내용"></app-input>
      </app-col>
    </app-row>
    <app-row mobileBreak>
      <app-col>
        <app-input [readonly]="true" [(ngModel)]="form.project_address" (click)="address()" label="주소"></app-input>
      </app-col>
      <app-col>
        <app-input [(ngModel)]="form.gps_coordinate_data"
         [value]="project_id ? form.gps_state_con:form.add_gps_state_con" 
         [readonly]="true" (click)="project_area_set()" label="현장 영역"></app-input>
      </app-col>
    </app-row>
  </app-card>

  <app-card>
    <app-row style="align-items: flex-start;">
      <app-col>
        <ion-toolbar slot="top" color="white">
          <app-row>
            <app-col>
              <h5>조감도</h5>
            </app-col>
            <app-col size="auto">
              <app-button>추가
                <app-file name="input" view_type="BIRDSEYE"
                [(ngModel)]="form.project_file_data"
                [file]="form.file"
                [file_json]="form.file_json"
                ></app-file>
              </app-button>
            </app-col>
          </app-row>
        </ion-toolbar>
        <app-table>
          <tr *ngFor="let item of form.project_file_data let i = index">
            <td *ngIf="item.view_type==='BIRDSEYE'">
              <app-row>
                <app-col>
                  <a [href]="item.full_url" target="_blank" [download]="item.file_name">
                    <ion-icon name="save-outline"></ion-icon>
                    {{ item.file_name }}
                  </a>
                </app-col>
              </app-row>
              <ion-row
              *ngIf="item.content_type.startsWith('image')">
                <ion-col>
                  <div class="image-detail">이미지 미리보기</div>
                  <app-img class="image-class" [src]="item.full_url"></app-img>
                </ion-col>
              </ion-row>
            </td>
          </tr>
        </app-table>
      </app-col>
      <app-col>
        <ion-toolbar slot="top" color="white">
          <app-row>
            <app-col>
              <h5>조직도</h5>
            </app-col>
            <app-col size="auto">
              <app-button>추가
                <app-file name="input" view_type="NOTICE"
                [(ngModel)]="form.project_file_data"
                [file]="form.file"
                [file_json]="form.file_json"
                ></app-file>
              </app-button>
            </app-col>
          </app-row>
        </ion-toolbar>
        <app-table>
          <tr *ngFor="let item of form.project_file_data let i = index">
            <td *ngIf="item.view_type==='FLOOR'">
              <app-row>
                <app-col>
                  <a [href]="item.full_url" target="_blank" [download]="item.file_name">
                    <ion-icon name="save-outline"></ion-icon>
                    {{ item.file_name }}
                  </a>
                </app-col>
              </app-row>
              <ion-row
              *ngIf="item.content_type.startsWith('image')">
                <ion-col>
                  <div class="image-detail">이미지 미리보기</div>
                  <app-img class="image-class" [src]="item.full_url"></app-img>
                </ion-col>
              </ion-row>
            </td>
          </tr>
        </app-table>
      </app-col>
    </app-row>
  </app-card>

  <h4>작성 정보</h4>
  <app-card>
    <app-row>
      <app-col>
        <app-input label="작성일"></app-input>
      </app-col>
      <app-col>
        <app-input label="작성자"></app-input>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button slot="end" (click)="sceneInsert()">저장</app-button>
</app-button-footer>