<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/my-page-type"></ion-back-button>
    </ion-buttons>
    <ion-title>교육 이력</ion-title>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input-template label="현장명" (buttonClick)="getEducationSearch()">
      <p slot="input">{{ educationGetForm.project_name }}</p>
      상세검색
    </app-input-template>
  </ion-toolbar>
  <ion-toolbar color="white">
    <ion-segment color="primary" [(ngModel)]="segment">
      <ion-segment-button value="ONE">주요 교육 현황</ion-segment-button>
      <ion-segment-button value="TWO">전체 교육 이력</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-container size="small">

    <div *ngIf="segment === 'ONE'">

      <h4>채용시 교육</h4>

      <app-table>
        <thead>
          <tr>
            <th>교육명</th>
            <th>이수일</th>
            <th>이수시간</th>
            <th>교육상태</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ educationHireRes?.rsObj?.ctgo_education_safe_name }}</td>
            <td>{{ educationHireRes?.rsObj?.create_date }}</td>
            <td>{{ educationHireRes?.rsObj?.education_credit_time }}</td>
            <td>
              <ng-container *ngIf="educationHireRes?.rsObj?.hire_edu_state">
                <div class="round"
                [class.red]="educationHireRes?.rsObj?.hire_edu_state !== '양호'"></div>
                {{ educationHireRes?.rsObj?.hire_edu_state }}
              </ng-container>
            </td>
          </tr>
        </tbody>
      </app-table>

      <h4>정기 교육</h4>
      
      <app-table>
        <thead>
          <tr>
            <th>교육명</th>
            <th>이수기간</th>
            <th>잔여일</th>
            <th>교육 상태</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of educationRoutineRes?.rsMap">
            <td>{{ item.ctgo_education_safe_name }}</td>
            <td>{{ item.education_start_term }} ~ {{ item.education_end_term }}</td>
            <td>{{ item.education_remaining_date }}</td>
            <td>
              <ng-container *ngIf="item.routine_edu_state">
                <div class="round"
                [class.red]="item.routine_edu_state !== '양호'"></div>
                {{ item.routine_edu_state }}
              </ng-container>
            </td>
          </tr>
        </tbody>
      </app-table>

      <ng-container *ngIf="educationSpecialRes?.rsMap && res?.rsObj?.work_contract_type === '일용직'">
  
        <h4>특별 교육</h4>
  
        <app-table>
          <thead>
            <tr>
              <th>교육명</th>
              <th>이수기간</th>
              <th>필요시간</th>
              <th>교육 상태</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of educationSpecialRes?.rsMap">
              <td>{{ item.ctgo_education_safe_name }}</td>
              <td>{{ item.education_start_term }} ~ {{ item.education_end_term }}</td>
              <td>{{ item.education_towercrane_state ? '08:00' : '02:00' }}</td>
              <td>
                <ng-container *ngIf="education.getEducationSpecialResult('일용직', item) === '필요'">
                  <div class="round red"></div>
                  필요
                </ng-container>
                <ng-container *ngIf="education.getEducationSpecialResult('일용직', item) === '양호'">
                  <div class="round"></div>
                  양호
                </ng-container>
              </td>
            </tr>
          </tbody>
        </app-table>

      </ng-container>

      <ng-container *ngIf="educationSpecialRes?.rsMap && res?.rsObj?.work_contract_type === '상용직'">

        <h4>특별 교육</h4>
  
        <app-table>
          <thead>
            <tr>
              <th>교육명</th>
              <th>이수기간</th>
              <th>잔여일</th>
              <th>교육 상태</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of educationSpecialRes?.rsMap">
              <td>{{ item.ctgo_education_safe_name }}</td>
              <td>{{ item.education_start_term }} ~ {{ item.education_end_term }}</td>
              <td>{{ item.education_remaining_date }}</td>
              <td>
                <ng-container *ngIf="item.special_edu_state === '양호'">
                  <div class="round"></div>
                  양호
                </ng-container>
                <ng-container *ngIf="item.special_edu_state === '필요'">
                  <div class="round red"></div>
                  필요
                </ng-container>
                <ng-container *ngIf="item.special_edu_state === '기한초과'">
                  <div class="round red"></div>
                  기한초과
                </ng-container>
              </td>
            </tr>
          </tbody>
        </app-table>

      </ng-container>

    </div>

    <!-- 교육 이력 -->
    <div *ngIf="segment === 'TWO'">

      <app-table>
        <thead>
          <tr>
            <th>NO</th>
            <th>교육 구분</th>
            <th>교육명</th>
            <th>이수일</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of educationRes?.rsMap; let i = index;">
            <td>{{ i+1 }}</td>
            <td>{{ item.ctgo_education_safe_type }}</td>
            <td>{{ item.ctgo_education_safe_title }}</td>
            <td>{{ item.education_safe_date }}</td>
          </tr>
        </tbody>
      </app-table>

    </div>

  </app-container>
</ion-content>
