<ion-header>
  <ion-toolbar color="white">
    <app-row>
      <app-col>
        <ion-title>상세검색</ion-title>
      </app-col>
      <app-col size="auto">
        <app-img (click)="dismiss()" name="close"></app-img>
      </app-col>
    </app-row>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <app-card>
    <app-row>
      <app-col>
        <app-select-scene></app-select-scene>
      </app-col>
    </app-row>
    <app-row>
      <app-col>
        <app-select-company></app-select-company>
      </app-col>
    </app-row>
    <app-row>
      <app-col>
        <app-select label="구분">
          <app-select-option></app-select-option>
        </app-select>
      </app-col>
    </app-row>
    <app-row>
      <app-col>
        <app-input-group label="작성일">
          <app-calendar></app-calendar>
          ~
          <app-calendar></app-calendar>
        </app-input-group>
      </app-col>
    </app-row>
    <app-row>
      <app-col>
        <app-input name="input scene" label="검색어"></app-input>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button (click)="init()">초기화</app-button>
  <app-button (click)="search()">검색</app-button>
</app-button-footer> -->