
<ng-container>
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>경고 알림</ion-title>
      <ion-buttons slot="end">
        <app-dismiss-button></app-dismiss-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    
    <app-card>
      <h3>경고 알림</h3>
      <h4 class="ment">[타워크레인/충북27가0001/1호기]가<br/> 하차중입니다.</h4>
      <h5>2021-09-16 16:25:43</h5>
      <app-button>확인</app-button>
    </app-card>
    <app-card>
      <h3>경고 알림</h3>
      <h4 class="ment">[101동 전기실]에 [산소]<br/> 수치 이상이 감지되었습니다.</h4>
      <h5>2021-09-16 16:25:43</h5>
      <app-button>확인</app-button>
    </app-card>
    <app-card>
      <h3>경고 알림</h3>
      <h4 class="ment">[00건설(주),홍길동] 근로자가<br/> 안전고리 미체결 상태입니다.</h4>
      <h5>2021-09-16 16:25:43</h5>
      <app-button>확인</app-button>
    </app-card>
    <app-card>
      <h3>경고 알림</h3>
      <h4 class="ment">[101동 2층]에 구조물 변위가<br/>감지되었습니다.</h4>
      <h5>2021-09-16 16:25:43</h5>
      <app-button>확인</app-button>
    </app-card>
  </ion-content>
  </ng-container>