<ion-toolbar color="white" class="segment-border">
  <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="segmentChange()">
    <ion-segment-button value="1" class="segment-font segment-width">
      {{ languagePack.getText('공지사항') }}
      <!-- <ion-badge *ngIf="notice_count" class="badge-class notice">{{ notice_count }}</ion-badge> -->
    </ion-segment-button>
    <ion-segment-button value="2" class="segment-font segment-width">MSDS</ion-segment-button>
    <ion-segment-button value="3" class="segment-font segment-width">
      {{ languagePack.getText('회의록') }}
      <!-- <ion-badge *ngIf="safetymeeting_count" class="badge-class notice">{{ safetymeeting_count }}</ion-badge> -->
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<div [style.display]="segment === '1' ? 'block' : 'none'">
  <app-row *ngFor="let item of notice_list;" style="margin-top: 15px;" (click)="openNotice(item.notice_id)">
    <app-col style="margin-left: 20px;">
      <h5>{{ item.notice_title }}</h5>
    </app-col>
    <app-col size="auto"></app-col>
    <app-col size="auto">
      <h6>{{ item.create_date }}</h6>
    </app-col>
  </app-row>
  <app-button color="secondary" style="width: 100%;" (click)="router('공지사항')">{{ languagePack.getText('더보기') }}</app-button>
</div>
<div [style.display]="segment === '2' ? 'block' : 'none'">
  <app-row *ngFor="let item of msds_list;" style="margin-top: 15px;" (click)="openMsds(item.msds_id)">
    <app-col style="margin-left: 20px;">
      <h5>[{{ item.company_name }}]<br>{{ item.msds_title }}</h5>
    </app-col>
    <app-col size="auto"></app-col>
    <app-col size="auto">
      <h6>{{ item.create_date }}</h6>
    </app-col>
  </app-row>
  <app-button color="secondary" style="width: 100%;" (click)="router('MSDS')">{{ languagePack.getText('더보기') }}</app-button>
</div>
<div [style.display]="segment === '3' ? 'block' : 'none'">
  <app-row *ngFor="let item of safetymeeting_list;" style="margin-top: 15px;" (click)="openMeeting(item.safety_meeting_id)">
    <app-col style="margin-left: 20px;">
      <h5>{{ item.safety_meeting_type }}</h5>
    </app-col>
    <app-col size="auto"></app-col>
    <app-col size="auto">
      <h6>{{ item.create_date }}</h6>
    </app-col>
  </app-row>
  <app-button color="secondary" style="width: 100%;" (click)="router('회의록')">{{ languagePack.getText('더보기') }}</app-button>
  
</div>