:host {
    display: block;
    margin-top: var(--app-margin);
    margin-bottom: var(--app-margin);
    background: var(--ion-color-white);
    border-radius: var(--app-border-radius);
    box-shadow: var(--app-box-shadow);
    padding: 8px;
}
:host ::ng-deep {
    app-radio {
        margin-top: 6px;
        margin-bottom: 6px;
    }
    app-radio + app-radio {
        margin-left: 16px;
    }
}