<ion-header>
  <ion-toolbar color="white">
    <ion-title>조치자 검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-row>
      <app-col>
        <app-select-action-option></app-select-action-option>
      </app-col>
      <app-col>
        <div class="flex">
          <app-input label="검색어" placeholder="검색어를 입력해주세요"></app-input>
          <app-button>검색</app-button>
        </div>
      </app-col>
    </app-row>
</ion-content>


