@media screen and (max-width: 768px) {
    .document-toggle-button {
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        margin-bottom: 0;
    }
    .document-layout {
        background: var(--ion-color-white);
        border-top: 1px solid var(--ion-color-step-100);
        border-bottom: 1px solid var(--ion-color-step-100);
        padding: var(--app-page-padding);
        zoom: 0.3;
        pointer-events: none;
        ::ng-deep {
            app-input-template.input-label {
                background: none;
                border: 1px solid var(--ion-color-step-200);
                box-shadow: none;
            }
            app-button {
                display: none;
            }
        }
    }
    .document-layout.hidden {
        display: none;
    }
}