<app-select name="select" [color]="color" [label]="label" [placeholder]="placeholder" [(ngModel)]="value" [readonly]="readonly" [disabled]="disabled" [required]="required" [multiple]="true">
  <app-select-option type="all" [value]="[]">전체</app-select-option>
  <app-select-option value="임시저장">임시저장</app-select-option>
  <app-select-option value="결재중">결재중</app-select-option>
  <app-select-option value="결재완료">결재완료</app-select-option>
  <app-select-option value="반려">반려</app-select-option>
</app-select>