<ion-header>
  <ion-toolbar color="white">
  <ion-buttons slot="end">
    <app-img name="close"></app-img>
  </ion-buttons>
  <ion-title>MSDS</ion-title>
</ion-toolbar>
</ion-header>
<ion-content style="--padding-top:15px">
<app-row>
  <app-col>
    <app-input name="with img">
    </app-input>
  </app-col>
  <app-col size="auto">
    <app-button (click)="detailSerach()">상세검색</app-button>
  </app-col>
</app-row>
<app-card (click)="minutesDetail()">
  <app-row>
    <app-col size="auto">
    </app-col>
    <app-col>
      <h5>이상범</h5>
      <p>(주)지에스아이엘/대리/안전관리자</p>
    </app-col>
    <ion-col size="auto">
      <ion-chip color="primary">건축</ion-chip>
    </ion-col>
    <app-col size="auto">
    </app-col>
  </app-row>
</app-card>
</ion-content>
<app-button-footer>
<app-button>취소</app-button>
<app-button>적용</app-button>
</app-button-footer>


