<app-row>
  <app-col></app-col>
  <app-col size="auto" *ngFor="let btn of btnList">
    <app-button fill="translucent" (click)="onBtnClick(btn)">{{ btn }}</app-button>
  </app-col>
  <!-- <app-col size="auto">
    <app-button (click)="onPrintClick()">인쇄</app-button>
  </app-col> -->
</app-row>

<app-row *mobileHidden>

  <app-col></app-col>
  <app-col size="auto">
    <app-row class="approval-group">
      <app-col size="24px" class="approval-title">결<br>재</app-col>
      <app-col size="auto" class="approval-col" *ngFor="let item of res?.rsObj?.answer_datas; let i = index; let f = first; let l = last;">
        <div class="approval-type">{{ 
          f ? 
            l ? '작성/승인' : '작성' 
          : 
            l ? '승인' : '검토' 
        }}</div>
        <div class="approval-person">
          <div class="approval-name">{{ item.answer_user_name }}</div>
          <div class="approval-state">{{ item.approval_answer }}</div>
          <div class="approval-date">{{ item.approval_date }}</div>
        </div>
      </app-col>
    </app-row>
  </app-col>

</app-row>


<div *mobileShow>

  <app-card [button]="true" (click)="approvalToggle()">
    <app-row>
      <app-col>
        <h5>결재선</h5>
      </app-col>
      <app-col size="auto">
        <ion-icon color="primary" name="chevron-down-circle"></ion-icon>
      </app-col>
    </app-row>
  </app-card>
  <div *ngIf="!isApprovalHidden">
    <app-card *ngFor="let item of res?.rsObj?.answer_datas; let i = index; let f = first; let l = last;">
      <app-row>
        <app-col size="30px" class="mobile-approval-type">
          {{ 
            f ? 
              l ? '작성/승인' : '작성' 
            : 
              l ? '승인' : '검토' 
          }}
        </app-col>
        <app-col size="60px">
          <ion-chip *ngIf="item.approval_answer" color="primary">{{ item.approval_answer }}</ion-chip>
        </app-col>
        <app-col class="mobile-approval-name">
          {{ item.answer_user_name }}
        </app-col>
        <app-col class="mobile-approval-date">
          {{ item.approval_date }}
        </app-col>
      </app-row>
    </app-card>
  </div>

</div>