<!-- <ion-header>
  <ion-toolbar color="white">
    <ion-title>{{ languagePack.getText('상세검색') }}</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-select-scene [(ngModel)]="temptForm.project_id" (change)="projectChange($event)"></app-select-scene>
  <app-select-contractor [project_id]="temptForm.project_id" [(ngModel)]="temptForm.company_id"></app-select-contractor>
  <app-select-construction [project_id]="temptForm.project_id" [master_company_id]="temptForm.company_id" [(ngModel)]="temptForm.company_id"></app-select-construction>
  <app-select-approval-type [(ngModel)]="temptForm.approval_cnt_answer"></app-select-approval-type>

  <app-input-group label="작업기간">
    <app-calendar [(ngModel)]="temptForm.risk_asment_start_date" [max]="temptForm.risk_asment_end_date"></app-calendar>
    ~
    <app-calendar [(ngModel)]="temptForm.risk_asment_end_date" [min]="temptForm.risk_asment_start_date"></app-calendar>
  </app-input-group>

  <app-input [label]="languagePack.getText('검색어')" [placeholder]="languagePack.getText('검색어를 입력해 주세요')" [(ngModel)]="temptForm.search_text"></app-input>
</ion-content>
<app-button-footer>
  <app-button (click)="reset()">{{ languagePack.getText('초기화') }}</app-button>
  <app-button (click)="search()">{{ languagePack.getText('검색') }}</app-button>
</app-button-footer> -->

<ion-header>
  <ion-toolbar color="white">
    <ion-title>{{ languagePack.getText('상세 검색') }}</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-select-scene></app-select-scene>
  <app-select-contractor></app-select-contractor>
  <app-select-contractor-company></app-select-contractor-company>

  <app-input-group label="점검일">
    <app-calendar></app-calendar>
  </app-input-group>
  
  <app-select label="위험지역유형">
    <app-select-option value="전체" type="all">전체</app-select-option>
    <app-select-option value="전기실">전기실</app-select-option>
    <app-select-option value="기계실">기계실</app-select-option>
    <app-select-option value="저수조">저수조</app-select-option>
    <app-select-option value="기계식 지하주차장">기계식 지하주차장</app-select-option>
    <app-select-option value="유해 위험물 저장소">유해 위험물 저장소</app-select-option>
    <app-select-option value="고압변전지역">고압변전지역</app-select-option>
    <app-select-option value="양중지역">양중지역</app-select-option>
  </app-select>

  <app-input [label]="languagePack.getText('검색어')" [placeholder]="languagePack.getText('검색어를 입력해 주세요')"></app-input>
</ion-content>
<app-button-footer>
  <app-button (click)="reset()">{{ languagePack.getText('초기화') }}</app-button>
  <app-button (click)="search()">{{ languagePack.getText('검색') }}</app-button>
</app-button-footer>
