<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sign-up-company?userType=WORKER"></ion-back-button>
    </ion-buttons>
    <ion-title>나의 정보</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-container size="small">
    <app-card>
      <ion-toolbar slot="top">
        <h4>회원정보</h4>
      </ion-toolbar>
      <app-avatar 
      name="input-profile" 
      view_type="PROFILE" 
      [(ngModel)]="basicForm.user_profile_file_data" [file]="basicForm.file" [file_json]="basicForm.file_json" [readonly]="false"></app-avatar>
      <app-row mobileBreak>
        <app-col>
          <app-input
          name="account_id" label="아이디"
          placeholder="영문과 숫자만 입력해주세요."
          [color]="basicValidator.account_id?.valid === false && 'warning'"
          [(ngModel)]="basicForm.account_id" [required]="true"></app-input>
          <app-input-caption *ngIf="basicValidator.account_id?.valid === false" color="warning">{{ basicValidator.account_id?.message }}</app-input-caption>
        </app-col>
        <app-col>
          <app-input
          name="user_name" label="성명"
          placeholder="이름을 입력해주세요."
          [color]="basicValidator.user_name?.valid === false && 'warning'"
          [(ngModel)]="basicForm.user_name" [required]="true"></app-input>
          <app-input-caption *ngIf="basicValidator.user_name?.valid === false" color="warning">{{ basicValidator.user_name?.message }}</app-input-caption>
        </app-col>
      </app-row>
      <app-row mobileBreak>
        <app-col>
          <app-calendar name="user_birth" label="생년월일" 
          [color]="basicValidator.user_birth?.valid === false && 'warning'"
          [(ngModel)]="basicForm.user_birth" [required]="true"></app-calendar>
          <app-input-caption *ngIf="basicValidator.user_birth?.valid === false" color="warning">{{ basicValidator.user_birth?.message }}</app-input-caption>
        </app-col>
        <app-col>
          <app-radio-input name="user_gender" label="성별" 
          [color]="basicValidator.user_gender?.valid === false && 'warning'"
          [(ngModel)]="basicForm.user_gender" [required]="true">
            <app-radio value="남">남</app-radio>
            <app-radio value="여">여</app-radio>
          </app-radio-input>
          <app-input-caption *ngIf="basicValidator.user_gender?.valid === false" color="warning">{{ basicValidator.user_gender?.message }}</app-input-caption>
        </app-col>
      </app-row>
      <app-row mobileBreak>
        <app-col>
          <app-input name="user_phone" label="휴대폰" placeholder="-없이 숫자만 입력해주세요." type="tel" 
          [color]="basicValidator.user_phone?.valid === false && 'warning'"
          [(ngModel)]="basicForm.user_phone" (delayKeyup)="overlapPhone()" [required]="true"></app-input>
          <app-input-caption *ngIf="basicValidator.user_phone?.valid === false" color="warning">{{ basicValidator.user_phone?.message }}</app-input-caption>
        </app-col>
        <app-col>
          <app-email name="user_email" label="이메일" 
          [color]="basicValidator.user_email?.valid === false && 'warning'"
          (delayKeyup)="overlapEmail()"
          [(ngModel)]="basicForm.user_email" [required]="true"></app-email>
          <app-input-caption *ngIf="basicValidator.user_email?.valid === false" color="warning">{{ basicValidator.user_email?.message }}</app-input-caption>
        </app-col>
      </app-row>
      <app-row *mobileBreak>
        <app-col>
          <app-select-country name="국가"
          name="ctgo_country_id"
          [color]="basicValidator.ctgo_country_id?.valid === false && 'warning'"
          [(ngModel)]="basicForm.ctgo_country_id" [required]="true"></app-select-country>
          <app-input-caption *ngIf="basicValidator.ctgo_country_id?.valid === false" color="warning">{{ basicValidator.ctgo_country_id?.message }}</app-input-caption>
        </app-col>
      </app-row>
    </app-card>
    
    
    <!-- <app-row mobileBreak>
      
      
    <app-row mobileBreak>
      <app-col>
        <app-input-template label="기초안전보건교육 이수증">
          <p *ngIf="!findFile('BASIC_SAFE_EDU') else tempBasicSafeEduValue" slot="input">기초안전보건교육 이수증</p>
          <ng-template #tempBasicSafeEduValue>
            <ion-text color="dark" slot="input">{{ findFile('BASIC_SAFE_EDU').file_name }}</ion-text>
          </ng-template>
          파일찾기
          <app-file name="input-basic_safe_edu" [(ngModel)]="form.file_preview" view_type="BASIC_SAFE_EDU" [file]="form.file" [file_json]="form.file_json"></app-file>
        </app-input-template>
      </app-col>
      <app-col>
        <app-calendar name="건설업 기초 안전보건교육 이수일" label="건설업 기초 안전보건교육 이수일" [(ngModel)]="form.basic_safe_edu_date"></app-calendar>
      </app-col>
    </app-row>
    <app-select-scene name="project_id" type="SIGNUP"
    [company_id]="form.company_id"
    [color]="validator.project_id?.valid === false && 'warning'"
    [(ngModel)]="form.project_id" [required]="true"></app-select-scene>
    <app-input-caption *ngIf="validator.project_id?.valid === false" color="warning">{{ validator.project_id?.message }}</app-input-caption> -->
  </app-container>
</ion-content>
<app-button-footer>
  <app-button name="button_next" (click)="submit()">수정</app-button>
</app-button-footer>