<ion-header>
  <ion-toolbar color="white">
    <app-row>
      <app-col>
        <ion-title>출석등록 QR</ion-title>
      </app-col>
      <app-col size="auto">
        <app-button (click)="dismiss()" fill="clear">
          <app-img name="close"></app-img>
        </app-button>
      </app-col>
    </app-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  style="display: flex; justify-content: center; height:calc(100% - 60%); align-items: center;">
    <img (click)="downloadQR()" id="qrious"/>
  </div>
    <app-card>
      <app-row>
        <app-col>
          <!-- <app-input [readonly]="true" name="date" label="교육일" [value]="item.education_safe_date"></app-input> -->
          <app-input [readonly]="true" name="date" label="교육일"></app-input>
        </app-col>
      </app-row>
    </app-card>
    <app-card>
      <app-row>
        <app-col>
          <!-- <app-input [readonly]="true" name="name" label="교육명" [value]="item.ctgo_education_safe_name"></app-input> -->
          <app-input [readonly]="true" name="name" label="교육명"></app-input>
        </app-col>
      </app-row>
    </app-card>
    <app-card>
      <app-row>
        <app-col>
          <app-input [readonly]="true" name="time" label="교육시간" [value]="eduTime"></app-input>
        </app-col>
      </app-row>
    </app-card>
    <app-card>
      <app-row>
        <app-col>
          <!-- <app-input [readonly]="true" name="time" label="출석 담당자" [value]="item.education_safe_manager_names"></app-input> -->
          <app-input [readonly]="true" name="time" label="출석 담당자"></app-input>
        </app-col>
      </app-row>
    </app-card>
</ion-content>
