.ng-star-inserted {
    margin-top: 0 !important;
}

app-table {
    app-check {
        justify-content: center;
    }
    app-input {
        width: 100%;
        background-color: transparent;
    }
}