<ion-header>
  <ion-toolbar color="white">
    <ion-title>결재자 검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input-group>
      <app-input name="with img" label="검색어" placeholder="검색어를 입력하세요" (buttonClick)="get()">
        <app-img name="search"></app-img>
      </app-input>
    </app-input-group>
  </ion-toolbar>
</ion-header>
<ion-content>

  <app-table>
    <thead>
      <tr>
        <th width="200px">회사명</th>
        <th width="100px">성명</th>
        <th width="100px">직위</th>
        <th width="200px">안전직무</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of res?.rsMap let i = index" 
      [class.pre-selected]="isPreSelected(item)" 
      [class.selected]="selectedItem === item" 
      (click)="selectedItem = item">
        <td>{{ item.company_name }}</td>
        <td>{{ item.user_name }}</td>
        <td>{{ item.ctgo_safe_job_name || '' }}</td>
        <td>{{ item.ctgo_job_position_name || '' }}</td>
      </tr>
    </tbody>
  </app-table>
  
</ion-content>
<app-button-footer>
  <app-button (click)="select()">적용</app-button>
</app-button-footer>


