<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>현장관리</ion-title>
  </ion-toolbar>
  <ion-toolbar color="white">
    <ion-title>
      <h4>공지사항</h4>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-row style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <thead>
          <tr>
            <th>
              <app-row style="justify-content: space-between;">
                <app-col size="auto"><h5>필터</h5></app-col>
                <app-col size="auto"><app-button fill="translucent" style="width: 100px;">검색</app-button></app-col>
              </app-row>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <app-input label="지역본부"></app-input>
            </td>
          </tr>
          <tr>
            <td>
              <app-input label="사업본부"></app-input>
            </td>
          </tr>
          <tr>
            <td>
              <app-input label="검색어" placeholder="검색어를 입력해주세요."></app-input>
            </td>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <app-col>
            <app-button fill="translucent">신규 등록</app-button>
            <app-button>엑셀 다운로드</app-button>
          </app-col>
        </ion-buttons>
          <app-col style="text-align: right;">
            <app-button>저장</app-button>
          </app-col>
      </ion-toolbar>
      <ion-toolbar color="white">
        <h5>수시 위험성평가 목록 (총90건)</h5>
      </ion-toolbar>
       <!-- check-group ngModel -->
      <app-check-group>
        <app-table>
          <thead>
            <tr>
              <th><app-check type="all" color="white" size="small" name="check"></app-check></th>
              <th>지역본부</th>
              <th>사업본부</th>
              <th>현장명</th>
              <th>원청사</th>
              <th>감리사</th>
              <th>공사기간</th>
              <th>최근 업데이트</th>
              <th>사용여부</th>
            </tr>    
          </thead>
          <tbody>
            <tr>
              <td><app-check color="white" size="small" name="check"></app-check></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </app-table>
      </app-check-group>
      <app-pager></app-pager>
    </app-col>
  </app-row>
</ion-content>
