<ion-header>
  <ion-toolbar color="white">
    <ion-title>회의록</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>{{ form.safety_meeting_type_text }}</h2>

  <app-approval 
  [project_id]="this.form.project_id"
  [ctgo_approval_module_id]="this.form.ctgo_approval_module_id"
  [approval_id]="this.form.approval_id"
  (deleteClick)="onDeleteClick($event)"
  (saveClick)="onSaveClick($event)"
  (sendClick)="onSendClick($event)"
  (recoveryClick)="onRecoveryClick($event)"
  (approvalClick)="onApprovalClick($event)"
  (change)="onApprovalChange($event)"></app-approval>
  
  <h4>기본 정보</h4>

  <app-row mobileBreak>
    <app-col>
      <app-select-scene [(ngModel)]="form.project_id" [disabled]="true"></app-select-scene>
    </app-col>
    <app-col>
      <app-calendar label="회의 일자" [(ngModel)]="form.safety_meeting_date" [disabled]="!permission.edit"></app-calendar>
    </app-col>
    <app-col>
      <app-input label="회의 장소" [(ngModel)]="form.safety_meeting_place" [disabled]="!permission.edit"></app-input>
    </app-col>
  </app-row>

  <app-row mobileBreak>
    <app-col>
      <app-input-template label="회사명" [disabled]="true">
        <p slot="input">{{ form.company_name }}</p>
      </app-input-template>
    </app-col>
    <app-col>
      <app-input-template label="작성자" [disabled]="true">
        <p slot="input">{{ form.user_name }}</p>
      </app-input-template>
    </app-col>
    <app-col>
      <app-input-template label="회의 유형" [disabled]="true">
        <p slot="input">{{ form.safety_meeting_type_text }}</p>
      </app-input-template>
    </app-col>
  </app-row>

  <h4>회의 내용</h4>

  <app-row mobileBreak>
    <app-col>

      <app-textarea label="협의 사항" [(ngModel)]="form.safety_meeting_content" [rows]="10" [disabled]="!permission.edit"></app-textarea>

    </app-col>
    <app-col>

      <app-textarea label="의결 사항" [(ngModel)]="form.safety_meeting_resolve" [rows]="10" [disabled]="!permission.edit"></app-textarea>

    </app-col>
  </app-row>

  <app-textarea label="기타 사항" [(ngModel)]="form.safety_meeting_etc" [disabled]="!permission.edit"></app-textarea>

  <h5>
    <app-row>
      <app-col>첨부 자료</app-col>
      <app-col size="auto" *ngIf="permission.edit">
        <app-button>
          첨부
          <app-file view_type="SAFETY_MEETING" [(ngModel)]="form.file_data" [file]="form.file" [file_json]="form.file_json" [multiple]="true"></app-file>
        </app-button>
      </app-col>
    </app-row>
  </h5>

  <app-file-preview *ngFor="let item of form.file_data; let i = index;" [futItem]="item" (buttonClick)="form.file_data.splice(i, 1)" [readonly]="!permission.edit"></app-file-preview>

  <app-approval-comment [approval_comment]="approval_comment"></app-approval-comment>
  
</ion-content>
