:host {
    border-radius: var(--app-border-radius);
    margin-top: var(--app-margin);
    margin-bottom: var(--app-margin);

    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
    color: var(--ion-color-contrast);
    background: var(--ion-color-base);
    font-size: var(--font-size-h5);
    box-shadow: inset 0px -4px 0px -0px rgba(0,0,0,0.1);
    padding: 8px 16px;
    min-width: 42px;
    min-height: 42px;
    position: relative;
    overflow: hidden;
    a {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;

        text-decoration: none;
        color: initial;
    }
    .button {
        width: 100%;
        color: inherit;
        font-size: inherit;
        background: transparent;
        text-align: inherit;
        padding: 0;
    }
    .button-inner {
        display: block;
    }
    slot {
        display: block;
        white-space: pre-line;
        line-height: 1.2em;
    }
    slot:empty {
        display: none;
    }
}
app-button + :host {
    margin-left: var(--app-padding);
}

/** size */
:host.button-small {
    min-width: 30px;
    min-height: 30px;
    font-size: var(--font-size-h6);
    padding-left: 6px;
    padding-right: 6px;
}

/** shape */
:host.button-circle,
:host.button-square {
    padding: 0;
    .button {
        height: 0;
        padding-bottom: 100%;
    }
    .button-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
:host.button-circle {
    border-radius: 50%;
}

/** fill */
:host.button-clear {
    box-shadow: none;
    background: none;
    color: var(--ion-color-base);
}
:host.button-outline {
    box-shadow: none;
    background: var(--ion-color-white);
    color: var(--ion-color-shade);
    border: 1px solid var(--ion-color-base);
}
:host.button-translucent {
    box-shadow: none;
    background: var(--ion-color-translucent);
    color: var(--ion-color-shade);
}
:host.button-translucent-outline {
    box-shadow: none;
    background: var(--ion-color-translucent);
    color: var(--ion-color-shade);
    border: 1px solid var(--ion-color-base);
}
:host.button-round {
    border-radius: 50px;
}
:host ::ng-deep {
    h1, h2, h3, h4, h5, h6, p {
        margin-top: 0;
        margin-bottom: 0;
        color: var(--ion-color-contrast);
    }
    app-col {
        padding: 4px;
    }
    app-img {
        //display: block;
        width: 1.2em;
    }
    app-img[slot=start] {
        margin-right: 3px;
    }
    app-img[slot=end] {
        margin-left: 3px;
    }
}