<button class="button" [disabled]="disabled" *ngIf="!href; else tempLink">
  <ng-container *ngTemplateOutlet="tempButton"></ng-container>
</button>
<ng-template #tempLink>
  <a class="button">
    <ng-container *ngTemplateOutlet="tempButton"></ng-container>
  </a>
</ng-template>
<ion-ripple-effect></ion-ripple-effect>

<ng-template #tempButton>
  <div class="button-inner">
    <slot name="top">
      <ng-content select="[slot=top]"></ng-content>
    </slot>
    <slot>
      <ng-content></ng-content>
    </slot>
  </div>
</ng-template>