<app-card>
  <app-check-input>
    <app-row>
      <app-col>
        <app-check type="all" value="전체">전체</app-check>
      </app-col>
      <app-col>
        <app-check value="추락(떨어짐)">추락(떨어짐)</app-check>
      </app-col>
      <app-col>
        <app-check value="전도(넘어짐)">전도(넘어짐)</app-check>
      </app-col>
      <app-col>
        <app-check value="전도(깔림)">전도(깔림)</app-check>
      </app-col>
      <app-col>
        <app-check value="충돌(부딪힘)">충돌(부딪힘)</app-check>
      </app-col>
      <app-col>
        <app-check value="붕괴(무너짐)">붕괴(무너짐)</app-check>
      </app-col>
    </app-row>
    <app-row>
      <app-col>
        <app-check value="협착(끼임)">협착(끼임)</app-check>
      </app-col>
      <app-col>
        <app-check value="감전">감전</app-check>
      </app-col>
      <app-col>
        <app-check value="절단,베임,찔림">절단,베임,찔림</app-check>
      </app-col>
      <app-col>
        <app-check value="무리한 동작">무리한 동작</app-check>
      </app-col>
      <app-col>
        <app-check value="화재,폭발,파열">화재,폭발,파열</app-check>
      </app-col>
      <app-col>
        <app-check value="기타">기타</app-check>
      </app-col>
    </app-row>
    <app-row>
      <app-col>
        <app-check value="낙하비례(물체에맞음)">낙하비례(물체에맞음)</app-check>
      </app-col>
    </app-row>
  </app-check-input>
</app-card>
