<ion-header>
  <ion-toolbar color="white">
    <ion-title>현장 검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input name="with img" label="현장명" placeholder="현장명을 검색하세요">
      <app-img name="search"></app-img>
    </app-input>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card *ngFor="let item of res?.rsMap" [button]="true" [color]="selectedItem === item ? 'secondary' : 'white'" (click)="selectedItem = item">
    <app-row>
      <app-col size="6">
        <h5>현장 코드</h5>
        <p>{{ item.project_code }}</p>
      </app-col>
      <app-col>
        <h5>현장명</h5>
        <p>{{ item.project_name }}동</p>
      </app-col>
    </app-row>
  </app-card>
  <ng-container *ngIf="res && res.rsCode">
   <p>{{ res.rsMsg }}</p> 
  </ng-container>
  <p></p>
</ion-content>
<app-button-footer>
  <app-button (click)="select()">선택</app-button>
</app-button-footer>