<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>약관 동의</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-container size="small">
    <app-sign-up-segment step="step4"></app-sign-up-segment>
    
    <app-check-group>
      <app-check type="all">시스템 이용 약관, 개인정보, 민감정보 및 위치정보 수집, 이용, 제3자 제공에 모두 동의합니다.</app-check>
      <app-check name="system_terms" [on]="1" [off]="0" [(ngModel)]="form.system_terms">시스템 이용약관 동의 <ion-text color="red">(필수)</ion-text></app-check>
      <app-card class="term" 
      [style.border-color]="validator.system_terms?.valid === false ? 'var(--ion-color-warning)' : null">
        약관 샘플
      </app-card>
      <app-input-caption *ngIf="validator.system_terms?.valid === false">{{ validator.system_terms.message }}</app-input-caption>
      
      <app-check name="personal_terms" [on]="1" [off]="0" [(ngModel)]="form.personal_terms">개인정보 수집 및 이용 동의 <ion-text color="red">(필수)</ion-text></app-check>
      <app-card class="term"
      [style.border-color]="validator.personal_terms?.valid === false ? 'var(--ion-color-warning)' : null">
        약관 샘플
      </app-card>
      <app-input-caption *ngIf="validator.personal_terms?.valid === false">{{ validator.personal_terms.message }}</app-input-caption>

      <ng-container *ngIf="userType === 'WORKER'">
        <app-check name="sensitive_terms" [on]="1" [off]="0" [(ngModel)]="form.sensitive_terms">민감정보 제공 및 이용동의 <ion-text color="red">(필수)</ion-text></app-check>
        <app-card class="term"
        [style.border-color]="validator.sensitive_terms?.valid === false ? 'var(--ion-color-warning)' : null">
          약관 샘플
        </app-card>
        <app-input-caption *ngIf="validator.sensitive_terms?.valid === false">{{ validator.sensitive_terms.message }}</app-input-caption>
      </ng-container>
      
      <app-check name="gps_terms" [on]="1" [off]="0" [(ngModel)]="form.gps_terms">위치정보 시스템 이용약관 동의 <ion-text color="red">(필수)</ion-text></app-check>
      <app-card class="term"
      [style.border-color]="validator.gps_terms?.valid === false ? 'var(--ion-color-warning)' : null">
        약관 샘플
      </app-card>
      <app-input-caption *ngIf="validator.gps_terms?.valid === false">{{ validator.gps_terms.message }}</app-input-caption>
      
      <app-check name="sharing_terms" [on]="1" [off]="0" [(ngModel)]="form.sharing_terms">제3자 정보제공 동의 <ion-text color="red">(필수)</ion-text></app-check>
      <app-card class="term"
      [style.border-color]="validator.sharing_terms?.valid === false ? 'var(--ion-color-warning)' : null">
        약관 샘플
      </app-card>
      <app-input-caption *ngIf="validator.sharing_terms?.valid === false">{{ validator.sharing_terms.message }}</app-input-caption>
    </app-check-group>
  </app-container>
</ion-content>
<app-button-footer>
  <app-card @fadeInAnimation *ngIf="res && res.rsCode" slot="top" color="warning">{{ res.rsMsg }}</app-card>
  <app-button (click)="prev()">이전</app-button>
  <app-button name="submit" (click)="done()">완료</app-button>
</app-button-footer>
