:host {
    display: block;
    padding-top: var(--app-padding);
    padding-bottom: var(--app-padding);
    padding-left: var(--app-padding);
    padding-right: var(--app-padding);
    flex: 1 1 0%;
    width: 100%;
}
:host:first-child {
    padding-left: 0;
}
:host:last-child {
    padding-right: 0;
}
app-col>app-row:first-child>:host {
    padding-top: 0;
}
app-col>app-row:last-child>:host {
    padding-bottom: 0;
}
:host ::ng-deep {
    app-card {
        margin-top: 0;
        margin-bottom: 0;
    }
    app-button,
    app-calendar,
    app-check,
    app-datetime,
    app-input,
    app-select {
        --app-margin: 0;
    }
}