<ng-container *ngIf="!href; else tempLink">
  <ng-container *ngTemplateOutlet="tempCard"></ng-container>
</ng-container>
<ng-template #tempLink>
  <a [href]="href" [target]="target" [download]="download">
    <ng-container *ngTemplateOutlet="tempCard"></ng-container>
  </a>
</ng-template>

<ng-template #tempCard>
  <ng-content select="[slot=top]"></ng-content>
  <ion-card-content class="card-content">
    <ng-content></ng-content>
  </ion-card-content>
  <ng-content select="[slot=bottom]"></ng-content>
  <ion-ripple-effect *ngIf="button"></ion-ripple-effect>
</ng-template> 