:host {
  margin-top: var(--app-margin);
  margin-bottom: var(--app-margin);
  border-radius: var(--app-border-radius);
  box-shadow: var(--app-box-shadow);
  background: var(--ion-color-base);
  color: var(--ion-color-contrast);
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  transition:
    transform 500ms cubic-bezier(0.12, 0.72, 0.29, 1) 0s,
    -webkit-transform 500ms cubic-bezier(0.12, 0.72, 0.29, 1) 0s,
    background-color 200ms ease;
}
:host::ng-deep {
  ion-toolbar:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  ion-toolbar:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  ion-card-content {
    padding: var(--app-margin);
  }
  ion-card-content>*:first-child {
    margin-top: 0;
  }
  ion-card-content>*:last-child {
    margin-bottom: 0;
  }
  app-avatar {
    width: 36px;
    height: 36px;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
  }
  h6 {
    color: var(--ion-color-step-800);
  }
  p {
    color: var(--ion-color-step-500);
  }
}
.ios {
  :host {
    ion-ripple-effect {
      display: none;
    }
  }
}
:host.card-translucent {
  ion-card {
    background: var(--ion-color-translucent);
    color: var(--ion-color-shade);
  }
}