:host {
  display: block;
  --height: initial;
  margin-top: var(--app-margin);
  margin-bottom: var(--app-margin);
  ion-card {
    text-align: left;
    margin: 0;
    border-radius: var(--app-border-radius);
    box-shadow: var(--app-box-shadow);
    height: var(--height);
    position: relative;
    transition: 
      transform 500ms cubic-bezier(0.12, 0.72, 0.29, 1) 0s,
      -webkit-transform 500ms cubic-bezier(0.12, 0.72, 0.29, 1) 0s,
      background-color 200ms ease;
  }
}
:host::ng-deep {
  ion-card-content {
    padding: var(--app-margin);
  }
  app-avatar {
    width: 36px;
    height: 36px;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc(var(--app-padding)*2);
    margin-right: calc(var(--app-padding)*2);
    font-weight: 400;
  }
  h6 {
    color: var(--ion-color-step-800);
  }
  p {
    color: var(--ion-color-step-500);
  }
  app-row {
    align-items: flex-start;
  }
  app-col {
    h1, h2, h3, h4, h5, h6, p {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
.ios {
  :host {
    ion-ripple-effect {
      display: none;
    }
  }
}
:host.card-translucent {
  ion-card {
    background: var(--ion-color-translucent);
    color: var(--ion-color-shade);
  }
}