<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/my-page-type"></ion-back-button>
    </ion-buttons>
    <ion-title>건강 문진</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-container size="small">

    <h4>1. 현재 복용하고 있는 약물이 있습니까?</h4>
    <app-radio-input name="use_drugs_state" 
    [color]="healthValidator.use_drugs_state?.valid === false && 'warning'"
    [(ngModel)]="healthForm.use_drugs_state" (change)="healthForm.use_drugs_content = ''" [disabled]="!editable">
      <app-radio [value]="0">없다</app-radio>
      <app-radio [value]="1">있다</app-radio>
    </app-radio-input>
    <app-input-caption *ngIf="healthValidator.use_drugs_state?.valid === false" color="warning">{{ healthValidator.use_drugs_state.message }}</app-input-caption>

    <app-input @fadeInAnimation *ngIf="healthForm.use_drugs_state"
    [color]="healthValidator.use_drugs_content?.valid === false && 'warning'"
    name="use_drugs_content" placeholder="약물명을 입력해주세요."
    [(ngModel)]="healthForm.use_drugs_content" [disabled]="!editable"></app-input>
    <app-input-caption *ngIf="healthValidator.use_drugs_content?.valid === false" color="warning">{{ healthValidator.use_drugs_content.message }}</app-input-caption>
    

    <h4>2. 과거나 현재 뇌, 심혈관질환으로 치료를 받았거나 받고 있습니까?</h4>
    <app-radio-input name="brain_cure_state"
    [color]="healthValidator.brain_cure_state?.valid === false && 'warning'"
    [(ngModel)]="healthForm.brain_cure_state" (change)="!healthForm.brain_cure_state && healthForm.brain_cure_content = []" [disabled]="!editable">
      <app-radio [value]="0">없다</app-radio>
      <app-radio [value]="1">있다</app-radio>
    </app-radio-input>
    <app-input-caption *ngIf="healthValidator.brain_cure_state?.valid === false" color="warning">{{ healthValidator.brain_cure_state.message }}</app-input-caption>

    <div @fadeInAnimation *ngIf="healthForm.brain_cure_state">
      * 해당하는 항목에 체크해주세요
      <app-input-template [color]="healthValidator.brain_cure_content?.valid === false && 'warning'" [disabled]="!editable">
        <app-check-group slot="input" name="brain_cure_content" 
        [(ngModel)]="healthForm.brain_cure_content">
          <app-check on="뇌졸중">뇌졸중</app-check>
          <app-check on="뇌출혈">뇌출혈</app-check>
          <app-check on="협심증">협심증</app-check>
          <app-check on="심근경색">심근경색</app-check>
          <app-check on="간질발작">간질발작</app-check>
        </app-check-group>
      </app-input-template>
    </div>
    <app-input-caption *ngIf="healthValidator.brain_cure_content?.valid === false" color="warning">{{ healthValidator.brain_cure_content.message }}</app-input-caption>


    <h4>3. 최근 가슴을 쥐어짜는 통증,오심,구토 증상을 겪은 적이 있습니까?</h4>
    <app-radio-input name="vomiting_state" 
    [color]="healthValidator.vomiting_state?.valid === false && 'warning'"
    [(ngModel)]="healthForm.vomiting_state" (change)="healthForm.vomiting_content = ''" [disabled]="!editable">
      <app-radio [value]="0">없다</app-radio>
      <app-radio [value]="1">있다</app-radio>
    </app-radio-input>
    <app-input-caption *ngIf="healthValidator.vomiting_state?.valid === false" color="warning">{{ healthValidator.vomiting_state.message }}</app-input-caption>

    <app-input @fadeInAnimation *ngIf="healthForm.vomiting_state" 
    [color]="healthValidator.vomiting_content?.valid === false && 'warning'"
    name="vomiting_content" placeholder="증상을 적어주세요." 
    [(ngModel)]="healthForm.vomiting_content" [disabled]="!editable"></app-input>
    <app-input-caption *ngIf="healthValidator.vomiting_content?.valid === false" color="warning">{{ healthValidator.vomiting_content.message }}</app-input-caption>


    <h4>4. 최근 갑자기 한쪽 팔,다리에 힘이 빠지거나 말이 어눌하게 나오거나 두통,어지러운 증상을 겪은적이 있습니까?</h4>
    <app-radio-input name="pain_head_state" 
    [color]="healthValidator.pain_head_state?.valid === false && 'warning'"
    [(ngModel)]="healthForm.pain_head_state" (change)="healthForm.pain_head_content = ''" [disabled]="!editable">
      <app-radio [value]="0">없다</app-radio>
      <app-radio [value]="1">있다</app-radio>
    </app-radio-input>
    <app-input-caption *ngIf="healthValidator.pain_head_state?.valid === false" color="warning">{{ healthValidator.pain_head_state.message }}</app-input-caption>

    <app-input @fadeInAnimation *ngIf="healthForm.pain_head_content" 
    [color]="healthValidator.pain_head_content?.valid === false && 'warning'"
    name="pain_head_content" placeholder="증상을 적어주세요." 
    [(ngModel)]="healthForm.pain_head_content" [disabled]="!editable"></app-input>
    <app-input-caption *ngIf="healthValidator.pain_head_content?.valid === false" color="warning">{{ healthValidator.pain_head_content.message }}</app-input-caption>


    <h4>5. 현재 기타질병(당뇨,간장질환,폐질환 등)으로 치료를 받고 있습니까?</h4>
    <app-radio-input name="etc_disease_state" 
    [color]="healthValidator.etc_disease_state?.valid === false && 'warning'"
    [(ngModel)]="healthForm.etc_disease_state" (change)="healthForm.etc_disease_content = ''" [disabled]="!editable">
      <app-radio [value]="0">없다</app-radio>
      <app-radio [value]="1">있다</app-radio>
    </app-radio-input>
    <app-input-caption *ngIf="healthValidator.etc_disease_state?.valid === false" color="warning">{{ healthValidator.etc_disease_state.message }}</app-input-caption>

    <app-input @fadeInAnimation *ngIf="healthForm.etc_disease_state" 
    [color]="healthValidator.etc_disease_content?.valid === false && 'warning'"
    name="etc_disease_content" placeholder="증상을 적어주세요."
    [(ngModel)]="healthForm.etc_disease_content" [disabled]="!editable"></app-input>
    <app-input-caption *ngIf="healthValidator.etc_disease_content?.valid === false" color="warning">{{ healthValidator.etc_disease_content.message }}</app-input-caption>


    <h4>6. 본인이 코로나19가 의심되는 아래의 임상증상이 있습니까?(*주요 임상증상)체온 37.5도 이상,기침,호흡곤란,오한,근육통,두통,인후통,후각미각 소실 또는 폐렴
      (단,코로나19와 관계없이 평소의 기저질환으로 인한 증상인 경우는 제외)
    </h4>
    <app-radio-input name="covid_nineteen_state" 
    [color]="healthValidator.covid_nineteen_state?.valid === false && 'warning'"
    [(ngModel)]="healthForm.covid_nineteen_state" (change)="healthForm.covid_nineteen_content = ''" [disabled]="!editable">
      <app-radio [value]="0">없다</app-radio>
      <app-radio [value]="1">있다</app-radio>
    </app-radio-input>
    <app-input-caption *ngIf="healthValidator.covid_nineteen_state?.valid === false" color="warning">{{ healthValidator.covid_nineteen_state.message }}</app-input-caption>

    <app-input @fadeInAnimation *ngIf="healthForm.covid_nineteen_state" 
    [color]="healthValidator.covid_nineteen_state?.valid === false && 'warning'"
    name="covid_nineteen_content" placeholder="증상을 적어주세요."
    [(ngModel)]="healthForm.covid_nineteen_content" [disabled]="!editable"></app-input>
    <app-input-caption *ngIf="healthValidator.covid_nineteen_content?.valid === false" color="warning">{{ healthValidator.covid_nineteen_content.message }}</app-input-caption>


    <h4>7. 코로나 백신 접종을 하셨습니까?</h4>
    <app-radio-input name="covid_vaccine_state" 
    [color]="healthValidator.covid_vaccine_state?.valid === false && 'warning'"
    [(ngModel)]="healthForm.covid_vaccine_state" [disabled]="!editable">
      <app-radio [value]="0">미접종</app-radio>
      <app-radio [value]="1">접종</app-radio>
    </app-radio-input>
    <app-input-caption *ngIf="healthValidator.covid_vaccine_state?.valid === false" color="warning">{{ healthValidator.covid_vaccine_state.message }}</app-input-caption>


    <app-check name="health_terms_state" [on]="1" [off]="0" [(ngModel)]="healthForm.health_terms_state" [disabled]="!editable">본인은 질병예방과 안전한 작업을 위하여 문진자료를 사업창에 제공하는것에 동의합니다.</app-check>
    <app-input-caption *ngIf="healthValidator.health_terms_state?.valid === false" color="warning">{{ healthValidator.health_terms_state.message }}</app-input-caption>

  </app-container>
</ion-content>

<!-- 상세보기 footer -->
<app-button-footer *ngIf="!editable; else tempEditFooter">
  <app-button name="button_edit" fill="translucent" (click)="editable = true">수정</app-button>
</app-button-footer>
<!-- 수정 footer -->
<ng-template #tempEditFooter>
  <app-button-footer>
    <app-button name="submit" (click)="submit()">저장</app-button>
  </app-button-footer>
</ng-template>