app-row {
    align-items: flex-start;
}
app-input-caption + app-input-caption {
    margin-top: 0;
}

.update-date-class{
    display: flex;
    font-size: var(--font-size-h6);
    justify-content: end;
}