ion-content {
    --background: var(--ion-color-white);
}
.profile-row {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: var(--app-page-padding);
	app-avatar {
		width: 38px;
		height: 38px;
        margin-right: 5px;
	}
    app-logo {
        width: 30px;
		height: 30px;
        margin-right: 20px;
    }
    app-col {
    padding: 0;
    }
    p {
        font-size: var(--font-size-h6-small);
    }
}

.main-button {
    margin-top: 15px;
    margin-bottom: 20px;
    .square {
        width: 100%;
        height: 100%;

        
    app-img {
        width: 65%;
    }
    }
    p {
        font-size: var(--font-size-h6);
    }
    app-row {
        align-items: stretch;
    }
   
}
.segment-border {
border-top: 1px solid var(--ion-color-step-100);
border-bottom: 1px solid var(--ion-color-step-100);
}