<ion-header>
  <ion-toolbar color="white">
    <app-row>
      <app-col>
        <h4>교육명 검색</h4>
      </app-col>
      <app-col></app-col>
      <app-col size="auto">
        <app-button fill="clear" shape="square">
          <app-img name="close"></app-img>
        </app-button>
      </app-col>
    </app-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-row>
    <app-col>
      <app-input name="with img" label="검색어" placeholder="검색어를 입력하세요">
        <app-img name="search"></app-img>
      </app-input>
    </app-col>
  </app-row>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>교육명</h5>
        <p>채용 시 교육</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>교육명</h5>
        <p>작업자 정기 교육</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>교육명</h5>
        <p>관리감독자 정기 교육</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>교육명</h5>
        <p>작업 내용 변경 시 교육</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>교육명</h5>
        <p>특별[01] 고압실 내 작업(잠함공법이나 그 밖의 압기공법으로 대기압을 넘는 기압인 작업실</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>교육명</h5>
        <p>특별[02] 아세틸렌 용접장치 또는 가스 집합용접 장치를 사용하여 행하는 금속의 용접,용단 또는 가열작업</p>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button>취소</app-button>
  <app-button>적용</app-button>
</app-button-footer>
