<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login-mobile"></ion-back-button>
    </ion-buttons>
    <ion-title>비밀번호 찾기</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-container size="small">
    <h4>아래 방법 중 한가지를 선택해주세요.</h4>
    <app-card name="card_type_PHONE" [button]="true" [color]="type === 'PHONE' ? 'secondary' : 'white'" (click)="type = 'PHONE'">
      <app-row class="card-inner">
        <app-col size="auto">
          <div class="icon">
            <ion-icon color="primary" name="phone-portrait-outline"></ion-icon>
          </div>
        </app-col>
        <app-col>
          <h4>등록한 휴대폰</h4>
          <p>회원정보에 등록된 휴대폰 정보를 입력해서 아이디 찾기</p>
        </app-col>
        <app-col size="auto">
          <app-img class="arrow-right" src="assets/img/sign-up/arrow-right.svg"></app-img>
        </app-col>
      </app-row>
    </app-card>
    <p>
      * 본인 인증시 제공되는 정보는 인증 이외의 용도로 이용 또는 저장하지 않습니다.
    </p>
    <p>
      * 위 방법으로 확인이 안될 시 관리자에게 문의해주세요. 개인정보보호를 위해 바로 안내해드리기 어려운 점 양해 부탁드립니다.    
    </p>
  </app-container>
</ion-content>
<app-button-footer name="button-footer" *ngIf="type" @slideUpInAnimation>
  <app-button name="button_next" (click)="next()">다음</app-button>
</app-button-footer>