<ion-header>
  <ion-toolbar>
    <ion-title>side-menu-web</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="topnav">
  <app-img class="logo" src="assets/basic/img/logo.png"></app-img>
  <a (click)="testcomponent()"><app-img class="menu" src="assets/basic/img/menu.png"></app-img></a>
  <a href="">통합관제</a>
  <a href="">결재</a>
  <a href="">안전교육</a>
  <a href="">작업계획</a>
  <a href="">작업관리</a>
  <a href="">장비관리</a>
  <a href="">위험작업관리</a>
  <a href="">비상상황관리</a>
</div>
<div class="list">
  <app-row>
    <app-col><app-img class="control" src="assets/basic/img/control center.png"></app-img>
      <h2>통합관제</h2>
    </app-col>
    <app-col><app-img class="sign" src="assets/basic/img/sign.png"></app-img>
      <h2>결재</h2>
    </app-col>
    <app-col><app-img class="control" src="assets/basic/img/safety-education.png"></app-img>
      <h2>안전교육</h2>
     <ul class="list">
       <li>교육현황</li>
       <li>교육현황</li>
       <li>교육현황</li>
     </ul>
    </app-col>
    <app-col><app-img class="control" src="assets/basic/img/work-plan.png"></app-img>
      <h2>작업계획</h2>
    </app-col>
    <app-col><app-img class="control" src="assets/basic/img/work-management.png"></app-img>
      <h2>작업관리</h2>
    </app-col>
    <app-col><app-img class="control" src="assets/basic/img/equipment-management.png"></app-img>
      <h2>장비관리</h2>
    </app-col>
  </app-row>
</div>
</ion-content>
