<ion-header>
  <ion-toolbar>
    <ion-title>side-menu-web</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="topnav">
  <app-img class="logo" src="assets/basic/img/logo.png"></app-img>
  <a (click)="testcomponent()"><app-img class="menu" src="assets/basic/img/menu.png"></app-img></a>
  <a href="">통합관제</a>
  <a href="">결재</a>
  <a href="">안전교육</a>
  <a href="">작업계획</a>
  <a href="">작업관리</a>
  <a href="">장비관리</a>
  <a href="">위험작업관리</a>
  <a href="">비상상황관리</a>
</div>
<div class="list"> 
  <app-row>
    <app-col><app-img class="control" src="assets/basic/img/control center.svg"></app-img>
      <h2>통합관제</h2>
    </app-col>
    <app-col><app-img class="sign" src="assets/basic/img/sign.svg"></app-img>
      <h2>결재</h2>
      <ul class="small-list">
        <li><a href="">미결함</a></li>
        <li><a>문서함<app-img class="tab" [src]="document ? 'assets/basic/img/list tab hide.svg' : 'assets/basic/img/list tab.svg'"  
          (click)="document = !document"></app-img></a>
          <ol @fadeInAnimation *ngIf="document">
            <li>기안/임시저장함</li>
            <li>진행/완료/반려함</li>
            <li>참조함</li>
          </ol>
        </li>
        <li><a>결재설정<app-img class="tab" [src]="sign ? 'assets/basic/img/list tab hide.svg' : 'assets/basic/img/list tab.svg'"  (click)="sign = !sign"></app-img></a></li>
        <ol @fadeInAnimation *ngIf="sign">
          <li>기본 결재선 지정</li>
          <li>위임 관리</li>
        </ol>
      </ul>
    </app-col>
    <app-col><app-img class="control" src="assets/basic/img/safety-education.svg"></app-img>
      <h2>안전교육</h2>
     <ul class="small-list">
       <li><a href="">교육현황</a></li>
       <li><a href="">교육 결과 보고</a></li>
       <li><a href="">교육이력</a></li>
     </ul>
    </app-col>
    <app-col><app-img class="control" src="assets/basic/img/work-plan.svg"></app-img>
      <h2>작업계획</h2>
      <ul class="small-list">
        <li><a>위험성 평가<app-img class="tab" [src]="risk ? 'assets/basic/img/list tab hide.svg' : 'assets/basic/img/list tab.svg'"  (click)="risk = !risk"></app-img></a></li>
        <ol @fadeInAnimation *ngIf="risk">
          <li>위험성평가 작성</li>
          <li>평가표 정보 추가 요청</li>
        </ol>
        <li><a href="">위험 작업 허가</a></li>
        <li><a href="">장비작업계획</a></li>
        <li><a href="">협의체 회의</a></li>
      </ul>

    </app-col>
    <app-col><app-img class="control" src="assets/basic/img/work-management.svg"></app-img>
      <h2>작업관리</h2>
      <ul class="small-list">
        <li><a href="">출역 현황</a></li>
        <li><a href="">TBM 일지</a></li>
        <li><a href="">점검현황</a></li>
        <li><a href="">부적합 조치 현황</a></li>
        <li><a href="">현장기상정보</a></li>
      </ul>
    </app-col>
    <app-col><app-img class="control" src="assets/basic/img/equipment-management.svg"></app-img>
      <h2>장비관리</h2>
      <ul class="small-list">
        <li><a href="">중장비 관리</a></li>
        <li><a>스마트 안전 장비<br>등록/관리<app-img class="tab" [src]="smart ? 'assets/basic/img/list tab hide.svg' : 'assets/basic/img/list tab.svg'"  (click)="smart = !smart"></app-img></a></li>
        <ol @fadeInAnimation *ngIf="smart" >
          <li>시리얼 No</li>
          <li>개인 디바이스</li>
          <li>중장비 디바이스</li>
          <li>위험지역 디바이스</li>
        </ol>
      </ul>
    </app-col>
  </app-row>
  <app-row>
    <app-col><app-img class="control" src="assets/basic/img/dangerous-management.svg"></app-img>
      <h2>위험작업관리</h2>
      <ul class="small-list">
        <li><a href="">중장비 접근</a></li>
        <li><a href="">안전고리 체결</a></li>
        <li><a href="">밀폐 환경 정보</a></li>
      </ul>
    </app-col>
    <app-col><app-img class="sign" src="assets/basic/img/emergency-management.svg"></app-img>
      <h2>비상상황관리</h2>
      <ul class="small-list">
        <li><a href="">아차사고 신고</a></li>
        <li><a href="">비상 알림 관리</a></li>
        <li><a href="">사고 보고</a></li>
      </ul>
    </app-col>
    <app-col><app-img class="control" src="assets/basic/img/emergency-management.svg"></app-img>
      <h2>고객지원</h2>
     <ul class="small-list">
       <li><a href="">1:1 문의</a></li>
       <li><a href="">사용자 매뉴얼</a></li>
       <li><a href="">언어 설정</a></li>
       <li><a href="">시스템 이용 약관</a></li>
       <li><a href="">개인정보처리방침</a></li>
     </ul>
    </app-col>
    <app-col><app-img class="control" src="assets/basic/img/emergency-management.svg"></app-img>
      <h2>현장관리</h2>
      <ul class="small-list">
        <li><a href="">현장 등록</a></li>
        <li><a href="">원청사 등록</a></li>
        <li><a href="">장소 등록</a></li>
        <li><a href="">기준 정보 관리</a></li>
      </ul>

    </app-col>
    <app-col><app-img class="control" src="assets/basic/img/emergency-management.svg"></app-img>
      <h2>게시판</h2>
      <ul class="small-list">
        <li><a href="">공지사항</a></li>
        <li><a href="">MSDS</a></li>
        <li><a href="">회의록</a></li>
      </ul>
    </app-col>
    <app-col><app-img class="control" src="assets/basic/img/notification box.svg"></app-img>
      <h2>알림함</h2>
    </app-col>
  </app-row>
  <!-- <div class="close">
    <a href=""><app-img class="close" src="assets/basic/img/close.svg"></app-img></a>닫기
  </div> -->
</div>
</ion-content>
