.topnav {
	background-color: var(--ion-color-secondary);
	overflow: hidden;
	vertical-align: middle;
	display: flex;
	align-items: center;
	
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15px;

	
  }
  .menu {
	  width: 17px;
	  height: 17px;
	  text-align: center;
  }
  .logo {
	  width: 35px;
	  height: 35px;
	  margin: 5px 10px 5px 20px;
	
  }
//   /* Change the color of links on hover */
//   .topnav a:hover {
// 	background-color: #ffffff;
// 	color: black;
//   }
