<ion-header>
  <ion-toolbar color="white">
    <ion-title>CCTV 상세보기</ion-title>
    <ion-buttons slot="end">
      <ion-buttons slot="end">
        <app-dismiss-button></app-dismiss-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-row mobileBreak>
    <app-col>
      <app-select-scene [required]="true" label="현장명" [(ngModel)]="form.project_id" [disabled]="!permission.input_disabled"></app-select-scene>
    </app-col>
    <app-col>
      <app-select-contractor *ngIf="!cctv_id" [required]="true" label="원청사명" [project_id]="form.project_id" [(ngModel)]="form.master_company_id" [disabled]="true"></app-select-contractor>
      <app-input *ngIf="cctv_id" [required]="true" label="원청사명" [(ngModel)]="form.master_company_name" [disabled]="true"></app-input>
    </app-col>
  </app-row>

  <app-row mobileBreak>
    <app-col>
      <app-input [required]="true" label="설치장소명" [(ngModel)]="form.cctv_area_name" [disabled]="!permission.input_disabled"></app-input>
    </app-col>
    <app-col>
      <app-input [required]="true" label="CCTV IP" [(ngModel)]="form.cctv_ip" [disabled]="!permission.input_disabled"></app-input>
    </app-col>
  </app-row>

  <app-row mobileBreak>
    <app-col>
      <app-input [required]="true" label="Port" [(ngModel)]="form.cctv_port" [disabled]="!permission.input_disabled"></app-input>
    </app-col>
    <app-col>
      <app-input [required]="true" label="Channel No." [(ngModel)]="form.cctv_channel_no" [disabled]="!permission.input_disabled"></app-input>
    </app-col>
  </app-row>

  <app-row mobileBreak>
    <app-col>
      <app-input [required]="true" label="NVR ID" [(ngModel)]="form.cctv_nvr_id" [disabled]="!permission.input_disabled"></app-input>
    </app-col>
    <app-col>
      <app-input [required]="true" label="NVR PW" [(ngModel)]="form.cctv_nvr_password" [disabled]="!permission.input_disabled"></app-input>
    </app-col>
  </app-row>
</ion-content>
<app-button-footer *ngIf="type === 'update'">
  <app-button fill="translucent" *ngIf="!permission.input_disabled" (click)="this.permission.input_disabled = true">수정</app-button>
  <app-button fill="translucent" (click)="delete()" color="danger">삭제</app-button>
  <app-button fill="translucent" *ngIf="permission.input_disabled" (click)="save()">저장</app-button>
</app-button-footer>
<app-button-footer *ngIf="type === 'insert'">
  <app-button name="submit" (click)="save()">저장</app-button>
</app-button-footer>