<ng-container>
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>근로자 교육 이력</ion-title>
      <ion-buttons slot="end">
        <app-dismiss-button></app-dismiss-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-card color="light">
      <app-row>
        <app-col>
          <h4>근로자 정보</h4>
        </app-col>
      </app-row>
      <app-row>
        <app-col size="auto">
          <app-avatar style="width: 70px; height: 70px;" name="worker-profile" view_type="PROFILE"
            [(ngModel)]="res.user_profile_file_data" [file]="null" [file_json]="null"></app-avatar>
        </app-col>
        <app-col>
          <app-table>
            <thead>
              <tr>
                <th>현장명</th>
                <th>업체명</th>
                <th>성명</th>
                <th>국적</th>
                <th>직종</th>
                <th>직위</th>
                <th>안전직무</th>
                <th>계약유형</th>
                <th>출역상태</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ res?.project_name }}</td>
                <td>{{ res?.company_name }}</td>
                <td>{{ res?.user_name }}</td>
                <td>{{ res?.ctgo_country_name }}</td>
                <td>{{ res?.ctgo_occupation_name }}</td>
                <td>{{ res?.ctgo_job_position_name }}</td>
                <td>{{ res?.safe_job_name }}</td>
                <td>{{ res?.work_contract_type }}</td>
                <td>{{ res?.project_work_state ? '출역중' : '출역 종료'}}</td>
              </tr>
            </tbody>
          </app-table>
        </app-col>
      </app-row>
    </app-card>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-segment color="primary" value="1">
          <ion-segment-button [value]="1" (click)="menuCount = 1">주요 교육 현황</ion-segment-button>
          <ion-segment-button (click)="menuCount = 0">전체 교육 이력</ion-segment-button>
        </ion-segment>
      </ion-buttons>
    </ion-toolbar>
    <app-card  color="light" style="margin-top: 0;">
      <ng-container *ngIf="menuCount">
        <app-row>
          <app-col size="3">
            <h4>채용 시 교육</h4>
          </app-col>
          <app-col size="2">
            <p style="width: 220px; text-align: right;">*교육 관리 기준:1H / 채용시</p>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-table style="width: 45%;">
              <thead>
                <tr>
                  <th>교육명</th>
                  <th>이수일</th>
                  <th>경과일</th>
                  <th>이수시간</th>
                  <th>교육상태</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>채용 시 교육</td>
                  <td>{{ hire?.create_date }}</td>
                  <td>{{ hire?.education_credit_date }}</td>
                  <td>{{ hire?.education_credit_time }}</td>
                  <td>
                    <ion-chip *ngIf="hire?.hire_edu_state === '양호'" outline color="primary">양호</ion-chip>
                    <ion-chip *ngIf="hire?.hire_edu_state === '필요'" outline color="warning">필요</ion-chip>
                    <ion-chip *ngIf="hire?.hire_edu_state === '기한초과'" outline color="danger">기한초과</ion-chip>
                  </td>
                </tr>
              </tbody>
            </app-table>
          </app-col>
        </app-row>
        <app-row style="margin-top: 20px;">
          <app-col size="auto">
            <h4>정기 교육</h4>
          </app-col>
          <app-col style="text-align: right;" size="5">
            <p>*교육 관리 기준:6H / 분기</p>
          </app-col>
        </app-row>
        <app-row class="education-row">
          <app-col>
            <app-table>
              <thead>
                <tr class="education-head-tr">
                  <th>교육명</th>
                  <th>이수기간</th>
                  <th>잔여일</th>
                  <th>이수시간</th>
                  <th>잔여시간</th>
                  <th>교육상태</th>
                </tr>
              </thead>
              <tbody>
                <tr class="education-body-tr">
                  <td>작업자 정기교육</td>
                  <td>{{ routine.education_start_term }} ~ {{ routine.education_end_term }}</td>
                  <td>{{ routine.education_remaining_date }}</td>
                  <td>{{ routine.education_complete_time }}</td>
                  <td>{{ routine.education_recommended_complete_time }}</td>
                  <td>
                    <ion-chip *ngIf="routine.routine_edu_state === '양호'" outline color="primary">양호</ion-chip>
                    <ion-chip *ngIf="routine.routine_edu_state === '필요'" outline color="warning">필요</ion-chip>
                    <ion-chip *ngIf="routine.routine_edu_state === '기한초과'" outline color="danger">기한초과</ion-chip>
                  </td>
                </tr>
              </tbody>
            </app-table>
          </app-col>
          <app-col>
            <div class="grp-group">
              <div class="label">
                <div class="circle one"></div>
                <div class="label-inner">권장이수</div>
                <div class="circle two"></div>
                <div class="label-inner">실제이수</div>
              </div>

              <div class="grp-box">
                <div class="grp-item-bar one" [style.width]="routine.education_recommended_hours/6*100 + '%'">
                  <p class="grp-item-time">{{ routine.education_recommended_time ? routine.education_recommended_time : ''}}</p>
                </div>
                <div class="grp-item-bar two" [style.width]="routine.education_complete_hours/6*100 + '%'">
                  <p class="grp-item-time">{{ routine.education_complete_time ? routine.education_complete_time : ''}}</p>
                </div>
                <div class="grp-bottom-border"></div>
              </div>
            </div>
          </app-col>
        </app-row>
        <app-row>
          <app-col></app-col>
          <app-col>
            <app-row class="grp-time">
              <app-col size="auto">0H</app-col>
              <app-col size="auto">2H</app-col>
              <app-col size="auto">4H</app-col>
              <app-col size="auto">6H</app-col>
            </app-row>
          </app-col>
        </app-row>
        <ng-container *ngIf="specialRes?.rsMap && res.work_contract_type === '일종직'">
          <app-row style="margin-top: 20px;">
            <app-col size="auto">
              <h4>특별 교육</h4>
            </app-col>
            <app-col style="text-align: right;" size="5">
              <p>*교육 관리 기준:2H / 작업 투입 시(타워크레인 신호수 교육 / 8H)</p>
            </app-col>
          </app-row>
          <app-row class="education-row">
            <app-col>
              <app-table>
                <thead>
                  <tr class="education-head-tr">
                    <th>교육명</th>
                    <th>이수일</th>
                    <th>잔여일</th>
                    <th>이수시간</th>
                    <th>잔여시간</th>
                    <th>교육상태</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of specialRes?.rsMap" class="education-body-tr">
                    <td>{{ item.ctgo_education_safe_name }}</td>
                    <td>{{ item.create_date }}</td>
                    <td>{{ item.education_remaining_date }}</td>
                    <td>{{ item.education_complete_time }}H</td>
                    <td>{{ item.education_remaining_time }}H</td>
                    <td>
                      <ion-chip color="primary">{{item.special_edu_state}}</ion-chip>
                    </td>
                  </tr>
                </tbody>
              </app-table>
            </app-col>
            <app-col>
              <div class="grp-group">
                <div class="label">
                  <div class="circle one"></div>
                  <div class="label-inner">권장이수</div>
                  <div class="circle two"></div>
                  <div class="label-inner">실제이수</div>
                </div>

                <div class="grp-box" *ngFor="let item of specialRes?.rsMap">
                  <div class="grp-item-bar three" [style.width]="(item.education_recommended_hours/8 * 100) + '%'">
                    <p class="grp-item-time">{{ item.education_recommended_time ? item.education_recommended_time : ''}}</p>
                  </div>
                  <div class="grp-item-bar four" [style.width]="(item.education_complete_hours/8 * 100) + '%'">
                    <p class="grp-item-time">{{ item.education_complete_time ? item.education_complete_time : ''}}</p>
                  </div>
                  <div class="grp-bottom-border"></div>
                </div>
              </div>
            </app-col>
          </app-row>
          <app-row>
            <app-col></app-col>
            <app-col>
               <app-row class="grp-time">
              <app-col size="auto">0H</app-col>
              <app-col size="auto">2H(8H)</app-col>
            </app-row>
            </app-col>
          </app-row>
        </ng-container>

        <ng-container *ngIf="specialRes?.rsMap && res.work_contract_type === '상용직'">
          <app-row style="margin-top: 20px;">
            <app-col size="auto">
              <h4>특별 교육</h4>
            </app-col>
            <app-col style="text-align: right;" size="5">
              <p>*교육 관리 기준: 16H / 최초 교육 후 3개월</p>
            </app-col>
          </app-row>
          <app-row class="education-row">
            <app-col>
              <app-table>
                <thead>
                  <tr class="education-head-tr">
                    <th>교육명</th>
                    <th>이수일</th>
                    <th>잔여일</th>
                    <th>이수시간</th>
                    <th>잔여시간</th>
                    <th>교육상태</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of specialRes?.rsMap" class="education-body-tr">
                    <td>{{ item.ctgo_education_safe_name }}</td>
                    <td>{{ item.create_date }}</td>
                    <td>{{ item.education_remaining_date }}</td>
                    <td>{{ item.education_complete_time }}</td>
                    <td>{{ item.education_remaining_time }}</td>
                    <td>
                      <ion-chip color="primary">{{item.special_edu_state}}</ion-chip>
                    </td>
                  </tr>
                </tbody>
              </app-table>
            </app-col>
            <app-col>
              <div class="grp-group">
                <div class="label">
                  <div class="circle one"></div>
                  <div class="label-inner">권장이수</div>
                  <div class="circle two"></div>
                  <div class="label-inner">실제이수</div>
                </div>

                <div class="grp-box" *ngFor="let item of specialRes?.rsMap">
                  <div class="grp-item-bar three" [style.width]="(item.education_recommended_hours/16 * 100) + '%'">
                    <p class="grp-item-time">{{ item.education_recommended_time ? item.education_recommended_time : ''}}</p>
                  </div>
                  <div class="grp-item-bar four" [style.width]="(item.education_complete_hours/16 * 100) + '%'">
                    <p class="grp-item-time">{{ item.education_complete_time ? item.education_complete_time : ''}}</p>
                  </div>
                  <div class="grp-bottom-border"></div>
                </div>
              </div>
            </app-col>
          </app-row>
          <app-row>
            <app-col></app-col>
            <app-col>
              <!-- <div class="grp-bottom-border"></div> -->
              <app-row class="grp-time">
                <app-col size="auto">0H</app-col>
                <app-col size="auto">4H</app-col>
                <app-col size="auto">8H</app-col>
                <app-col size="auto">12H</app-col>
                <app-col size="auto">16H</app-col>
              </app-row>
            </app-col>
          </app-row>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!menuCount">
        <app-row>
          <app-col></app-col>
          <app-col>
            <app-input label="검색어" name="search" [(ngModel)]="useForm.search_text" (keyup.enter)="useItem(0)" placeholder="검색어를 입력해주세요.">
              <app-img name="search" (click)="useItem(0)"></app-img>
            </app-input>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-table>
              <thead>
                <tr>
                  <th style="width: 48px;">No</th>
                  <th>교육명</th>
                  <th style="width: 200px;">이수일</th>
                  <th style="width: 100px;">이수시간</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of useRes?.rsMap">
                  <td>{{ item.index }}</td>
                  <td>{{ item.ctgo_education_safe_name }}</td>
                  <td>{{ item.create_date }}</td>
                  <td>{{ item.education_safe_time }}H</td>
                </tr>
              </tbody>
            </app-table>
            <app-pager [totalCount]="useRes?.rsObj.row_count" [limitNo]="useForm.limit_no" (pagerChange)="useItem($event)"></app-pager>
          </app-col>
        </app-row>
      </ng-container>
    </app-card>
  </ion-content>
</ng-container>