<ng-container>
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>근로자 교육 이력</ion-title>
      <ion-buttons slot="end">
        <app-dismiss-button></app-dismiss-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-row>
      <app-col>
        <h4>근로자 정보</h4>
      </app-col>
    </app-row>
    <app-row>
      <app-col size="auto">
        <app-avatar *ngIf="res.user_profile_file_data" name="worker-profile" view_type="PROFILE"
          [(ngModel)]="res.user_profile_file_data" [file]="null" [file_json]="null"></app-avatar>
      </app-col>
      <app-col>
        <app-table>
          <thead>
            <tr>
              <th>현장명</th>
              <th>업체명</th>
              <th>성명</th>
              <th>국적</th>
              <th>직종</th>
              <th>직위</th>
              <th>안전직무</th>
              <th>계약유형</th>
              <th>출역상태</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ res?.project_name }}</td>
              <td>{{ res?.company_name }}</td>
              <td>{{ res?.user_name }}</td>
              <td>{{ res?.ctgo_country_name }}</td>
              <td>{{ res?.ctgo_occupation_name }}</td>
              <td>{{ res?.ctgo_job_position_name }}</td>
              <td>{{ res?.safe_job_name }}</td>
              <td>{{ res?.work_contract_type }}</td>
              <td>{{ res?.project_work_state ? '출역중' : '출역 종료'}}}</td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
    </app-row>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-segment color="primary" value="1">
          <ion-segment-button [value]="1" (click)="menuCount = 1">주요 교육 현황</ion-segment-button>
          <ion-segment-button (click)="menuCount = 0">전체 교육 이력</ion-segment-button>
        </ion-segment>
      </ion-buttons>
    </ion-toolbar>
    <ng-container *ngIf="menuCount">
      <app-row>
        <app-col>
          <h4>채용 시 교육</h4>
          <p>*교육 관리 기준:1H / 채용시</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-table>
            <thead>
              <tr>
                <th>교육명</th>
                <th>이수일</th>
                <th>경과일</th>
                <th>이수시간</th>
                <th>교육상태</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>채용 시 교육</td>
                <td>{{ hireRes?.create_date }}</td>
                <td>{{ hireRes?.education_credit_date }}</td>
                <td>{{ hireRes?.education_credit_time}}H</td>
                <td>
                  <ion-chip *ngIf="hireRes?.hire_edu_state === '양호'" outline color="primary">양호</ion-chip>
                  <ion-chip *ngIf="hireRes?.hire_edu_state === '필요'" outline color="warning">필요</ion-chip>
                  <ion-chip *ngIf="hireRes?.hire_edu_state === '기한초과'" outline color="danger">기한초과</ion-chip>
                </td>
              </tr>
            </tbody>
          </app-table>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h4>정기 교육</h4>
          <p>*교육 관리 기준:1H / 분기</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-table>
            <thead>
              <tr>
                <th>교육명</th>
                <th>이수기간</th>
                <th>잔여일</th>
                <th>이수시간</th>
                <th>잔여시간</th>
                <th>교육상태</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of routineRes?.rsMap">
                <td>작업자 정기교육</td>
                <td>{{ item.education_start_term }}~{{ item.education_end_term }}</td>
                <td>{{ item.education_remaining_date }}</td>
                <td>{{ item.education_complete_time }}H</td>
                <td>{{ item.education_remaining_time }}H</td>
                <td>
                  <ion-chip *ngIf="item.routine_edu_state === '양호'" outline color="primary">양호</ion-chip>
                  <ion-chip *ngIf="item.routine_edu_state === '필요'" outline color="warning">필요</ion-chip>
                  <ion-chip *ngIf="item.routine_edu_state === '기한초과'" outline color="danger">기한초과</ion-chip>
                </td>
              </tr>
            </tbody>
          </app-table>
        </app-col>
        <app-col style="height: 141px;">
          <div class="grp-group-one">
            <div class="label">
              <div class="label-one">
                <div class="circle-one"></div>
                <div>권장이수</div>
              </div>
              <div class="label-two">
                <div class="circle-two"></div>
                <div>실제이수</div>
              </div>
            </div>
            <div class="grp-box">
              <div class="grp-item-one" [style]="routine(1)"></div>
              <div class="grp-item-two" [style]="routine(0)"></div>
              <div class="grp-bottom-border"></div>
              <div class="grp-time">
                <div class="first">
                  <div>0H</div>
                </div>
                <div class="second">
                  <div class="second-one">2H</div>
                  <div class="second-two">4H</div>
                </div>
                <div class="third">
                  <div class="third-one">6H</div>
                </div>
              </div>
            </div>
          </div>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h4>특별 교육</h4>
          <p>*교육 관리 기준:1H / 작업 투입 시(타워크레인 신호수 교육의 경우8H)</p>
        </app-col>
      </app-row>
      <app-row style="justify-content: stretch;">
        <app-col>
          <app-table>
            <thead>
              <tr>
                <th>교육명</th>
                <th>이수일</th>
                <th>잔여일</th>
                <th>이수시간</th>
                <th>잔여시간</th>
                <th>교육상태</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of specialRes?.rsMap">
                <td>{{ item.ctgo_education_safe_name }}</td>
                <td>{{ item.create_date }}</td>
                <td>{{ item.education_remaining_date }}</td>
                <td>{{ item.education_complete_time }}H</td>
                <td>{{ item.education_remaining_time }}H</td>
                <td>
                  <ion-chip color="primary">{{item.special_edu_state}}</ion-chip>
                </td>
              </tr>
            </tbody>
          </app-table>
        </app-col>
        <app-col>
          <div class="label">
            <div class="label-one">
              <div class="circle-one"></div>
              <div>권장이수</div>
            </div>
            <div class="label-two">
              <div class="circle-two"></div>
              <div>실제이수</div>
            </div>
          </div>
          <app-row *ngFor="let item of specialRes?.rsMap">
            <div class="grp-box">
              <div class="grp-item-three" [style]="special(1,item)"></div>
              <div class="grp-item-four" [style]="special(0,item)"></div>
              <div class="grp-bottom-border"></div>
            </div>
          </app-row>
          <div class="grp-box">
            <div class="grp-time">
              <div class="first">
                <div>0H</div>
              </div>
              <div class="third">
                <div class="third-one">8H(16H)</div>
              </div>
            </div>
          </div>
        </app-col>
      </app-row>
    </ng-container>
    <ng-container *ngIf="!menuCount">
      <app-row>
        <app-col>
          <app-input label="검색어" name="search" [(ngModel)]="useForm.search_text" (keyup.enter)="useItem(0)" placeholder="검색어를 입력해주세요.">
            <app-img name="search" (click)="useItem(0)"></app-img>
          </app-input>
        </app-col>
        <app-col></app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-table>
            <thead>
              <tr>
                <th style="width: 40px;">No.</th>
                <th>교육명</th>
                <th style="width: 100px;">이수일</th>
                <th style="width: 100px;">이수시간</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of useRes?.rsMap">
                <td>{{ item.index }}</td>
                <td>{{ item.ctgo_education_safe_name }}</td>
                <td>{{ item.create_date }}</td>
                <td>{{ item.education_safe_time }}H</td>
              </tr>
            </tbody>
          </app-table>
          <app-pager [totalCount]="useRes?.rsObj.row_count" [limitNo]="useForm.limit_no" (pagerChange)="useItem($event)"></app-pager>
        </app-col>
      </app-row>
    </ng-container>
  </ion-content>
</ng-container>