p {
	margin: 0;
}
h4{
	margin: 0;
}

.grp-group-one {
    width: 100%;
    height: 100%;
}
.grp-group-two {
    width: 100%;
    height: 100%;
}
.label {
	height: 30%;
	width: 100%;
	display: flex;
	justify-content: flex-end;

	.label-one {
		align-items: center;
		display: flex;
		width: 100px;
		text-align: right;
		.circle-one {
			margin-right: 10px;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			background-color: var(--ion-color-primary);
		}
	}
	.label-two {
		width: 100px;
		text-align: right;
		align-items: center;
		display: flex;
		.circle-two {
			margin-right: 10px;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			background-color: var(--ion-color-tertiary);
		}
	}
}
.grp-box {
    width: 100%;
    height: 70%;

}
.grp-item-one {
    background: var(--ion-color-primary);
    width: 65%;
    height: 16px;
}
.grp-item-two {
    background: var(--ion-color-tertiary);
    width: 65%;
    height: 16px;
}
.grp-item-three {
    background: var(--ion-color-primary);
    width: 100%;
    height: 16px;
}
.grp-item-four {
    background: var(--ion-color-tertiary);
    width: 100%;
    height: 16px;
}
.grp-bottom-border {
    background: var(--ion-color-medium);
    width: 100%;
    height: 3px;

	&:nth-child(3) {
		margin-bottom: 10px;
	}
}

.grp-time {
    width: 100%;
    height: 30%;
    display: flex;
	.first {
		flex: 1;
	}
	.second {
		display: flex;
		position: relative;
		flex: 1;
	}
	.second-one {
		position: absolute;
		left: -10px;
	
	}
	.second-two	{
		position: absolute;
		right: -10px;
	
	}
	.third {
		flex: 1;
	}
	.third-one {
		text-align: right;

	}
}
