<ion-header>
  <ion-toolbar color="white">
    <ion-title>업체 검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input name="with img" label="업체명" placeholder="업체명을 검색하세요">
      <app-img name="search"></app-img>
    </app-input>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card *ngFor="let item of companyData?.rsMap" [color]="selectedItem === item ? 'secondary':'white'" (click)="selectedItem = item">
    <app-row>
      <app-col size="4">
        <h5>업체명</h5>
        <p>{{ item.company_name}}</p>
      </app-col>
      <app-col size="4">
        <h5>사업자번호</h5>
        <p>{{ item.business_register_no }}</p>
      </app-col>
      <app-col size="4">
        <h5>대표명</h5>
        <p>{{ item.company_ceo }}</p>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button (click)="select()">적용</app-button>
</app-button-footer>
