<ion-header>
  <ion-toolbar color="white">
    <ion-title>업체 검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input name="with img" label="업체명" placeholder="업체명을 검색하세요">
      <app-img name="search"></app-img>
    </app-input>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card>
    <app-row>
      <app-col size="4">
        <h5>업체명</h5>
        <p>(주)지에스아이엘</p>
      </app-col>
      <app-col size="4">
        <h5>사업자번호</h5>
        <p>(주)112-00-11111</p>
      </app-col>
      <app-col size="4">
        <h5>대표명</h5>
        <p>이정우</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="4">
        <h5>업체명</h5>
        <p>(주)세미</p>
      </app-col>
      <app-col size="4">
        <h5>사업자번호</h5>
        <p>(주)000-00-00000</p>
      </app-col>
      <app-col size="4">
        <h5>대표명</h5>
        <p>홍길동</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="4">
        <h5>업체명</h5>
        <p>(주)건창</p>
      </app-col>
      <app-col size="4">
        <h5>사업자번호</h5>
        <p>(주)00001-11-1111</p>
      </app-col>
      <app-col size="4">
        <h5>대표명</h5>
        <p>고승진</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="4">
        <h5>업체명</h5>
        <p>(주)세미</p>
      </app-col>
      <app-col size="4">
        <h5>사업자번호</h5>
        <p>(주)1112-8888-99</p>
      </app-col>
      <app-col size="4">
        <h5>대표명</h5>
        <p>박찬구</p>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button>취소</app-button>
  <app-button>적용</app-button>
</app-button-footer>
