<ion-header>
  <ion-toolbar color="white">
    <ion-title>{{ languagePack.getText('상세검색') }}</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-row>
    <app-col>
      <app-select-scene [(ngModel)]="temptForm.project_id"></app-select-scene>
    </app-col>
  </app-row>
  <app-row>
    <app-col>
      <app-select-contractor [project_id]="temptForm.project_id" [(ngModel)]="temptForm.company_id"></app-select-contractor>
    </app-col>
  </app-row>
  <app-row>
    <app-col>
      <app-select label="회의록 구분" [(ngModel)]="temptForm.safety_meeting_types" [multiple]="true">
        <app-select-option type="all" [value]="[]">{{ languagePack.getText('전체') }}</app-select-option>
        <app-select-option value="안전 및 보건에 관한 협의체 회의록">{{ languagePack.getText('안전 및 보건에 관한 협의체 회의록') }}</app-select-option>
        <app-select-option value="노사 협의체 회의록">{{ languagePack.getText('노사 협의체 회의록') }}</app-select-option>
        <app-select-option value="산업안전보건위원회 회의록">{{ languagePack.getText('산업안전보건위원회 회의록') }}</app-select-option>
      </app-select>
    </app-col>
  </app-row>
  <app-row>
    <app-col>
      <app-input-group [label]="languagePack.getText('작성일')">
        <app-calendar [(ngModel)]="temptForm.start_date" [max]="temptForm.end_date"></app-calendar>
        ~
        <app-calendar [(ngModel)]="temptForm.end_date" [min]="temptForm.start_date"></app-calendar>
      </app-input-group>
    </app-col>
  </app-row>
  <app-row>
    <app-col>
      <app-input name="input scene" [(ngModel)]="temptForm.search_text" [label]="languagePack.getText('검색어')"></app-input>
    </app-col>
  </app-row>
</ion-content>

<app-button-footer>
  <app-button (click)="reset()">{{ languagePack.getText('초기화') }}</app-button>
  <app-button (click)="search()">{{ languagePack.getText('검색') }}</app-button>
</app-button-footer>
