<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>회원유형 선택</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-container size="small">
    <app-sign-up-segment step="step1"></app-sign-up-segment>
    <h4><b>회원유형</b> 을 선택해주세요.</h4>
    <p>회원유형에 따라 가입절차가 차이가 있으니, 올바르게 선택해 주시기 바랍니다.</p>
    <app-card name="card-type-worker" [button]="true" [color]="userType === 'WORKER' ? 'secondary' : 'white'" (click)="userType = 'WORKER'">
      <app-row class="card-inner">
        <app-col size="auto">
          <app-img class="helmet" src="assets/img/sign-up/helmet1.svg"></app-img>
        </app-col>
        <app-col>
          <h4>작업자</h4>
        </app-col>
        <app-col size="auto">
          <app-img class="arrow-right" src="assets/img/sign-up/arrow-right.svg"></app-img>
        </app-col>
      </app-row>
    </app-card>
    <app-card name="card-type-lh" [button]="true" [color]="userType === 'LH' ? 'secondary' : 'white'" (click)="userType = 'LH'">
      <app-row class="card-inner">
        <app-col size="auto">
          <app-img class="helmet" src="assets/img/sign-up/helmet2.svg"></app-img>
        </app-col>
        <app-col>
          <h4>LH</h4>
        </app-col>
        <app-col size="auto">
          <app-img class="arrow-right" src="assets/img/sign-up/arrow-right.svg"></app-img>
        </app-col>
      </app-row>
    </app-card>
    <app-card name="card-type-super" [button]="true" [color]="userType === 'SUPER' ? 'secondary' : 'white'" (click)="userType = 'SUPER'">
      <app-row class="card-inner">
        <app-col size="auto">
          <app-img class="helmet" src="assets/img/sign-up/helmet3.svg"></app-img>
        </app-col>
        <app-col>
          <h4>감리</h4>
        </app-col>
        <app-col size="auto">
          <app-img class="arrow-right" src="assets/img/sign-up/arrow-right.svg"></app-img>
        </app-col>
      </app-row>
    </app-card>
    <app-card name="card-type-company" [button]="true" [color]="userType === 'COMPANY' ? 'secondary' : 'white'" (click)="userType = 'COMPANY'">
      <app-row class="card-inner">
        <app-col size="auto">
          <app-img class="helmet" src="assets/img/sign-up/helmet4.svg"></app-img>
        </app-col>
        <app-col>
          <h4>원청사/협력사 관리자</h4>
        </app-col>
        <app-col size="auto">
          <app-img class="arrow-right"src="assets/img/sign-up/arrow-right.svg"></app-img>
        </app-col>
      </app-row>
    </app-card>
  </app-container>
</ion-content>
<app-button-footer name="button-footer" *ngIf="userType" @slideUpInAnimation>
  <app-button name="button_next" (click)="next()">다음</app-button>
</app-button-footer>