<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>원청사 관리</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-row style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <ion-toolbar slot="top" color="white">
          <app-row style="justify-content: space-between;">
            <app-col size="auto"><h5>필터</h5></app-col>
            <app-col size="auto"><app-button fill="translucent" style="width: 100px;">검색</app-button></app-col>
          </app-row>
        </ion-toolbar>
        <tbody>
          <tr>
            <td>
              <app-input label="지역본부"></app-input>
            </td>
          </tr>
          <tr>
            <td>
              <app-input label="사업본부"></app-input>
            </td>
          </tr>
          <tr>
            <td>
              <app-input label="검색어" placeholder="검색어를 입력해주세요."></app-input>
            </td>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <h5>수시 위험성평가 목록 (총90건)</h5>
      </ion-toolbar>      
        <app-table>
          <thead>
            <tr>
              <th>No</th>
              <th>지역본부</th>
              <th>사업본부</th>
              <th>현장명</th>
              <th>원청사</th>
              <th>사업자등록번호</th>
              <th>대표자</th>
              <th>최근 업데이트</th>
              <th>작성자</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><app-check color="white" size="small" name="check"></app-check></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </app-table>
      <app-pager></app-pager>
    </app-col>
  </app-row>
</ion-content>
