<app-header-admin></app-header-admin>
<ion-content [scrollX]="true">
  <app-container>
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <!-- <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto">
                <h5>필터</h5>
              </app-col>
              <app-col size="auto">
                <app-button fill="translucent" style="width: 100px;" (click)="getList()">검색</app-button>
              </app-col>
            </app-row>
          </ion-toolbar> -->
          <tbody>
            <!-- <tr>
              <td>
                <app-select-scene (ngModelChange)="getList()" name="project_id" [(ngModel)]="form.project_id">
                </app-select-scene>
              </td>
            </tr> -->
            <!-- <tr>
              <td>
                <app-select-contractor (ngModelChange)="getList()" [project_id]="form.project_id" name="master_company_id" [(ngModel)]="form.master_company_id">
                </app-select-contractor>
              </td>
            </tr> -->
            <tr>
              <td>
                <app-select label="본부" [(ngModel)]="form.hq_regional_id" (change)="getList()">
                  <app-select-option [value]="0">전체</app-select-option>
                  <app-select-option *ngFor="let item of RegionalItemList" [value]="item.hq_regional_id">{{
                    item.hq_regional_name }}</app-select-option>
                </app-select>
              </td>
            </tr>
            <!-- <tr>
              <td>
                <app-input label="검색어" [(ngModel)]="form.search_text" placeholder="검색어를 입력해 주세요."
                  [(ngModel)]="this.form.search_text"></app-input>
              </td>
            </tr> -->
          </tbody>
        </app-table>
      </app-col>
      <app-col>
        <ion-toolbar color="white">
          <ion-buttons slot="start">
            <app-button *ngIf="btnPromise('insert')" fill="translucent" (click)="addButton()">추가</app-button>
            <app-button *ngIf="btnPromise('update')" [disabled]="update_state" fill="translucent"
              (click)="update_state = true">수정</app-button>
            <app-button *ngIf="btnPromise('delete')" fill="translucent" color="danger" (click)="DeleteDistrict()">삭제
            </app-button>
            <app-button *ngIf="btnPromise('update')" [disabled]="!update_state && !res_insert.length" fill="translucent"
              (click)="DistrictSave()">저장</app-button>
          </ion-buttons>
          <!-- <ion-buttons slot="end">
            <ion-segment color="primary" [(ngModel)]="this.serial_type" (ngModelChange)="ChangeSearialType($event)">
              <ion-segment-button value="개인">개인용</ion-segment-button>
              <ion-segment-button value="중장비">중장비용</ion-segment-button>
              <ion-segment-button value="위험지역">장소용</ion-segment-button>
            </ion-segment>
          </ion-buttons> -->
        </ion-toolbar>
        <ion-toolbar color="white">
          <h5>사업지구 목록 (총 {{res?.rsObj?.row_count || 0 }}건)</h5>
        </ion-toolbar>
        <app-check-group [(ngModel)]="selectedList">
          <app-table>
            <thead>
              <tr>
                <th *ngIf="btnPromise('delete_check')" style="width: 40px;" rowspan="2">
                  <app-check type="all" color="white" size="small" name="check"></app-check>
                </th>
                <th>코드</th>
                <th>사업지구</th>
                <th>URL</th>
                <!-- <th>기기식별번호</th> -->
                <!-- <th>NFC NO</th> -->
                <!-- <th>기준값</th> -->
                <th>사용여부</th>
                <!-- <th>배정현황</th> -->
              </tr>
            </thead>
            <tbody>
              <!-- 추가된 ITEM 영역 -->
              <tr *ngFor="let item of res_insert">
                <td *ngIf="btnPromise('delete_check')" style="width: 40px;">
                  <app-check [on]="item" color="white" size="small" name="check"></app-check>
                </td>
                <td>
                  <app-input placeholder="입력해주세요" [(ngModel)]="item.district_code"></app-input>
                </td>
                <td>
                  <app-input placeholder="입력해주세요" [(ngModel)]="item.district_name"></app-input>
                </td>
                <td>
                  <app-input placeholder="입력해주세요" [(ngModel)]="item.district_url"></app-input>
                </td>
                <td>
                  <app-select [(ngModel)]="item.district_use_state">
                    <app-select-option [value]="1">Y</app-select-option>
                    <app-select-option [value]="0">N</app-select-option>
                  </app-select>
                </td>
                <!-- <td>
                  <app-select-contractor label="" [disabled]="user.userData.user_type == 'LH' ? false : true"
                    [project_id]="item.project_id" [(ngModel)]="item.master_company_id"></app-select-contractor>
                </td> -->
                <!-- <td>
                  <app-select label="장비구분" [(ngModel)]="item.ctgo_machine_serial_id" label="">
                    <app-select-option *ngFor="let item of searial_ctgo_list" [value]="item.ctgo_machine_serial_id">{{
                      item.ctgo_machine_serial_name }}</app-select-option>
                  </app-select>
                </td> -->
                <!-- <td class="center-class"> - </td> -->
                <!-- <td>
                  <app-select-device-id [project_id]="item.project_id" [master_company_id]="item.master_company_id"
                    [(ngModel)]="item.serial_bicon"></app-select-device-id>
                </td> -->
                <!-- <td>
                  <app-input placeholder="입력해주세요" [(ngModel)]="item.serial_nfc"></app-input>
                </td> -->
                <!-- <td><app-input placeholder="입력해주세요" [(ngModel)]="item.serial_value"></app-input></td> -->
                <!-- <td>
                  <app-select [(ngModel)]="item.district_use_state">
                    <app-select-option [value]="1">Y</app-select-option>
                    <app-select-option [value]="0">N</app-select-option>
                  </app-select>
                </td> -->
                <!-- <td class="center-class"> - </td> -->
              </tr>

              <tr *ngFor="let item of res?.rsMap">
                <td style="width: 40px;">
                  <app-check [on]="item" color="white" size="small" name="check"></app-check>
                </td>
                <!-- <td>
                  <app-select-contractor label=""
                    [disabled]="(user.userData.user_type == 'LH' && update_state) ? false : true"
                    [project_id]="item.project_id" [(ngModel)]="item.master_company_id"></app-select-contractor>
                </td> -->
                <!-- <td>
                  <app-select label="장비구분" [(ngModel)]="item.ctgo_machine_serial_id" label=""
                    [disabled]="!update_state">
                    <app-select-option *ngFor="let item of searial_ctgo_list" [value]="item.ctgo_machine_serial_id">{{
                      item.ctgo_machine_serial_name }}</app-select-option>
                  </app-select>
                </td> -->
                <!-- <td [class.center-class]="!item.serial_no">{{ item.serial_no }}</td> -->
                <!-- <td>
                  <app-input [disabled]="!update_state" [(ngModel)]="item.serial_bicon"></app-input>
                </td> -->
                <!-- <td>
                  <app-select-device-id [disabled]="!update_state" [project_id]="item.project_id" [master_company_id]="item.master_company_id"
                    [(ngModel)]="item.serial_bicon"></app-select-device-id>
                </td> -->
                <!-- <td>
                  <app-input [disabled]="!update_state" [(ngModel)]="item.serial_nfc"></app-input>
                </td> -->
                <!-- <td><app-input [disabled]="!update_state" [(ngModel)]="item.serial_value"></app-input></td> -->
                <td>
                  <app-input [disabled]="!update_state" [(ngModel)]="item.district_code"></app-input>
                </td>
                <td>
                  <app-input [disabled]="!update_state" [(ngModel)]="item.district_name"></app-input>
                </td>
                <td>
                  <app-input [disabled]="!update_state" [(ngModel)]="item.district_url"></app-input>
                </td>               
                <td>
                  <app-select [(ngModel)]="item.district_use_state" [disabled]="!update_state">
                    <app-select-option [value]="1">Y</app-select-option>
                    <app-select-option [value]="0">N</app-select-option>
                  </app-select>
                </td>
                <!-- <td [class.center-class]="!item.assign_data">{{ item.assign_data ? item.assign_data : ' - ' }}</td> -->
              </tr>
            </tbody>
          </app-table>
        </app-check-group>
      </app-col>
    </app-row>

  </app-container>
</ion-content>
<app-pager [totalCount]="res?.totalItems" [limitNo]="form.limit_no" (pagerChange)="getList($event)">
</app-pager>