<ion-header>
  <ion-toolbar color="white">
    <ion-title>회원 검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input-group>
      <app-select label="유형" name="select" [(ngModel)]="form.user_type">
        <app-select-option value="COMPANY">관리자</app-select-option>
        <app-select-option value="WORKER">작업자</app-select-option>
      </app-select>
      <app-input name="with img" label="검색어" [(ngModel)]="this.form.search_text" placeholder="검색어를 입력하세요">
        <app-img (click)="area_risk_id ? riskGet() : gateGet()" name="search"></app-img>
      </app-input>
    </app-input-group>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card [button]="true" *ngFor="let item of res?.rsMap let i = index" [color]="item.checked ? 'secondary':'white'" (click)="selectItem(item)">
    <app-row>
      <app-col size="auto">
      </app-col>
      <app-col>
        <h5>{{ item.user_name}}</h5>
        <p>{{ item.company_name }}/{{ item.ctgo_job_position_name }}/{{ item.ctgo_safe_job_name }}</p>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-card style="min-height: 50px;">
  <app-row>
    <app-col>
      <h6>현재 입장 처리가 되어있지 않은 근로자만 조회툅니다.</h6>
    </app-col>
  </app-row>
  <div style="height: 100px; overflow: auto;">
    <app-row style="flex-wrap: wrap;">
      <app-col size="auto" *ngFor="let name of selectData let index  = index" (click)="deleteData(index,name)">
        <ion-chip style="margin-top: 3px; margin-left: 0; margin-right: 3px;" color="primary" >{{ name.user_name }}
          <ion-icon name="close-outline"></ion-icon>
        </ion-chip>
      </app-col>
    </app-row>
  </div>
</app-card>
<app-datetime [label]="select_type === 'IN' ? '입장시간':'퇴장시간'" 
[(ngModel)]="form.inout_datetime">
</app-datetime>
<app-button-footer>
  <app-button (click)="dismiss()">취소</app-button>
  <app-button (click)="workerIn()">적용</app-button>
</app-button-footer>


