<app-card>
  <app-row>
    <app-col>
      <a [href]="futItem.full_url" [download]="futItem.file_name" target="_blank">
        <p style="margin-bottom: 8px;"><ion-text color="primary">{{ futItem.file_name }}</ion-text></p>
      </a>
      <a [href]="futItem.full_url" target="_blank">
        <app-img [src]="futItem.full_url" style="width: 80px; max-height: 80px;"></app-img>
      </a>
    </app-col>
    <app-col size="auto" *ngIf="!readonly">
      <app-button color="danger" fill="translucent" (click)="$event.preventDefault(); $event.stopPropagation(); buttonClick.emit()">삭제</app-button>
    </app-col>
  </app-row>
</app-card>