<app-card>
  <app-row class="flex-box-class">
    <app-col>
      <a [href]="futItem.full_url" [download]="futItem.file_name" target="_blank">
        <p style="margin-bottom: 8px;"><ion-text color="primary">{{ futItem.file_name }}</ion-text></p>
      </a>
      <ng-container *ngIf="
      futItem.file_name.includes('.jpeg') || 
      futItem.file_name.includes('.jpg') || 
      futItem.file_name.includes('.png') || 
      futItem.file_name.includes('.svg') || 
      futItem.file_name.includes('.gif') || 
      
      futItem.file_name.includes('.JPEG') || 
      futItem.file_name.includes('.JPG') || 
      futItem.file_name.includes('.PNG') || 
      futItem.file_name.includes('.SVG') || 
      futItem.file_name.includes('.GIF')">
        <div class="{{type}}">
          <a [href]="futItem.full_url" target="_blank">
            <app-img class="{{type}}" [src]="futItem.full_url" style="width: 80px; max-height: 80px;"></app-img>
          </a>
        </div>
      </ng-container>
    </app-col>
    <app-col size="auto" *ngIf="!readonly">
      <app-button color="danger" fill="translucent" (click)="$event.preventDefault(); $event.stopPropagation(); buttonClick.emit()">삭제</app-button>
    </app-col>
  </app-row>
</app-card>