
div.full{
    height: 460px!important;
    overflow-y: auto;
}
app-img.full{
    width: 100%!important;
    max-height: unset!important;
}

@media screen and (max-width: 768px) {
    .flex-box-class{
        display: flex;
        flex-direction: column;
    }
}