<picture>
  <ng-container *ngIf="trustSrc; else tempNotTrust">
    <ng-container *ngIf="mode === 'theme'; else tempLight">
      <source [srcset]="trustSrc.replace('.png', '')+'-dark.png'" media="(prefers-color-scheme: dark)">
      <img [src]="trustSrc">
    </ng-container>
    <ng-template #tempLight>
      <ng-container *ngIf="mode === 'light'; else tempDark">
        <img [src]="trustSrc">
      </ng-container>
    </ng-template>
    <ng-template #tempDark>
      <img [src]="trustSrc.replace('.png', '')+'-dark.png'">
    </ng-template>
  </ng-container>
  <ng-template #tempNotTrust>
    <img [src]="src">
  </ng-template>
</picture>