<ion-header>
  <ion-toolbar color="white">
    <ion-title>미결 문서</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *mobileHidden>
    
    <app-table>
      <thead>
        <tr>
          <th style="width: 48px;">No</th>
          <th>회의록 구분</th>
          <th style="width: 100px;">회의 일자</th>
          <th style="width: 100px;">업체명</th>
          <th style="width: 100px;">작성자</th>
          <th style="width: 100px;">작성일</th>
          <th style="width: 100px;">결재 현황</th>
        </tr>
      </thead>
      <tbody>
        <tr class="button" *ngFor="let item of res?.rsMap;" (click)="edit(item)">
          <td>{{ item.index }}</td>
          <td>{{ item.ctgo_approval_module_name }}</td>
          <td>{{ item.safety_meeting_date }}</td>
          <td>{{ item.company_name }}</td>
          <td>{{ item.user_name }}</td>
          <td>{{ item.create_date }}</td>
          <td>{{ item.approval_cnt_answer }}</td>
        </tr>
      </tbody>
    </app-table>
    
    <app-pager [totalCount]="res?.rsObj?.row_count" [limitNo]="form.limit_no" (pagerChange)="get($event)"></app-pager>

  </ng-container>

  <ng-container *mobileShow>

    <app-card *ngFor="let item of res?.rsMap" (click)="edit(item)">
      <app-row>
        <app-col>
          <h5>{{ item.ctgo_approval_module_name }}</h5>
        </app-col>
        <app-col size="auto">
          <app-chip-approval-answer [approval_cnt_answer]="item.approval_cnt_answer"></app-chip-approval-answer>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <p>{{ item.company_name }}</p>
          <p>작성일: {{ item.create_date }}</p>
        </app-col>
      </app-row>
    </app-card>
    
    <ion-infinite-scroll threshold="100px" id="infinite-scroll" (ionInfinite)="getMobile($event)">
      <ion-infinite-scroll-content loading-spinner="dots">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ng-container>

</ion-content>
