<ion-header>
  <ion-toolbar color="white">
    <ion-title>{{ languagePack.getText('휴대폰 번호 변경') }}</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4>{{ languagePack.getText('휴대폰 번호 변경') }}</h4>
  
  <app-input name="user_phone" [label]="languagePack.getText('핸드폰')"  [placeholder]="languagePack.getText('- 없이 숫자만 입력해주세요')" type="tel" 
  [color]="validator.user_phone?.valid === false ? 'warning' 
  : validator.sms_token?.valid === true && 'success'"
  [(ngModel)]="form.user_phone" (delayKeyup)="overlapPhone()" (buttonClick)="aligoSend()" [required]="true">
  {{ languagePack.getText('인증번호 받기') }}
  </app-input>
  <app-input-caption *ngIf="validator.user_phone?.valid === false" color="warning">{{ validator.user_phone?.message }}</app-input-caption>
  <app-input-caption *ngIf="validator.sms_token?.valid" color="success">인증이 완료되었습니다.</app-input-caption>
  
  <div @fadeAnimation *ngIf="validator.user_phone?.valid && !validator.sms_token?.valid">
    <app-input
    name="sms_token" [label]="languagePack.getText('인증번호')" [placeholder]="languagePack.getText('인증번호를 입력해주세요.')" type="tel"
    [color]="validator.sms_token?.valid === false && 'warning'"
    [(ngModel)]="form.sms_token" (buttonClick)="aligoCheck()" [required]="true">
    {{ languagePack.getText('확인') }}
    </app-input>
  </div>
  <app-input-caption *ngIf="validator.sms_token?.valid === false" color="warning">{{ validator.sms_token?.message }}</app-input-caption>

</ion-content>

<app-button-footer>
  <app-button (click)="dismiss()">{{ languagePack.getText('취소') }}</app-button>
  <app-button name="button_submit" (click)="submit()">{{ languagePack.getText('휴대폰 번호 변경') }}</app-button>
</app-button-footer>