app-avatar {
    margin-top: 30px;
    margin-bottom: 20px;
}
app-row {
    align-items: flex-start;
}
.file-card {
    --padding: 8px;
    app-col {
        padding: 0;
    }
    h6 {
        font-weight: 500;
        color: var(--ion-text-color);
    }
    app-button {
        border-radius: 0;
    }
}