<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
    <ion-title>작업자 가입승인 상세</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-container size="small">
    <app-card color="light" [button]="false">
      <ion-toolbar slot="top" color="white">
        <h5>회원정보</h5>
      </ion-toolbar>
      <form>
        <app-avatar class="avatar" [readonly]="false"></app-avatar>
        <app-row>
          <app-col>
            <app-input name="input disabled" label="아이디" [(ngModel)]="form.account_id" value="input disabled" [disabled]="true" [required]="true">
            </app-input>
          </app-col>
          <app-col>
            <app-input name="input" label="성명" [(ngModel)]="form.user_name" placeholder="김소령" [required]="true"></app-input>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-calendar name="calendar" label="생년월일" [(ngModel)]="form.user_birth" [required]="true"></app-calendar>
          </app-col>
          <app-col>
            <app-radio-input name="user_gender" label="성별" [(ngModel)]="form.user_gender" [required]="true">
              <app-radio value="남">남</app-radio>
              <app-radio value="여">여</app-radio>
            </app-radio-input>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-input name="phone-number" label="휴대폰" [(ngModel)]="form.user_phone" [required]="true" (click)="overlapPhone()">
              중복확인
              </app-input>
              <app-input-caption *ngIf="validator.user_phone?.valid === false" color="warning">{{ validator.user_phone?.message }}</app-input-caption>
          </app-col>
          <app-col>
            <app-select-country name="국가"
            name="ctgo_country_id"
            [color]="validator.ctgo_country_id?.valid === false && 'warning'"
            [(ngModel)]="form.ctgo_country_id" [required]="true"></app-select-country>
            <app-input-caption *ngIf="validator.ctgo_country_id?.valid === false" color="warning">{{ validator.ctgo_country_id?.message }}</app-input-caption>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-email name="user_email" label="이메일" [(ngModel)]="form.user_email"
          [color]="validator.user_email?.valid === false && 'warning'" (delayKeyup)="overlapEmail()"
          [(ngModel)]="form.user_email"></app-email>
          <app-input-caption *ngIf="validator.user_email?.valid === false" color="warning">{{ validator.user_email?.message }}</app-input-caption>
          </app-col>
          <app-col></app-col>
        </app-row>
      </form>
      <ion-toolbar slot="bottom" color="white">
        <ion-buttons slot="end">
          <app-button fill="translucent" style="width: 120px;" (click)="approval()">가입승인</app-button>
          <app-button style="width: 120px;" (click)="submit()">저장</app-button>
        </ion-buttons>
      </ion-toolbar>
    </app-card>
    <app-card color="light">
      <ion-toolbar slot="top" color="white">
        <ion-segment color="primary" style="max-width: 400px">
          <ion-segment-button (click)="menu = 1">소속 정보</ion-segment-button>
          <ion-segment-button (click)="menu = 2">건강 문진</ion-segment-button>
          <ion-segment-button (click)="menu = 3">교육 이력</ion-segment-button>
          <!-- <ion-segment-button (click)="menu = 4">근로 이력</ion-segment-button> -->
        </ion-segment>

      </ion-toolbar>

      <ng-container *ngIf="menu === 1">
        <app-row>
          <app-col></app-col>
          <app-col size="auto">
            <p>최종 수정일 : {{ item.update_date }}</p>
          </app-col>
        </app-row>
        <h5>소속정보</h5>
        <app-row>
          <app-col>
            <app-input name="input disabled" label="업체명" [disabled]="true" [(ngModel)]="form.company_name"></app-input>
          </app-col>
          <app-col>
            <app-select-position [company_id]="form.company_id" name="직위" label="직위" [(ngModel)]="form.ctgo_job_position_id" [required]="true"></app-select-position>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-input name="input disabled" label="현장명" [disabled]="true" [(ngModel)]="form.project_id"></app-input>
          </app-col>
          <app-col>
            <app-select-construction [project_id]="form.project_id" name="공종" label="공종"  [(ngModel)]="form.ctgo_construction_id" [required]="true"></app-select-construction>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-radio-input name="계약유형" label="계약유형" [(ngModel)]="form.work_contract_type">
              <app-radio value="상용직">상용직</app-radio>
              <app-radio value="일용직">일용직</app-radio>
            </app-radio-input>
          </app-col>
          <app-col>
            <app-input name="with img" label="직종" placeholder="장비운전원" [(ngModel)]="form.ctgo_occupation_name_kr">
              <app-img name="search"></app-img>
            </app-input>
          </app-col>
        </app-row>
        <app-table type="card">
          <thead>
            <tr>
              <th style="text-align: left;">No</th>
              <th style="text-align: left;">안전 직무</th>
              <th style="text-align: left;">안전직무 선임일</th>
              <th style="text-align: left;"></th>
              <th style="text-align: left;"></th>
              <th style="text-align: left;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of form.user_safe_job_data">
              <td style="text-align: left;">1</td>
              <td><app-select-safetymanager name="안전직무" [company_id]="form.company_id" user_type="WORKER" [(ngModel)]="item.ctgo_safe_job_id" [required]="true"></app-select-safetymanager></td>
              <td><app-calendar [(ngModel)]="item.safe_job_start_date" name="안전직무선임일"></app-calendar></td>
              <td><a>선임서.pdf</a>
                <app-button shape="circle" size="small" fill="translucent">
                  <app-img name="save"></app-img>
                  <app-file name="input" view_type="JOB"
                  [(ngModel)]="form.file_data"
                  [file]="form.file"
                  [file_json]="form.file_json"
                  ></app-file>
                </app-button>
              </td>
              <td>
              </td>
              <td style="text-align: right;"><app-button shape="circle" size="small" fill="translucent"><app-img name="plus"></app-img></app-button>
                <app-button shape="circle" size="small" color="danger" fill="translucent"><app-img name="minus"></app-img></app-button></td>
            </tr>
          </tbody>
        </app-table>
        <!-- <app-row>
          <app-col></app-col>
          <app-col size="auto">
            <app-button fill="translucent" style="width: 120px;">정보 불러오기</app-button>
          </app-col>
        </app-row> -->



        <h5>자격정보</h5>
        <app-table type="card">
          <thead>
            <tr>
              <th style="text-align: left;">No</th>
              <th style="text-align: left;">면허번호</th>
              <th style="text-align: left;">면허증</th>
              <th style="text-align: left;"></th>
              <th style="text-align: left;"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: left;">1</td>
              <td style="text-align: left;"><app-input name="면허번호" placedholder="면허번호를 입력해주세요."></app-input></td>
              <td style="text-align: left;"><a>선임서.pdf</a>
                <app-button shape="circle" size="small" fill="translucent">
                  <app-img name="save"></app-img>
                </app-button>
              </td>
              <td>
              </td>
              <td style="text-align: right;">
                <app-button shape="circle" size="small" fill="translucent"><app-img name="plus"></app-img></app-button>
                <app-button shape="circle" size="small" color="danger" fill="translucent"><app-img name="minus"></app-img></app-button></td>
            </tr>
          </tbody>
        </app-table>
      </ng-container>
      <ng-container *ngIf="menu === 2">
        <!-- 건강문진 -->
        <h5>건강 문진 결과</h5>
        <app-container size="small">
          <form>
            <h5>1. 현재 복용하고 있는 약물이 있습니까?</h5>
            <app-radio-input>
              <app-radio value="없다">없다</app-radio>
              <app-radio value="있다">있다</app-radio>
            </app-radio-input>
            <app-input name="약물명을 입력해주세요." placeholder="약물명을 입력해주세요."></app-input>
            <h5>2. 과거나 현재 뇌, 심혈관질환으로 치료를 받았거나 받고 있습니까?</h5>
            <app-radio-input>
              <app-radio value="없다">없다</app-radio>
              <app-radio value="있다">있다</app-radio>
            </app-radio-input>
            * 해당하는 항목에 체크해주세요
            <app-row>
              <app-col>
                <app-check size="small" name="뇌졸중">뇌졸중</app-check>
              </app-col>
              <app-col>
                <app-check size="small" name="뇌출혈">뇌출혈</app-check>
              </app-col>
              <app-col>
                <app-check size="small" name="협심증">협심증</app-check>
              </app-col>
              <app-col>
                <app-check size="small" name="심근경색">심근경색</app-check>
              </app-col>
              <app-col>
                <app-check size="small" name="간질발작">간질발작</app-check>
              </app-col>
            </app-row>
            <h5>3. 최근 가슴을 쥐어짜는 통증,오심,구토 증상을 겪은 적이 있습니까?</h5>
            <app-radio-input>
              <app-radio value="없다">없다</app-radio>
              <app-radio value="있다">있다</app-radio>
            </app-radio-input>
            <app-input name="증상을 적어주세요." placeholder="증상을 적어주세요."></app-input>
            <h5>4. 최근 갑자기 한쪽 팔,다리에 힘이 빠지거나 말이 어눌하게 나오거나 두통,어지러운 증상을 겪은적이 있습니까?</h5>
            <app-radio-input>
              <app-radio value="없다">없다</app-radio>
              <app-radio value="있다">있다</app-radio>
            </app-radio-input>
            <app-input name="증상을 적어주세요." placeholder="증상을 적어주세요."></app-input>
            <h5>5. 현재 기타질병(당뇨,간장질환,폐질환 등)으로 치료를 받고 있습니까?</h5>
            <app-radio-input>
              <app-radio value="없다">없다</app-radio>
              <app-radio value="있다">있다</app-radio>
            </app-radio-input>
            <app-input name="증상을 적어주세요." placeholder="증상을 적어주세요."></app-input>
            <h5>6. 본인이 코로나19가 의심되는 아래의 임상증상이 있습니까?(*주요 임상증상)체온 37.5도 이상,기침,호흡곤란,오한,근육통,두통,인후통,후각미각 소실 또는 폐렴
              (단,코로나19와 관계없이 평소의 기저질환으로 인한 증상인 경우는 제외)
            </h5>
            <app-radio-input>
              <app-radio value="없다">없다</app-radio>
              <app-radio value="있다">있다</app-radio>
            </app-radio-input>
            <app-input name="증상을 적어주세요." placeholder="증상을 적어주세요."></app-input>
            <h5>7. 코로나 백신 접종을 하셨습니까?</h5>
            <app-radio-input>
              <app-radio value="미접종">미접종</app-radio>
              <app-radio value="접종">접종</app-radio>
            </app-radio-input>
          </form>
        </app-container>
      </ng-container>
      <ng-container *ngIf="menu === 3">
        <!-- 교육이력 -->
        <h5>교육 정보</h5>
        <app-row>
          <app-col>
            <app-input-group label="기초 안전 보건 교육 이수일">
              <app-calendar></app-calendar>
              ~
              <app-calendar></app-calendar>
            </app-input-group>
          </app-col>
          <app-col>
            <app-input label="기초 안전 보건 교육 이수증">
              <app-img name="save"></app-img>
            </app-input>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-select-scene></app-select-scene>
          </app-col>
          <app-col>
            <app-select-education></app-select-education>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-input label="검색어" placeholder="검색어를 입력해 주세요"></app-input>
          </app-col>
        </app-row>
        <app-table type="card">
          <thead>
            <tr>
              <th>No</th>
              <th>교육구분</th>
              <th>교육명</th>
              <th>이수일</th>
              <th>이수시간</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </app-table>
      </ng-container>
    </app-card>
  </app-container>
</ion-content>