<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>나의 출입 현황</ion-title>
    <ion-buttons slot="end">
      <app-menu-button></app-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input-group>
      <app-select-scene name="project_id" [(ngModel)]="form.project_id" [disabled]="true"></app-select-scene>
      <app-button (click)="detailSearch()">상세검색</app-button>
    </app-input-group>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card *ngIf="resgate?.rsCode === 0" (click)="gateOpen = !gateOpen">
    <app-row>
      <app-col>
        <!-- <h4>{{ resgate?.rsObj?.area_risk_name }}</h4> -->
        <h4>게이트</h4>
      </app-col>
      <app-col size="auto">
        <ion-chip [color]="resgate?.rsObj?.last_state === '입장' ? 'primary' : 'medium'">{{ resgate?.rsObj?.last_state }}
        </ion-chip>
      </app-col>
      <app-col size="auto">
        <ion-chip [color]="resgate?.rsObj?.last_state === '입장' ? 'primary' : 'medium'">{{ resgate?.rsObj?.last_time}}
        </ion-chip>
      </app-col>
    </app-row>
  </app-card>
  <app-card *ngIf="gateOpen">
    <ng-container *ngFor="let item of resgate?.rsObj?.inner_data">
      <app-row>
        <app-col size="auto">
        </app-col>
        <app-col>
        </app-col>
        <app-col size="auto">
          <ion-chip color="primary">입장</ion-chip>
        </app-col>
        <app-col size="auto">
          <ion-chip color="primary">{{ item.inside_time }}</ion-chip>
        </app-col>
      </app-row>

      <app-row *ngIf="item?.work_state === '퇴장'">
        <app-col size="auto">
        </app-col>
        <app-col>
        </app-col>
        <app-col size="auto">
          <ion-chip color="medium">퇴장</ion-chip>
        </app-col>
        <app-col size="auto">
          <ion-chip color="medium">{{ item.outside_time }}</ion-chip>
        </app-col>
      </app-row>
    </ng-container>
  </app-card>

  <ng-container *ngFor="let risk of resrisk?.rsMap">
    <app-card *ngIf="resrisk.rsCode === 0" (click)="risk.checked = !risk.checked">
      <app-row>
        <app-col>
          <h4>{{ risk.area_top_name }}{{ risk.area_middle_name ? ' '+risk.area_middle_name : '' }}{{ risk.area_bottom_name ? ' '+risk.area_bottom_name : '' }}{{ risk.area_risk_name ? '/'+risk.area_risk_name : '' }}</h4>
        </app-col>
        <app-col size="auto">
          <ion-chip [color]="risk.last_state === '입장' ? 'primary' : 'medium'">{{ risk.last_state }}</ion-chip>
        </app-col>
        <app-col size="auto">
          <ion-chip [color]="risk.last_state === '입장' ? 'primary' : 'medium'">{{ risk.last_time}}</ion-chip>
        </app-col>
      </app-row>
    </app-card>
    <app-card *ngIf="risk.checked">
      <ng-container *ngFor="let item of risk.inner_data">
        <app-row>
          <app-col size="auto">
          </app-col>
          <app-col>
          </app-col>
          <app-col size="auto">
            <ion-chip color="primary">입장</ion-chip>
          </app-col>
          <app-col size="auto">
            <ion-chip color="primary">{{ item.inside_time }}</ion-chip>
          </app-col>
        </app-row>
  
        <app-row *ngIf="item?.work_state === '퇴장'">
          <app-col size="auto">
          </app-col>
          <app-col>
          </app-col>
          <app-col size="auto">
            <ion-chip color="medium">퇴장</ion-chip>
          </app-col>
          <app-col size="auto">
            <ion-chip color="medium">{{ item.outside_time }}</ion-chip>
          </app-col>
        </app-row>
      </ng-container>
    </app-card>
  </ng-container>
</ion-content>

<app-button-footer>
  <app-button *ngIf="notWorker" (click)="workerSatus()">근로자 출입 관리</app-button>
  <app-button (click)="inNfcQr()">출입(NFC / QR)</app-button>
</app-button-footer>