<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>나의 출입 현황</ion-title>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-row>
      <app-col>
        <app-select-scene></app-select-scene>
      </app-col>
    </app-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card *ngFor="let item of dummyArr" (click)="status(item)">
    <app-row>
      <app-col size="auto">
      </app-col>
      <app-col>
        <h5>{{ item.title }}</h5>
        <p>{{ item.company }} | {{ item.user_name }} | 작성일: {{ item.write_date }}</p>
      </app-col>
      <app-col size="auto">
        <ion-chip color="primary">{{item.status}}</ion-chip>
      </app-col>
      <app-col size="auto">
        <ion-chip color="primary">{{ item.status_hour}}</ion-chip>
      </app-col>
    </app-row>
    <ng-container *ngFor="let arr of hourArr1">
      <app-row *ngIf="item.open">
        <app-col size="auto">
        </app-col>
        <app-col>
        </app-col>
        <app-col size="auto">
          <ion-chip [color]="arr.status === '입장' ? 'primary' : 'medium'">{{arr.status}}</ion-chip>
        </app-col>
        <app-col size="auto">
          <ion-chip color="primary">{{ arr.status_hour}}</ion-chip>
        </app-col>
      </app-row>
    </ng-container>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button (click)="workerSatus()">근로자 출입 관리</app-button>
  <app-button>출입(NFC / QR)</app-button>
</app-button-footer>
