<ion-header>
  <ion-toolbar>
    <ion-title>steps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment scrollable [(ngModel)]="nav">
    <ion-segment-button value="step1">
      회원유형<br>선택
    </ion-segment-button>
    <ion-segment-button value="step2">
      기본정보<br>입력
    </ion-segment-button>
    <ion-segment-button value="step3">
      건강문진<br>작성
    </ion-segment-button>
    <ion-segment-button value="step4">
      약관동의
    </ion-segment-button>
    <ion-segment-button value="step5">
      가입완료
    </ion-segment-button>
  </ion-segment>
</ion-content>
