ion-segment-button{
    height: 56px;
    --color: black;
	--background: white;
    --padding-bottom: 15px;
    --background-hover:none;
    --padding-top: 15px;
    --color-checked: black;
    // --color-activated: white;
    --color-hover: black;
    
    --indicator-color: var(--ion-color-primary);
    // --indicator-transform: translate(0, -70px);
    --indicator-transition: transform 300ms;
    --indicator-height: 3px;
    --background-hover-opacity: none;
    --transition: color 0s linear 0s, opacity 0.15s linear 0s;
    --background-checked:#D1F6E3;  
}
