<ion-header>
  <ion-toolbar>
    <ion-title>steps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment scrollables>
    
    <ion-segment-button *ngFor="let item of steps let index = index" (click)="check(item)">
      <div class="step-number">
        <img *ngIf="!item.check" src="assets/basic/img/checked.png">
        <ng-container *ngIf="item.check">{{ index+1 }}</ng-container>
      </div>
      {{item.text}}
    </ion-segment-button>
  </ion-segment>
  <app-naver-map [(ngModel)]="nav"></app-naver-map>
</ion-content>
