<ion-header>
  <ion-toolbar color="white">
    <ion-title>크레인 상하자 접근내역</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4>크레인 정보</h4>
  <app-row mobileBreak>
    <app-col>
      <app-select-scene
        name="project_id"
        [required]="true"
        [disabled]="true"
        [(ngModel)]="project_id"
      ></app-select-scene>
      <!-- <app-select-scene name="project_id"  [required]="true" [disabled]="updateStatus" [(ngModel)]="form.project_id"></app-select-scene> -->
    </app-col>
    <app-col>
      <app-input label="건설기계" [(ngModel)]="this.machinery_regist_no" name="area_risk_name" [readonly]="true" [required]="true"
        [disabled]="true"></app-input>
    </app-col>
    <app-col>
      <app-calendar label="날짜" [(ngModel)]="form.cnt_date" name="cnt_date" [required]="true" (change)="get()">
      </app-calendar>
    </app-col>
  </app-row>
  <!-- <app-row mobileBreak>

    <app-col>
    </app-col>
  </app-row> -->
  <h6></h6>
  <app-row style="justify-content: space-between">
    <app-col size="auto">
      <h4>이벤트 발생 조회</h4>
      </app-col>
      <app-row style="justify-content: end; width: fit-content">
        <app-circle [color]="'#0e0'">&nbsp;</app-circle>
        <span>&nbsp;: 정상&nbsp;&nbsp;</span>
        <app-circle [color]="'orange'">&nbsp;</app-circle>
        <span>&nbsp;: 접근</span>
      </app-row>
      </app-row>
  <app-table>
    <thead>
      <tr>
        <th>No</th>
        <th>건설기계</th>
        <th>접근 상태</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of res?.rsMap let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.colt_dt | date:'yyyy-MM-dd EEE HH:mm:ss' }}</td>
        <td [ngSwitch]="item.craneHeightCd">
          <app-circle *ngSwitchCase="'정상'" [color]="'#0e0'">
            &nbsp;
          </app-circle>
          <app-circle *ngSwitchCase="'비정상'" [color]="'orange'">
            &nbsp;
          </app-circle>
        </td>
      </tr>
    </tbody>
  </app-table>
</ion-content>
<app-pager [totalCount]="res?.rsObj.row_count" [limitNo]="form.limit_no" (pagerChange)="get($event)">
</app-pager>
<app-button-footer *ngIf="serial_no">
  <app-button fill="default" (click)="close()">닫기</app-button>
</app-button-footer>
