/** single */
.width\:100\% {
    width: 100%;
}
.text-align\:left {
    text-align: left;
}
.text-align\:center {
    text-align: center;
}
.text-align\:right {
    text-align: right;
}
.flex-wrap\:nowrap {
    flex-wrap: nowrap;
}
.flex-wrap\:wrap {
    flex-wrap: wrap;
}

/** combination */
.absolute-fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}