/** single */
.width\:100\% {
    width: 100% !important;
}
.text-align\:left {
    text-align: left !important;
}
.text-align\:center {
    text-align: center !important;
}
.text-align\:right {
    text-align: right !important;
}
/** flex */
.flex-wrap\:nowrap {
    flex-wrap: nowrap !important;
}
.flex-wrap\:wrap {
    flex-wrap: wrap !important;
}
.align-items\:stretch {
    align-items: stretch !important;
}

/** combination */
.absolute-fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}