// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import "variables-generater.scss";
@import "font.scss";

/** Ionic CSS Variables **/
:root {
  @include generateColorSteps(#f1f6f8,#445760);

  @include generateColor('primary', #44C650, #ffffff);
  @include generateColor('secondary', #D1F6E3, #2F8D38);
  @include generateColor('tertiary', #25A485, #ffffff);
  @include generateColor('fourth', #357F6D, #ffffff);
  @include generateColor('success', #46BDE2, #ffffff);
  @include generateColor('warning', #ff9041, #ffffff);
  @include generateColor('danger', #FF6060, #ffffff);
  @include generateColor('light', #F7F9FC, #000000);
  @include generateColor('medium', #9CB3BE, #ffffff);
  @include generateColor('dark', #445760, #ffffff);
  
  @include generateColor('white', #ffffff, #000000);
  @include generateColor('star', #ffba0d, #ffffff);

  @include generateColor('monitor-warning', #FFC876, #ffffff);
  @include generateColor('monitor-yellow', #FCE640, #ffffff);
  @include generateColor('monitor-green', #B9DC3D, #ffffff);

  @include generateColor('main-btn-grey', #969696, #ffffff);
}
@include generateColorClass('primary');
@include generateColorClass('secondary');
@include generateColorClass('tertiary');
@include generateColorClass('success');
@include generateColorClass('warning');
@include generateColorClass('danger');
@include generateColorClass('light');
@include generateColorClass('medium');
@include generateColorClass('dark');

@include generateColorClass('white');
@include generateColorClass('star');

@include generateColorClass('main-btn-grey');

@media (prefers-color-scheme: dark) {
  body {
    @include generateColorSteps(#222120, #f1f0ef);
    
    @include generateColor('primary', #44C650, #ffffff);
    @include generateColor('secondary', #D1F6E3, #2F8D38);
    @include generateColor('tertiary', #25A485, #ffffff);
    @include generateColor('success', #25A485, #ffffff);
    @include generateColor('warning', #ff9041, #ffffff);
    @include generateColor('danger', #FF6060, #ffffff);
    @include generateColor('dark', #F7F9FC, #222120);
    @include generateColor('medium', #9CB3BE, #222120);
    @include generateColor('light', #445760, #222120);

    @include generateColor('white', #181818, white);
    @include generateColor('star', #ffba0d, #ffffff);
  }
}


/**********************/
/** custom variables **/
/**********************/
:root {
  --ion-font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;

  /** font size 정의 */
  --font-size-h1: 54px;
  --font-size-h2: 36px;
  --font-size-h3: 28px;
  --font-size-h4: 18px;
  --font-size-h5: 14px;
  --font-size-h6: 13px;
  --font-size-h6-small: 11px;
  /** input은 보통 앱이나 웹 둘다 16px을 많이 쓴다 */
  --font-size-input: 15px;
  
  /** app-col 등 element 간의 margin/padding 값 */
  --app-padding: 6px;
  /** card 여백 등의 margin/padding 값 */
  --app-margin: 12px;
  /** 페이지 여백 등의 margin/padding 값 */
  --app-page-padding: 16px;
  /** input, button, card의 border radius */
  --app-border-radius: 3px;
  /** input, button, card의 box shadow */
  --app-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  /** placeholder color */
  --app-placeholder-color: var(--ion-color-step-800);
}
@media screen and (max-width: 768px) {
  body {
    --font-size-h1: 30px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-h4: 17px;
    --font-size-h5: 14px;
    --font-size-h6: 13px;
    --font-size-h6-small: 11px;

    --font-size-input: 15px;
    
    /** app-col 등 element 간의 margin/padding 값 */
    --app-padding: 4px;
    /** card 여백 등의 margin/padding 값 */
    --app-margin: 10px;
    /** 페이지 여백 등의 margin/padding 값 */
    --app-page-padding: 16px;
  }
}