:host {
  ion-toolbar {
    --min-height: 0;
  }
  .button-list {
    display: flex;
    justify-content: flex-end;
    padding: var(--app-padding);
    width: 100%;
  }
}
:host ::ng-deep {
  app-button {
    flex: 1 1 0%;
    width: 100%;
    max-width: 158px;
    margin-top: 0;
    margin-bottom: 0;
  }
  app-button:not(:last-child) {
    box-shadow: none;
    background: var(--ion-color-translucent);
    color: var(--ion-color-shade);
  }

  @media screen and (max-width: 768px) {
    app-button {
      max-width: initial;
    }
  }
}
