:host {
  ion-toolbar {
    --min-height: 0;
  }
  .button-list {
    display: flex;
    justify-content: flex-end;
    padding: var(--app-padding);
    width: 100%;
  }
}
:host ::ng-deep {
  app-button {
    flex: 1 1 0%;
    width: 100%;
    max-width: 150px;
    margin-top: 0;
    margin-bottom: 0;
  }
  app-button:not(:last-child) {
    --app-box-shadow: none;
    --app-background: var(--ion-color-translucent);
    --app-color: var(--ion-color-shade);
  }
}