:host ::ng-deep {
    .input-group>.input>* {
        padding-left: 4px;
        padding-right: 4px;
        flex: 1 1 0%;
        width: 100%;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    app-input-template:not(.input-group) {
        padding: 0;
        box-shadow: none;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        button {
            right: 0 !important;
            bottom: 0 !important;
        }
    }
}