<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle>
            <ion-item routerLink="/basic/guide" fragment="top">
              <ion-label>home</ion-label>
            </ion-item>
            
            <ion-list-header routerLink="/basic/guide" fragment="animation">
              <ion-label>Animation</ion-label>
            </ion-list-header>
            <ion-item-group>
              <ion-item routerLink="/basic/guide" fragment="fadeAnimation">
                <ion-label>fadeAnimation</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="fadeInAnimation">
                <ion-label>fadeInAnimation</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="listAnimation">
                <ion-label>listAnimation</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="listInAnimation">
                <ion-label>listInAnimation</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="bounceInAnimation">
                <ion-label>bounceInAnimation</ion-label>
              </ion-item>
            </ion-item-group>
  
  
            <ion-list-header routerLink="/basic/guide" fragment="component">
              <ion-label>Component</ion-label>
            </ion-list-header>
            <ion-item-group>
              <ion-item-divider routerLink="/basic/guide" fragment="dialog">
                <ion-label>Dialog</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="alert">
                <ion-label>alert</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider routerLink="/basic/guide" fragment="input">
                <ion-label>Input</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="calendar">
                <ion-label>calendar</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="calendar-popover">
                <ion-label>
                  <small>
                    <ion-icon name="arrow-forward"></ion-icon>
                    calendar-popover
                  </small>
                </ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="check">
                <ion-label>check</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="check-group">
                <ion-label>check-group</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>datetime</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime-popover">
                <ion-label>
                  <small>
                    <ion-icon name="arrow-forward"></ion-icon>
                    datetime-popover
                  </small>
                </ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="file">
                <ion-label>file</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="app-input">
                <ion-label>input</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="input-caption">
                <ion-label>input caption</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="naver-map">
                <ion-label>naver map</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="select">
                <ion-label>select</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="select-option">
                <ion-label>select-option</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="select-popover">
                <ion-label>
                  <small>
                    <ion-icon name="arrow-forward"></ion-icon>
                    select-popover
                  </small>
                </ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="textarea">
                <ion-label>textarea</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider>
                <ion-label>native</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>calendar</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>check</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>datetime</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>input</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>camera</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>caption</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>file</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>select</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>textarea</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider lines="none">
                <ion-label>UI</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>button</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>button-footer</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>card</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>copy-right</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>img</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>logo</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>avatar</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>row / col</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>table</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-list-header>
              <ion-label>pipes</ion-label>
            </ion-list-header>
            <ion-item-group>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>safe</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-list-header>
              <ion-label>service</ion-label>
            </ion-list-header>
            <ion-item-group>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>connect</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>device</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>file</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>user</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider>
                <ion-label>ionic</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>alert</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>loading</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>nav</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>toast</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-list-header>
              <ion-label>service</ion-label>
            </ion-list-header>
            <ion-item-group>
              <ion-item-divider>
                <ion-label>native</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>camera</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>GPS</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>NFC</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>QR</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider>
                <ion-label>util</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>date</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>daum</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>full-screen</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>promise</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>regex</ion-label>
              </ion-item>
            </ion-item-group>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
