<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle>
            <ion-item routerLink="/basic/guide" fragment="top">
              <ion-label>home</ion-label>
            </ion-item>
            
            <ion-list-header routerLink="/basic/guide" fragment="animation">
              <ion-label>Animation</ion-label>
            </ion-list-header>
            <ion-item-group>
              <ion-item routerLink="/basic/guide" fragment="fadeAnimation">
                <ion-label>fadeAnimation</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="fadeInAnimation">
                <ion-label>fadeInAnimation</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="listAnimation">
                <ion-label>listAnimation</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="listInAnimation">
                <ion-label>listInAnimation</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="bounceInAnimation">
                <ion-label>bounceInAnimation</ion-label>
              </ion-item>
            </ion-item-group>
  
  
            <ion-list-header routerLink="/basic/guide" fragment="component">
              <ion-label>Component</ion-label>
            </ion-list-header>
            <ion-item-group>
              <ion-item-divider routerLink="/basic/guide" fragment="dialog">
                <ion-label>Dialog</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="daum">
                <ion-label>daum</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider routerLink="/basic/guide" fragment="input">
                <ion-label>Input</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="calendar">
                <ion-label>calendar</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="calendar-popover">
                <ion-label>
                  <small>
                    <ion-icon name="arrow-forward"></ion-icon>
                    calendar-popover
                  </small>
                </ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="check">
                <ion-label>check</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="check-group">
                <ion-label>check-group</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime">
                <ion-label>datetime</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="datetime-popover">
                <ion-label>
                  <small>
                    <ion-icon name="arrow-forward"></ion-icon>
                    datetime-popover
                  </small>
                </ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="file">
                <ion-label>file</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="app-input">
                <ion-label>input</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="input-caption">
                <ion-label>input-caption</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="input-template">
                <ion-label>input-template</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="naver-map">
                <ion-label>naver-map</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="radio">
                <ion-label>radio</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="radio-group">
                <ion-label>radio-group</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="radio-input">
                <ion-label>radio-input</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="select">
                <ion-label>select</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="select-option">
                <ion-label>select-option</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="select-popover">
                <ion-label>
                  <small>
                    <ion-icon name="arrow-forward"></ion-icon>
                    select-popover
                  </small>
                </ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="textarea">
                <ion-label>textarea</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider>
                <ion-label>native</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="nfc">
                <ion-label>nfc</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="qr">
                <ion-label>qr</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider lines="none" routerLink="/basic/guide" fragment="ui">
                <ion-label>UI</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="avatar">
                <ion-label>avatar</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="button">
                <ion-label>button</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="button-footer">
                <ion-label>button-footer</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="card">
                <ion-label>card</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="container">
                <ion-label>container</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="copy-right">
                <ion-label>copy-right</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="img">
                <ion-label>img</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="logo">
                <ion-label>logo</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="row-col">
                <ion-label>row / col</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="table">
                <ion-label>table</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-list-header routerLink="/basic/guide" fragment="pipes">
              <ion-label>pipes</ion-label>
            </ion-list-header>
            <ion-item-group>
              <ion-item routerLink="/basic/guide" fragment="safe-pipes">
                <ion-label>safe</ion-label>
              </ion-item>
            </ion-item-group>

            <ion-list-header routerLink="/basic/guide" fragment="service">
              <ion-label>Service</ion-label>
            </ion-list-header>
            <ion-item-group>
              <ion-item-divider lines="none" routerLink="/basic/guide" fragment="core-service">
                <ion-label>Core</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="connect-service">
                <ion-label>connect</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="device-service">
                <ion-label>device</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="file-service">
                <ion-label>file</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="user-service">
                <ion-label>user</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider routerLink="/basic/guide" fragment="ionic-service">
                <ion-label>Ionic</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="alert-service">
                <ion-label>alert</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="loading-service">
                <ion-label>loading</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="nav-service">
                <ion-label>nav</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="toast-service">
                <ion-label>toast</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider routerLink="/basic/guide" fragment="native-service">
                <ion-label>native</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="camera-service">
                <ion-label>camera</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="gps-service">
                <ion-label>GPS</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="nfc-service">
                <ion-label>NFC</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="qr-service">
                <ion-label>QR</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider routerLink="/basic/guide" fragment="util-service">
                <ion-label>util</ion-label>
              </ion-item-divider>
              <ion-item routerLink="/basic/guide" fragment="date-service">
                <ion-label>date</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="daum-service">
                <ion-label>daum</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="full-screen-service">
                <ion-label>full-screen</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="promise-service">
                <ion-label>promise</ion-label>
              </ion-item>
              <ion-item routerLink="/basic/guide" fragment="regex-service">
                <ion-label>regex</ion-label>
              </ion-item>
            </ion-item-group>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
