:host{
    app-button{
        margin-bottom: 0;
    }
    .edit {
        height: 230px;
        overflow: scroll;
        th {
            position: sticky;
            top: 0;
            z-index: 2;
        }
    }
    .selected {
        td {
            background: var(--ion-color-secondary);
        }
    }
}