:host{
    .map-container {
        height: 400px;
        background: var(--ion-color-step-50);
        app-naver-map {
            height: 100%;
        }
    }
    app-button {
        margin-bottom: 0;
    }
    .edit {
        height: 230px;
        overflow: scroll;
        th {
            position: sticky;
            top: 0;
            z-index: 2;
        }
    }
    .selected {
        td {
            background: var(--ion-color-secondary);
        }
    }
}