<ion-header>
  <ion-toolbar>
    <ion-title>scene-edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-row>
    <app-col>
      <app-table>
        <thead>
          <tr>
            <th style="width: 250px;">조직기구</th>
            <td></td>
            <th style="width: 250px;">현장명</th>
            <td></td>
          </tr>
          <tr>
            <th>원청사</th>
            <td></td>
            <th>감리사</th>
            <td></td>
          </tr>
          <tr>
            <th>공사기간</th>
            <td></td>
            <th>공사금액</th>
            <td></td>
          </tr>
          <tr>
            <th>사업분야</th>
            <td></td>
            <th>공사내용</th>
            <td></td>
          </tr>
          <tr>
            <th>주소</th>
            <td></td>
            <th>현장 영역</th>
            <td></td>
          </tr>
          <tr>
            <td colspan="2" style="height: 250px;"></td>
            <td colspan="2"></td>
          </tr>
        </thead>
      </app-table>
      <app-table>
        <thead>
          <tr>
            <th>작성일</th>
            <td></td>
            <th></th>
            <td></td>
          </tr>
        </thead>
      </app-table>
    </app-col>
  </app-row>
</ion-content>
