app-table {
    margin: 0;
}

.flex_end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}