<div class="container">
  <svg id="logo" viewBox="-10 -10 117 117" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="animate-group" style="transform: rotate(0deg); transform-origin: center; transform-box: fill-box;">
      <mask id="mask2" style="maskType: alpha;" maskUnits="userSpaceOnUse" x="0" y="1" width="97" height="96">
        <path d="M0 36.5C0 16.8939 15.8939 1 35.5 1H97V97H38.5V72H35.5C15.8939 72 0 56.1061 0 36.5Z" fill="#FFF" />
      </mask>
      <g mask="url(#mask2)">
        <path class="animate-path" d="M38.5 86.5H61.5C75.3071 86.5 86.5 75.3071 86.5 61.5C86.5 47.6929 75.3071 36.5 61.5 36.5H-3.5" style="transform: translateX(30.25px);" stroke="#56BA53" stroke-width="21" stroke-dashoffset="-123" stroke-dasharray="163" />
      </g>
      <mask id="mask1" style="maskType: alpha;" maskUnits="userSpaceOnUse" x="-100" y="-100" width="200" height="200">
        <path d="M61.5 97C81.1061 97 97 81.1061 97 61.5C97 41.8939 81.1061 26 61.5 26H58.5V5.11423e-06L8.48001e-06 0L6.20702e-06 26L41 26L41 47H4.37114e-06L0 97L61.5 97Z" fill="#FFF" />
      </mask>
      <g mask="url(#mask1)">
        <path class="animate-path" d="M58.5 11.5L35.5 11.5C21.6929 11.5 10.5 22.6929 10.5 36.5C10.5 50.3071 21.6929 61.5 35.5 61.5L100.5 61.5" style="transform: translateX(-30.25px);" stroke="#0C694F" stroke-width="21" stroke-dashoffset="-123" stroke-dasharray="163" />
      </g>
    </g>
  </svg>
</div>