<app-header-admin></app-header-admin>

<ion-content>
  <ion-toolbar color="white" *ngIf="!workRoleCheck">
    <app-row>
      <app-col size="auto">
        <ion-segment color="primary" [(ngModel)]="segment" (ionChange)="segmentChange()">
          <ion-segment-button value="1">공종</ion-segment-button>
          <ion-segment-button value="2" [disabled]="true">위험 공종</ion-segment-button>
          <ion-segment-button value="3" [disabled]="true">위험성평가<br>항목</ion-segment-button>
          <ion-segment-button value="4" [disabled]="true">위험성평가<br>추가 항목</ion-segment-button>
          <ion-segment-button value="5">건설기계</ion-segment-button>
          <ion-segment-button value="6">특수공도구</ion-segment-button>
          <ion-segment-button value="7" [disabled]="true">위험지역<br>점검표</ion-segment-button>
          <ion-segment-button value="8">회의록<br>협의사항</ion-segment-button>
          <ion-segment-button value="9">재해 형태</ion-segment-button>
          <ion-segment-button value="10" [disabled]="true">작업절차서<br>등록</ion-segment-button>
        </ion-segment>
      </app-col>
    </app-row>
  </ion-toolbar>
  <ng-container *ngIf="!workRoleCheck">
    <app-row style="align-items: flex-start;" *ngIf="segment === '1'">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto">
                <h5>필터</h5>
              </app-col>
              <app-col size="auto">
                <app-button fill="translucent" [disabled]="workRoleCheck" style="width: 100px;"
                  (click)="getConstruction()">검색</app-button>
              </app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
                <app-select-scene [disabled]="workRoleCheck" [(ngModel)]="constructionForm.project_id"></app-select-scene>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-contractor [disabled]="workRoleCheck" [project_id]="constructionForm.project_id" [(ngModel)]="constructionForm.master_company_id"></app-select-contractor>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
      <app-col>
        <ion-toolbar color="white">
          <ion-buttons slot="start">
            <app-button fill="translucent" [disabled]="workRoleCheck" (click)="constructionAdd()">추가</app-button>
            <!-- <app-button fill="translucent" [disabled]="workRoleCheck" (click)="constructionDelete()" color="danger">삭제</app-button> -->
            <app-button fill="translucent" [disabled]="workRoleCheck" (click)='constructionState(1)'>전체 사용</app-button>
            <app-button fill="translucent" [disabled]="workRoleCheck" (click)='constructionState(0)'>전체 미사용</app-button>
          </ion-buttons>
        </ion-toolbar>
        <ng-container *ngIf="!workRoleCheck">
          <ion-toolbar color="white">
            <app-row>
              <app-col>
                <h5>공종 목록 (총{{resConstruction?.rsMap?.length ? resConstruction?.rsMap?.length :0}}건)</h5>
              </app-col>
              <app-col size="auto">
                <app-button fill="translucent" (click)="constructionSave()">저장</app-button>
              </app-col>
            </app-row>
          </ion-toolbar>
          <app-check-group [(ngModel)]="constructionSelected">
            <app-table>
              <thead>
                <tr>
                  <th style="width: 40px;">
                    <app-check type="all"></app-check>
                  </th>
                  <th>공종 목록</th>
                  <th style="width: 100px;">사용 여부</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of resConstruction?.rsMap">
                  <td>
                    <app-check [on]="item"></app-check>
                  </td>
                  <td>
                    <app-input [(ngModel)]="item.ctgo_construction_name"></app-input>
                  </td>
                  <td>
                    <app-select [(ngModel)]="item.ctgo_construction_use_state">
                      <app-select-option [value]="1">Y</app-select-option>
                      <app-select-option [value]="0">N</app-select-option>
                    </app-select>
                  </td>
                </tr>
              </tbody>
            </app-table>
          </app-check-group>
        </ng-container>
      </app-col>
    </app-row>
  </ng-container>

  <app-row style="align-items: flex-start;" *ngIf="segment === '5'">
    <app-col size="280px">
      <app-table type="card">
        <ion-toolbar slot="top" color="white">
          <app-row style="justify-content: space-between;">
            <app-col size="auto">
              <h5>필터</h5>
            </app-col>
            <app-col size="auto">
              <app-button [disabled]="workRoleCheck" fill="translucent" style="width: 100px;" (click)="getMachinery()">
                검색</app-button>
            </app-col>
          </app-row>
        </ion-toolbar>
        <tbody>
          <tr>
            <td>
              <app-select-scene [disabled]="editable" [(ngModel)]="machineryFrom.project_id"></app-select-scene>
            </td>
          </tr>
          <tr>
            <td>
              <app-select-contractor [project_id]="user.userData.belong_data.project_id" [multiple]="false"
                [disabled]="editable" [(ngModel)]="machineryFrom.master_company_id"></app-select-contractor>
            </td>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <app-button fill="translucent" [disabled]="workRoleCheck" (click)="machineryAdd()">추가</app-button>
          <app-button fill="translucent" [disabled]="workRoleCheck" (click)="machineryDelete()" color="danger">삭제
          </app-button>
          <app-button fill="translucent" [disabled]="workRoleCheck" (click)="machineryState(1)">전체 사용</app-button>
          <app-button fill="translucent" [disabled]="workRoleCheck" (click)="machineryState(0)">전체 미사용</app-button>
        </ion-buttons>
      </ion-toolbar>
      <ng-container *ngIf="!workRoleCheck">
        <ion-toolbar color="white">
          <app-row>
            <app-col>
              <h5>건설기계 목록 (총{{ resMachinery?.rsMap?.length ? resMachinery?.rsMap?.length: 0}}건)</h5>
            </app-col>
            <app-col size="auto">
              <app-button fill="translucent" (click)="machinerySave()">저장</app-button>
            </app-col>
          </app-row>
        </ion-toolbar>
        <app-check-group [(ngModel)]="selectedMachinery">
          <app-table>
            <thead>
              <tr>
                <th style="width: 40px;">
                  <app-check type="all"></app-check>
                </th>
                <th>건설 기계</th>
                <th style="width: 130px;">작업계획서 필수 첨부</th>
                <th>사용 여부</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of resMachinery?.rsMap">
                <td>
                  <app-check [on]="item"></app-check>
                </td>
                <td>
                  <app-input [(ngModel)]="item.ctgo_machinery_name"></app-input>
                </td>
                <td>
                  <app-check [(ngModel)]="item.ctgo_machinery_doc"></app-check>
                </td>
                <td>
                  <app-select [(ngModel)]="item.ctgo_machinery_use_state">
                    <app-select-option [value]="1">Y</app-select-option>
                    <app-select-option [value]="0">N</app-select-option>
                  </app-select>
                </td>
              </tr>
            </tbody>
          </app-table>
        </app-check-group>
      </ng-container>
    </app-col>
  </app-row>

  <app-row style="align-items: flex-start;" *ngIf="segment === '6'">
    <app-col size="280px">
      <app-table type="card">
        <ion-toolbar slot="top" color="white">
          <app-row style="justify-content: space-between;">
            <app-col size="auto">
              <h5>필터</h5>
            </app-col>
            <app-col size="auto">
              <app-button fill="translucent" [disabled]="workRoleCheck" style="width: 100px;" (click)="getTool()">검색
              </app-button>
            </app-col>
          </app-row>
        </ion-toolbar>
        <tbody>
          <tr>
            <td>
              <app-select-scene [disabled]="workRoleCheck" [(ngModel)]="toolForm.project_id"></app-select-scene>
            </td>
          </tr>
          <tr>
            <td>
              <app-select-contractor [project_id]="toolForm.project_id" [disabled]="editable"
                [project_id]="toolForm.project_id" [(ngModel)]="toolForm.company_id"></app-select-contractor>
            </td>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <app-button fill="translucent" [disabled]="workRoleCheck" (click)="toolAdd()">추가</app-button>
          <app-button fill="translucent" [disabled]="workRoleCheck" (click)="toolDelete()" color="danger">삭제
          </app-button>
          <app-button fill="translucent" [disabled]="workRoleCheck" (click)="toolState(1)">전체 사용</app-button>
          <app-button fill="translucent" [disabled]="workRoleCheck" (click)="toolState(0)">전체 미사용</app-button>
        </ion-buttons>
      </ion-toolbar>
      <ng-container *ngIf="!workRoleCheck">
        <ion-toolbar color="white">
          <app-row>
            <app-col>
              <h5>특수공도구 목록 (총{{resTool?.rsMap?.length || 0}}건)</h5>
            </app-col>
            <app-col size="auto">
              <app-button fill="translucent" (click)="toolSave()">저장</app-button>
            </app-col>
          </app-row>
        </ion-toolbar>
        <app-check-group [(ngModel)]="slectedTool">
          <app-table>
            <thead>
              <tr>
                <th style="width: 40px;">
                  <app-check type="all"></app-check>
                </th>
                <th>전기 공도구</th>
                <th>사용 여부</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of resTool?.rsMap">
                <td>
                  <app-check [on]="item"></app-check>
                </td>
                <td>
                  <app-input [(ngModel)]="item.ctgo_tool_name" placeholder="입력하세요."></app-input>
                </td>
                <td>
                  <app-select [(ngModel)]="item.ctgo_tool_use_state">
                    <app-select-option [value]="1">Y</app-select-option>
                    <app-select-option [value]="0">N</app-select-option>
                  </app-select>
                </td>
              </tr>
            </tbody>
          </app-table>
        </app-check-group>
      </ng-container>
    </app-col>
  </app-row>

  <ng-container *ngIf="segment === '8'">
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto">
                <h5>필터</h5>
              </app-col>
              <app-col size="auto">
                <app-button [disabled]="workRoleCheck" fill="translucent" style="width: 100px;" (click)="getMeeting()">
                  검색</app-button>
              </app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
                <app-select-scene [disabled]="workRoleCheck" [company_id]="meetingForm.company_id"
                  [(ngModel)]="meetingForm.project_id"></app-select-scene>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-contractor [disabled]="editable" [project_id]="meetingForm.project_id" [multiple]="false"
                  [(ngModel)]="meetingForm.company_id"></app-select-contractor>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>

      <app-col>
        <ion-toolbar slot="top" color="white">
          <h4>회의록 협의사항</h4>
          <ion-buttons slot="end">
            <app-button [disabled]="workRoleCheck" fill="translucent" (click)="meetingUpdate()">저장</app-button>
          </ion-buttons>
        </ion-toolbar>
        <ng-container *ngIf="!workRoleCheck">
          <app-card>
            <ion-toolbar slot="top" color="white">
              <h5>안전 및 보건에 관한 협의체</h5>
            </ion-toolbar>
            <app-row>
              <app-col>
                <app-textarea *ngIf="resMeeting?.rsObj.safety_default" name="safety_default" [rows]="7" [(ngModel)]="resMeeting?.rsObj.safety_default"></app-textarea>
              </app-col>
            </app-row>
          </app-card>

          <app-card>
            <ion-toolbar slot="top" color="white">
              <h5>노사 협의체</h5>
            </ion-toolbar>
            <app-row>
              <app-col>
                <app-textarea *ngIf="resMeeting?.rsObj.union_default" name="safety_default" [rows]="7" [(ngModel)]="resMeeting?.rsObj.union_default">
                </app-textarea>
              </app-col>
            </app-row>
          </app-card>

          <app-card>
            <ion-toolbar color="white">
              <h5>산업안전 보건 위원회</h5>
            </ion-toolbar>
            <app-row>
              <app-col>
                <app-textarea *ngIf="resMeeting?.rsObj.health_default" name="safety_default" [rows]="7" [(ngModel)]="resMeeting?.rsObj.health_default">
                </app-textarea>
              </app-col>
            </app-row>
          </app-card>
        </ng-container>
      </app-col>
    </app-row>
  </ng-container>

  <app-row style="align-items: flex-start;" *ngIf="segment === '9'">
    <app-col size="280px">
      <app-table type="card">
        <ion-toolbar slot="top" color="white">
          <app-row style="justify-content: space-between;">
            <app-col size="auto">
              <h5>필터</h5>
            </app-col>
            <app-col size="auto">
              <app-button fill="translucent" [disabled]="workRoleCheck" style="width: 100px;" (click)="getDisaster()">검색
              </app-button>
            </app-col>
          </app-row>
        </ion-toolbar>
        <tbody>
          <tr>
            <td>
              <app-select-company [project_id]="user.userData.belong_data.project_id" [disabled]="editable" [(ngModel)]="disasterForm"></app-select-company>
            </td>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <app-button [disabled]="workRoleCheck" fill="translucent" (click)="disasterAdd()">추가</app-button>
          <app-button [disabled]="workRoleCheck" fill="translucent" (click)="disasterDelete()" color="danger">삭제
          </app-button>
          <app-button [disabled]="workRoleCheck" fill="translucent" (click)="disasterState(1)">전체 사용</app-button>
          <app-button [disabled]="workRoleCheck" fill="translucent" (click)="disasterState(0)">전체 미사용</app-button>
        </ion-buttons>
      </ion-toolbar>
      <ng-container *ngIf="!workRoleCheck">
        <ion-toolbar color="white">
          <app-row>
            <app-col>
              <h5>재해형태 목록 (총{{ resDisaster?.rsMap?.length ? resDisaster?.rsMap?.length:0}}건)</h5>
            </app-col>
            <app-col size="auto">
              <app-button fill="translucent" (click)="disasterSave()">저장</app-button>
            </app-col>
          </app-row>
        </ion-toolbar>
        <app-check-group [(ngModel)]="disasterSelected">
          <app-table>
            <thead>
              <tr>
                <th style="width: 40px;">
                  <app-check type="all"></app-check>
                </th>
                <th>재해 형태 목록</th>
                <th>사용 여부</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of resDisaster?.rsMap">
                <td>
                  <app-check [on]="item"></app-check>
                </td>
                <td>
                  <app-input [(ngModel)]="item.ctgo_disaster_name" placeholder="입력하세요."></app-input>
                </td>
                <td>
                  <app-select [(ngModel)]="item.ctgo_disaster_use_state">
                    <app-select-option [value]="1">Y</app-select-option>
                    <app-select-option [value]="0">N</app-select-option>
                  </app-select>
                </td>
              </tr>
            </tbody>
          </app-table>
        </app-check-group>
      </ng-container>
    </app-col>
  </app-row>
</ion-content>