<!-- pc -->
<ng-container *mobileHidden>
  <app-header-admin></app-header-admin>
  <ion-content>
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto"><h5>필터</h5></app-col>
              <app-col size="auto"><app-button fill="translucent" style="width: 100px;" (click)="getList()">검색</app-button></app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
               <app-select-scene name="project_id" [(ngModel)]="form.project_id"></app-select-scene>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-contractor [project_id]="form.project_id" [(ngModel)]="form.company_id" [allState]="true"></app-select-contractor>
              </td>
            </tr>
            <tr>
              <td>
                <app-select label="스마트 장비" [(ngModel)]="form.ctgo_machine_serial_id">
                  <app-select-option [value]="0">전체</app-select-option>
                  <app-select-option *ngFor="let item of smart_ctgo_list" [value]="item.ctgo_machine_serial_id">{{ item.ctgo_machine_serial_name }}</app-select-option>
                </app-select>
              </td>
            </tr>
            <tr>
              <td>
                <app-select label="반납여부" [(ngModel)]="form.return_state">
                  <app-select-option value="전체">전체</app-select-option>
                  <app-select-option value="반납">반납</app-select-option>
                  <app-select-option value="사용 중">사용 중</app-select-option>
                </app-select>
              </td>
            </tr>
            <tr>
              <td>
                <app-input-group label="배정일">
                  <app-calendar [(ngModel)]="form.start_date" [max]="form.end_date"></app-calendar>
                  ~
                  <app-calendar [(ngModel)]="form.end_date" [min]="form.start_date"></app-calendar>
                </app-input-group>
              </td>
            </tr>
            <tr>
              <td>
                <app-input label="검색어" placeholder="검색어를 입력해주세요." [(ngModel)]="form.search_text"></app-input>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
      <app-col>
        <ion-toolbar color="white">
          <ion-buttons slot="start">
            <app-button fill="translucent" (click)="addButton()">추가</app-button>
            <app-button [disabled]="update_state" fill="translucent" (click)="update_state = true">수정</app-button>
            <app-button fill="translucent" color="danger" (click)="SmartDelete()">삭제</app-button>
            <app-button fill="translucent" (click)="SmartSave()">저장</app-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="white">
          <h5>장비 목록 (총 {{res?.rsObj?.row_count || 0 }}건)</h5>
        </ion-toolbar>
        <app-check-group [(ngModel)]="selectedList">
          <app-table>
            <thead>
              <tr>
                <th style="width: 40px;"><app-check type="all" color="white" size="small" name="check"></app-check></th>
                <th>장비구분</th>
                <th>시리얼 No.</th>
                <th>원청사명</th>
                <th>업체명</th>
                <th>성명</th>
                <th>배정일시</th>
                <th>반납</th>
                <th>반납일시</th>
                <th>사용여부</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of res_insert">
                <td style="width: 40px;"><app-check [on]="item" color="white" size="small" name="check"></app-check></td>
                <td>
                  <app-select label="" [(ngModel)]="item.ctgo_machine_serial_id">
                    <app-select-option *ngFor="let ctgo of smart_ctgo_list" [value]="ctgo.ctgo_machine_serial_id">{{ ctgo.ctgo_machine_serial_name }}</app-select-option>
                  </app-select>
                </td>
                <td>
                  <app-select-serial-number [name]="item.serial_no" [(ngModel)]="item.serial_id"></app-select-serial-number>
                  <!-- <app-button fill="translucent" size="small">
                    <app-img name="search"></app-img>
                  </app-button> -->
                  <!-- @Input() name:string = "";
                  @Input() serial_type: '전체' | '개인' | '중장비' | '위험지역' = "전체";
                  @Input() project_id:number = 0;
                  @Input() master_company_id:number = 0; -->
                </td>
                <td class="center-class"> - </td>
                <td class="center-class"> - </td>
                <td>
                  <app-select-people label=""></app-select-people>
                  <!-- <app-button fill="translucent" size="small">
                    <app-img name="search"></app-img>
                  </app-button> -->
                </td>
                <td class="center-class"> - </td>
                <td class="center-class"> - </td>
                <td class="center-class"> - </td>
                <td>
                  <app-select value="Y">
                    <app-select-option value="Y">Y</app-select-option>
                    <app-select-option value="N">N</app-select-option>
                  </app-select>
                </td>
              </tr>
  
              <tr class="button">
                <td style="width: 40px;"><app-check color="white" size="small" name="check"></app-check></td>
                <td>출석용 NFC</td>
                <td>C0005</td>
                <td>극동건설(주)</td>
                <td>협력사4</td>
                <td>김소현</td>
                <td>2021.09.16 10:22:13</td>
                <td>Y</td>
                <td>2021.10.16 10:22:13</td>
                <td>Y</td>
              </tr>
            </tbody>
          </app-table>
        </app-check-group>
      </app-col>
    </app-row>
  </ion-content>
</ng-container>
  
  <!-- 모바일 -->
<ng-container *mobileShow>
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>개인 디바이스</ion-title>
      <ion-buttons slot="end">
        <app-menu-button></app-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="white">
      <app-input-group>
        <app-input label="현장" value="수원 당수 현장" [readonly]="true"></app-input>
        <app-button (click)="openDetailSearch()">상세검색</app-button>
      </app-input-group>
    </ion-toolbar>
    <ion-toolbar color="white">
      <ion-segment color="primary">
        <ion-segment-button>전체</ion-segment-button>
        <ion-segment-button>내 장비</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ng-container>
      <app-card *ngFor="let item of [1,2,3,4]">
        <app-row style="align-items: flex-start;">
          <app-col>
            <p>구일종합건설(주)/박소현/A001</p>
            <p>배정일: 2021.10.18</p>
          </app-col>
          <app-col size="auto">
            <ion-chip color="primary">반납</ion-chip>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <ion-badge color="success">안전관리</ion-badge>
            <ion-badge color="medium">작업자</ion-badge>
          </app-col>
        </app-row>
      </app-card>
      <app-card *ngFor="let item of [1,2,3,4]">
        <app-row style="align-items: flex-start;">
          <app-col>
            <p>구일종합건설(주)/박소현/A001</p>
            <p>배정일: 2021.10.18</p>
          </app-col>
          <ion-chip color="danger">사용중</ion-chip>
        </app-row>
        <app-row>
          <app-col>
            <ion-badge color="success">스마트 워치</ion-badge>
            <ion-badge color="warning">관리자</ion-badge>
          </app-col>
          <app-col size="auto">
          </app-col>
        </app-row>
      </app-card>
    </ng-container>
  </ion-content>
  <app-button-footer>
    <app-button (click)="edit()">신규배정</app-button>
  </app-button-footer>
</ng-container>