<!-- pc -->
<ng-container *mobileHidden>
<ion-header>
  <ion-toolbar color="white">
    <ion-title>개인 디바이스</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-row style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <thead>
          <tr>
            <th>
              <app-row style="justify-content: space-between;">
                <app-col size="auto"><h5>필터</h5></app-col>
                <app-col size="auto"><app-button fill="translucent" style="width: 100px;">검색</app-button></app-col>
              </app-row>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <app-select-scene></app-select-scene>
            </td>
          </tr>
          <tr>
            <td>
             <app-select-contractor></app-select-contractor>
            </td>
          </tr>
          <tr>
            <td>
           <app-select label="장비구분"></app-select>
            </td>
          </tr>
          <tr>
            <td>
              <app-input label="검색어" placeholder="검색어를 입력해주세요."></app-input>
            </td>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <app-button fill="translucent">신규배정</app-button>
          <app-button fill="translucent">수정</app-button>
          <app-button fill="translucent">삭제</app-button>
          <app-button fill="translucent">저장</app-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar color="white">
        <h5>회원 목록(총50건)</h5>
      </ion-toolbar>
      <app-table>
        <thead>
          <tr>
            <th style="width: 40px;" rowspan="2"><app-check color="white" size="small" name="check"></app-check></th>
            <th>장비구분</th>
            <th>시리얼 No.</th>
            <th>원청사명</th>
            <th>업체명</th>
            <th>성명</th>
            <th>배정일시</th>
            <th>반납</th>
            <th>반납일시</th>
            <th>사용여부</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 40px;" ><app-check color="white" size="small" name="check"></app-check></td>
            <td>헬스케어밴드</td>
            <td>C0006</td>
            <td>남광토건(주)</td>
            <td>협력사1</td>
            <td>박소현</td>
            <td>2021.09.16 10:22:13</td>
            <td>Y</td>
            <td>2021.10.16 10:22:13</td>
            <td>Y</td>
          </tr>
          <tr>
            <td style="width: 40px;"><app-check color="white" size="small" name="check"></app-check></td>
            <td>안전고리</td>
            <td>C0005</td>
            <td>남광토건(주)</td>
            <td>협력사2</td>
            <td>이소현</td>
            <td>2021.09.16 10:22:13</td>
            <td>Y</td>
            <td>2021.10.16 10:22:13</td>
            <td>Y</td>
          </tr>
          <tr class="button">
            <td style="width: 40px;"><app-check color="white" size="small" name="check"></app-check></td>
            <td>출석용 NFC</td>
            <td>C0005</td>
            <td>극동건설(주)</td>
            <td>협력사4</td>
            <td>김소현</td>
            <td>2021.09.16 10:22:13</td>
            <td>Y</td>
            <td>2021.10.16 10:22:13</td>
            <td>Y</td>
          </tr>
          <tr>
            <td style="width: 40px;" ><app-check color="white" size="small" name="check"></app-check></td>
            <td>안전고리</td>
            <td>C0003</td>
            <td>계룡건설산업(주)</td>
            <td>협력사13</td>
            <td>최소현</td>
            <td>2021.09.16 10:22:13</td>
            <td>N</td>
            <td>2021.10.16 10:22:13</td>
            <td>N</td>
          </tr>
          <tr>
            <td style="width: 40px;" rowspan="2"><app-check color="white" size="small" name="check"></app-check></td>
            <td>헬스케어밴드</td>
            <td>C0002</td>
            <td>남광토건(주)</td>
            <td>협력사5</td>
            <td>이소현</td>
            <td>2021.09.16 10:22:13</td>
            <td>N</td>
            <td>2021.10.16 10:22:13</td>
            <td>Y</td>
          </tr>
        </tbody>
      </app-table>
    </app-col>
  </app-row>
  </ion-content>
</ng-container>
  
  <!-- 모바일 -->
 <ng-container *mobileShow>
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>개인 디바이스</ion-title>
    </ion-toolbar>
    <ion-toolbar color="white">
      <app-row>
        <app-col>
         <app-select-scene></app-select-scene>
        </app-col>
          <app-button>상세검색</app-button>
      </app-row>
    </ion-toolbar>
    <ion-toolbar color="white">
      <ion-buttons >
        <ion-segment color="primary">
          <ion-segment-button>전체</ion-segment-button>
          <ion-segment-button>내 장비</ion-segment-button>
        </ion-segment>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ng-container>
      <app-card>
        <app-row>
          <app-col size="auto"><ion-badge color="success">스마트 워치</ion-badge></app-col>
          <app-col><ion-badge color="medium">작업자</ion-badge></app-col>
          <ion-badge>반납</ion-badge>
        </app-row>
        <app-row>
          <app-col size="auto">
          </app-col>
          <app-col>
            <p>구일종합건설(주)/박소현/A001</p>
            <p>배정일: 2021.10.18</p>
          </app-col>
          <app-col size="auto">
          </app-col>
        </app-row>
      </app-card>
      <app-card>
        <app-row>
          <app-col size="auto"><ion-badge color="success">안전관리</ion-badge></app-col>
          <app-col><ion-badge color="medium">작업자</ion-badge></app-col>
          <ion-badge>반납</ion-badge>
        </app-row>
        <app-row>
          <app-col size="auto">
          </app-col>
          <app-col>
            <p>구일종합건설(주)/박소현/A001</p>
            <p>배정일: 2021.10.18</p>
          </app-col>
          <app-col size="auto">
          </app-col>
        </app-row>
      </app-card>
      <app-card>
        <app-row>
          <app-col size="auto"><ion-badge color="success">출석용 NFC</ion-badge></app-col>
          <app-col><ion-badge color="warning">관리자</ion-badge></app-col>
          <ion-badge>반납</ion-badge>
        </app-row>
        <app-row>
          <app-col size="auto">
          </app-col>
          <app-col>
            <p>구일종합건설(주)/박소현/A001</p>
            <p>배정일: 2021.10.18</p>
          </app-col>
          <app-col size="auto">
          </app-col>
        </app-row>
      </app-card>
      <app-card>
        <app-row>
          <app-col size="auto"><ion-badge color="success">스마트 워치</ion-badge></app-col>
          <app-col><ion-badge color="warning">관리자</ion-badge></app-col>
          <ion-badge color="danger">사용중</ion-badge>
        </app-row>
        <app-row>
          <app-col size="auto">
          </app-col>
          <app-col>
            <p>구일종합건설(주)/박소현/A001</p>
            <p>배정일: 2021.10.18</p>
          </app-col>
          <app-col size="auto">
          </app-col>
        </app-row>
      </app-card>
      <app-card>
        <app-row>
          <app-col size="auto"><ion-badge color="success">안전고리</ion-badge></app-col>
          <app-col><ion-badge color="medium">작업자</ion-badge></app-col>
          <ion-badge color="danger">사용중</ion-badge>
        </app-row>
        <app-row>
          <app-col size="auto">
          </app-col>
          <app-col>
            <p>구일종합건설(주)/박소현/A001</p>
            <p>배정일: 2021.10.18</p>
          </app-col>
          <app-col size="auto">
          </app-col>
        </app-row>
      </app-card>
    </ng-container>
  </ion-content>
  <app-button-footer>
    <app-button>신규배정</app-button>
  </app-button-footer>
</ng-container>