<app-header-admin></app-header-admin>
<ion-content>
<app-row style="align-items: flex-start;">
  <app-col size="280px">
    <app-table type="card">
      <ion-toolbar slot="top" color="white">
        <app-row style="justify-content: space-between;">
          <app-col size="auto"><h5>필터</h5></app-col>
          <app-col size="auto"><app-button fill="translucent" style="width: 100px;" (click)="getList(0)">검색</app-button></app-col>
        </app-row>
      </ion-toolbar>
      <tbody>
        <tr>
          <td>
           <app-select-scene name="project_id" [(ngModel)]="form.project_id" [all]="true"></app-select-scene>
          </td>
        </tr>
        <tr>
          <td>
            <app-select-contractor [project_id]="form.project_id" [(ngModel)]="form.master_company_id" [allState]="true"></app-select-contractor>
          </td>
        </tr>
        <tr>
          <td>
           <app-select-heavy [(ngModel)]="form.ctgo_machinery_id"></app-select-heavy>
          </td>
        </tr>
        <tr>
          <td>
           <app-select-company name="company_id" [project_id]="form.project_id" [(ngModel)]="form.partner_company_id" [all]="true"></app-select-company>
          </td>
        </tr>
        <tr>
          <td>
            <app-input-group label="등록일">
              <app-calendar [(ngModel)]="form.start_date" [max]="form.end_date"></app-calendar>
              ~
              <app-calendar [(ngModel)]="form.end_date" [min]="form.end_date"></app-calendar>
            </app-input-group>
          </td>
        </tr>
        <tr>
          <td>
            <app-input label="검색어" [(ngModel)]="form.search_text" placeholder="검색어를 입력해주세요."></app-input>
          </td>
        </tr>
      </tbody>
    </app-table>
  </app-col>
  <app-col>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <app-button fill="translucent" (click)="edit()">등록</app-button>
        <app-button fill="translucent" (click)="Heavydelete()" color="danger">삭제</app-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="white">
      <h5>건설기계 목록 (총{{res?.rsObj?.row_count || 0 }}건)</h5>
    </ion-toolbar>
    <app-check-group [(ngModel)]="selectedList">
    <app-table>
      <thead>
        <tr>
          <th style="width: 40px;" rowspan="2"><app-check color="white" size="small" name="check"></app-check></th>
          <th>건설기계구분</th>
          <th>등록번호</th>
          <th>원청사명</th>
          <th>업체명</th>
          <th>공종</th>
          <th>등록일</th>
        </tr>
      </thead>
      <tbody>
        <tr class="button" *ngFor="let item of res?.rsMap let i = index" (click)="edit(item)">
          <td style="width: 40px;">
            <app-check (click)="$event.stopPropagation()" [on]="item.machinery_id" color="white" size="small" name="check"></app-check>
          </td>
          <td>{{ item.ctgo_machinery_name }}</td>
          <td>{{ item.machinery_regist_no }}</td>
          <td>{{ item.master_company_name }}</td>
          <td>{{ item.partner_company_name}}</td>
          <td>{{ item.ctgo_construction_name }}</td>
          <td>{{ item.create_date }}</td>
        </tr>
      </tbody>
    </app-table>
  </app-check-group>
    <app-pager [totalCount]="" [limitNo]="form.limit_no" (pagerChange)="getList($event)"></app-pager>
  </app-col>
</app-row>
</ion-content>