<ion-header>
  <app-header-admin></app-header-admin>
</ion-header>
<ion-content>
<app-row style="align-items: flex-start;">
  <app-col size="280px">
    <app-table type="card">
      <ion-toolbar slot="top" color="white">
        <app-row style="justify-content: space-between;">
          <app-col size="auto"><h5>필터</h5></app-col>
          <app-col size="auto"><app-button fill="translucent" style="width: 100px;">검색</app-button></app-col>
        </app-row>
      </ion-toolbar>
      <tbody>
        <tr>
          <td>
           <app-select-scene></app-select-scene>
          </td>
        </tr>
        <tr>
          <td>
           <app-select-heavy></app-select-heavy>
          </td>
        </tr>
        <tr>
          <td>
           <app-select-contractor></app-select-contractor>
          </td>
        </tr>
        <tr>
          <td>
           <app-select-company></app-select-company>
          </td>
        </tr>
        <tr>
          <td>
            <app-input-group label="등록일">
              <app-calendar></app-calendar>
              ~
              <app-calendar></app-calendar>
            </app-input-group>
          </td>
        </tr>
        <tr>
          <td>
            <app-input label="검색어" placeholder="검색어를 입력해주세요."></app-input>
          </td>
        </tr>
      </tbody>
    </app-table>
  </app-col>
  <app-col>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <app-button fill="translucent">등록</app-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="white">
      <h5>건설기계 목록 (총60건)</h5>
    </ion-toolbar>
    <app-table>
      <thead>
        <tr>
          <th style="width: 40px;" rowspan="2"><app-check color="white" size="small" name="check"></app-check></th>
          <th>건설기계구분</th>
          <th>등록번호</th>
          <th>원청사명</th>
          <th>업체명</th>
          <th>공종</th>
          <th>등록일</th>
        </tr>
      </thead>
      <tbody>
        <tr class="button">
          <td style="width: 40px;" ><app-check color="white" size="small" name="check"></app-check></td>
          <td>크레인</td>
          <td>경기08고4464</td>
          <td>구일종합건설㈜</td>
          <td>구일종합건설㈜</td>
          <td>기계</td>
          <td>2021.05.28</td>
        </tr>
      </tbody>
    </app-table>
  </app-col>
</app-row>
</ion-content>