<ion-header>
  <ion-toolbar color="white">
    <ion-title>개인정보 처리방침</ion-title>
    <!-- <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <app-row style="border-bottom: 1px solid var(--ion-color-step-100); margin-bottom: 50px;">
      <app-col>
        <h5>S-Keeper 플랫폼은 이용자 개인정보 보호를 최우선의 가치로 두고 있습니다.</h5>
      </app-col>
      <app-col size="auto">
        <p>시행일자 : 2021년 11월 15일</p>
      </app-col>
    </app-row>
        <app-textarea [rows]="20" name="개인정보 처리방침" value="s-keeper 플랫폼은 서비스 기획부터 종료까지" [readonly]="true"></app-textarea>
  </form>
</ion-content>

