:host {
    ion-icon {
        cursor: pointer;
    }

    h5 {
        color: var(--ion-color-fourth);
    }

    h6 {
        color: var(--ion-color-fourth);
        font-weight: bold;
    }

    min-height: 960px;
}

.button-edit {
    background-color: var(--ion-color-secondary);
    color: black;
}

.chip-color {
    background-color: var(--ion-color-danger-tint);
}

.wheather {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100px;
}

.title {
    text-align: center;
}

.ratio {
    text-align: center;

    .ratio-col {
        padding: 0;
        display: flex;
        justify-content: center;
    }
}

.card-flex {
    height: 100%;

    ion-card-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.wheather-addr {
    color: var(--ion-color-primary);
}

.card-warning {
    background-color: var(--ion-color-warning-tint);
}

.pointer-class {
    cursor: pointer;

}

.chip-width {
    width: 100px;
    justify-content: center;
}