
<ion-header>
  <ion-toolbar color="white">
    <ion-title>비상알림</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button (click)="dismiss()"></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<h3>수원당수 공공주택지구 조성공사</h3>
<h4>{{ message }}</h4>
<!-- <h5>2021.09.16 16:26:13</h5> -->
<app-card [color]="all_state ? 'secondary' : 'white'" (click)="allClick()">
  <app-row>
    <app-col size="auto"><p>전체선택</p></app-col>
  </app-row>
</app-card>

<app-card *ngFor="let item of res?.rsMap" [color]="item.selected ? 'secondary' : 'white'" (click)="singleClick(item)">
  <app-row>
    <app-col size="auto"><p>{{ item.company_name }}</p></app-col>
    <app-col size="auto"><p> / </p></app-col>
    <app-col size="auto"><p>{{ item.user_type === 'WORKER' ? '근로자' : '관리자' }}</p></app-col>
  </app-row>

  <app-row>
    <app-col size="auto"><p>{{ item.user_name }}</p></app-col>
    <app-col size="auto"><p> / </p></app-col>
    <app-col size="auto"><p>{{ item.user_phone }}</p></app-col>
  </app-row>
</app-card>

</ion-content>
<app-button-footer>
  <app-button (click)="close()">닫기</app-button>
  <app-button (click)="finish()">상황종료</app-button>
</app-button-footer>