app-logo {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: white;
    padding: 8px;
    border-radius: 5px;
    width: 56px;
}
app-button {
    --app-border-radius: 0;
    --height: 64px;
}

ion-header{
    .ttet{
        .toolbar-container{
        
            .toolbar-content{
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    app-logo {
        width: 48px;
    }
}

.tab-list {
    position: relative;
    top: -10px;
    overflow: hidden;
    padding-left: 28px;
    padding-right: 20px;
    // background: var(--ion-color-tertiary);
    padding-bottom: 8px;
}
.tab-item {
    position: relative;
    z-index: 3;
    color: var(--ion-color-white);
    user-select: none;
    cursor: pointer;

    span,
    &::before,
    &::after {
        background: var(--ion-color-primary);
    }
    span {
        padding: 0 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        position: relative;
        z-index: 3;
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        border-radius: 15px;
        height: 80px;
        width: 40px;
        z-index: 1;
        box-shadow: 0 1px 1px 1px var(--ion-color-tertiary);
    }
    &::before {
        left: -20px;
        transform: rotate(-20deg);
    }
    &::after {
        right: -20px;
        transform: rotate(20deg);
    }
}
.tab-item.active {
    z-index: 20 !important;
    color: var(--ion-color-tertiary);
    font-weight: 700;
    span,
    &::before,
    &::after {
        background: var(--ion-color-white);
        box-shadow: none;
    }
    &::before,
    &::after {
        content: '';
    }
}

.profile-row {
    .profile {
        width: 40px;
        height: 40px;
    }
    .btn-logout {
        height: 28px;
        border-radius: 5px;
        margin-right: 16px;
    }
}

// form과 날짜, 미세먼지가 있는 row
.form-weather-toolbar {
    --padding-top: 4px;
    --padding-bottom: 4px;
    --padding-start: var(--app-page-padding);

    .weather {
        margin-right: 30px;
    }
    .weather-temp {
        font-size: 25px;
        font-weight: bold;
    }
    .ratio {
        font-size: 15px;
        color:var(--ion-color-primary);
    }
    
    .colstyle{
        margin-right: 15px;
    }
    .title { 
        font-size: 15px;
        margin-bottom: 4px;
    }
}

@media screen and (max-width: 768px) {
    .mobile-toolbar {
        --padding-start: 8px;
        --padding-end: 8px;
    }
    .segment-toolbar {
        --padding-start: 8px;
        --padding-end: 8px;
    }
}