app-table {
    margin: 0;
}

.flex_end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tab_edit {
    display: none;
    .card_qr {
        display: flex;
        align-items: center;
    }
    &.active {
        display: block;
    }
}

.btn_foot {
    display: none;
    &.active{
        display: block;
    }
}