<ion-header>
  <ion-toolbar>
    <ion-title>회원관리</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-row>
    <app-col size="auto">
      <h4 style="text-align: center; margin: 15px 0;">근로자의 개인정보 보호를 위해<br>
        접근 시스템 권한을 다시 한번 확인하고자 합니다.<br>
        보안 비밀번호를 입력해주세요.</h4>
      <!-- <h4 style="text-align: center; margin: 15px 0;">장시간 회원관리
          메뉴를 사용하지 않아<br>접근 시스템 권한이 해지되었습니다.<br>
          보안 비밀번호를 입력해주세요.</h4> -->
    </app-col>
  </app-row>
  <app-row>
    <app-col>
      <app-input placeholder="비밀번호" value="비밀번호"></app-input>
      <app-input-caption color="warning">비밀번호가 일치하지 않습니다.</app-input-caption>
      <!-- <app-input-caption color="warning">비밀번호가 5회이상 틀려 5분간 로그인 할 수 없습니다.</app-input-caption> -->
    </app-col>
  </app-row>
</ion-content>
<app-line></app-line>
<app-row style="padding: 0 5px 5px 5px;">
  <app-col></app-col>
  <app-col style="padding-right: 0;">
    <app-button style="width: 100%;">확인</app-button>
  </app-col>
</app-row>