<ion-header>
  <ion-toolbar color="white">
    <ion-title>회의 유형 선택</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card>
    <app-row>
      <app-col>
        <app-select [(ngModel)]="safety_meeting_types"  label="회의록 유형">
          <!-- <app-select-option [value]="[]">전체</app-select-option> -->
          <app-select-option value="안전 및 보건에 관한 협의체 회의록">안전 및 보건에 관한 협의체 회의록</app-select-option>
          <app-select-option value="노사 협의체 회의록">노사 협의체 회의록</app-select-option>
          <app-select-option value="산업안전보건위원회 회의록">산업안전보건위원회 회의록</app-select-option>
        </app-select>    
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button (click)="submit()">적용</app-button>
</app-button-footer>