<ion-header>
  <ion-toolbar color="white">
    <ion-title>{{ languagePack.getText('상세검색') }}</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-select-scene name="scene" [all]="!editable.company_id" [(ngModel)]="form.project_id" ></app-select-scene>
  <!-- <app-select-contractor [allState]="!editable.company_id" [disabled]="editable.company_id" name="contractor" [project_id]="form.project_id" [(ngModel)]="form.company_id"></app-select-contractor> -->
  <app-select-contractor [project_id]="form.project_id" [(ngModel)]="form.company_id" [readonly]="editable.company_id"></app-select-contractor> 
  <app-select-education [all]="true" name="education" [(ngModel)]="form.ctgo_education_safe_id"></app-select-education>
  <app-input-group [label]="languagePack.getText('교육일')">
  <app-calendar name="startcalendar" [(ngModel)]="form.start_date"></app-calendar>
  ~
  <app-calendar [(ngModel)]="form.end_date"></app-calendar>
  </app-input-group>
  <app-select name="select" [label]="languagePack.getText('교육 상태')" [(ngModel)]="form.education_safe_state">
  <app-select-option value="전체">{{ languagePack.getText('전체') }}</app-select-option>
    <app-select-option value="교육 전">교육 전</app-select-option>
    <app-select-option value="교육 중">교육 후</app-select-option>
    <app-select-option value="교육 종료">{{ languagePack.getText('교육 종료') }}</app-select-option>
  </app-select>
  <app-input name="serarch" [label]="languagePack.getText('검색어')" [(ngModel)]="form.search_text" [placeholder]="languagePack.getText('검색어를 입력하세요')"></app-input>
</ion-content>
<app-button-footer>
  <app-button (click)="reset()">{{ languagePack.getText('초기화') }}</app-button>
  <app-button (click)="select()">{{ languagePack.getText('검색') }}</app-button>
</app-button-footer>
