<app-select
  name="with img"
  [readonly]="false"
  [disabled]="false"
  [color]="color"
  [label]="label"
>
  <!-- <app-select-option
    *ngFor="let country of res?.rsMap"
    [value]="country.ctgo_business_field_id"
    >{{ country.ctgo_business_field_name }}</app-select-option
  > -->
<!-- <tr>
      <td>
        <app-select [(ngModel)]="form.ctgo_area_risk_id">
          <app-select-option *ngFor="let opt of resCtgoRisk.rsMap" [value]="opt.ctgo_area_risk_id">{{
            opt.ctgo_area_risk_name }}</app-select-option>
        </app-select>
      </td>
    </tr> -->

  <app-select-option *ngFor="let opt of resCtgoRisk.rsMap" [value]="opt.ctgo_area_risk_id">{{opt.ctgo_area_risk_name}}</app-select-option>
</app-select>
