app-logo {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: white;
    padding: 8px;
    border-radius: 5px;
}
app-button {
    --app-border-radius: 0;
    --height: 64px;
}