<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <app-logo></app-logo>
      <app-button class="menu" (click)="openSideMenu()"><app-img name="menu"></app-img></app-button>
      <app-button>통합관제</app-button>
      <app-button>결재</app-button>
      <app-button>안전교육</app-button>
      <app-button>작업계획</app-button>
      <app-button>작업관리</app-button>
      <app-button>장비관리</app-button>
      <app-button>위험작업관리</app-button>
      <app-button>비상상황관리</app-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
