<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <app-logo></app-logo>
      <app-button color="white" fill="clear" class="menu" (click)="openSideMenu()"><app-img name="menu"></app-img></app-button>
      <app-button color="white" routerLink="/monitor" fill="clear">통합관제</app-button>
      <app-button color="white" fill="clear">결재</app-button>
      <app-button color="white" fill="clear">안전교육</app-button>
      <app-button color="white" fill="clear">작업계획</app-button>
      <app-button color="white" fill="clear">작업관리</app-button>
      <app-button color="white" fill="clear">장비관리</app-button>
      <app-button color="white" fill="clear">위험작업관리</app-button>
      <app-button color="white" fill="clear">비상상황관리</app-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white" *ngIf="selectedSubMenu">
    <ion-title>
      <h4>{{ selectedSubMenu.title }}</h4>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="white" *ngIf="selectedSubMenu?.thirdMenuList">
    <app-row>
      <app-col size="auto">
        <ion-segment color="primary" [scrollable]="true" [value]="url">
          <ion-segment-button *ngFor="let thirdMenu of selectedSubMenu.thirdMenuList" 
          [routerLink]="thirdMenu.link || null"
          [value]="thirdMenu.link" [disabled]="!thirdMenu.link">{{ thirdMenu.title }}</ion-segment-button>
        </ion-segment>
      </app-col>
    </app-row>
  </ion-toolbar>
</ion-header>
