<ion-header>
  <ion-toolbar color="white">
    <ion-title>위험지역 디바이스 등록</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <ion-buttons >
      <ion-segment color="primary">
        <ion-segment-button>출입 NFC</ion-segment-button>
        <ion-segment-button>밀폐환경 센서</ion-segment-button>
        <ion-segment-button>변위감지</ion-segment-button>
      </ion-segment>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-select-dangerous-area label="위험지역"></app-select-dangerous-area>
 <app-select-serial-number label="시리얼No."></app-select-serial-number>
  <ng-container>
    <h5>디바이스 등록 현황</h5>
    <app-card>
      <app-row>
        <app-col>
          <p>디바이스 구분 : 환경센서</p>
          <p>시리얼 No. : A0001</p>
          <p>사용여부 : Y</p>
        </app-col>
      </app-row>
    </app-card>
    <app-card>
      <app-row>
        <app-col>
          <p>디바이스 구분 : 위험지역 NFC</p>
          <p>시리얼 No. : A0001</p>
          <p>사용여부 : Y</p>
        </app-col>
      </app-row>
    </app-card>
    <app-card>
      <app-row>
        <app-col>
          <p>디바이스 구분 : 위험지역 NFC</p>
          <p>시리얼 No. : A0001</p>
          <p>사용여부 : Y</p>
        </app-col>
      </app-row>
    </app-card>
    <app-card>
      <app-row>
        <app-col>
          <p>디바이스 구분 : 환경센서</p>
          <p>시리얼 No. : A0001</p>
          <p>사용여부 : Y</p>
        </app-col>
      </app-row>
    </app-card>
  </ng-container>
  <app-button fill="translucent">등록할 NFC태깅</app-button>
  <app-button fill="translucent">위험지역 인식</app-button>
</ion-content>
<app-button-footer>
  <app-button>저장</app-button>
</app-button-footer>

