<app-row style="align-items: flex-start;">

  <app-col size="280px">
    
    <app-table type="card">
      <ion-toolbar slot="top" color="white">
        <app-row style="justify-content: space-between;">
          <app-col size="auto"><h5>필터</h5></app-col>
          <app-col size="auto"><app-button fill="translucent" style="width: 100px;" (click)="get()">검색</app-button></app-col>
        </app-row>
      </ion-toolbar>
      <tbody>
        <tr>
          <td>
           <app-select-company [project_id]="form.project_id"></app-select-company>
          </td>
        </tr>
        <tr>
          <td>
            <app-select-construction [project_id]="form.project_id" [master_company_id]="form.master_company_id" [(ngModel)]="form.company_id"></app-select-construction>
          </td>
        </tr>
        <tr>
          <td>
            <app-select label="근로자 구분" [(ngModel)]="form.user_type">
              <app-select-option value="전체">전체</app-select-option>
              <app-select-option value="관리자">관리자</app-select-option>
              <app-select-option value="작업자">작업자</app-select-option>
            </app-select>
          </td>
        </tr>
        <tr>
          <td>
            <app-input-template label="위험공종">
              <p slot="input">전체</p>
            </app-input-template>
          </td>
        </tr>
        <tr>
          <td>
            <app-input-template label="작업상태">
              <p slot="input">전체</p>
            </app-input-template>
          </td>
        </tr>
      </tbody>
    </app-table>

  </app-col>

  <app-col>

  </app-col>

</app-row>