<ng-container *mobileHidden>
  <app-header-admin></app-header-admin>
  <ion-content style="--padding-top:15px">
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto"><h5>필터</h5></app-col>
              <app-col size="auto"><app-button fill="translucent" style="width: 100px;">검색</app-button></app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
                <app-select-scene></app-select-scene>
              </td>
            </tr>
            <tr>
              <td>
                <app-select label="구분" value="전체">
                  <app-select-option value="전체">전체</app-select-option>
                </app-select>
              </td>
            </tr>
            <tr>
              <td>
                <app-input-group label="회의 일자">
                  <app-calendar></app-calendar>
                  ~
                  <app-calendar></app-calendar>
                </app-input-group>
              </td>
            </tr>
            <tr>
              <td>
                <app-select label="결재현황" value="전체">
                  <app-select-option value="전체">전체</app-select-option>
                </app-select>
              </td>
            </tr>
            <tr>
              <td>
                <app-input label="검색어" placeholder="검색어를 입력해주세요."></app-input>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
      <app-col>
        <ion-toolbar color="white">
          <h5>수시 위험성평가 목록 (총90건)</h5>
        </ion-toolbar>
          <app-table>
            <thead>
              <tr>
                <th style="width:40px;">NO</th>
                <th>회의록</th>
                <th>회의 일자</th>
                <th>업체명</th>
                <th>작성자</th>
                <th>작성일</th>
              </tr>
            </thead>
              <tr class="button">
                <td>1</td>
                <td>안전 및 보건에 관한 협의체 회의록</td>
                <td>2021.06.15</td>
                <td>(주)남광토건</td>
                <td>이상범</td>
                <td>2021.09.15</td>
              </tr>
            <tbody>
            </tbody>
          </app-table>
        <app-pager></app-pager>
      </app-col>
    </app-row>
  </ion-content> 
</ng-container>
<!---->
<ng-container *mobileShow>
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>회의록</ion-title>
      <ion-buttons slot="end">
        <app-menu-button></app-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="white">
      <app-input-group>
        <app-input label="현장" value="수원 당수 현장" [readonly]="true"></app-input>
        <app-button (click)="detailSearch()">상세검색</app-button>
      </app-input-group>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <app-card *ngFor="let item of [1,2,3,4]">
    <app-row style="align-items: flex-start;">
      <app-col>
        <p>구일종합건설(주)/박소현/A001</p>
        <p>배정일: 2021.10.18</p>
      </app-col>
    </app-row>
    <app-row>
      <app-col>
        <ion-badge color="success">안전및 보건</ion-badge>
      </app-col>
    </app-row>
  </app-card>
  <app-card *ngFor="let item of [1,2,3,4]">
    <app-row style="align-items: flex-start;">
      <app-col>
        <p>구일종합건설(주)/박소현/A001</p>
        <p>배정일: 2021.10.18</p>
      </app-col>
    </app-row>
    <app-row>
      <app-col>
        <ion-badge color="success">노사 협의체</ion-badge>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
</ng-container>