<!-- <ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>게시판</ion-title>
  </ion-toolbar>
  <ion-toolbar color="white">
    <ion-title>
      <h4>회의록</h4>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--padding-top:15px">
  <app-row style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <thead>
          <tr>
            <th>
              <app-row style="justify-content: space-between;">
                <app-col size="auto"><h5>필터</h5></app-col>
                <app-col size="auto"><app-button fill="translucent" style="width: 100px;">검색</app-button></app-col>
              </app-row>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <app-select-scene></app-select-scene>
            </td>
          </tr>
          <tr>
            <td>
              <app-select label="구분" value="전체">
                <app-select-option value="전체">전체</app-select-option>
              </app-select>
            </td>
          </tr>
          <tr>
            <td>
              <app-input-group label="회의 일자">
                <app-calendar></app-calendar>
                ~
                <app-calendar></app-calendar>
              </app-input-group>
            </td>
          </tr>
          <tr>
            <td>
              <app-select label="결재현황" value="전체">
                <app-select-option value="전체">전체</app-select-option>
              </app-select>
            </td>
          </tr>
          <tr>
            <td>
              <app-input label="검색어" placeholder="검색어를 입력해주세요."></app-input>
            </td>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <h5>수시 위험성평가 목록 (총90건)</h5>
      </ion-toolbar>
        <app-table>
          <thead>
            <tr>
              <th>NO</th>
              <th>회의록</th>
              <th>회의 일자</th>
              <th>회사명</th>
              <th>작성자</th>
              <th>작성일</th>
            </tr>
          </thead>
            <tr>
              <td>1</td>
              <td>안전 및 보건에 관한 협의체 회의록</td>
              <td>2021.06.15</td>
              <td>(주)남광토건</td>
              <td>이상범</td>
              <td>2021.09.15</td>
            </tr>
          <tbody>
          </tbody>
        </app-table>
      <app-pager></app-pager>
    </app-col>
  </app-row>
</ion-content> -->
<ion-header>
  <ion-toolbar color="white">
    <ion-title>회의록</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-row>
      <app-col>
        <app-input label="현장명" [readonly]="true"></app-input>
      </app-col>
      <app-button>상세검색</app-button>
    </app-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card>
    <app-row>
      <app-col size="auto">
      </app-col>
      <app-col>
        <h5>앱 사용 공지</h5>
        <p>구일종합건설㈜ | 박소현 | 작성일: 2021.10.18</p>
      </app-col>
      <app-col size="auto">
        <ion-chip color="primary">일반</ion-chip>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
      </app-col>
      <app-col>
        <h5>앱 사용 공지</h5>
        <p>구일종합건설㈜ | 박소현 | 작성일: 2021.10.18</p>
      </app-col>
      <app-col size="auto">
        <ion-chip color="primary">안전관리</ion-chip>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
      </app-col>
      <app-col>
        <h5>앱 사용 공지</h5>
        <p>구일종합건설㈜ | 박소현 | 작성일: 2021.10.18</p>
      </app-col>
      <app-col size="auto">
        <ion-chip color="primary">현장관리</ion-chip>
      </app-col>
    </app-row>
  </app-card>
</ion-content>