
<ion-header>
  <ion-toolbar color="white">
    <ion-title>공지사항 {{ title }}</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ng-container *mobileHidden>
  <ion-content>
    <h4>공지사항</h4>
   <app-row mobileBreak>
     <app-col>
        <app-select-scene label="현장명" [(ngModel)]="form.project_id" [disabled]="true"></app-select-scene>
     </app-col>
     <app-col>
      <app-input label="업체명" [(ngModel)]="form.company_name" [disabled]="true"></app-input>
     </app-col>
   </app-row>
   <app-row mobileBreak>
    <app-col>
        <app-input label="작성자" [(ngModel)]="form.user_name" [disabled]="true"></app-input>
    </app-col>
    <app-col>
      <app-input label="작성일" [(ngModel)]="form.create_date" [disabled]="true"></app-input>
    </app-col>
  </app-row>
  <app-row mobileBreak>
    <app-col>
      <app-select [disabled]="!update_state" label="구분" [(ngModel)]="form.notice_type" [required]="true">
        <app-select-option value="일반">일반</app-select-option>
        <app-select-option value="안전관리">안전관리</app-select-option>
        <app-select-option value="환경관리">환경관리</app-select-option>
        <app-select-option value="공사관리">공사관리</app-select-option>
        <app-select-option value="품질관리">품질관리</app-select-option>
      </app-select>
    </app-col>
    <app-col>
      <app-select-contractor [disabled]="!update_state" [allState]="true" [project_id]="form.project_id" [multiple]="false" [(ngModel)]="form.master_company_id" *ngIf="user.userData.belong_data.company_contract_type === 'LH'"></app-select-contractor>
    </app-col>
  </app-row>
    <app-row>
      <app-col>
        <app-input [disabled]="!update_state" label="제목" [(ngModel)]="form.notice_title"></app-input>
      </app-col>
    </app-row>
    <app-row>
      <app-col>
        <app-textarea label="내용" 
        [rows]="10"
        [(ngModel)]="form.notice_content" [disabled]="!update_state"></app-textarea>
        <!-- <app-smartedit #noticeText name="notice_text" placeholder="내용을 입력하세요." 
        [disabled]="!update_state"
        [color]="validator.notice_title?.valid === false && 'warning'"
        [(ngModel)]="form.notice_content"></app-smartedit> -->
        <app-input-caption *ngIf="validator.notice_title?.valid === false">{{ validator.notice_title.message }}</app-input-caption>
      </app-col>
    </app-row>
    <app-row *mobileShow>
      <app-col>
        <app-textarea value="공지합니다" [readonly]="true"></app-textarea>
      </app-col>
    </app-row>
    <h4>
      <app-row>
        <app-col>
          첨부자료
        </app-col>
        <app-col size="auto" *ngIf="update_state">
          <app-button fill="translucent">추가
            <app-file name="input" view_type="NOTICE"
            [(ngModel)]="form.notice_file_data" 
            [file]="form.file" 
            [file_json]="form.file_json" [multiple]="true"></app-file>
          </app-button>
        </app-col>
      </app-row>
    </h4>
    <app-file-preview [readonly]="!update_state"  *ngFor="let futItem of form.notice_file_data; let i = index" [futItem]="futItem"  
    (buttonClick)="form.notice_file_data.splice(i,1)"></app-file-preview>

</ion-content>
<app-button-footer>
  <!-- <app-button *ngIf="item && useNotice" fill="translucent" (click)="submit()">수정</app-button> -->
  <app-button *ngIf="notice_id && useNotice" fill="translucent" (click)="updateButton()">{{ update_state ? '저장' : '수정' }}</app-button>
  <app-button *ngIf="notice_id && useNotice"color="danger" (click)="Delete()" fill="translucent">삭제</app-button>
  <app-button *ngIf="!notice_id" (click)="submit()">저장</app-button>
</app-button-footer>
</ng-container>

<!-- 모바일 -->
<ng-container *mobileShow>
  <ion-content>
    <app-row>
      <app-col>
        <h4>공지사항</h4>
      </app-col>
    </app-row>
    <app-card>
      <app-row>
        <app-col>
          <h5>현장명</h5>
        </app-col>
        <app-col>
          <p>{{ form.project_name}}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>업체명</h5>
        </app-col>
        <app-col >
          <p>{{ form.company_name }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>작성자</h5>
        </app-col>
        <app-col>
          <p>{{ form.user_name }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>작성일</h5>
        </app-col>
        <app-col >
          <p>{{ form.create_date }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>구분</h5>
        </app-col>
        <app-col>
          <p>{{ form.notice_type }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>제목</h5>
        </app-col>
        <app-col >
          <p>{{ form.notice_title }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>내용</h5>
        </app-col>
        <app-col >
          <p>{{ form.notice_content }}</p>
        </app-col>
      </app-row>
    </app-card>
    <app-row>
      <app-col>
        <h4>첨부자료</h4>
      </app-col>
    </app-row>
    <app-file-preview [readonly]="!update_state"  *ngFor="let futItem of form.notice_file_data; let i = index" [futItem]="futItem"  
    (buttonClick)="form.notice_file_data.splice(i,1)"></app-file-preview>
  </ion-content>
</ng-container>
<app-button-footer *mobileShow>
  <app-button (click)="dismiss()">확인</app-button>
</app-button-footer>