
<ion-header>
  <ion-toolbar color="white">
    <ion-title>공지사항 {{ title }}</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ng-container *mobileHidden>
  <ion-content>
    <h4>공지사항</h4>
   <app-row mobileBreak style="border-bottom: 1px solid var(--ion-color-step-100);">
     <app-col>
        <app-select-scene label="현장명" [(ngModel)]="form.project_id" [disabled]="true"></app-select-scene>
     </app-col>
     <app-col>
      <app-input label="업체명" [(ngModel)]="form.company_name" [disabled]="true"></app-input>
     </app-col>
   </app-row>
   <app-row mobileBreak style="border-bottom: 1px solid var(--ion-color-step-100);">
    <app-col>
        <app-input label="작성자" [(ngModel)]="form.user_name" [disabled]="true"></app-input>
    </app-col>
    <app-col>
      <app-input label="작성일" [(ngModel)]="form.create_date" [disabled]="true"></app-input>
    </app-col>
  </app-row>
  <app-row mobileBreak style="border-bottom: 1px solid var(--ion-color-step-100);">
    <app-col>
      <app-select [disabled]="!update_state" label="구분" [(ngModel)]="form.notice_type" [required]="true">
        <app-select-option value="일반">일반</app-select-option>
        <app-select-option value="안전관리">안전관리</app-select-option>
        <app-select-option value="환경관리">환경관리</app-select-option>
        <app-select-option value="공사관리">공사관리</app-select-option>
        <app-select-option value="품질관리">품질관리</app-select-option>
      </app-select>
    </app-col>
    <app-col>
      <app-select-contractor [disabled]="!update_state" [allState]="true" [project_id]="form.project_id" [multiple]="false" [(ngModel)]="form.master_company_id" *ngIf="user.userData.belong_data.company_contract_type === 'LH'"></app-select-contractor>
    </app-col>
  </app-row>
    <app-row>
      <app-col>
        <app-input [disabled]="!update_state" label="제목" [(ngModel)]="form.notice_title"></app-input>
      </app-col>
    </app-row>
    <app-row>
      <app-col>
        <app-textarea *ngIf="!useNotice || !update_state" label="내용" [rows]="10" [(ngModel)]="form.notice_content"></app-textarea>
        <app-smartedit *ngIf="useNotice && update_state" #noticeText name="notice_text" placeholder="내용을 입력하세요." 
        [color]="validator.notice_title?.valid === false && 'warning'"
        [(ngModel)]="form.notice_content"></app-smartedit>
        <app-input-caption *ngIf="validator.notice_title?.valid === false">{{ validator.notice_title.message }}</app-input-caption>
      </app-col>
    </app-row>
    <app-row *mobileShow>
      <app-col>
        <app-textarea value="공지합니다" [readonly]="true"></app-textarea>
      </app-col>
    </app-row>
    <h4>
      <app-row>
        <app-col>
          첨부자료
        </app-col>
        <app-col size="auto">
          <app-button [disabled]="!item || (!useNotice || !update_state)" fill="translucent">추가
            <app-file name="input" view_type="NOTICE" [(ngModel)]="form.notice_file_data" [file]="form.file" [file_json]="form.file_json"></app-file>
          </app-button>
        </app-col>
      </app-row>
    </h4>

    <app-file-preview *ngFor="let futItem of form.notice_file_data" [futItem]="futItem"></app-file-preview>

</ion-content>
<app-button-footer>
  <!-- <app-button *ngIf="item && useNotice" fill="translucent" (click)="submit()">수정</app-button> -->
  <app-button *ngIf="item && useNotice" fill="translucent" (click)="updateButton()">{{ update_state ? '저장' : '수정' }}</app-button>
  <app-button *ngIf="item && useNotice"color="danger" (click)="Delete()" fill="translucent">삭제</app-button>
  <app-button *ngIf="!item" (click)="submit()">저장</app-button>
</app-button-footer>
</ng-container>

<!-- 모바일 -->
<ng-container *mobileShow>
  <ion-content>
    <app-row>
      <app-col>
        <h4>공지사항</h4>
      </app-col>
    </app-row>
    <app-card>
      <app-row>
        <app-col>
          <h5>현장명</h5>
        </app-col>
        <app-col>
          <p>{{ form.project_name}}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>업체명</h5>
        </app-col>
        <app-col >
          <p>{{ form.company_name }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>작성자</h5>
        </app-col>
        <app-col>
          <p>{{ form.user_name }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>작성일</h5>
        </app-col>
        <app-col >
          <p>{{ form.create_date }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>구분</h5>
        </app-col>
        <app-col>
          <p>{{ form.notice_type }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>제목</h5>
        </app-col>
        <app-col >
          <p>{{ form.notice_title }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>내용</h5>
        </app-col>
        <app-col >
          <p>{{ form.notice_content }}</p>
        </app-col>
      </app-row>
    </app-card>
    <app-row>
      <app-col>
        <h4>첨부자료</h4>
      </app-col>
    </app-row>
    <app-table>
      <tr *ngFor="let item of form.notice_file_data let i = index">
        <td *ngIf="item.view_type==='NOTICE'">
          <app-row>
            <app-col>
              <a [href]="item.full_url" target="_blank" [download]="item.file_name">
                <ion-icon name="save-outline"></ion-icon>
                {{ item.file_name }}
              </a>
            </app-col>
            <app-col size="auto">
              <app-button shape="circle" size="small" fill="translucent" color="danger" (click)="form.notice_file_data.splice(i,1)">
                <app-img name="minus"></app-img>
              </app-button>
            </app-col> 
          </app-row>
          <ion-row
          *ngIf="item.content_type.startsWith('image')">
            <ion-col>
              <div class="image-detail">이미지 미리보기</div>
              <app-img class="image-class" [src]="item.full_url"></app-img>
            </ion-col>
          </ion-row>
        </td>
      </tr>
    </app-table>
  </ion-content>
</ng-container>
<app-button-footer *mobileShow>
  <app-button (click)="dismiss()">확인</app-button>
</app-button-footer>