<!-- pc -->
<ng-container *mobileHidden>
  <app-header-admin></app-header-admin>
  <ion-content>
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto"><h5>필터</h5></app-col>
              <app-col size="auto"><app-button fill="translucent" style="width: 100px;">검색</app-button></app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
                <app-select-scene></app-select-scene>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-contractor></app-select-contractor>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-education></app-select-education>
              </td>
            </tr>
            <tr>
              <td>
                <app-input-group label="교육일">
                  <app-calendar></app-calendar>
                  ~
                  <app-calendar></app-calendar>
                </app-input-group>
              </td>
            </tr>
            <tr>
              <td>
                <app-select label="교육 상태"></app-select>
              </td>
            </tr>
            <tr>
              <td>
                <app-input label="검색어" placeholder="검색어를 입력해주세요."></app-input>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
      <app-col>
        <ion-toolbar color="white">
          <ion-buttons slot="start">
            <app-button fill="translucent" (click)="add()">신규 개설</app-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="white">
          <h5>교육 개설 목록(총50건)</h5>
        </ion-toolbar>
        <app-table>
          <thead>
            <tr>
              <th style="width: 40px;">No.</th>
              <th>업체명</th>
              <th>교육명</th>
              <th>교육대상</th>
              <th>교육장소</th>
              <th>교육일</th>
              <th>교육시간</th>
              <th>출석진행자</th>
              <th>교육상태</th>
            </tr>
          </thead>
          <tbody>
            <tr class="button" (click)="edit()">
              <td>9</td>
              <td>(주)제일</td>
              <td>작업 변겅시 교육</td>
              <td>(주)건창</td>
              <td>A교육장</td>
              <td>2021.05.21(화)</td>
              <td>06:00~08:00</td>
              <td>김근호</td>
              <td>교육중</td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
    </app-row>
  </ion-content>
</ng-container>
<!-- 모바일 -->
<ng-container *mobileShow>
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>교육 현황</ion-title>
      <ion-buttons slot="end">
        <app-menu-button></app-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="white">
      <app-input-group>
        <app-input label="현장" value="수원 당수 현장" [readonly]="true"></app-input>
        <app-button (click)="openDetailSearch()">상세검색</app-button>
      </app-input-group>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-row>
      <app-col></app-col>
      <app-col size="auto">
        <app-button fill="translucent" (click)="add()">신규개설</app-button>
      </app-col>
    </app-row>
    <ng-container>
      <app-card>
        <app-row style="align-items: flex-start;">
          <app-col>
            <p>(주)남광토건</p>
            <p>(주)건영작업자/A교육장/이상범,구범수</p>
            <p>21.05.21(금)/06:00~08:00</p>
          </app-col>
          <app-col size="auto">
            <ion-chip color="success">교육중</ion-chip>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <ion-badge color="success">특별04</ion-badge>
          </app-col>
        </app-row>
      </app-card>
      <app-card>
        <app-row style="align-items: flex-start;">
          <app-col>
            <p>(주)남광토건</p>
            <p>(주)건영작업자/A교육장/이상범,구범수</p>
            <p>21.05.21(금)/06:00~08:00</p>
        </app-col>
          <app-col size="auto">
            <ion-chip color="medium">교육종료</ion-chip>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <ion-badge color="success">특별20</ion-badge>
          </app-col>
        </app-row>
      </app-card>
      <app-card>
        <app-row style="align-items: flex-start;">
          <app-col>
            <p>(주)남광토건</p>
            <p>(주)건영작업자/A교육장/이상범,구범수</p>
            <p>21.05.21(금)/06:00~08:00</p>
          </app-col>
          <app-col size="auto">
            <ion-chip color="success">교육중</ion-chip>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <ion-badge color="success">채용시</ion-badge>
          </app-col>
        </app-row>
      </app-card>
      <app-card>
        <app-row style="align-items: flex-start;">
          <app-col>
            <p>(주)남광토건</p>
            <p>(주)건영작업자/A교육장/이상범,구범수</p>
            <p>21.05.21(금)/06:00~08:00</p>
          </app-col>
          <app-col size="auto">
            <ion-chip color="success">교육중</ion-chip>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <ion-badge color="success">특별04</ion-badge>
          </app-col>
        </app-row>
      </app-card>
    </ng-container>
  </ion-content>
  <app-button-footer>
    <app-button>신규배정</app-button>
  </app-button-footer>
</ng-container>