<!-- pc -->
<ng-container *mobileHidden>
  <app-header-admin></app-header-admin>
  <ion-content>
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto"><h5>필터</h5></app-col>
              <app-col size="auto"><app-button fill="translucent" style="width: 100px;">검색</app-button></app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
                <app-select-scene></app-select-scene>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-contractor></app-select-contractor>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-education></app-select-education>
              </td>
            </tr>
            <tr>
              <td>
                <app-input-group label="교육일">
                  <app-calendar></app-calendar>
                  ~
                  <app-calendar></app-calendar>
                </app-input-group>
              </td>
            </tr>
            <tr>
              <td>
                <app-select label="개설 상태"></app-select>
              </td>
            </tr>
            <tr>
              <td>
                <app-input label="검색어" placeholder="검색어를 입력해주세요."></app-input>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
      <app-col>
        <ion-toolbar color="white">
          <ion-buttons slot="start">
            <app-button fill="translucent">신규 작성</app-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="white">
          <h5>회의록 목록(총50건)</h5>
        </ion-toolbar>
        <app-table>
          <thead>
            <tr>
              <th style="width: 40px;">No.</th>
              <th>회의록</th>
              <th>회의일자</th>
              <th>회사명</th>
              <th>작성자</th>
              <th>결재현황</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>9</td>
              <td>노사 협의체 회의록</td>
              <td>2021.09.15</td>
              <td>(주)남광토건</td>
              <td>이상범</td>
              <td>진행중</td>
            </tr>
            <tr>
              <td>8</td>
              <td>안전 및 보건에 관한 협의체 회의록</td>
              <td>2021.09.15</td>
              <td>(주)남광토건</td>
              <td>이상범</td>
              <td>진행중</td>
            </tr>
            <tr>
              <td>7</td>
              <td>산업안전보건위원회 회의록</td>
              <td>2021.09.15</td>
              <td>(주)남광토건</td>
              <td>이상범</td>
              <td>진행중</td>
            </tr>
            <tr>
              <td>6</td>
              <td>노사 협의체 회의록</td>
              <td>2021.09.15</td>
              <td>(주)남광토건</td>
              <td>이상범</td>
              <td>진행중</td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
    </app-row>
  </ion-content>
</ng-container>
