<!-- pc -->
<ng-container *mobileHidden>
  <app-header-admin></app-header-admin>
  <ion-content>
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto"><h5>필터</h5></app-col>
              <app-col size="auto"><app-button fill="translucent" style="width: 100px;" (click)="get(0)">검색</app-button></app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
                <app-select-scene  [all]="editable.add" [(ngModel)]="form.project_id"></app-select-scene>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-contractor [allState]="editable.add" [project_id]="form.project_id || 0" [(ngModel)]="form.company_id" [disabled]="editable.company_id"></app-select-contractor>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-education [all]="true" [(ngModel)]="form.ctgo_education_safe_id"></app-select-education>
              </td>
            </tr>
            <tr>
              <td>
                <app-input-group label="교육일">
                  <app-calendar [(ngModel)]="form.start_date" [max]="form.end_date"></app-calendar>
                  ~
                  <app-calendar [(ngModel)]="form.end_date" [min]="form.start_date"></app-calendar>
                </app-input-group>
              </td>
            </tr>
            <tr>
              <td>
                <app-select label="교육 상태" [(ngModel)]="form.education_safe_state">
                  <app-select-option value="전체">전체</app-select-option>
                  <app-select-option value="교육 전">교육 전</app-select-option>
                  <app-select-option value="교육 중">교육 중</app-select-option>
                  <app-select-option value="교육 종료">교육 종료</app-select-option>
                </app-select>
              </td>
            </tr>
            <tr>
              <td>
                <app-input label="검색어" placeholder="검색어를 입력해 주세요."></app-input>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
      <app-col>
        <ion-toolbar color="white" *ngIf="!editable.add" >
          <ion-buttons slot="start">
            <app-button fill="translucent" (click)="edit()">신규 개설</app-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="white">
          <h5>교육 개설 목록 (총 {{ res?.rsObj?.row_count || 0}}건)</h5>
        </ion-toolbar>
        <app-table>
          <thead>
            <tr>
              <th style="width: 48px;">No</th>
              <th>업체명</th>
              <th>교육명</th>
              <th>교육대상</th>
              <th>교육장소</th>
              <th>교육일</th>
              <th>교육시간</th>
              <th>출석진행자</th>
              <th>교육상태</th>
            </tr>
          </thead>
          <tbody>
            <tr class="button" *ngFor="let item of res?.rsMap let i = index" (click)="edit(item)">
              <td>{{ item.index }}</td>
              <td>{{ item.company_name }}</td>
              <td>{{ item.ctgo_education_safe_name }}</td>
              <td>{{ item.education_safe_target }}</td>
              <td>{{ item.education_safe_place }}</td>
              <td>{{ item.education_safe_date }} ({{ item.date_day}})</td>
              <td>{{ item.education_safe_start_time }} ~ {{ item.education_safe_end_time }}</td>
              <td (click)="userInfo(item.education_safe_manager_id,$event)" >{{ item.education_safe_manager_name }}</td>
              <td>{{ item.education_safe_state }}</td>
            </tr>
          </tbody>
        </app-table>
        <app-pager [totalCount]="res?.rsObj?.row_count" [limitNo]="form.limit_no" (pagerChange)="get($event)"></app-pager>
      </app-col>
    </app-row>
  </ion-content>
</ng-container>
<!-- 모바일 -->
<ng-container *mobileShow>
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>교육 현황</ion-title>
      <ion-buttons slot="end">
        <app-menu-button></app-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="white">
      <app-input-group>
        <app-select-scene [disabled]="true" [all]="editable.add" [(ngModel)]="form.project_id"></app-select-scene>
        <app-button (click)="openDetailSearch()">상세검색</app-button>
      </app-input-group>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ng-container>
      <app-card *ngFor="let item of res?.rsMap" (click)="edit(item)">
        <app-row style="align-items: flex-start;">
          <app-col>
            <p>{{ item.company_name }}</p>
            <p>{{ item.education_safe_target }}
              /{{ item.education_safe_place }}
              /{{ item.education_safe_instructor }}</p>
            <p>{{ item.education_safe_date }} ({{ item.date_day }})
              /{{ item.education_safe_start_time }}~{{ item.education_safe_end_time }}</p>
          </app-col>
          <app-col size="auto">
            <ion-chip color="primary" *ngIf="item.education_safe_state === '교육 전'">{{ item.education_safe_state }} </ion-chip>
            <ion-chip color="success" *ngIf="item.education_safe_state === '교육 중'">{{ item.education_safe_state }} </ion-chip>
            <ion-chip color="medium" *ngIf="item.education_safe_state === '교육 종료'">{{ item.education_safe_state }} </ion-chip>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <ion-badge color="success">{{ item.ctgo_education_safe_title }}</ion-badge>
          </app-col>
        </app-row>
      </app-card>
    </ng-container>
  </ion-content>
  <app-button-footer *ngIf="!editable.add">
    <app-button (click)="edit()">신규개설</app-button>
  </app-button-footer>
</ng-container>