<ion-header>
  <ion-toolbar color="white">
    <ion-title>장소 QR</ion-title>
    <app-dismiss-button slot="end"></app-dismiss-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item">
  <div  style="display: flex; justify-content: center; align-items: center;">
    <img (click)="downloadQR()" id="qrious"/>
  </div>
  
  <app-card>
    <app-row>
      <app-col>
        <app-input [readonly]="true" name="위험지역명" label="위험지역명" [(ngModel)]="item.area_full_name"></app-input>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col>
        <app-input [readonly]="true" name="위험지역 유형" label="위험지역 유형" [(ngModel)]="item.ctgo_area_risk_name"></app-input>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
