<app-input-template [color]="color" [label]="label" [readonly]="readonly" [disabled]="disabled" [required]="required" (click)="!disabled ? popoverCalendar():''">
  <app-row slot="input" vertical="center">
    <app-col size="2.5em">
      <input [readonly]="true" [disabled]="disabled" type="tel" class="year-input"  [(ngModel)]="form.year" maxlength="4" (keyup)="changeYear($event)" (focus)="fucus()" (blur)="blur()">
    </app-col>
    <app-col size="auto">
      -
    </app-col>
    <app-col size="1.4em">
      <input [readonly]="true" [disabled]="disabled" type="tel" class="month-input" [(ngModel)]="form.month" maxlength="2" (keyup)="changeMonth($event)" (focus)="fucus()" (blur)="blur()">
    </app-col>
    <app-col size="auto">
      -
    </app-col>
    <app-col size="1.4em">
      <input [readonly]="true" [disabled]="disabled" type="tel" class="date-input"  [(ngModel)]="form.date" maxlength="2" (keyup)="changeDate($event)" (focus)="fucus()" (blur)="blur()">
    </app-col>
  </app-row>
    <app-img  slot="button" name="calendar"></app-img>
</app-input-template>