
  <app-header-admin></app-header-admin>
  <ion-content>
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto"><h5>필터</h5></app-col>
              <app-col size="auto">
                <app-button fill="translucent" style="width: 100px;" (click)="getList(0)">검색</app-button>
              </app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
                <app-select label="지역본부" [(ngModel)]="form.hq_regional_id" (change)="getCtgoBusiness($event)">
                  <app-select-option [value]="0">전체</app-select-option>
                  <app-select-option *ngFor="let opt of ctgoRegional?.rsMap" [value]="opt.hq_regional_id">{{ opt.hq_regional_name }}</app-select-option>
                </app-select>
              </td>
            </tr>
            <tr>
              <td>
                <app-select label="사업본부" [disabled]="!form.hq_regional_id" [(ngModel)]="form.hq_business_id">
                  <app-select-option [value]="0">전체</app-select-option>
                  <app-select-option *ngFor="let opt of ctgoBusiness?.rsMap" [value]="opt.hq_business_id">{{ opt.hq_business_name }}</app-select-option>
                </app-select>
              </td>
            </tr>
            <tr>
              <td>
                <app-input label="검색어" [(ngModel)]="form.search_text" placeholder="검색어를 입력해주세요."></app-input>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
      <app-col>
        <ion-toolbar color="white">
          <h5>감리사 목록 (총{{res?.rsObj?.row_count || 0}}건)</h5>
        </ion-toolbar>
        <app-check-group>
          <app-table>
            <thead>
              <tr>
                <th style="width: 40px;">No.</th>
                <th>지역본부</th>
                <th>사업본부</th>
                <th>현장명</th>
                <th>감리사</th>
                <th>사업자등록번호</th>
                <th>대표자</th>
                <th>최근 업데이트</th>
                <th>작성자</th>
              </tr>
            </thead>
            <tbody>
              <tr class="button" *ngFor="let item of res?.rsMap let i = index" (click)="edit(item)">
                <td>{{ item.index }}</td>
                <td>{{ item.hq_regional_name }}</td>
                <td>{{ item.hq_business_name }}</td>
                <td>{{ item.project_name }}</td>
                <td>{{ item.company_name }}</td>
                <td>{{ item.business_register_no }}</td>
                <td>{{ item.company_ceo }}</td>
                <td>{{ item.update_date }}</td>
                <td>{{ item.create_user_name }}</td>
              </tr>
            </tbody>
          </app-table>
        </app-check-group>
        <app-pager [totalCount]="res?.rsObj.row_count" [limitNo]="form.limit_no" (pagerChange)="getList($event)"></app-pager>
      </app-col>
    </app-row>
  </ion-content>

