<ion-header>
  <ion-toolbar color="white">
    <ion-title>시리얼No.검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input-group>
      <app-select label="스마트 장비">
        <app-select-option ></app-select-option>
      </app-select>
      <app-input name="with img" label="검색어" placeholder="검색어를 입력하세요"  [(ngModel)]="form.search_text" (buttonClick)="getSerial()">
        <app-img name="search"></app-img>
      </app-input>
    </app-input-group>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>B0005</h5>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button (click)="select()">적용</app-button>
</app-button-footer>
