<ion-header>
  <ion-toolbar color="white">
    <ion-title>등록 NO검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input-group>
      <app-select [disabled]="state == 'pc'" label="스마트 장비" name="select" [(ngModel)]="form.ctgo_machine_serial_id">
        <app-select-option *ngIf="state == 'mobile'" [value]="0">전체</app-select-option>
        <app-select-option *ngFor="let opt of smart_ctgo_list" [value]="opt.ctgo_machine_serial_id">{{ opt.ctgo_machine_serial_name }}</app-select-option>
      </app-select>
      <app-input name="with img" label="검색어" [(ngModel)]="form.search_text" placeholder="검색어를 입력하세요">
        <app-img (click)="getSerial()" name="search"></app-img>
      </app-input>
    </app-input-group>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <app-card *ngFor="let item of res?.rsMap" [color]="selectList === item ? 'secondary' : 'white'" (click)="selectList = item"> -->
  <app-card name="searial_info" *ngFor="let item of res?.rsMap" [button]="true" [color]="selectedItem === item ? 'secondary' : 'white'" (click)="this.allState = false; selectedItem = item">
    <app-row>
      <app-col>
        <h5>스마트 장비</h5>
        <p>{{ '('+item.serial_type+')'+item.ctgo_machine_serial_name }}</p>
      </app-col>
      <app-col>
        <h5>등록 NO</h5>
        <p>{{ item.serial_no }}</p>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button (click)="select()">적용</app-button>
</app-button-footer>
