<ion-header>
  <ion-toolbar color="white">
    <ion-title>조치자 검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-row>
      <app-col>
        <app-select-action-option></app-select-action-option>
      </app-col>
      <app-col>
        <div class="flex">
          <app-input label="검색어" placeholder="검색어를 입력해주세요"></app-input>
          <app-button>검색</app-button>
        </div>
      </app-col>
    </app-row>
    <app-row>
      <app-col>
        <app-table>
          <thead>
            <tr>
              <th>업체명</th>
              <th>성명</th>
              <th>직위</th>
              <th>안전직무</th>
            </tr>
          </thead>
          <tbody>
            <tr class="button" class="button" (click)="edit(item)">
              <td>(주)지에스아이엘</td>
              <td>전다영</td>
              <td>프로</td>
              <td>관리감독자</td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
    </app-row>
    <app-row>
      <app-col>
        <app-card>
          <ion-item-group slot="end">
            <ion-chip outline color="primary">전다영</ion-chip>
            <ion-chip outline color="primary">김범수</ion-chip>
          </ion-item-group>
        </app-card>
      </app-col>
    </app-row>
</ion-content>


