.weather-temp {
    font-size: 25px;
    font-weight: bold;
}
.ratio {
    font-size: 15px;
    color:var(--ion-color-primary)
}
.title { 
    font-size: 15px;
}
.colstyle{
    align-self: flex-end;
}
// ion-content{
//     --background: transparent !important;
// } 