<ion-header>
  <ion-toolbar>
    <app-row>
      <app-col size="3">
        <app-select>
          <app-select-option>전체</app-select-option>
        </app-select>
      </app-col>
      <app-col></app-col>
      <app-col size="auto">
        <app-button style="padding: 0;" color="primary" [fill]="'translucent'" [disabled]="true">
          <app-img style="width: 50px;" [src]="weather.weather_icon"></app-img>
        </app-button>
      </app-col>
      <app-col size="auto">
        <app-row class="weather-temp">
          {{ weather.weather_temp + "&deg;C"}}
        </app-row>
        <app-row class="ratio">
          {{ weather.high_weather_temp + "&deg;C" }}
          {{ weather.low_weather_temp + "&deg;C"}}
        </app-row>
      </app-col>
      <app-col class="colstyle" size="auto">
        <app-row class="title">
          강수량
        </app-row>
        <app-row class="ratio">
          {{ weather.weather_rain !== '강수없음' ? weather.weather_rain + "mm" : weather.weather_rain}}
        </app-row>
      </app-col>
      <app-col class="colstyle" size="auto">
        <app-row class="title">
          적설량
        </app-row>
        <app-row class="ratio">
          {{ weather.weather_snow !== '적설없음' ? weather.weather_pty : '-' }}
        </app-row>
      </app-col>
      <app-col class="colstyle" size="auto">
        <app-row class="title">
          최대풍속
        </app-row>
        <app-row class="ratio">
          {{ weather.weather_speed + "m/s"}}
        </app-row>
      </app-col>
      <app-col class="colstyle" size="auto">
        <app-row class="title">
          미세먼지
        </app-row>
        <app-row class="ratio">
          <app-img style="width: 20px;" [src]="dust.icon_url"></app-img>
          {{ dust.grade_name}}
        </app-row>
      </app-col>
    </app-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-button (click)="testmoda()"></app-button>
</ion-content>
