<ion-item lines="none" [class.disabled]="disabled">
  <ion-label position="stacked">{{ label }}</ion-label>
  <ion-textarea 
  [placeholder]="placeholder"
  [(ngModel)]="value"
  [autofocus]="autofocus"
  [readonly]="readonly"
  [disabled]="disabled"
  [maxlength]="maxlength"
  [autoGrow]="autoGrow"
  [style.--padding-end.px]="button.innerHTML ? button.offsetWidth : 8"></ion-textarea>
  <div #button class="button" tabindex="-1" [class.without-label]="!label" (click)="buttonClick.emit(value)">
    <ng-content></ng-content>
  </div>
</ion-item>