:host {
    ion-textarea {
        margin-top: 0;
        ::ng-deep {
            textarea {
                opacity: 1 !important;
            }
        }
    }
}
:host ::ng-deep {
    label + .input {
        margin-top: 6px;
    }
}