<ion-header>
  <ion-toolbar color="white">
    <ion-title>원청사 검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input-group>
      <app-input name="with img" label="원청사" placeholder="원청사명을 검색하세요">
        <app-img name="search"></app-img>
      </app-input>
    </app-input-group>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card>
    <app-row>
      <app-col size="4">
        <h5>원청사명</h5>
        <p>남광토건</p>
      </app-col>
      <app-col size="4">
        <h5>사업자번호</h5>
        <p>(주)112-00-11111</p>
      </app-col>
      <app-col size="4">
        <h5>대표명</h5>
        <p>이정우</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="4">
        <h5>원청사명</h5>
        <p>계룡건설</p>
      </app-col>
      <app-col size="4">
        <h5>사업자번호</h5>
        <p>(주)000-00-00000</p>
      </app-col>
      <app-col size="4">
        <h5>대표명</h5>
        <p>홍길동</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="4">
        <h5>원청사명</h5>
        <p>극동건설</p>
      </app-col>
      <app-col size="4">
        <h5>사업자번호</h5>
        <p>(주)00001-11-1111</p>
      </app-col>
      <app-col size="4">
        <h5>대표명</h5>
        <p>고승진</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="4">
        <h5>원청사명</h5>
        <p>이에스건설</p>
      </app-col>
      <app-col size="4">
        <h5>사업자번호</h5>
        <p>(주)1112-8888-99</p>
      </app-col>
      <app-col size="4">
        <h5>대표명</h5>
        <p>박찬구</p>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button>취소</app-button>
  <app-button>적용</app-button>
</app-button-footer>

