
    .app-button-footer {
        app-row {
            justify-content: flex-end;
        }
        app-col {
            max-width: 200px;
        }
        .left-button {
            --background: var(--ion-color-danger) !important;
        }
    }
@media screen and (min-width: 768px) {
}