<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sign-up-company"></ion-back-button>
    </ion-buttons>
    <ion-title>건강 문진 작성</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<app-container size="small">
  <app-sign-up-segment step="step3"></app-sign-up-segment>
  <form>
  <h4>1. 현재 복용하고 있는 약물이 있습니까?</h4>
  <app-radio-input>
    <app-radio value="없다">없다</app-radio>
    <app-radio value="있다">있다</app-radio>
  </app-radio-input>
  <app-input name="약물명을 입력해주세요." placeholder="약물명을 입력해주세요."></app-input>
  <h4>2. 과거나 현재 뇌, 심혈관질환으로 치료를 받았거나 받고 있습니까?</h4>
  <app-radio-input>
    <app-radio value="없다">없다</app-radio>
    <app-radio value="있다">있다</app-radio>
  </app-radio-input>
  * 해당하는 항목에 체크해주세요
  <app-row>
    <app-col><app-check name="뇌졸중">뇌졸중</app-check></app-col>
    <app-col><app-check name="뇌출혈">뇌출혈</app-check></app-col>
    <app-col><app-check name="협심증">협심증</app-check></app-col>
    <app-col><app-check name="심근경색">심근경색</app-check></app-col>
    <app-col><app-check name="간질발작">간질발작</app-check></app-col>
  </app-row>
  <h4>3. 최근 가슴을 쥐어짜는 통증,오심,구토 증상을 겪은 적이 있습니까?</h4>
  <app-radio-input>
    <app-radio value="없다">없다</app-radio>
    <app-radio value="있다">있다</app-radio>
  </app-radio-input>
  <app-input name="증상을 적어주세요." placeholder="증상을 적어주세요."></app-input>
  <h4>4. 최근 갑자기 한쪽 팔,다리에 힘이 빠지거나 말이 어눌하게 나오거나 두통,어지러운 증상을 겪은적이 있습니까?</h4>
  <app-radio-input>
    <app-radio value="없다">없다</app-radio>
    <app-radio value="있다">있다</app-radio>
  </app-radio-input>
  <app-input name="증상을 적어주세요." placeholder="증상을 적어주세요."></app-input>
  <h4>5. 현재 기타질병(당뇨,간장질환,폐질환 등)으로 치료를 받고 있습니까?</h4>
  <app-radio-input>
    <app-radio value="없다">없다</app-radio>
    <app-radio value="있다">있다</app-radio>
  </app-radio-input>
  <app-input name="증상을 적어주세요." placeholder="증상을 적어주세요."></app-input>
  <h4>6. 본인이 코로나19가 의심되는 아래의 임상증상이 있습니까?(*주요 임상증상)체온 37.5도 이상,기침,호흡곤란,오한,근육통,두통,인후통,후각미각 소실 또는 폐렴
    (단,코로나19와 관계없이 평소의 기저질환으로 인한 증상인 경우는 제외)
  </h4>
  <app-radio-input>
    <app-radio value="없다">없다</app-radio>
    <app-radio value="있다">있다</app-radio>
  </app-radio-input>
  <app-input name="증상을 적어주세요." placeholder="증상을 적어주세요."></app-input>
  <h4>7. 코로나 백신 접종을 하셨습니까?</h4>
  <app-radio-input>
    <app-radio value="미접종">미접종</app-radio>
    <app-radio value="접종">접종</app-radio>
  </app-radio-input>
  <app-check name="동의">본인은 질병예방과 안전한 작업을 위하여 문진자료를 사업창에 제공하는것에 동의합니다.</app-check>
</form>
</app-container>
</ion-content>
<app-button-footer>
  <app-button>이전</app-button>
  <app-button>다음</app-button>
</app-button-footer>
