<app-header-admin></app-header-admin>

<ion-content>
  <app-button (click)="openSideMenuUser()">open side menu user</app-button>
  <div class="login">
    <div>
      <app-logo class="logo"></app-logo>
      <app-img class="logo-text" src="assets/img/logo.svg"></app-img>
   
      <app-input name="아이디"  placeholder=아이디 ></app-input>
      <app-input  name="비밀번호" type="password" placeholder=비밀번호></app-input>
      
      <app-button expand="block" >로그인</app-button>
      <app-check>아이디 저장</app-check>
    </div>
  <div style="background: white;">
    <app-row>
      <app-col>회원가입</app-col>
      <app-col>회원가입</app-col>
      <app-col>회원가입</app-col>
    </app-row>
  </div>
</div>

<!-- <div class="ion-text-end">
    <ion-button fill="clear" size="small" routerLink="/find-id">아이디 찾기</ion-button>
  </div>
  <div class="ion-text-end">
    <ion-button fill="clear" size="small" routerLink="/find-password">비밀번호 찾기</ion-button>
  </div> -->
  <!-- <app-copy-right></app-copy-right> -->

</ion-content>
