ion-content {
	--background:var(--ion-color-white);
}
ion-content::part(scroll) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login {
	width: 400px;
	height: 410px;
	background: var(--ion-color-light);
	padding: 30px;

    .logo-img {
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 45px;
        height: 45px;
        margin-bottom: 30px;
    }

    .logo {
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 80px;
        height: 15px;
        margin-bottom: 20px;
    }   
}