<ion-header>
  <ion-toolbar color="white">
    <ion-title>마일리지 지급 유형</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input-group>
      <app-input name="with img" label="검색어" placeholder="검색어를 입력하세요" [(ngModel)]="form.search_text">
        <app-img name="search"></app-img>
      </app-input>
    </app-input-group>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-table>
    <thead>
      <tr>
        <th style="width: 40px;">No.</th>
        <th>마일리지 지급</th>
        <th>지급 마일리지</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3" style="text-align: center;">
          직접입력
          <app-button (click)="add()" fill="translucent" size="small" shape="circle">
            <app-img name="plus"></app-img>
          </app-button>
        </td>
      </tr>
      <tr class="button" [class.selected]="selectItem == item" *ngFor="let item of res?.rsMap let i = index" (click)="selectItem = item">
        <td>{{ i+1 }}</td>
        <td>{{item.ctgo_safe_mileage_id}}</td>
        <td>{{item.ctgo_safe_mileage_point}}</td>
      </tr>
    </tbody>
  </app-table>
  <app-table *ngIf="selectItem?.ctgo_safe_mileage_id === 0">
    <thead>
      <tr>
        <th colspan="3">추가 리스트</th>
      </tr>
      <tr>
        <th>마일리지 지급</th>
        <th>지급 마일리지</th>
        <th>삭제</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><app-input placeholder="직접입력" [(ngModel)]="selectItem.ctgo_safe_mileage_kr"></app-input></td>
        <td><app-input placeholder="직접입력" [(ngModel)]="selectItem.ctgo_safe_mileage_point"></app-input></td>
        <td><app-button  color="danger" fill="translucent" size="small" (click)="selectItem = null">
          <app-img name="delete"></app-img>
        </app-button>
      </td>
      </tr>
    </tbody>
  </app-table>
</ion-content>
<app-button-footer>
  <app-button (click)="submit()">적용</app-button>
</app-button-footer>