<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/basic/guide"></ion-back-button>
    </ion-buttons>
    <ion-title>회원정보</ion-title>
  </ion-toolbar>
  <ion-toolbar color="white">
    <h4>위험성 평가 보고</h4>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-row>
      <app-col size="auto">
        <ion-segment color="primary" [scrollable]="true">
          <ion-segment-button>위치 정보 수집 범위</ion-segment-button>
          <ion-segment-button>공종</ion-segment-button>
          <ion-segment-button>위험공종</ion-segment-button>
          <ion-segment-button>장소</ion-segment-button>
          <ion-segment-button>위험지역</ion-segment-button>
          <ion-segment-button>위험성평가 항목</ion-segment-button>
          <ion-segment-button>위험 작업</ion-segment-button>
          <ion-segment-button>건설기계</ion-segment-button>
          <ion-segment-button>특수공도구</ion-segment-button>
          <ion-segment-button>점검표</ion-segment-button>
          <ion-segment-button>회의록 협의사항</ion-segment-button>
        </ion-segment>
      </app-col>
    </app-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-row>
    <app-col size="auto">
      
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <app-button fill="translucent">신규작성</app-button>
          <app-button fill="translucent">복사 작성</app-button>
          <app-button fill="translucent">미결 문서</app-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-segment color="primary">
            <ion-segment-button>최초</ion-segment-button>
            <ion-segment-button>정기</ion-segment-button>
            <ion-segment-button>수시</ion-segment-button>
          </ion-segment>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar color="white">
        <h5>수시 위험성평가 목록 (총90건)</h5>
      </ion-toolbar>
      <app-table>
        <thead>
          <tr>
            <th width="40px" rowspan="2"><app-check color="white" size="small" name="check"></app-check></th>
            <th rowspan="2">No</th>
            <th rowspan="2">공종</th>
            <th rowspan="2">회사명</th>
            <th rowspan="2">작업기간</th>
            <th rowspan="2">공사명</th>
            <th rowspan="2">단위작업</th>
            <th rowspan="2">장소</th>
            <th rowspan="2">건설기계</th>
            <th rowspan="2">특수 공도구</th>
            <th rowspan="2">위험요인</th>
            <th colspan="3">위험성</th>
            <th rowspan="2">감소대책</th>
            <th rowspan="2">결재현황</th>
          </tr>
          <tr>
            <th>빈도</th>
            <th>강도</th>
            <th>위험도</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of [1,1,1]">
            <tr>
              <td rowspan="5"><app-check color="white" size="small" name="check"></app-check></td>
              <td rowspan="5">10</td>
              <td rowspan="5"><ion-chip color="success">토목</ion-chip></td>
              <td rowspan="5"></td>
              <td rowspan="2">1</td>
              <td rowspan="2">1</td>
              <td rowspan="2">1</td>
              <td rowspan="2">1</td>
              <td rowspan="2">1</td>
              <td rowspan="2">1</td>
              <td rowspan="2">1</td>
              <td rowspan="2">1</td>
              <td rowspan="2">1</td>
              <td>1</td>
              <td rowspan="5">1</td>
              <td rowspan="5"><ion-chip outline color="success">진행중</ion-chip></td>
            </tr>
            <tr>
              <td>2</td>
            </tr>
            <tr>
              <td rowspan="3">3</td>
              <td rowspan="2">3</td>
              <td rowspan="2">3</td>
              <td rowspan="2">3</td>
              <td rowspan="2">3</td>
              <td>3</td>
              <td>3</td>
              <td>3</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
              <td>4</td>
            </tr>
            <tr>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td><ion-chip outline color="success">진행중</ion-chip></td>
            </tr>
          </ng-container>
        </tbody>
      </app-table>

    </app-col>
  </app-row>
</ion-content>
