.approval-group {
    background: var(--ion-color-white);
    font-size: 14px;
    text-align: center;
    align-items: stretch;
    .approval-title {
        padding: 0;
        line-height: 2em;
        font-weight: 700;
        border: 1px solid var(--ion-color-step-100);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .approval-col {
        padding: 0;
        border: 1px solid var(--ion-color-step-100);
        border-left: 0;
        .approval-type {
            font-weight: 700;
            padding: 5px;
            border-bottom: 1px solid var(--ion-color-step-100);
        }
        .approval-person {
            font-weight: 500;
            padding: 5px;
            min-height: 72px;
            min-width: 108px;
        }
        .approval-name {
            margin-bottom: 4px;
        }
        .approval-state {
            color: var(--ion-color-medium);
        }
        .approval-date {
            font-size: 12px;
        }
    }
}