/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "theme/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

@import "theme/utils.scss";

/* Optional CSS utils that can be commented out */
/* @import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css"; */

:root {

  /** html default tags */
  body {
    background: transparent !important;
  }
  a {
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6, p {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    line-height: 1.48em;
    ion-badge {
      margin-left: 4px;
      font-weight: 400;
    }
  }
  h1 {
    margin-top: 32px;
    margin-bottom: var(--app-margin);
    font-size: var(--font-size-h1);
    font-weight: 700;
    small {
      font-size: var(--font-size-h2);
    }
  }
  h2 {
    margin-top: 30px;
    margin-bottom: var(--app-margin);
    font-size: var(--font-size-h2);
    font-weight: 700;
    small {
      font-size: var(--font-size-h3);
    }
  }
  h3 {
    margin-top: 30px;
    margin-bottom: var(--app-margin);
    font-size: var(--font-size-h3);
    font-weight: 700;
    small {
      font-size: var(--font-size-h4);
    }
  }
  h4 {
    margin-top: 30px;
    margin-bottom: var(--app-margin);
    font-size: var(--font-size-h4);
    font-weight: 700;
    small {
      font-size: var(--font-size-h5);
    }
  }
  h5 {
    margin-top: 30px;
    margin-bottom: var(--app-margin);
    font-size: var(--font-size-h5);
    font-weight: 700;
    small {
      font-size: var(--font-size-h6);
    }
  }
  h6 {
    margin-top: 30px;
    margin-bottom: var(--app-margin);
    font-size: var(--font-size-h6);
    font-weight: 700;
    small {
      font-size: var(--font-size-h6-small);
    }
  }
  p {
    margin-top: var(--app-margin);
    margin-bottom: var(--app-margin);
    font-size: var(--font-size-h5);
    font-weight: 300;
    color: var(--ion-color-step-600);
    small {
      font-size: var(--font-size-h6);
    }
  }
  pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--ion-font-family);
  }
  code {
    font-family: var(--ion-font-family);
    display: inline-block;
    text-align: left;
    border-radius: var(--app-border-radius);
    background: var(--ion-color-step-50);
    padding: 8px;
    margin: 1px;
  }
  pre code {
    overflow: auto;
    padding: 28px;
  }
  video {
    width: 100%;
  }

  /** ionic tags / classes */
  ion-header::after {
    content: none;
  }
  ion-footer::before {
    content: none;
  }
  ion-toolbar {
    --border-width: 0;
    --border-color: transparent;
    --background: var(--ion-background-color);
  }
  ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --app-padding-bottom: 40px;
  }
  ion-note {
    margin-top: var(--app-margin);
    margin-bottom: var(--app-margin);
    font-size: var(--font-size-h6);
    color: var(--ion-color-step-250);
  }
  ion-chip {
    pointer-events: none;
    border-radius: 5px;
    background: var(--ion-color-translucent);
  }
  ion-badge {
    vertical-align: middle;
    border-radius: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    margin-right: 3px;
    margin-left: 3px;

  }
  ion-icon {
    vertical-align: middle;
    font-size: 1.2em;
  }
  ion-split-pane.split-pane-visible {
    .menu-toggle-hidden {
      display: inline;
    }
  }
  
  /** ionic dialogs */
  ion-alert {
    --backdrop-opacity: 0.1;
    --background: var(--ion-color-white);
    --width: 90%;
    --max-width: 280px;
    padding: 0;
    .alert-wrapper {
      box-shadow: var(--app-box-shadow);
      padding: 10px;
    }

    .alert-message { 
      order: 1;
      margin-top: 10px;
      padding: 4px;
      app-img,
      img {
        width: 100px;
      }
    }
    .alert-head { 
      order: 2;
      padding: 4px;
      .alert-title {
        font-size: var(--font-size-h4);
        white-space: pre-line;
      }
      .alert-sub-title {
        color: #849CB1;
        font-size: var(--font-size-h5);
        white-space: pre-line;
        margin-bottom: 20px;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
      }
    }
    .alert-button-group {
      order: 3;
      justify-content: stretch;
      border-top: 1px solid var(--ion-color-step-50);
      margin: 0;
      padding: 0;
      padding-top: 10px;
      .alert-button {
        margin: 0;
        flex: 1 1 0%;
        width: 100%;
     
        .alert-button-inner {
          justify-content: center;
        }
      }
      .alert-button:not(:last-child) {
        margin-right: 4px;
        background: var(--ion-color-step-100);
        color: var(--ion-color-tertiary-shade);
        border-radius: var(--app-border-radius);
      }
      .alert-button:last-child {
        margin-left: 4px;
        background: var(--ion-color-primary);
        box-shadow: inset 0px -4px 0px -0px rgba(0,0,0,0.1);
        color: var(--ion-color-primary-contrast);
        border-radius: var(--app-border-radius);
        .alert-button-inner {
          justify-content: center;
        }
      }
    }
  }

  ion-popover {
    .popover-content {
      --background: var(--ion-color-white);
    }
  }

  /** devmonster basic tags / classes */
  .basic-toast-top {
    --min-width: 100%;
    top: var(--ion-safe-area-top, 0px);
  }

  ion-popover.calendar-popover {
    --max-width: 280px;
    --width: 100%;
  }
  ion-popover.select-popover {
    --max-width: 280px;
    --width: 100%;
    --max-height: 300px;
  }

  /** custom tags / classes */
  ion-modal.side-menu-admin-modal {
    --width: 100%;
    --box-shadow: var(--app-box-shadow);
    --max-height: 100%;
    --height: 750px;
    align-items: flex-start;
    .modal-wrapper {
      margin-top: calc(64px + var(--ion-safe-area-top));
    }
  }
}