<ion-header>
  <ion-toolbar color="white">
    <ion-title>원청사 정보</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4>회사 정보</h4>
  <app-row mobileBreak>
    <app-col>
      <app-input  [required]="true" [disabled]="true" label="업체명" name="input"
      [(ngModel)]="form.company_name"></app-input>
    </app-col>
    <app-col>
      <app-input  [required]="true" [disabled]="true" label="사업자등록번호"
      [(ngModel)]="form.business_register_no"></app-input>
    </app-col>
  </app-row>
  <app-row mobileBreak>
    <app-col>
      <app-input [required]="true" [disabled]="true" name="input buisnessman"
        [(ngModel)]="form.company_ceo" label="대표자" placeholder=""></app-input>
    </app-col>
    <app-col>
      <app-input label="현장 전화번호" [disabled]="updateStatus" [(ngModel)]="form.company_phone"></app-input>
    </app-col>
  </app-row>
  <app-row>
    <app-col>
      <h4>회사 로고</h4>
    </app-col>
    <app-col size="auto">
      <app-button *ngIf="!updateStatus" fill="translucent">
        <app-file view_type="LOGO"
        [(ngModel)]="form.company_file_data"
        [file]="form.file"
        [file_json]="form.file_json" [multiple]="true"></app-file>
        추가
      </app-button>
    </app-col>
  </app-row>
  <app-file-preview *ngFor="let futItem of form.company_file_data  let i = index" [futItem]="futItem" [readonly]="updateStatus" (buttonClick)="form.company_file_data.splice(i,1)"></app-file-preview>
  <app-card *ngIf="!form.company_file_data">
    <app-row>
      <app-col>
        <h5>등록된 로고가 없습니다.</h5>
      </app-col>
    </app-row>
  </app-card>

  <h4>담당자 정보</h4>
    <app-row>
      <app-col>
        <app-input name="name" [disabled]="updateStatus" [(ngModel)]="form.manager_name" label="성명">
        </app-input>
      </app-col>
      <app-col>
        <app-input  name="phoneNumber" [disabled]="updateStatus" [(ngModel)]="form.manager_phone"
          [type]="'tel'" label="연락처"></app-input>
      </app-col>
      <app-col>
        <app-email label="이메일" [disabled]="updateStatus" [(ngModel)]="form.manager_email"></app-email>
      </app-col>
    </app-row>
  <!-- <h4>개인정보 처리 위탁 동의</h4>
    <app-row>
      <app-col>
        <app-input name="consigner" [disabled]="updateStatus" [(ngModel)]="form.company_name" label="위탁자"></app-input>
      </app-col>
      <app-col>
        <app-input name="fiduciary" [disabled]="updateStatus" [readonly]="true" value="한국토지주택공사" label="수탁자"></app-input>
      </app-col>
      <app-col>
        <app-input name="consignee_consent_date_val" [(ngModel)]="form.consignee_consent_date" label="동의현황" [disabled]="true"></app-input>
      </app-col>
    </app-row>
    <h4>개인정보 처리 위탁 동의서</h4>
    <app-textarea *ngIf="termsRes" name="terms_text" [rows]="10" [disabled]="viewMode" [(ngModel)]="termsRes?.rsObj.terms_text"></app-textarea>
    <app-button name="consignee_consent_date" style="width:100%" *ngIf="permission.agree && !viewMode" (click)="agreement()">동의합니다</app-button> -->
</ion-content>
<app-button-footer *ngIf="permission.edit">
  <app-button fill="translucent" *ngIf="updateStatus" (click)="contUpdate()">수정</app-button>
  <!-- <app-button fill="translucent" *ngIf="!updateStatus" (click)="contDelete()" color="danger">삭제</app-button> -->
  <app-button fill="translucent" *ngIf="!updateStatus" (click)="contSave()">저장</app-button>
</app-button-footer>