<ion-header>
  <ion-toolbar color="white">
    <ion-title>원청사 정보</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4>회사 정보</h4>
  <app-row mobileBreak>
    <app-col>
      <app-input  [required]="true" [disabled]="viewMode || !isNew" label="업체명" name="input"
      [(ngModel)]="form.company_name"></app-input>
    </app-col>
    <app-col>
      <app-input  [required]="true" [disabled]="viewMode || !isNew" label="사업자등록번호" [(ngModel)]="form.business_register_no" [maxlength]="12"></app-input>
    </app-col>
    <app-col>
      <app-input [required]="true" [disabled]="viewMode || !isNew" name="input buisnessman"
        [(ngModel)]="form.company_ceo" label="대표자" placeholder=""></app-input>
    </app-col>
  </app-row>
  <app-row>
    <app-col>
      <h4>회사 로고</h4>
    </app-col>
    <app-col size="auto">
      <app-button *ngIf="permission.edit && !viewMode" fill="translucent">
        <app-file view_type="LOGO"
        [(ngModel)]="form.company_file_data"
        [file]="form.file"
        [file_json]="form.file_json" [multiple]="true"></app-file>
        추가
      </app-button>
    </app-col>
  </app-row>
  <app-file-preview *ngFor="let futItem of form.company_file_data  let i = index" [futItem]="futItem" [readonly]="!permission.edit && viewMode" (buttonClick)="form.company_file_data.splice(i,1)"></app-file-preview>
  <app-card *ngIf="!form.company_file_data">
    <app-row>
      <app-col>
        <h5>등록된 로고가 없습니다.</h5>
      </app-col>
    </app-row>
  </app-card>

  <app-row>
    <app-col>
      <h4>계약 정보</h4>
    </app-col>
    <app-col size="auto" *ngIf="permission.edit && !viewMode">
      <app-button name="add_contract" style="margin-bottom: 0;" (click)="addCompanyContractData()" fill="translucent">추가</app-button>
      <app-button name="remove_contract" style="margin-top: 0;" (click)="removeCompanyContractData()" color="danger" fill="translucent">삭제</app-button>
    </app-col>
  </app-row>
  <app-check-group [(ngModel)]="selectList">
    <app-table>
      <thead>
        <tr>
          <th *ngIf="!viewMode" style="width: 40px;">
            <app-check *ngIf="permission.edit && !viewMode" type="all"></app-check>
          </th>
          <th>현장명</th>
          <th>계약명</th>
          <th>계약금액<br>(원/VAT 별도)</th>
          <th style="width: 280px;">계약기간</th>
          <th>현장 소장</th>
          <th style="width: 130px;">현장 전화번호</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!viewMode; else tempView">
          <tr *ngFor="let item of form.company_contract_data; let i = index">
            <td>
              <app-check [on]="item"></app-check>
            </td>
            <td>
              <app-select-scene label="" name="project_id" [(ngModel)]="item.project_id"></app-select-scene>
            </td>
            <td>
              <app-input name="contract_name" [(ngModel)]="item.contract_name"></app-input>
            </td>
            <td>
              <app-input name="contract_amount" [(ngModel)]="item.contract_amount"></app-input>
            </td>
            <td>
              <app-input-group>
                <app-calendar name="contract_start_date" [(ngModel)]="item.contract_start_date" [max]="item.contract_end_date"></app-calendar>
                ~
                <app-calendar name="contract_end_date" [(ngModel)]="item.contract_end_date" [min]="item.contract_start_date"></app-calendar>
              </app-input-group>
            </td>
            <td>
              <app-input name="manager_name" [(ngModel)]="item.manager_name"></app-input>
            </td>
            <td>
              <app-input name="manager_phone" [(ngModel)]="item.manager_phone"></app-input>
            </td>
          </tr>
        </ng-container>
        <ng-template #tempView>
          <tr *ngFor="let item of form.company_contract_data; let i = index">
            <td>
              {{ item.project_name }}
            </td>
            <td>
              {{ item.contract_name }}
            </td>
            <td>
              {{ item.contract_amount }}
            </td>
            <td>
              {{ item.contract_start_date }}
              ~
              {{ item.contract_end_date }}
            </td>
            <td>
              {{ item.manager_name }}
            </td>
            <td>
              {{ item.manager_phone }}
            </td>
          </tr>
        </ng-template>
      </tbody>
    </app-table>
  </app-check-group>
</ion-content>

<ng-container *ngIf="permission.edit">
  <app-button-footer *ngIf="company_id">
    <app-button name="edit" fill="translucent" *ngIf="viewMode" (click)="contEdit()">수정</app-button>
    <app-button fill="translucent" color="danger" *ngIf="!viewMode" (click)="contDelete()" >삭제</app-button>
    <app-button name="submit" *ngIf="!viewMode" (click)="contUpdate()">저장</app-button>
  </app-button-footer>
  <app-button-footer *ngIf="!company_id">
    <app-button name="submit" *ngIf="!viewMode" (click)="contSave()">저장</app-button>
  </app-button-footer>
</ng-container>