<ion-header>
  <ion-toolbar color="white">
    <ion-title>원창사 정보</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4>회사 정보</h4>
  <app-card>
    <app-row mobileBreak style="border-bottom: 1px solid var(--ion-color-step-100);">
      <app-col>
        <app-select-company></app-select-company>
      </app-col>
      <app-col>
        <app-select-contractor></app-select-contractor>
      </app-col>
    </app-row>
    <app-row mobileBreak style="border-bottom: 1px solid var(--ion-color-step-100);">
      <app-col>
        <app-input label="사업자등록번호"></app-input>
      </app-col>
      <app-col>
        <app-select-company></app-select-company>
      </app-col>
    </app-row>
    <app-row mobileBreak style="border-bottom: 1px solid var(--ion-color-step-100);">
      <app-col>
        <app-input label="대표자"></app-input>
      </app-col>
      <app-col>
        <app-input label="회사전화"></app-input>
      </app-col>
    </app-row>
  </app-card>
  <h4>계약 정보</h4>
  <app-check-group>
    <app-table>
      <thead>
        <tr>
          <th><app-check></app-check></th>
          <th>계약공종</th>
          <th>계약명</th>
          <th>계약기간</th>
          <th>계약금액<br>(원/VAT별도)</th>
          <th>혐력사 소장</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><app-check></app-check></td>
          <td>
            <app-select>
              <app-select-option></app-select-option>
            </app-select>
        </td>
          <td><app-input></app-input></td>
          <td>
            <app-calendar></app-calendar>
            ~
            <app-calendar></app-calendar>
          </td>
          <td><app-input placeholder="계약금액을 적어주세요."></app-input></td>
          <td><app-select-contractor></app-select-contractor></td>
        </tr>
      </tbody>
    </app-table>
  </app-check-group>
  <h4>담당자 정보</h4>
  <app-card>
    <app-row>
      <app-col>
        <app-input label="성명"></app-input>
      </app-col>
      <app-col>
        <app-input label="연락처"></app-input>
      </app-col>
      <app-col>
        <app-input label="이메일"></app-input>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <h4>개인정보 처리 위탁 동의</h4>
    <app-row style="min-height: 300px;">
      <app-col>
        <app-textarea [rows]="11"></app-textarea>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button slot="end" color="secondary">동의합니다.</app-button>
</app-button-footer>