<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>알림 설정</ion-title>
    <ion-buttons slot="end">
      <app-menu-button></app-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-radio-group [(ngModel)]="notify_type" (ngModelChange)="updateAlarmSetting()">
    <app-card name="setting-sound" (click)="notify_type = 3;">
      <app-row class="card-inner">
        <app-col>
          <app-radio size="small" [value]="3"></app-radio>
        </app-col>
        <app-col size="auto">
          <h4> 소리+진동</h4>
        </app-col>
      </app-row>
    </app-card>
    <app-card name="setting-sound" (click)="notify_type = 1;">
      <app-row class="card-inner">
        <app-col>
          <app-radio size="small" [value]="1"></app-radio>
        </app-col>
        <app-col size="auto">
          <h4>소리</h4>
        </app-col>
      </app-row>
    </app-card>
    <app-card name="setting-sound" (click)="notify_type = 2;">
      <app-row class="card-inner">
        <app-col>
          <app-radio size="small" [value]="2"></app-radio>
        </app-col>
        <app-col size="auto">
          <h4>진동</h4>
        </app-col>
      </app-row>
    </app-card>
  </app-radio-group>
</ion-content>