:host {
    --border-width: 1px;
    --font-weight: 500;

    cursor: pointer;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */

    --app-border-width: var(--border-width);
    .check-item {
        margin-top: var(--app-margin);
        margin-bottom: var(--app-margin);
        height: var(--app-height-small);
        display: flex;
        align-items: center;
    }
    p {
        font-weight: var(--font-weight);
    }
    ion-checkbox {
        --border-width: var(--app-border-width);
        width: 1.6em;
        height: 1.6em;
        vertical-align: middle;
        position: relative;
        top: -1px;
        margin-right: var(--app-padding);
    }
}