<!-- pc -->
<ng-container *mobileHidden>
  <app-header-admin></app-header-admin>
  <ion-content>
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto"><h5>필터</h5></app-col>
              <app-col size="auto"><app-button fill="translucent" style="width: 100px;">검색</app-button></app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
                <app-select-scene></app-select-scene>
              </td>
            </tr>
            <tr>
              <td>
                <app-select label="메뉴 그룹">
                  <app-select-option> 회원 관리</app-select-option>
                  <app-select-option> 작업 계획</app-select-option>
                  <app-select-option> 오늘의 작업</app-select-option>
                  <app-select-option> 안전 교육</app-select-option>
                  <app-select-option> 작업 관리</app-select-option>
                  <app-select-option> 위험 관리</app-select-option>
                  <app-select-option> 장비 관리</app-select-option>
                  <app-select-option> 비상상황 관리</app-select-option>
                  <app-select-option> 현장 관리</app-select-option>
                  <app-select-option> 결재</app-select-option>
                  <app-select-option> 게시판</app-select-option>
                  <app-select-option> 고객지원</app-select-option>
                </app-select>
              </td>
            </tr>
            <tr>
              <td>
                <app-input-group label="알림일">
                  <app-calendar></app-calendar>
                  ~
                  <app-calendar></app-calendar>
                </app-input-group>
              </td>
            </tr>
            <tr>
              <td>
                <app-input label="검색어" placeholder="검색어를 입력해주세요."></app-input>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
      <app-col>
        <ion-toolbar color="white">
          <h5>알림함 목록(총50건)</h5>
        </ion-toolbar>
        <app-table>
          <thead>
            <tr>
              <th>메뉴 그룹</th>
              <th>머리말</th>
              <th>메시지</th>
              <th>알람일시</th>
            </tr>
          </thead>
          <tbody>
            <tr class="button">
              <td>결재</td>
              <td>게시판</td>
              <td>상신하신 허가서명가 반려되었습니다.  반려 사유를 확인 후 재상신하여 주세요.</td>
              <td>2021.09.16 10:22:13</td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
    </app-row>
  </ion-content>
</ng-container>

<ng-container *mobileShow>
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>알림함</ion-title>
      <ion-buttons slot="end">
        <app-menu-button></app-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="white">
      <app-input-group>
        <app-input label="현장" value="수원 당수 현장" [readonly]="true"></app-input>
        <app-button (click)="openDetail()">상세검색</app-button>
      </app-input-group>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ng-container>
      <app-card>
        <app-row style="align-items: flex-start;">
          <app-col>
            <h5>정기 교육 결과 보고서</h5>
          </app-col>
          <app-col size="auto">
            <ion-chip color="success">진행중</ion-chip>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <p>(주)지에스아이엘/이상범</p>
            <p>작성일: 21.05.21 09:00</p>
          </app-col>
        </app-row>
      </app-card>
      <app-card>
        <app-row style="align-items: flex-start;">
          <app-col>
            <h5>정기 교육 결과 보고서</h5>
          </app-col>
          <app-col size="auto">
            <ion-chip color="success">진행중</ion-chip>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <p>(주)지에스아이엘/이상범</p>
            <p>작성일: 21.05.21 09:00</p>
          </app-col>
        </app-row>
      </app-card>
      <app-card>
        <app-row style="align-items: flex-start;">
          <app-col>
            <h5>정기 교육 결과 보고서</h5>
          </app-col>
          <app-col size="auto">
            <ion-chip color="success">진행중</ion-chip>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <p>(주)지에스아이엘/이상범</p>
            <p>작성일: 21.05.21 09:00</p>
          </app-col>
        </app-row>
      </app-card>
      <app-card>
        <app-row style="align-items: flex-start;">
          <app-col>
            <h5>정기 교육 결과 보고서</h5>
          </app-col>
          <app-col size="auto">
            <ion-chip color="success">진행중</ion-chip>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <p>(주)지에스아이엘/이상범</p>
            <p>작성일: 21.05.21 09:00</p>
          </app-col>
        </app-row>
      </app-card>
      <app-card>
        <app-row style="align-items: flex-start;">
          <app-col>
            <h5>정기 교육 결과 보고서</h5>
          </app-col>
          <app-col size="auto">
            <ion-chip color="success">진행중</ion-chip>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <p>(주)지에스아이엘/이상범</p>
            <p>작성일: 21.05.21 09:00</p>
          </app-col>
        </app-row>
      </app-card>
    </ng-container>
  </ion-content>

  <!-- <div>
    <app-card>
      <app-row>
        <app-col style="text-align: center;">
          <app-img src="assets/img/main/plus.svg"></app-img>
        </app-col>
      </app-row>
    </app-card>
  </div> -->
