<ion-header>
  <ion-toolbar color="white">
    <ion-title>중장비 검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input-group>
      <app-select label="스마트장비" name="select" [(ngModel)]="form.ctgo_machine_serial_id">
        <app-select-option [value]="0">전체</app-select-option>
        <app-select-option *ngFor="let option of smart_option" [value]="option.ctgo_machine_serial_id">{{ option.text }}</app-select-option>
      </app-select>
      <app-select-contractor [project_id]="form.project_id" [(ngModel)]="form.master_company_id" [allState]="true"></app-select-contractor>
      <app-input name="with img" label="검색어" placeholder="검색어를 입력하세요">
        <app-img (click)="get()" name="search"></app-img>
      </app-input>
    </app-input-group>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="white">
    <h5>총 보유 : {{ total_count }}대 / 가동중 {{ using_total_count }}대</h5>
  </ion-toolbar>
  <app-table>
    <thead>
      <tr>
        <th>스마트 장비</th>
        <th>원청사명</th>
        <th width="80px">보유대수</th>
        <th width="80px">가동중</th>
        <th width="80px">미가동</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of res?.rsMap">
        <td>{{ item.ctgo_machine_serial_name }}</td>
        <td>{{ item.company_name }}</td>
        <td>{{ item.machine_count }}</td>
        <!-- *ngIf="user.userData.user_role === 'LH_HEAD' || user.userData.user_role === 'MASTER_HEAD'" -->
        <td>
          <div *ngIf="user.userData.user_role !== 'LH_HEAD' && user.userData.user_role !== 'MASTER_HEAD'">{{ item.mmachine_using_count }}</div>
          <app-input *ngIf="user.userData.user_role === 'LH_HEAD' || user.userData.user_role === 'MASTER_HEAD'" [(ngModel)]="item.mmachine_using_count"></app-input>
        </td>
        <td>{{ item.not_using_count }}</td>
      </tr>
    </tbody>
  </app-table>

  <app-button-footer *ngIf="user.userData.user_role === 'LH_HEAD' || user.userData.user_role === 'MASTER_HEAD'">
    <app-button name="submit" (click)="edit()">적용</app-button>
  </app-button-footer>
</ion-content>
