:host {
    margin-top: var(--app-margin);
    margin-bottom: var(--app-margin);
    border-radius: var(--app-border-radius);
    box-shadow: var(--app-box-shadow);
    background: var(--ion-color-white);
    padding: 8px;

    display: block;
    position: relative;
    label {
        display: block;
        font-size: var(--font-size-h6);
        color: var(--ion-text-color);
        font-weight: 500;
        padding-left: 2px;
    }
    .input {
        min-height: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: var(--ion-text-color);
    }
    button {
        background: var(--ion-color-primary-translucent);
        border-radius: 2px;
        cursor: pointer;
        position: absolute;
        z-index: 2;
        bottom: 8px;
        right: 8px;
        height: 30px;
        min-width: 30px;
        border-radius: 15px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-h6);
        outline: none !important;
    }
    button:focus {
        background: rgba(var(--ion-color-primary-translucent-rgb), 0.7);
    }
    button:empty {
        display: none;
    }
}
:host.input-label {
    button {
        height: 48px;
        min-width: 48px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 0;
    }
}
:host.readonly {
    button {
        cursor: default;
        opacity: var(--app-readonly-opacity);
    }
}
:host.disabled {
    .input {
        opacity: var(--app-disabled-opacity);
    }
    button {
        cursor: default;
        opacity: var(--app-disabled-opacity);
    }
}
:host ::ng-deep {
    input, textarea {
        border: 0;
        width: 100%;
        outline: none !important;
        background: none !important;
        padding: 1px 2px 1px 2px !important;
    }
    input {
        min-height: 30px;
    }
    ion-textarea, textarea {
        min-height: 50px;
    }
    h1, h2, h3, h4, h5, h6, p {
        margin-top: 0;
        margin-bottom: 0;
    }
    app-img {
        width: 20px;
    }
}