<label>{{ label }} <ion-text *ngIf="required" color="danger">*</ion-text></label>
<div class="input" [style.padding-right.px]="slot.childElementCount ? button.el.nativeElement.offsetWidth + 4 : 0">
  <ng-content select="[slot=input]"></ng-content>
</div>
<app-button #button class="button ion-activatable ripple-parent" 
[class.empty]="!slot.childNodes.length" 
[fill]="buttonFill"
[disabled]="disabled || readonly" (click)="onButtonClick()">
  <slot #slot><ng-content></ng-content></slot>
</app-button>