<ion-header>
  <ion-toolbar color="white">
    <ion-title>회의 현황</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white" *ngIf="safety_meeting_id">
    <ion-segment color="primary" [value]="1" >
      <ion-segment-button (click)="editable.safetyMenu = 1" [value]="1">회의정보</ion-segment-button>
      <ion-segment-button (click)="editable.safetyMenu = 2" [value]="2">회의사진</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="editable.safetyMenu === 1">
    <app-card>
      <app-row>
        <app-col>
          <h4>기본정보</h4>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>현장명</h5>
        </app-col>
        <app-col>
          <p>{{ form?.project_name }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>회의상태</h5>
        </app-col>
        <app-col >
          <p>{{ form?.safety_meeting_state }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>개설자</h5>
        </app-col>
        <app-col>
          <p>{{ form?.user_name }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>개설일</h5>
        </app-col>
        <app-col >
          <p>{{ form?.create_date }} ({{form?.create_date_week_day }})</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>회의유형</h5>
        </app-col>
        <app-col>
          <p>{{ form?.safety_meeting_type_full }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>회의일</h5>
        </app-col>
        <app-col >
          <p>{{ form?.safety_meeting_date }}({{ form?.safety_meeting_date_week_day }})</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>회의장소</h5>
        </app-col>
        <app-col >
          <p>{{ form?.safety_meeting_place }}</p>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <h5>회의시간</h5>
        </app-col>
        <app-col>
          <p>{{ form?.safety_meeting_start_time }} ~ {{ form?.safety_meeting_end_time }}</p>
        </app-col>
      </app-row>
    </app-card>

    <app-card>
      <app-row>
        <app-col>
          <h4>협의 사항</h4>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-textarea [rows]="5" [readonly]="true" [value]="form?.safety_meeting_content"></app-textarea>
        </app-col>
      </app-row>

      <app-row>
        <app-col>
          <h4>의결 사항</h4>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-textarea [rows]="5" [readonly]="true" [value]="form?.safety_meeting_resolve"></app-textarea>
        </app-col>
      </app-row>

      <app-row>
        <app-col>
          <h4>기타 사항</h4>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-textarea [rows]="5" [readonly]="true" [value]="form?.safety_meeting_etc"></app-textarea>
        </app-col>
      </app-row>
    </app-card>
  </ng-container>

  <ng-container *ngIf="editable.safetyMenu === 2">
    <app-row style="align-items: flex-start;">
      <app-col>
        <ion-toolbar color="white">
          <app-row>
            <app-col>
              <h5>사진</h5>
            </app-col>
          </app-row>
        </ion-toolbar>
        <ng-container *ngFor="let futItem of form.safety_meeting_file_data; let i = index">
          <app-file-preview type="full" *ngIf="futItem.view_type === 'SAFETY_ONE'" [futItem]="futItem"
            (buttonClick)="form.safety_meeting_file_data.splice(i,1)" [readonly]="true"></app-file-preview>
        </ng-container>
      </app-col>
    </app-row>

    <app-row style="align-items: flex-start;">
      <app-col>
        <ion-toolbar color="white">
          <app-row>
            <app-col>
              <h5>사진</h5>
            </app-col>
          </app-row>
        </ion-toolbar>
        <ng-container *ngFor="let futItem of form.safety_meeting_file_data; let i = index">
          <app-file-preview type="full" *ngIf="futItem.view_type === 'SAFETY_TWO'" [futItem]="futItem"
            (buttonClick)="form.safety_meeting_file_data.splice(i,1)" [readonly]="true"></app-file-preview>
        </ng-container>
      </app-col>
    </app-row>
  </ng-container>
</ion-content>