<ion-header>
  <ion-toolbar color="white">
    <ion-title>결재선</ion-title>
    <ion-buttons slot="end">
      <app-button fill="clear" color="dark" (click)="test = !test">
        <app-img [src]="test ? 'assets/img/menu/list-tab-hide.svg' : 'assets/img/menu/list-tab.svg'"></app-img>
      </app-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-table @fadeInAnimation *ngIf="test" type="card">
    <tbody>
      <tr>
        <td>작성</td>
        <td><ion-chip color="success">진행중</ion-chip></td>
        <td>이상범</td>
        <td>21.04.23 15:26</td>
      </tr>
      <tr>
        <td>검토</td>
        <td><ion-chip color="primary">승인</ion-chip></td>
        <td>이건창</td>
        <td>-</td>
      </tr>
      <tr>
        <td>작성</td>
        <td>-</td>
        <td>이은주</td>
        <td>-</td>
      </tr>
      <tr>
        <td>승인</td>
        <td>-</td>
        <td>이정우</td>
        <td>-</td>
      </tr>
    </tbody>
  </app-table>
</ion-content>
