<ion-header>
  <ion-toolbar color="white">
    <app-row>
      <app-col>
        <h4>위험지역 검색</h4>
      </app-col>
      <app-col></app-col>
      <app-col size="auto">
        <app-button fill="clear" shape="square">
          <app-img name="close"></app-img>
        </app-button>
      </app-col>
    </app-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-row>
    <app-col>
      <app-select label="구분" name="select">
        <!-- <app-select-option *ngFor="let option of select" [value]="option">{{ option }}</app-select-option> -->
      </app-select>
    </app-col>
    <app-col>
      <app-input name="with img" label="검색어" placeholder="검색어를 입력하세요">
        <app-img name="search"></app-img>
      </app-input>
    </app-col>
  </app-row>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>전기실</h5>
        <p>전기실A / 101동 1층</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>기계실</h5>
        <p>기계실A / 105동 2층</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>전기실</h5>
        <p>전기실B / 102동 8층</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>기계실</h5>
        <p>기계실C / 201동 1층</p>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
        <h5>전기실</h5>
        <p>전기실C / 401동 4층</p>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button>취소</app-button>
  <app-button>적용</app-button>
</app-button-footer>