<ion-header>
  <ion-toolbar color="white">
    <ion-title>위험지역 검색</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input-group>
      <app-select label="위험지역유형" name="select" [(ngModel)]="form.ctgo_area_risk_id">
        <app-select-option [value]="0">전체</app-select-option>
        <app-select-option *ngFor="let opt of ctgoAreaType?.rsMap" [value]="opt.ctgo_area_risk_id">{{ opt.ctgo_area_risk_name }}</app-select-option>
      </app-select>
      <app-input name="with img" label="검색어" [(ngModel)]="this.form.search_text" placeholder="검색어를 입력하세요">
        <app-img (click)="riskTypeGet()" name="search"></app-img>
      </app-input>
    </app-input-group>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card *ngFor="let item of resRiskArea?.rsMap" [color]="selectList === item ? 'secondary' : 'white'" (click)="selectList = item">
    <app-row>
      <app-col>
        <h5>장소</h5>
        <p>{{ item.area_top_name }} / {{ item.area_middle_name }} / {{ item.area_bottom_name }}</p>
      </app-col>
      <app-col>
        <h5>위험지역 유형</h5>
        <p>{{ item.ctgo_area_risk_name }}</p>
      </app-col>
      <app-col>
        <h5>위험지역명</h5>
        <p>{{ item.area_risk_name }}</p>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button>취소</app-button>
  <app-button (click)="submit()">적용</app-button>
</app-button-footer>