:host {
    display: flex;
    align-items: center;
    width: 100%;
}
:host.row-top {
    align-items: flex-start;
}
:host.row-bottom {
    align-items: flex-end;
}
:host.row-center {
    align-items: center;
}
:host.row-stretch {
    align-items: stretch;
    ::ng-deep>app-col {
        display: flex;
        align-items: stretch;
    }
}
:host[mobileBreak] {
    @media screen and (max-width: 768px) {
        display: block;
        ::ng-deep>app-col {
            padding-left: 0;
            padding-right: 0;
        }
    }
}