<!-- <ng-container *ngIf="multiple">
  <ion-content>
      <ion-button 
      *ngFor="let item of opts"
      color="dark"
      fill="clear" expand="block" (click)="multiClick(item)">
        <ion-icon [class.active]="values.indexOf(item) > -1"
          slot="start" name="checkmark-circle" color="primary"></ion-icon>
      <div class="button-inner">{{ item.text }}</div>
    </ion-button>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" (click)="multiSubmit()">선택</ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-container> -->