<ion-header>
  <ion-toolbar color="white">
    <ion-title>게시물 공개 범위 설정</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="flex-box">
    <div class="flex-revers">
      <!-- header -->
      <div class="flex-header">
        <div>범위1</div>
        <app-img name="next"></app-img>
      </div>
      <div class="flex-list" >
        <!-- item -->
        <div *ngFor="let item of list" class="flex-item" (click)="item.checked = !item.checked" [ngClass]="item.checked ? 'check_style':''">{{ item.text }}</div>
      </div>
    </div>
    <div class="flex-revers">
      <!-- header -->
      <div class="flex-header">
        <div>범위2</div>
        <app-img name="next"></app-img>
      </div>
      <div class="flex-list">
        <!-- item -->
        <div *ngFor="let item of list1" class="flex-item" (click)="item.checked = !item.checked" [ngClass]="item.checked ? 'check_style':''">{{ item.text }}</div>
      </div>
    </div>
    <div class="flex-revers">
      <!-- header -->
      <div class="flex-header">
        <div>협력사명</div>
      </div>
      <div class="flex-list">
        <!-- item -->
        <div *ngFor="let item of list2" class="flex-item" (click)="item.checked = !item.checked" [ngClass]="item.checked ? 'check_style':''">{{ item.text }}
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-button-footer>
  <app-button>적용</app-button>
</app-button-footer>
