<ion-header>
  <ion-toolbar color="white">
    <ion-title>게시물 공개 범위 설정</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="flex-box">
    <div class="flex-revers">
      <!-- header -->
      <div class="flex-header">
        <div>범위1</div>
        <app-img name="next"></app-img>
      </div>
      <div class="flex-list" >
        <!-- item -->
        <div *ngFor="let item of list" class="flex-item" (click)="areaOne(item.text)" [ngClass]="item.checked ? 'check_style':''">{{ item.text }}</div>
      </div>
    </div>
    <div class="flex-revers">
      <!-- header -->
      <div class="flex-header">
        <div>범위2</div>
        <app-img name="next"></app-img>
      </div>
      <div class="flex-list">
        <!-- item -->
        <ng-container *ngFor="let item of list1">
          <div *ngIf="area1"  class="flex-item" (click)="areaTow(item.text)" [ngClass]="item.checked ? 'check_style':''">{{ item.text }}</div>
        </ng-container>
      </div>
    </div>
    <div class="flex-revers">
      <!-- header -->
      <div class="flex-header">
        <div>협력사명</div>
      </div>
      <div class="flex-list">
        <!-- item -->
        <ng-container *ngFor="let item of res?.rsMap" >
          <div *ngIf="area2 && totalArea.area1 === '협력사별'" class="flex-item" (click)="partnerCheck(item.company_id)" [ngClass]="item.checked ? 'check_style':''">{{ item.company_name }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>
<app-button-footer>
  <app-button (click)="submit()">적용</app-button>
</app-button-footer>
