<ion-header>
  <ion-toolbar color="white">
    <ion-title>회원 정보 기준 설정</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar slot="top" color="white">
  <app-row>
    <app-col>
      <ion-segment color="primary" [value]="1">
        <ion-segment-button (click)="menuCount = 1" [value]="1">LH 조직관리</ion-segment-button>
        <ion-segment-button (click)="menuCount = 2">정보 접근<br>비밀번호</ion-segment-button>
        <ion-segment-button (click)="menuCount = 3">안전 마일리지<br>적립</ion-segment-button>
        <ion-segment-button (click)="menuCount = 4">안전 마일리지<br>사용</ion-segment-button>
        <ion-segment-button (click)="menuCount = 5">직위</ion-segment-button>
        <ion-segment-button (click)="menuCount = 6">안전직무</ion-segment-button>
        <ion-segment-button (click)="menuCount = 7">직종</ion-segment-button>
      </ion-segment>
    </app-col>
  </app-row>
</ion-toolbar>

<ion-content>
  <app-row *ngIf="menuCount === 1" style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <thead>
          <tr>
            <th>
              <app-row style="justify-content: space-between;">
                <app-col size="auto"><app-input label="업체명" value="한국토지주택공사" [readonly]="true"></app-input></app-col>
              </app-row>
            </th>
          </tr>
        </thead>
      </app-table>
    </app-col>
    <app-col>
      <ion-buttons>
        <app-button>추가</app-button>
        <app-button>삭제</app-button>
        <app-button>수정</app-button>
      </ion-buttons>
        <app-col>
          <app-check-group>
            <app-table class="edit">
              <tbody>
                <tr>
                  <th style="width: 20px;">
                    <app-check></app-check>
                  </th>
                  <th>Area1</th>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>
                    <app-check></app-check>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </app-table>
          </app-check-group>
        </app-col>
    </app-col>
    <app-col>
      <ion-buttons>
        <app-button>추가</app-button>
        <app-button>삭제</app-button>
        <app-button>수정</app-button>
      </ion-buttons>
      <app-check-group>
        <app-table class="edit">
          <tbody>
            <th style="width: 20px;">
              <app-check></app-check>
            </th>
            <th>Area1</th>
          </tbody>
          <tbody>
            <td>
              <app-check></app-check>
            </td>
            <td>1블록</td>
          </tbody>
        </app-table>
      </app-check-group>
    </app-col>
    <app-col>
      <ion-buttons>
        <app-button>추가</app-button>
        <app-button>삭제</app-button>
        <app-button>수정</app-button>
      </ion-buttons>
      <app-check-group>
        <app-table class="edit">
          <thead>
            <th style="width: 20px;">
              <app-check></app-check>
            </th>
            <th>Area1</th>
          </thead>
          <tbody>
            <td>
              <app-check></app-check>
            </td>
            <td>1블록</td>
          </tbody>
        </app-table>
      </app-check-group>
    </app-col>
  </app-row>

  <app-row *ngIf="menuCount === 2" style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <thead>
          <tr>
            <th>
              <app-row style="justify-content: space-between;">
                <app-col size="auto">
                  <app-input label="업체명" [readonly]="true"></app-input>
                </app-col>
              </app-row>
            </th>
          </tr>
        </thead>
      </app-table>
    </app-col>
    <app-col>
      <h4 style="text-align: center;">회원관리 메뉴에 접근 할 때 사용할 비밀번호를 지정해주세요.</h4>
      <app-row>
        <app-col></app-col>
        <app-col>
          <app-input placeholder="비밀번호(영문,숫자,특수문자 조합(8~20자))"></app-input>
          <app-input placeholder="비밀번호 확인"></app-input>
        </app-col>
        <app-col></app-col>
      </app-row>
    </app-col>
  </app-row>

  <app-row *ngIf="menuCount === 5" style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <thead>
          <tr>
            <th>
              <app-row style="justify-content: space-between;">
                <app-col size="auto">
                  <h5>필터</h5>
                </app-col>
                <app-col size="auto">
                  <app-button fill="translucent" style="width: 100px;">검색</app-button>
                </app-col>
              </app-row>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <app-select>
                <app-select-option value="원청사">원청사</app-select-option>
                <app-select-option value="협럭사">협력사</app-select-option>
              </app-select>
            </td>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <app-button fill="translucent">추가</app-button>
          <app-button fill="translucent">삭제</app-button>
          <app-button fill="translucent">전체 사용</app-button>
          <app-button fill="translucent">전체 미사용</app-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar color="white">
        <h5>직위 목록 (총90건)</h5>
      </ion-toolbar>
      <app-check-group>
        <app-table>
          <thead>
            <tr>
              <th><app-check type="all"></app-check></th>
              <th>No</th>
              <th>직위명</th>
              <th>영어</th>
              <th>중국어</th>
              <th>배트남어</th>
              <th>다국어4</th>
              <th>다국어5</th>
              <th>사용여부</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><app-check></app-check></td>
              <td>1</td>
              <td>과장</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <app-select>
                  <app-select-option value="Y">Y</app-select-option>
                  <app-select-option value="N">N</app-select-option>
                </app-select>
              </td>
            </tr>

          </tbody>
        </app-table>
      </app-check-group>
    </app-col>
  </app-row>

  <app-row *ngIf="menuCount === 6" style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <thead>
          <tr>
            <th>
              <app-row style="justify-content: space-between;">
                <app-col size="auto">
                  <h5>필터</h5>
                </app-col>
                <app-col size="auto">
                  <app-button fill="translucent" style="width: 100px;">검색</app-button>
                </app-col>
              </app-row>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <app-select label="업체명">
              <app-select-option value="원청사">원청사</app-select-option>
              <app-select-option value="협럭사">협력사</app-select-option>
            </app-select>
          </tr>
          <tr>
            <td>
              <app-select label="구분">
                <app-select-option value="관리자">관리자</app-select-option>
                <app-select-option value="작업자">작업자</app-select-option>
              </app-select>
            </td>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <app-button fill="translucent">추가</app-button>
          <app-button fill="translucent">삭제</app-button>
          <app-button fill="translucent">전체 사용</app-button>
          <app-button fill="translucent">전체 미사용</app-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar color="white">
        <h5>안전직무 목록 (총90건)</h5>
      </ion-toolbar>
      <app-check-group>
        <app-table>
          <thead>
            <tr>
              <th><app-check type="all"></app-check></th>
              <th>No</th>
              <th>안전 직무명</th>
              <th>영어</th>
              <th>중국어</th>
              <th>배트남어</th>
              <th>다국어4</th>
              <th>다국어5</th>
              <th>사용여부</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><app-check></app-check></td>
              <td>1</td>
              <td>전무</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <app-select>
                  <app-select-option value="Y">Y</app-select-option>
                  <app-select-option value="N">N</app-select-option>
                </app-select>
              </td>
            </tr>
            <tr>
              <td><app-check></app-check></td>
              <td>1</td>
              <td><app-input placeholder="입력하세요."></app-input></td>
              <td><app-input placeholder="입력하세요."></app-input></td>
              <td><app-input placeholder="입력하세요."></app-input></td>
              <td><app-input placeholder="입력하세요."></app-input></td>
              <td><app-input placeholder="입력하세요."></app-input></td>
              <td><app-input placeholder="입력하세요."></app-input></td>
              <td>
                <app-select>
                  <app-select-option value="Y">Y</app-select-option>
                  <app-select-option value="N">N</app-select-option>
                </app-select>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-check-group>
    </app-col>
  </app-row>

  <app-row *ngIf="menuCount === 7" style="align-items: flex-start;">
    <app-col size="280px">
      <app-table type="card">
        <thead>
          <tr>
            <th>
              <app-row style="justify-content: space-between;">
                <app-col size="auto">
                  <h5>필터</h5>
                </app-col>
                <app-col size="auto">
                  <app-button fill="translucent" style="width: 100px;">검색</app-button>
                </app-col>
              </app-row>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <app-select-company></app-select-company>
            </td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </app-table>
    </app-col>
    <app-col>
      <ion-toolbar color="white">
        <ion-buttons slot="start">
          <app-button fill="translucent">추가</app-button>
          <app-button fill="translucent">삭제</app-button>
          <app-button fill="translucent">전체 사용</app-button>
          <app-button fill="translucent">전체 미사용</app-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar color="white">
        <h5>직종 목록 (총90건)</h5>
      </ion-toolbar>
      <app-check-group>
        <app-table>
          <thead>
            <tr>
              <th><app-check type="all"></app-check></th>
              <th>No</th>
              <th>직종 명</th>
              <th>영어</th>
              <th>중국어</th>
              <th>배트남어</th>
              <th>다국어4</th>
              <th>다국어5</th>
              <th>사용여부</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><app-check></app-check></td>
              <td>2</td>
              <td><app-input placeholder="입력하세요."></app-input></td>
              <td><app-input placeholder="입력하세요."></app-input></td>
              <td><app-input placeholder="입력하세요."></app-input></td>
              <td><app-input placeholder="입력하세요."></app-input></td>
              <td><app-input placeholder="입력하세요."></app-input></td>
              <td><app-input placeholder="입력하세요."></app-input></td>
              <td>
                <app-select>
                  <app-select-option value="Y">Y</app-select-option>
                  <app-select-option value="N">N</app-select-option>
                </app-select>
              </td>
            </tr>
            <tr>
              <td><app-check></app-check></td>
              <td>1</td>
              <td>전무</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <app-select>
                  <app-select-option value="Y">Y</app-select-option>
                  <app-select-option value="N">N</app-select-option>
                </app-select>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-check-group>
    </app-col>
  </app-row>
</ion-content>
<app-button-footer>
  <app-button (click)="submit()">저장</app-button>
</app-button-footer>