<ion-header>
  <ion-toolbar color="white">
    <ion-title>비밀번호 변경</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4>비밀번호를 변경합니다.</h4>
  
  <app-input name="account_token" label="비밀번호" type="password"
  placeholder="영문, 숫자, 조합(6~20자)"
  [color]="validator.account_token?.valid === false && 'warning'"
  [(ngModel)]="form.account_token" [required]="true"></app-input>
  <app-input-caption *ngIf="validator.account_token?.valid === false" color="warning">{{ validator.account_token?.message }}</app-input-caption>

  <app-input name="new_account_token" label="새 비밀번호" type="password"
  placeholder="영문, 숫자, 조합(6~20자)"
  [color]="validator.new_account_token?.valid === false && 'warning'"
  [(ngModel)]="form.new_account_token" (delayKeyup)="checkPass()" [required]="true"></app-input>
  <app-input-caption *ngIf="validator.new_account_token?.valid === false" color="warning">{{ validator.new_account_token?.message }}</app-input-caption>
  
  <app-input name="new_account_token_conform" label="새 비밀번호 확인" placeholder="비밀번호를 재입력 해주세요." type="password"
  [color]="validator.new_account_token_conform?.valid === false && 'warning'"
  [(ngModel)]="form.new_account_token_conform" (delayKeyup)="checkPassConfirm()" [required]="true"></app-input>
  <app-input-caption *ngIf="validator.new_account_token_conform?.valid === false" color="warning">{{ validator.new_account_token_conform?.message }}</app-input-caption>

</ion-content>

<app-button-footer>
  <app-button (click)="dismiss()">취소</app-button>
  <app-button name="button_submit" (click)="submit()">변경하기</app-button>
</app-button-footer>