

<ng-container *mobileHidden>
  <app-header-admin></app-header-admin>
    <!-- <ion-toolbar color="white">
      <ion-title>
        <h4>원청사/협력사 관리자 정보</h4>
      </ion-title>
    </ion-toolbar> -->
  <ion-content>
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto"><h5>필터</h5></app-col>
              <app-col size="auto"><app-button fill="translucent" style="width: 100px;" (click)="get(0)">검색</app-button></app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
                <app-select-scene name="project_id" [(ngModel)]="form.project_id" [all]="true"></app-select-scene>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-company  name="company_id" [project_id]="form.project_id" [(ngModel)]="form.company_id" [all]="true"></app-select-company>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-construction name="ctgo_construction_id" [project_id]="form.project_id" [(ngModel)]="form.ctgo_construction_ids" [all]="true" [multiple]="true"></app-select-construction>
              </td>
            </tr>
              <tr>
              <td>
                <app-input-group label="가입일">
                  <app-calendar [(ngModel)]="form.start_date" [max]="form.end_date"></app-calendar>
                  ~
                  <app-calendar [(ngModel)]="form.end_date" [min]="form.start_date"></app-calendar>
                </app-input-group>
              </td>
            </tr>
            <!-- <tr>
              <td>
                <app-radio-input label="재직 상태">
                  <app-radio value="전체">전체</app-radio>
                  <app-radio value="재직 중">재직 중</app-radio>
                  <app-radio value="퇴사">퇴사</app-radio>
                </app-radio-input>
              </td>
            </tr> -->
            <tr>
              <td>
                <app-input label="검색어" placeholder="검색어를 입력해 주세요." [(ngModel)]="form.search_text"></app-input>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
      <app-col>
        <ion-toolbar color="white">
          <h5>관리자 목록 (총{{res?.rsObj?.row_count || 0 }}건)</h5>
        </ion-toolbar>
        <app-table>
          <thead>
            <tr>
              <th style="width: 48px;">No</th>
              <th>공종</th>
              <th>업체명</th>
              <th style="width: 160px;">성명</th>
              <th style="width: 200px;">생년월일</th>
              <th>안전직무</th>
              <th>직급</th>
              <th style="width: 200px;">가입일</th>
              <!-- <th>재직상태</th> -->
            </tr>
          </thead>
          <tbody>
            <tr class="button" *ngFor="let item of res?.rsMap let i = index" (click)="edit(item)">
              <td>{{ item.index }}</td>
              <td>{{ item.ctgo_construction_name }}</td>
              <td>{{ item.company_name }}</td>
              <td>{{ item.user_name }}</td>
              <td>{{ item.user_birth }}</td>
              <td>{{ item.ctgo_safe_job_name }}</td>
              <td>{{ item.ctgo_job_position_name }}</td>
              <td>{{ item.create_date }}</td>
              <!-- <td>재직중</td> -->
            </tr>
          </tbody>
        </app-table>
        <app-pager [totalCount]="" [limitNo]="form.limit_no" (pagerChange)="get($event)"></app-pager>
      </app-col>
    </app-row>
  </ion-content>
</ng-container>




