<ion-item lines="none">
  <ion-label position="stacked">{{ label }}</ion-label>
  <app-row class="inputs">
    <app-col size="auto">
      <input [readonly]="readonly" [disabled]="disabled" type="tel" class="hour-input" placeholder="시" [(ngModel)]="form.hour" maxlength="2" (keyup)="changeHour($event)" (focus)="fucus()" (blur)="blur()">
    </app-col>
    <app-col size="auto">
      :
    </app-col>
    <app-col size="auto">
      <input [readonly]="readonly" [disabled]="disabled" type="tel" class="minute-input" placeholder="분" [(ngModel)]="form.minute" maxlength="2" (keyup)="changeMinute($event)" (focus)="fucus()" (blur)="blur()">
    </app-col>
  </app-row>
  <div class="button"
  tabindex="-1"
  (click)="disabled ? null : popoverDateTimePicker()">
    <app-img src="assets/basic/img/clock.svg"></app-img>
  </div>
</ion-item>