:host {
    display: block;
    margin-top: var(--app-margin);
    margin-bottom: var(--app-margin);
    ion-item {
        --padding-start: 0;
        --padding-end: 0;
        --inner-padding-end: 0;
        --min-height: 0;
        --background: transparent;
        background: var(--ion-color-white);
        box-shadow: var(--app-box-shadow);
        border-radius: 5px;
        padding:0 0 0 4px;
    }
    ion-label {
        color: var(--ion-color-medium);
        font-size: var(--font-size-h6);
        transform: scale(1);
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 3px;
    }
    app-row {
        position: relative;
        border-style: solid;
        border-width: var(--app-input-border-width);
        border-color: var(--app-input-border-color);
        border-radius: var(--app-border-radius);
        background: var(--ion-color-white);
        font-size: var(--font-size-n);
        height: var(--app-height);
        justify-content: flex-start;
        padding-left: 3px;
    }
    app-col {
        padding: 0;
    }
    input {
        width: 100%;
        color: var(--ion-text-color);
        outline: none;
        background: transparent;
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        border: 0;
        margin-top: 0;
        min-width: initial;
        margin-bottom: 0;
    }
    .button {
        background: var(--app-input-button-background);
        border-radius: 2px;
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 7px;
        right: 5px;
        height: 48px;
        width: 48px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-h6);
        outline: none !important;
        app-img {
            width: 30px;
        }
    }
    .button.without-label {
        height: 28px;
        width: 40px;
    }
    .hour-input {
        min-width: 1.2em;
        max-width: 2em;
    }
    .minute-input {
        min-width: 1.2em;
        max-width: 2em;
    }
    // .button {
    //     cursor: pointer;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     z-index: 2;
    //     height: 100%;
    //     padding-left: 10px;
    //     padding-right: 10px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     font-size: var(--font-size-h6);
    //     outline: none !important;
    //     app-img {
    //         width: 20px;
    //     }
    // }
    .icon:focus {
        outline: none !important;
    }
}
:host.readonly {
    .icon {
        cursor: default;
        opacity: 0.5;
    }
}
:host.disabled {
    opacity: 0.5;
    .icon {
        cursor: default;
    }
}
:host.focus {
    ion-label {
        color: var(--ion-color-primary);
    }
    .inputs {
        border-color: var(--ion-color-primary);
    }
}