<ion-header>
  <ion-toolbar color="white">
    <ion-title>나의 출입 현황</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-row>
      <app-col>
        <app-select-scene></app-select-scene>
      </app-col>
    </app-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card>
    <app-row>
      <app-col size="auto">
      </app-col>
      <app-col>
        <h5>앱 사용 공지</h5>
        <p>구일종합건설㈜ | 박소현 | 작성일: 2021.10.18</p>
      </app-col>
      <app-col size="auto">
        <ion-chip color="primary">일반</ion-chip>
      </app-col>
      <app-col size="auto">
        <ion-chip color="primary">12:30</ion-chip>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
      </app-col>
      <app-col>
        <h5>앱 사용 공지</h5>
        <p>구일종합건설㈜ | 박소현 | 작성일: 2021.10.18</p>
      </app-col>
      <app-col size="auto">
        <ion-chip color="primary">안전관리</ion-chip>
      </app-col>
      <app-col size="auto">
        <ion-chip color="primary">12:30</ion-chip>
      </app-col>
    </app-row>
  </app-card>
  <app-card>
    <app-row>
      <app-col size="auto">
      </app-col>
      <app-col>
        <h5>앱 사용 공지</h5>
        <p>구일종합건설㈜ | 박소현 | 작성일: 2021.10.18</p>
      </app-col>
      <app-col size="auto">
        <ion-chip color="primary">현장관리</ion-chip>
      </app-col>
      <app-col size="auto">
        <ion-chip color="primary">12:30</ion-chip>
      </app-col>
    </app-row>
  </app-card>
</ion-content>
<app-button-footer>
  <app-button>근로자 출입 관리</app-button>
</app-button-footer>
