<ion-header>
  <ion-toolbar color="white">
    <ion-title>현장 영역 설정</ion-title>
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ng-container>
  <app-card>
    <h5 style="text-align: center;">GPS를 통해 근로자 위치 정보를 수집할 실외 위험지역 영역을 설정하여 주세요</h5>
    <br>
    <h5 style="color: black;">&#8251; 영역 설정 방법</h5>
    <h5 style="color: black;">지도에서 현장 외각을 마우스 클릭을 통해 N개의 점을 선택하여 설정합니다.(점 3개 이상 클릭 필요)</h5>
    <app-naver-map [type]="type" [(ngModel)]="mapData" style="height: 500px;"></app-naver-map>
  </app-card>
</ng-container>
<app-button-footer>
  <app-button slot="end" (click)="submint()"fill="translucent">저장</app-button>
</app-button-footer>