<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
    <ion-title>원청사/협력사 회원정보</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-container size="small">
    <app-card color="light" [button]="false">
      <ion-toolbar slot="top" color="white">
        <h5>회원정보</h5>
      </ion-toolbar>
      <form>
        <app-avatar 
      name="input-profile"
      view_type="PROFILE" 
      [(ngModel)]="formBasic.user_profile_file_data" [file]="formBasic.file" [file_json]="formBasic.file_json" [readonly]="editable"></app-avatar>
        <app-row>
          <app-col>
            <app-input name="input disabled" label="아이디" value="input disabled" [(ngModel)]="formBasic.account_id" [disabled]="true" [required]="true"></app-input>
          </app-col>
          <app-col>
            <app-input type="text" name="input" label="성명" [disabled]="!permission.approval" [(ngModel)]="formBasic.user_name" [required]="true"></app-input>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-calendar name="calendar" label="생년월일" [disabled]="!permission.approval" [(ngModel)]="formBasic.user_birth" [required]="true"></app-calendar>
          </app-col>
          <app-col>
            <app-radio-input name="user_gender" label="성별" [disabled]="!permission.approval" [(ngModel)]="formBasic.user_gender" [required]="true">
              <app-radio value="남">남</app-radio>
              <app-radio value="여">여</app-radio>
            </app-radio-input>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            
            <app-input-template name="user_phone" label="휴대폰" placeholder="-없이 숫자만 입력해주세요." type="tel" 
            [color]="validator.user_phone?.valid === false && 'warning'"
            [disabled]="!permission.approval" [required]="true" (buttonClick)="overlapPhone()">
              <!-- <p slot="input">{{ formBasic.user_phone }}</p> -->
              <input name="tel" slot="input" [(ngModel)]="formBasic.user_phone" />
              중복확인
            </app-input-template>

            <!-- <app-input type="tel" name="input" label="핸드폰" [disabled]="!permission.approval" [(ngModel)]="formBasic.user_phone" [required]="true" (click)="overlapPhone()">
              중복확인
            </app-input> -->
            <!-- <app-input-caption *ngIf="validator_2.user_phone?.valid === false" color="warning">{{ validator_2.user_phone?.message }}</app-input-caption> -->
          </app-col>
          <app-col>
            <app-email name="user_email" label="이메일" [disabled]="!permission.approval" [(ngModel)]="formBasic.user_email"
          [color]="validator.user_email?.valid === false && 'warning'" (delayKeyup)="overlapEmail()"></app-email>
          <app-input-caption *ngIf="validator.user_email?.valid === false" color="warning">{{ validator.user_email?.message }}</app-input-caption>
          </app-col>
        </app-row>
      </form>
   
    </app-card>
    <app-card color="light">
      <ion-toolbar slot="top" color="white">
        <ion-segment color="primary">
          <ion-segment-button (click)="menu = 1">소속 정보</ion-segment-button>
          <ion-segment-button (click)="menu = 2">교육 이력</ion-segment-button>
          <!-- <ion-segment-button (click)="menu = 3">근로 이력</ion-segment-button> -->
          <ion-segment-button (click)="menu = 4" *ngIf="formApproval.user_role === 9 || formApproval.user_role === 10">안전 마일리지</ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <div [style.display]="menu === 1 ? 'block' : 'none'">
        <app-row>
          <app-col><h5>소속정보</h5></app-col>
          <app-col size="auto">
            <p>최종 수정일 : {{ formBasic.update_date }}</p>
          </app-col>
        </app-row>
      <app-row>
        <app-col>
          <app-input  [disabled]="true" label="업체명" [(ngModel)]="formApproval.company_name"></app-input>
        </app-col>
        <app-col>
          <app-select-position [company_id]="formApproval.company_id" name="직위" label="직위" [disabled]="!permission.approval" [(ngModel)]="formApproval.ctgo_job_position_id" [required]="true"></app-select-position>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-select label="시스템 권한" *ngIf="!system || user.userData.user_role === 'LH_HEAD'" [disabled]="!permission.approval" [(ngModel)]="formApproval.user_role">
            <app-select-option [value]="6">마스터 어드민</app-select-option>
            <app-select-option [value]="7">일반 관리자</app-select-option>
          </app-select>
          <app-select label="시스템 권한" *ngIf="system || user.userData.user_role === 'LH_HEAD'"[disabled]="!permission.approval" [(ngModel)]="formApproval.user_role">
            <app-select-option [value]="9">협력사 마스터 어드민</app-select-option>
            <app-select-option [value]="10">협력사 일반 관리자</app-select-option>
          </app-select>
        </app-col>
        <app-col></app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-input name="input disabled" label="현장명" [disabled]="true" [(ngModel)]="formApproval.project_id"></app-input>
        </app-col>
        <app-col>
          <app-select-construction name="ctgo_construction_id" [project_id]="formApproval.project_id" [disabled]="!permission.approval" [(ngModel)]="formApproval.ctgo_construction_id" [all]="true"></app-select-construction>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-radio-input name="현장 출역 상태" label="현장 출역 상태" [disabled]="true" [(ngModel)]="formApproval.project_state">
            <app-radio value="출역중">출역중</app-radio>
            <app-radio value="출역종료">출역종료</app-radio>
          </app-radio-input>
        </app-col>
        <app-col>
          <app-input-group label="현장 출역 기간" [disabled]="!permission.approval">
            <app-calendar [(ngModel)]="formApproval.construction_start_date" [max]="formApproval.construction_end_date"></app-calendar>
            ~
            <app-calendar [(ngModel)]="formApproval.construction_end_date" [min]="formApproval.construction_end_date"></app-calendar>
          </app-input-group>
        </app-col>
      </app-row>
      <app-input-safejob #inputSafeJob
      [project_id]="formApproval.project_id"
      [company_id]="formApproval.company_id"
      insert_url="/usermanage/info/company/safejob/insert"
      update_url="/usermanage/info/company/safejob/update"
      delete_url="/usermanage/info/company/safejob/delete"
      [params]="this.form"
      [(ngModel)]="formApproval.safe_job_data" [disabled]="!permission.approval"></app-input-safejob>
    </div>
    <div [style.display]="menu === 2 ? 'block' : 'none'">
      <!-- 교육이력 -->
      <app-row>
        <app-col></app-col>
        <app-col size="auto">
          <p>최종 수정일 : {{ formBasic.update_date }}</p>
        </app-col>
      </app-row>
      <h5>교육 정보</h5>
      <app-row>
        <app-col>
          <app-select-scene [disabled]="!permission.approval" [(ngModel)]="formSafeList.project_id"></app-select-scene>
        </app-col>
        <app-col>
          <app-input label="검색어" [disabled]="!permission.approval" [(ngModel)]="formSafeList.search_text" placeholder="교육명을 입력해 주세요.">
          <app-img name="search" (click)="getSafeEduList()"></app-img>
        </app-input>
        </app-col>
      </app-row>
      <app-table type="card">
        <thead>
          <tr>
            <th style="width: 40px;">No</th>
            <th>교육명</th>
            <th>이수일</th>
            <th>이수시간</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resSafeList?.rsMap let i = index">
           <td>{{ i+1 }}</td>
           <td>{{ item.ctgo_education_safe_title }}</td>
           <td>{{ item.create_date }}</td>
           <td>{{ item.education_safe_time }}</td>
          </tr>
        </tbody>
      </app-table>
    </div>
    <div [style.display]="menu === 4 ? 'block' : 'none'">
      <!-- 안전마일리지 -->
      <app-row>
        <app-col></app-col>
        <app-col size="auto">
          <p>최종 수정일 : {{ formBasic.update_date }}</p>
        </app-col>
      </app-row>
      <h5>마일리지 현황</h5>
      <app-table type="card">
        <thead>
          <tr>
            <th>총 적립 마일리지</th>
            <th>총 사용 마일리지</th>
            <th>잔여 마일리지</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ resTotalMileageList?.rsObj?.total_mileage }}</td>
            <td>{{ resTotalMileageList?.rsObj?.minus_mileage }}</td>
            <td>{{ resTotalMileageList?.rsObj?.plus_mileage }}</td>
          </tr>
        </tbody>
      </app-table>
      <h5>안전 마일리지 적립 내역</h5>
      <app-table type="card">
        <thead>
          <tr>
            <th style="width:40px">No</th>
            <th>마일리지 분류</th>
            <th>지급자</th>
            <th>적립일</th>
            <th>적립 마일리지</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resPlusMileageList?.rsMap let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ item.ctgo_safe_mileage }}</td>
            <td>{{ item.payer_user_name }}</td>
            <td>{{ item.create_date }}</td>
            <td>{{ item.ctgo_safe_mileage_point }}</td>
          </tr>
        </tbody>
      </app-table>
      <app-row>
        <app-col></app-col>
        <app-col size="auto">
          <app-button fill="translucent" style="width: 120px;" (click)="MileageInsert()" *ngIf="permission.mileageinsert">마일리지 지급</app-button>
        </app-col>
      </app-row>
      <h5>안전 마일리지 사용 내역</h5>
      <app-table type="card">
        <thead>
          <tr>
            <th style="width:40px">No</th>
            <th>사용내역</th>
            <th>사용이자</th>
            <th>사용일</th>
            <th>사용 마일리지</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resMinusMileageList?.rsMap let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ item.ctgo_safe_mileage }}</td>
            <td>{{ item.payer_user_name }}</td>
            <td>{{ item.create_date }}</td>
            <td>{{ item.ctgo_safe_mileage_point }}</td>
          </tr>
        </tbody>
      </app-table>
      <!-- <app-row>
        <app-col></app-col>
        <app-col size="auto">
          <app-button fill="translucent" style="width: 120px;">마일리지 사용</app-button>
        </app-col>
      </app-row> -->
    </div>
    <app-button-footer *ngIf="permission.approval">
      <app-button style="width: 120px;" (click)="submit()">저장</app-button>
  </app-button-footer>
      <!-- <ion-toolbar slot="bottom" color="white">
        <ion-buttons slot="end">
          <app-button style="width: 120px;">퇴사</app-button>
        </ion-buttons>
      </ion-toolbar> -->
    </app-card>
  </app-container>
</ion-content>

