<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="end">
      <app-dismiss-button></app-dismiss-button>
    </ion-buttons>
    <ion-title>회원정보</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-container size="small">
    <app-card color="light" [button]="false">
      <ion-toolbar slot="top" color="white">
        <h5>회원정보</h5>
      </ion-toolbar>
      <form>
        <app-avatar class="avatar" [readonly]="false"></app-avatar>
        <app-row>
          <app-col>
            <app-input name="input disabled" label="아이디" value="input disabled" [disabled]="true" [required]="true"></app-input>
          </app-col>
          <app-col>
            <app-input name="input" label="성명" placeholder="김소령"></app-input>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-calendar name="calendar" label="생년월일"></app-calendar>
          </app-col>
          <app-col>
            <app-radio-input name="user_gender" label="성별">
              <app-radio value="MAL">남</app-radio>
              <app-radio value="WOMAN">여</app-radio>
            </app-radio-input>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-input type="tel" name="input" label="핸드폰" placeholder="010-4732-0808"></app-input>
          </app-col>
          <app-col>
            <app-select label="국적" name="select">
              <app-select-option>대한민국</app-select-option>
              <app-select-option>중국</app-select-option>
              <app-select-option>태국</app-select-option>
              <app-select-option>베트남</app-select-option>
            </app-select>
          </app-col>
        </app-row>
        <app-row>
          <app-col>
            <app-input label="이메일" name="select" placeholder="email" type="email"></app-input>
          </app-col>
          <app-col></app-col>
        </app-row>
      </form>
      <ion-toolbar slot="bottom" color="white">
        <ion-buttons slot="end">
          <app-button style="width: 120px;">저장</app-button>
        </ion-buttons>
      </ion-toolbar>
    </app-card>
    <app-card color="light">
      <ion-toolbar slot="top" color="white">
        <ion-segment color="primary">
          <ion-segment-button (click)="menu = 1">소속 정보</ion-segment-button>
          <ion-segment-button (click)="menu = 2">교육 이력</ion-segment-button>
          <ion-segment-button (click)="menu = 3">근로 이력</ion-segment-button>
          <ion-segment-button (click)="menu = 4">안전 마일리지</ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <ng-container *ngIf="menu === 1">
      <h5>소속정보</h5>
      <app-row>
        <app-col>
          <app-input name="input disabled" label="업체명" value="input disabled" [disabled]="true"></app-input>
        </app-col>
        <app-col>
          <app-select label="직위" name="select">
            <app-select-option>작업자</app-select-option>
            <app-select-option>작업자</app-select-option>
            <app-select-option>작업자</app-select-option>
            <app-select-option>작업자</app-select-option>
          </app-select>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-select label="시스템 권한"></app-select>
        </app-col>
        <app-col></app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-input name="input disabled" label="현장명" value="input disabled" [disabled]="true"></app-input>
        </app-col>
        <app-col>
          <app-select label="공종" name="select">
            <app-select-option>건축</app-select-option>
            <app-select-option>토목</app-select-option>
            <app-select-option>건설</app-select-option>
            <app-select-option>전기</app-select-option>
          </app-select>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-radio-input name="계약유형" label="계약유형">
            <app-radio value="상용직">상용직</app-radio>
            <app-radio value="일용직">일용직</app-radio>
          </app-radio-input>
        </app-col>
        <app-col>
          <app-input name="with img" label="직종" placeholder="장비운전원">
            <app-img name="search"></app-img>
          </app-input>
        </app-col>
      </app-row>
      <app-table type="card">
        <thead>
          <tr>
            <th>No</th>
            <th>안전 직무</th>
            <th>안전직무 선임일</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><app-select name="안전직무" placedholder="안전직무"></app-select></td>
            <td><app-calendar name="안전직무선임일" placedholder="안전직무선임일"></app-calendar></td>
            <td><a>선임서.pdf<app-img name="search"></app-img></a></td>
            <td>
              <app-button shape="circle" size="small" fill="translucent">
                <app-img name="search"></app-img>
              </app-button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td><app-select name="안전직무" placedholder="안전직무"></app-select></td>
            <td><app-calendar name="안전직무선임일" placedholder="안전직무선임일"></app-calendar></td>
            <td><a>선임서.pdf<app-img name="search"></app-img></a></td>
            <td>
              <app-button shape="circle" size="small" fill="translucent">
                <app-img name="search"></app-img>
              </app-button>
            </td>
          </tr>
        </tbody>
      </app-table>
      <app-row>
        <app-col>
          <app-radio-input name="현장 출역 상태" label="현장 출역 상태" placeholder="text">
            <app-radio value="IN">출역중</app-radio>
            <app-radio value="OUT">출역종료</app-radio>
          </app-radio-input>
        </app-col>
        <app-col>
          <app-input-group label="현장 출역 기간">
            <app-calendar></app-calendar>
            ~
            <app-calendar></app-calendar>
          </app-input-group>
        </app-col>
      </app-row>
    </ng-container>
    <ng-container *ngIf="menu === 2">
      <!-- 교육이력 -->
      <h5>교육 정보</h5>
      <app-row>
        <app-col>
          <app-select-scene></app-select-scene>
        </app-col>
        <app-col>
          <app-select-education></app-select-education>
        </app-col>
      </app-row>
      <app-row>
        <app-col>
          <app-input label="검색어" placeholder="검색어를 입력해 주세요"></app-input>
        </app-col>
      </app-row>
      <app-table type="card">
        <thead>
          <tr>
            <th style="width: 40px;">No</th>
            <th>교육구분</th>
            <th>교육명</th>
            <th>이수일</th>
            <th>이수시간</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td>1</td>
           <td>정기(관리감독자)</td>
           <td>관리감독자 정기 교육</td>
           <td>2021.01.02</td>
           <td>4H</td>
          </tr>
        </tbody>
      </app-table>
    </ng-container>
    <ng-container *ngIf="menu === 4">
      <!-- 안전마일리지 -->
      <h5>마일리지 현황</h5>
      <app-table type="card">
        <thead>
          <tr>
            <th>총 적립 마일리지</th>
            <th>총 사용 마일리지</th>
            <th>잔여 마일리지</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12</td>
            <td>10</td>
            <td>2</td>
          </tr>
        </tbody>
      </app-table>
      <h5>안전 마일리지 적립 내역</h5>
      <app-table type="card">
        <thead>
          <tr>
            <th style="width:40px">No</th>
            <th>마일리지 분류</th>
            <th>상세 사유</th>
            <th>지급자</th>
            <th>적립일</th>
            <th>적립 마일리지</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>3</td>
            <td>시행 규칙 준수</td>
            <td>신호 규칙을 준수하여 지급</td>
            <td>김상봉</td>
            <td>2021-09-14</td>
            <td>3</td>
          </tr>
          <tr>
            <td>2</td>
            <td>시행 규칙 준수</td>
            <td>신호 규칙을 준수하여 지급</td>
            <td>김상봉</td>
            <td>2021-09-14</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1</td>
            <td>시행 규칙 준수</td>
            <td>신호 규칙을 준수하여 지급</td>
            <td>김상봉</td>
            <td>2021-09-14</td>
            <td>3</td>
          </tr>
        </tbody>
      </app-table>
      <app-row>
        <app-col></app-col>
        <app-col size="auto">
          <app-button fill="translucent" style="width: 120px;">마일리지 지급</app-button>
        </app-col>
      </app-row>
      <h5>안전 마일리지 사용 내역</h5>
      <app-table type="card">
        <thead>
          <tr>
            <th style="width:40px">No</th>
            <th>사용내역</th>
            <th>사용이자</th>
            <th>사용일</th>
            <th>사용 마일리지</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>스타벅스 아메리카노 기프티콘 교환</td>
            <td>박상범</td>
            <td>2021-08-10</td>
            <td>1</td>
          </tr>
        </tbody>
      </app-table>
      <app-row>
        <app-col></app-col>
        <app-col size="auto">
          <app-button fill="translucent" style="width: 120px;">마일리지 사용</app-button>
        </app-col>
      </app-row>
    </ng-container>
      <ion-toolbar slot="bottom" color="white">
        <ion-buttons slot="end">
          <app-button style="width: 120px;">퇴사</app-button>
        </ion-buttons>
      </ion-toolbar>
    </app-card>
  </app-container>
</ion-content>

