<app-header-admin></app-header-admin>

<ion-content [scrollX]="true" style="--padding-top:15px">
  <app-container>
    <app-row style="align-items: flex-start;">
      <app-col size="280px">
        <app-table type="card">
          <ion-toolbar slot="top" color="white">
            <app-row style="justify-content: space-between;">
              <app-col size="auto"><h5>필터</h5></app-col>
              <app-col size="auto">
                <app-button fill="translucent" style="width: 100px;" (click)="getList(0)">검색</app-button>
              </app-col>
            </app-row>
          </ion-toolbar>
          <tbody>
            <tr>
              <td>
                <app-select-scene [(ngModel)]="form.project_id"></app-select-scene>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-contractor [project_id]="form.project_id" [(ngModel)]="form.master_company_id" [readonly]="!permission.contractor"></app-select-contractor>
              </td>
            </tr>
            <tr>
              <td>
                <app-select-construction [master_company_id]="form.master_company_id" [project_id]="form.project_id" [(ngModel)]="form.ctgo_construction_ids" [all]="true" [multiple]="true"></app-select-construction>
              </td>
            </tr>
            <tr>
              <td>
                <app-input-group label="기간">
                  <app-calendar [(ngModel)]="form.start_date" [max]="form.end_date"></app-calendar>
                  ~
                  <app-calendar [(ngModel)]="form.end_date" [min]="form.start_date"></app-calendar>
                </app-input-group>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-col>
      <app-col>        
        <ion-toolbar color="white">
          <h5>출역 현황 (총 {{ res?.rsObj?.row_count || 0}}건)</h5>
        </ion-toolbar>
        <app-table>
          <thead>
            <tr>
              <th rowspan="2" style="width: 200px">출역일</th>
              <th colspan="2">원청사</th>
              <th colspan="2">협력사</th>
              <th rowspan="2">합계</th>
            </tr>
            <tr>
              <th>관리자</th>
              <th>작업자</th>
              <th>관리자</th>
              <th>작업자</th>
            </tr>
          </thead>
            <tr class="button" *ngFor="let item of res?.rsMap; let i = index" (click)="detail(item)">
              <td>{{ item.work_date }}</td>
              <td>{{ item.master_admin }}</td>
              <td>{{ item.master_worker }}</td>
              <td>{{ item.company_admin }}</td>
              <td>{{ item.company_worker }}</td>
              <td>{{ item.total_cnt }}</td>
            </tr>
          <tbody>
          </tbody>
        </app-table>
        <app-pager [totalCount]="res?.rsObj.row_count" [limitNo]="form.limit_no" (pagerChange)="getList($event)"></app-pager>
      </app-col>
    </app-row>
  </app-container>
</ion-content>
