<ion-header>
  <ion-toolbar color="white">
    <app-row class="profile-row">
      <app-col size="auto">
        <app-logo></app-logo>
      </app-col>
      <app-col size="auto">
        <app-avatar class="profile"></app-avatar>
      </app-col>
      <app-col size="auto" (click)="navMypage()">
        <h4>{{ user.userData.user_name }}님</h4>
        <app-row>
          <app-col size="auto">
            <p style="margin-right: 5px;">{{ Top_Today.month }}월 {{ Top_Today.day }}일</p>
          </app-col>
          <app-col size="auto">
            <p>{{ Top_Today.week }}</p>
          </app-col>
        </app-row>
      </app-col>
      <app-col style="text-align: right;position: relative;">
        <app-img (click)="router('알림함')" class="alarm" src="assets/img/main/bell.svg"></app-img>
        <ion-badge *ngIf="form.alarm_count" class="badge-class alarm">{{ form.alarm_count }}</ion-badge>
      </app-col>
      <app-col size="auto">
        <app-menu-button></app-menu-button>
      </app-col>
    </app-row>
  </ion-toolbar>
  <ion-toolbar color="white">
    <app-input-group>
      <app-select-scene name="project_id" [(ngModel)]="form.project_id" (ngModelChange)="getBoard()"></app-select-scene>
    </app-input-group>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-button">
    <app-row>
      <app-col size="4">
        <app-button class="square" shape="square" (click)="router('나의출입현황')">
          <app-img src="assets/img/menu/output-dark.svg"></app-img>
          <p>나의 출입현황</p>
        </app-button>
      </app-col>
      <app-col size="4">
        <app-button class="square" shape="square" (click)="router('위험성평가')">
          <app-img src="assets/img/menu/risk-evaluation-report-dark.svg"></app-img>
          <p>위험성 평가</p>
        </app-button>
      </app-col>
      <app-col size="4">
        <app-button class="square" shape="square" (click)="router('통합관제')">
          <app-img src="assets/img/menu/undetermined-dark.svg"></app-img>
          <p>통합관제</p>
        </app-button>
      </app-col>
    </app-row>
    <app-row>
      <app-col size="4">
        <app-button class="square" shape="square" (click)="router('미결함')">
          <app-img src="assets/img/menu/undetermined-dark.svg"></app-img>
          <p>미결함</p>
        </app-button>
      </app-col>
      <app-col size="4">
        <app-button class="square" shape="square" (click)="router('')">
          <app-img src="assets/img/menu/tbm-dark.svg"></app-img>
          <p>TBM</p>
        </app-button>
      </app-col>
      <app-col size="4">
        <app-button class="square" shape="square" (click)="router('')">
          <app-img src="assets/img/menu/general-check-dark.svg"></app-img>
          <p>점검</p>
        </app-button>
      </app-col>
    </app-row>
    <app-row>
      <app-col size="4">
        <app-button class="square" shape="square" (click)="router('')">
          <app-img src="assets/img/menu/general-incongruity-dark.svg"></app-img>
          <p>부적합조치</p>
        </app-button>
      </app-col>
      <app-col size="4">
        <app-button class="square" shape="square" (click)="router('')">
          <app-img src="assets/img/menu/ptw-dark.svg"></app-img>
          <p>위험작업허가</p>
        </app-button>
      </app-col>
      <app-col size="4">
        <app-button class="square" shape="square" color="danger" (click)="router('')">
          <app-img src="assets/img/menu/emergency-alarm-management-dark.svg"></app-img>
          <p>비상알림</p>
        </app-button>
      </app-col>
    </app-row>
  </div>

  <ion-toolbar color="white" class="segment-border">
    <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="segmentChange()">
      <ion-segment-button value="1" class="segment-font segment-width">
        공지사항
        <ion-badge *ngIf="form.notice_count" class="badge-class notice">{{ form.notice_count }}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="2" class="segment-font segment-width">MSDS</ion-segment-button>
      <ion-segment-button value="3" class="segment-font segment-width">
        회의록
        <ion-badge *ngIf="form.safetymeeting_count" class="badge-class notice">{{ form.safetymeeting_count }}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [style.display]="segment === '1' ? 'block' : 'none'">
    <app-row *ngFor="let item of notice_list;" style="margin-top: 15px;">
      <app-col style="margin-left: 20px;">
        <h5>{{ item.notice_title }}</h5>
      </app-col>
      <app-col></app-col>
      <app-col>
        <h6>{{ item.create_date }}</h6>
      </app-col>
    </app-row>
    <app-button color="secondary" style="width: 100%;" (click)="router('공지사항')">더보기</app-button>
  </div>
  <div [style.display]="segment === '2' ? 'block' : 'none'">
    <app-row *ngFor="let item of msds_list;" style="margin-top: 15px;">
      <app-col style="margin-left: 20px;">
        <h5>[{{ item.company_name }}]<br>{{ item.msds_title }}</h5>
      </app-col>
      <app-col></app-col>
      <app-col>
        <h6>{{ item.create_date }}</h6>
      </app-col>
    </app-row>
    <app-button color="secondary" style="width: 100%;" (click)="router('MSDS')">더보기</app-button>
  </div>
  <div [style.display]="segment === '3' ? 'block' : 'none'">
    <app-row *ngFor="let item of safetymeeting_list;" style="margin-top: 15px;">
      <app-col style="margin-left: 20px;">
        <h5>{{ item.safety_meeting_type }}</h5>
      </app-col>
      <app-col></app-col>
      <app-col>
        <h6>{{ item.create_date }}</h6>
      </app-col>
    </app-row>
    <app-button color="secondary" style="width: 100%;" (click)="router('회의록')">더보기</app-button>
  </div>
</ion-content>